<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>목록&gt;오류발생 이력조회&gt;관리자페이지&gt;mg캐피탈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />

        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>

        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
    </head>

    <body>
        <div class="wrap">
            <div data-include-path="../COMMON/header.html"></div>
            <div class="bodyWrap">
                <div data-include-path="../COMMON/lnb.html"></div>
                <main class="contentWrap">
                    <section class="title_container">
                        <h2>오류발생 이력조회</h2>
                        <ul class="location_content">
                            <li><a href="javascript:void(0);" class="home">홈</a></li>
                            <li><a href="javascript:void(0);">로그관리</a></li>
                            <li><a href="javascript:void(0);">오류발생 이력조회</a></li>
                        </ul>
                    </section>
                    <section class="form-container">
                        <div class="form-content">
                            <div class="form-wrap">
                                <fieldset>
                                    <legend>기간</legend>
                                    <label for="">
                                        <input id="password-input" type="date" name="date" placeholder="디폴트" />
                                    </label>
                                    <span class="ipt-hyphen">-</span>
                                    <label for="">
                                        <input id="password-input" type="date" name="date" placeholder="디폴트" />
                                    </label>
                                </fieldset>
                                <fieldset class="search">
                                    <legend>검색</legend>
                                    <select id="category" name="category">
                                        <option value="all">전체</option>
                                        <option value="name">고객명</option>
                                        <option value="id">ID</option>
                                        <option value="sessionId">세션ID</option>
                                        <option value="phone">전화번호</option>
                                        <option value="device">접속기기</option>
                                        <option value="response">응답결과</option>
                                    </select>
                                    <input id="q" name="q" type="search" autocomplete="off" inputmode="search" placeholder="검색어를 입력해주세요" />
                                    <button type="submit" class="btn-body">검색</button>
                                </fieldset>
                            </div>
                        </div>
                    </section>
                    <section class="list-container search">
                        <div class="list-content">
                            <table>
                                <caption>
                                    No, 고객명, ID, 전화번호, 접속기기, 접속일시, 응답메시지, 오류로 구성된 방문자 로그 및 오류발생 이력조회 목록
                                </caption>
                                <colgroup>
                                    <col class="num" />
                                    <col class="num" />
                                    <col class="width: 200px" />
                                    <col style="width: 150px" />
                                    <col class="num" />
                                    <col style="width: 150px" />
                                    <col class="auto" />
                                    <col class="num" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th id="th-no" scope="col">No</th>
                                        <th id="th-name" scope="col">고객명</th>
                                        <th id="th-id" scope="col">ID</th>
                                        <th id="th-phone" scope="col">전화번호</th>
                                        <th id="th-device" scope="col">접속기기</th>
                                        <th id="th-date" scope="col">접속일시</th>
                                        <th id="th-message" scope="col">응답메시지</th>
                                        <th id="th-error" scope="col">오류</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span>42</span></td>
                                        <td><span>홍길동</span></td>
                                        <td><span>mg1234</span></td>
                                        <td><span>01012345678</span></td>
                                        <td><span>PC</span></td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td><span>비밀번호 5회 오류로 계정 잠금 처리</span></td>
                                        <td><button type="button" class="btn-text" aria-label="활동내역 상세보기">상세보기</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-content">
                            <button class="btn-prev">이전으로</button>
                            <button class="active">1</button>
                            <button>2</button>
                            <button>3</button>
                            <button>4</button>
                            <button class="btn-next">다음으로</button>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
