<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>상세보기&gt;공개매각 입찰내역&gt;인증센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>인증센터</span></li>
                        <li><span>공개매각 입찰내역</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>공개매각 입찰내역</h2>
                </section>
                <section class="page-container MGC-AUTH-004">
                    <div class="text-content">
                        <div class="table-content">
                            <h3 class="table-tit">상세정보</h3>
                            <table>
                                <caption>분류, 장비명, 제작사, 모델, 년식, S/N, 주소에 대한 표</caption>
                                <colgroup>
                                    <col style="width:25%">
                                    <col style="width:25%">
                                    <col style="width:25%">
                                    <col style="width:25%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>분류</th>
                                        <td colspan="3" class="tal">특수</td>
                                    </tr>
                                    <tr>
                                        <th>장비명</th>
                                        <td class="tal">물티슈 포장라인</td>
                                        <th>제작사</th>
                                        <td class="tal">(주)</td>
                                    </tr>
                                    <tr>
                                        <th>모델</th>
                                        <td colspan="3" class="tal">물티슈 포장라인</td>
                                    </tr>
                                    <tr>
                                        <th>년식</th>
                                        <td class="tal">2000</td>
                                        <th>보관 장소</th>
                                        <td class="tal">당사창고</td>
                                    </tr>
                                    <tr>
                                        <th>S/N</th>
                                        <td colspan="3" class="tal">98504-0090-04-00014</td>
                                    </tr>
                                    <tr>
                                        <th>주소</th>
                                        <td colspan="3" class="tal">서울특별시 성남구 도산대로 306 (논현동 91-3)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta round12">
                        <div class="button-group">
                            <a herf="javascript:void(0);" class="btn-primary">목록</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
 