<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>공동인증서 관리&gt;인증센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>인증센터</span></li>
                        <li><span>공동인증서 관리</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>공동인증서 관리</h2>
                </section>
                <section class="page-container">
                    <div class="table-content">
                        <h3 class="table-tit">공동인증서 등록현황</h3>
                        <table>
                            <caption>i-Pin 본인인증 여부 및 공인인증서 등록여부에 대한 등록현황</caption>
                            <colgroup>
                                <col style="width:20%">
                                <col style="width:auto">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">i-Pin 본인인증 여부</th>
                                    <td class="tal"><span>인증</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">공인인증서 등록여부</th>
                                    <td class="tal"><span>N</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="note-content">
                        <div class="text-content">
                            <p class="tit">유의사항 안내</p>
                            <ul class="dot">
                                <li>공동인증서를 등록하시면 주민등록번호를 매번 입력하실 필요 없이 웹회원 서비스를 이용하실 수 있습니다.</li>
                                <li>공동인증서 등록은 웹회원에 가입하시고 본인인증 후 이용하실 수 있습니다.</li>
                                <li>MG캐피탈 홈페이지에서는 공동인증서를 발급 받으실 수 없습니다. 거래 은행 또는 증권사 홈페이지를 이용해 주시기 바랍니다.</li>
                                <li>등록된 공동인증서 삭제를 원하시는 경우 공동인증서 삭제 버튼을 클릭하여 이용하시기 바랍니다.</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a herf="javascript:void(0);" class="btn-secondary">인증서 삭제</a>
                            <a herf="javascript:void(0);" class="btn-primary">인증서 등록</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
 