<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>로그인&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><a href="/" id="contentArea"><span class="home">홈</span></a></li>
                        <li><span>로그인</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>로그인</h2>
                </section>
                <section class="page-container login">
                    <div class="tab-container jsTab">
                        <nav class="tab-list depth1">
                            <div class="btn-group">
                                <button type="button" class="tab-item active" data-tab="tab2-1" aria-selected="true">휴대폰인증</button>
                                <button type="button" class="tab-item" data-tab="tab2-2" aria-selected="false">민간(간편)인증서</button>
                                <button type="button" class="tab-item" data-tab="tab2-3" aria-selected="false">법인공동인증서</button>
                            </div>
                        </nav>
                        <div class="tab-content">
                            <!-- 휴대폰 인증 -->
                            <div id="tab2-1" class="tab-panel" aria-hidden="false">
                                <div class="form">
                                    <div class="btn-content login phone">
                                        <div class="button-group">
                                            <a href="javascript:void(0);" class="btn-primary">휴대폰 인증 로그인</a>
                                        </div>
                                        <div class="button-group">
                                            <a href="javascript:void(0);">휴대폰 정보변경 바로가기</a>
                                            <a href="javascript:void(0);">회원가입 바로가기</a>
                                        </div>
                                        <div class="note-content">
                                            <ul>
                                                <li>휴대폰 번호가 변경되었다면, 휴대폰 정보변경 바로가기 클릭!</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 민간 인증서 -->
                            <div id="tab2-2" class="tab-panel" aria-hidden="false">
                                <div class="private-content form-content login">
                                    <div class="private-group">
                                        <button type="button">토스 인증</button>
                                        <button type="button">패스 인증</button>
                                    </div>
                                    <div class="button-group flex-row gap10 mt-20">
                                        <a href="javascript:goMenuFnc('휴대폰정보변경','','','Y','/mgcap/register/WCM40201VS.jsp');">휴대폰정보변경 바로가기</a>
                                        <a href="javascript:goMenuFnc('회원가입','','','N','/mgcap/register/WCM40100DS.jsp');">회원가입</a>
                                    </div>
                                    <div class="note-content">
                                        <ul>
                                            <li>민간 전자서명(토스,패스)로 인증하실 수 있습니다.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- 법인공동인증서 -->
                            <div id="tab2-3" class="tab-panel" aria-hidden="false">
                                <div class="btn-content login">
                                    <div class="button-group">
                                        <a href="javascript:void(0);" class="btn-primary">공동인증서 로그인</a>
                                        <a href="javascript:void(0);" class="bnt-link">공동인증서 안내</a>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);">공동인증서 등록 바로가기</a>
                                        <a href="javascript:void(0);">회원가입 바로가기</a>
                                    </div>
                                    <div class="note-content">
                                        <ul>
                                            <li>공동인증서 등록은 최초 1회만 등록하면 됩니다.</li>
                                            <li>기존에 회원가입한 고객만 이용 가능합니다.</li>
                                            <li>등록하신 공동인증서를 재발급 받으신 경우에는 재등록이 필요합니다.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
