<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>로그인&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>로그인</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>로그인</h2>
                </section>
                <section class="page-container login">
                    <div class="tab-container jsTab">
                        <nav class="tab-list depth1">
                            <div class="btn-group">
                                <button type="button" class="tab-item active" data-tab="tab2-1" aria-selected="true">공동인증서</button>
                                <button type="button" class="tab-item" data-tab="tab2-2" aria-selected="false">금융인증서</button>
                                <button type="button" class="tab-item" data-tab="tab2-3" aria-selected="false">아이핀(i-Pin) 인증</button>
                                <button type="button" class="tab-item" data-tab="tab2-4" aria-selected="false">민간(사설) 인증서</button>
                            </div>
                        </nav>
                        <div class="tab-content">
                            <!-- 공동인증서 -->
                            <div id="tab2-1" class="tab-panel" aria-hidden="false">
                                <form>
                                    <fieldset class="form-content">
                                        <legend>공동인증서 로그인</legend>
                                        <div class="form-wrap login-form">
                                            <div class="group">
                                                <div class="form-group">
                                                    <label class="radio">
                                                        <input type="radio" name="row1-active" value="" checked>
                                                        <span>일반금융상품</span>
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" name="row1-active" value="">
                                                        <span>장기렌터카</span>
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="toggle">
                                                        <input type="checkbox" name="row3-active" title="체크" value="" checked="">
                                                        <span>개인</span>
                                                        <span>사업자</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div><!--//form-wrap-->
                                    </fieldset>
                                    <div class="btn-content login">
                                        <div class="button-group">
                                            <a href="javascript:void(0);" class="btn-primary">공동인증서 로그인</a>
                                            <a href="javascript:void(0);" class="btn-secondary">공동인증서 등록</a>
                                        </div>
                                        <div class="button-group">
                                            <a href="javascript:void(0);">공동인증서 안내</a>
                                            <a href="javascript:void(0);">회원가입</a>
                                        </div>
                                    </div>
                                </form>
                                <div class="note-content">
                                    <p class="tit">유의사항 안내</p>
                                    <ul>
                                        <li>공동인증서 등록은 최초 1회만 등록하면 됩니다.</li>
                                        <li>기존에 회원가입한 고객만 이용 가능합니다.</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 금융인증서 -->
                            <div id="tab2-2" class="tab-panel" aria-hidden="false">
                                <form>
                                    <fieldset class="form-content">
                                        <legend>금융인증서 로그인</legend>
                                        <div class="form-wrap login-form">
                                            <div class="group">
                                                <div class="form-group">
                                                    <label class="radio">
                                                        <input type="radio" name="row1-active" value="" checked>
                                                        <span>일반금융상품</span>
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" name="row1-active" value="">
                                                        <span>장기렌터카</span>
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="toggle">
                                                        <input type="checkbox" name="row3-active" title="체크" value="">
                                                        <span>개인</span>
                                                        <span>사업자</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div><!--//form-wrap-->
                                    </fieldset>
                                    <div class="btn-content login">
                                        <div class="button-group">
                                            <a href="javascript:void(0);" class="btn-primary">금융인증서 로그인</a>
                                            <a href="javascript:void(0);" class="btn-secondary">금융인증서 등록</a>
                                        </div>
                                        <div class="button-group">
                                            <a href="javascript:void(0);">금융인증서 안내</a>
                                            <a href="javascript:void(0);">회원가입</a>
                                        </div>
                                    </div>
                                </form>
                                <div class="note-content">
                                    <p class="tit">유의사항 안내</p>
                                    <ul>
                                        <li>공동인증서 등록은 최초 1회만 등록하면 됩니다.</li>
                                        <li>기존에 회원가입한 고객만 이용 가능합니다.</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 아이핀 인증 -->
                            <div id="tab2-3" class="tab-panel" aria-hidden="false">
                                <div class="btn-content login">
                                    <div class="button-group">
                                        <a href="javascript:void(0);" class="btn-primary">아이핀(i-Pin) 로그인</a>
                                        <a href="javascript:void(0);" class="btn-secondary">아이핀(i-Pin)인증 등록</a>
                                    </div>
                                    <div class="button-group">
                                        <a href="javascript:void(0);">회원가입</a>
                                    </div>
                                </div>
                            </div>
                            <!-- 민간 인증서 -->
                            <div id="tab2-4" class="tab-panel" aria-hidden="false">
                                <div class="private-content">
                                    <div class="private-group">
                                        <button type="button">카카오 인증</button>
                                        <button type="button">네이버 인증</button>
                                        <button type="button">토스 인증</button>
                                        <button type="button">패스 인증</button>
                                    </div>
                                </div>
                                <div class="btn-content cta">
                                    <div class="button-group">
                                        <a href="javascript:void(0);" class="btn-primary">로그인</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
