<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>기본정보 입력&gt;회원가입&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>회원가입</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>회원가입</h2>
                </section>
                <section class="step-container">
                    <div class="step-content">
                        <ul class="col2">
                            <li class="pre">
                                <span>약관동의 및 실명확인</span>
                            </li>
                            <li class="on">
                                <span>기본정보 입력</span>
                            </li>
                            <li class="next">
                                <span>가입완료</span>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="page-container WCM40100DS">
                    <div class="text-content">
                        <div class="table-group">
                            <h3 class="table-tit">기본정보</h3>
                            <table>
                                <caption>기본정보 입력표 (이름, 주민번호, 아이디, 현재 비밀번호, 휴대폰, 휴대폰(SMS)수신동의, 자택전화번호, 자택주소 포함)</caption>
                                <colgroup>
                                    <col style="width:262px;">
                                    <col style="width:auto">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="row">이름</th>
                                        <td class="tal">홍길동</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">주민번호</th>
                                        <td class="tal">
                                            <fieldset class="form-content">
                                                <legend class="sr-only">비밀번호 변경</legend>
                                                <div class="form-wrap">
                                                    <div class="form-group">
                                                        <div class="flex-row w-406">
                                                            <label for="resident-1" class="sr-only">주민번호 앞자리</label>
                                                            <input id="resident-1" name="resident-1" type="text" inputmode="numeric" maxlength="6" value="990143" readonly>
                                                            <span class="ipt-hyphen">-</span>
                                                            <label for="resident-2" class="sr-only">주민번호 뒷자리</label>
                                                            <input id="resident-2" name="resident-2" type="text" inputmode="numeric" maxlength="7" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">신규 비밀번호</th>
                                        <td class="tal">
                                            <label for="jumin" class="sr-only">주민번호 앞자리</label>
                                            <input class="w-406" id="jumin" type="text" name="text" value="990143" readonly/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">신규 비밀번호 확인</th>
                                        <td class="tal">
                                            <label for="password" class="sr-only">새 비밀번호 확인</label>
                                            <input class="w-406" id="password" type="text" name="password" placeholder="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">휴대폰</th>
                                        <td class="tal">
                                            <fieldset class="form-content">
                                                <legend>핸드폰 번호 입력</legend>
                                                <div class="form-wrap">
                                                    <div class="form-group">
                                                        <div class="flex-row">
                                                            <div class="w-406 info-phone">
                                                                <label for="phn-first" class="sr-only">휴대폰 번호 입력</label>
                                                                <select id="phn-first" required="" title="" required>
                                                                    <option value="0">010</option>
                                                                    <option value="1">017</option>
                                                                    <option value="2">019</option>
                                                                </select>
                                                                <input id="phn-second" name="phn-second" type="tel" value="83**" inputmode="numeric" autocomplete="tel-local-prefix" pattern="[0-9]{3,4}" maxlength="4" aria-describedby="desc-phone" required>
                                                                <input id="phn-third" name="phn-third" type="tel" value="67**" inputmode="numeric" autocomplete="tel-local-suffix" pattern="[0-9]{4}" maxlength="4" aria-describedby="desc-phone">
                                                            </div>
                                                            <button type="button" class="btn-form pad">SMS인증후 변경</button>
                                                        </div>
                                                    </div>
                                                </div>
                                        </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">휴대폰 (SMS)<br>수신동의</th>
                                        <td class="tal">
                                            <fieldset class="radio-group">
                                                <legend class="sr-only">휴대폰(SMS)수신동의 선택</legend>
                                                <label class="radio" for="yes1">
                                                    <input type="radio" name="yes1" id="yes1" value="예" checked>
                                                    <span>예</span>
                                                </label>
                                                <label class="radio" for="no1">
                                                    <input type="radio" name="no1" id="no1" value="아니오">
                                                    <span>아니오</span>
                                                </label>
                                            </fieldset>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="rfrnc">영문+숫자, 8자리</p>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <button class="btn-secondary">취소</button>
                            <button class="btn-primary">가입</button>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
 