<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>가입완료&gt;회원가입&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><a href="/" id="contentArea"><span class="home">홈</span></a></li>
                        <li><span>회원가입</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>회원가입</h2>
                </section>
                <section class="step-container">
                    <div class="step-content">
                        <ul class="col2">
                            <li class="pre">
                                <span>약관동의 및 실명확인</span>
                            </li>
                            <li class="pre">
                                <span>기본정보 입력</span>
                            </li>
                            <li class="on">
                                <span>가입완료</span>
                                <span class="sr-only">(현재단계)</span>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="page-container WCM40100DS">
                    <div class="text-content">
                        <div class="completed">
                            <p>회원가입이 완료되었습니다.</p>
                            <span>이제 MG캐피탈의 다양한 서비스와 혜택을 이용하실 수 있습니다.</span>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="#" class="btn-secondary">메인으로 바로가기</a>
                            <a href="#" class="btn-primary">로그인하기</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
 