<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>부동산금융&gt;주택&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/com/finance.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap finance">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>주택</span></li>
                        <li><span>부동산금융</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>부동산금융</h2>
                    <p>대형 개발사업, 실물자산 구조화 대출을 필요로 하는 금융주선기관 &middot; 사업자를 위한 부동산금융 파트너</p>
                    <div class="finance-content">
                        <div class="finance-group">
                            <dl>
                                <dt>대상</dt>
                                <dd>부동산 개발사업을 목적으로 설립된 법인사업자(시행사, SPC 등)</dd>
                            </dl>
                        </div>
                        <div class="finance-group">
                            <dl>
                                <dt>금리</dt>
                                <dd>최저금리 연 5.0%</dd>
                            </dl>
                        </div>
                        <div class="finance-group">
                            <dl>
                                <dt>기간</dt>
                                <dd>최대 120개월</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-secondary">금융계산</a>
                            <a href="javascript:void(0);" class="btn-primary">상담신청</a>
                        </div>
                    </div>
                </section>
                <section class="page-container">
                    <div class="anchor-container">
                        <nav class="anchor-list">
                            <div class="btn-group">
                                <button data-target="#item" class="active">상품소개</button>
                                <button data-target="#details">상세안내</button>
                                <button data-target="#precautions">유의사항</button>
                            </div>
                        </nav>
                        <div class="anchor-content">
                            <div id="item" class="anchor-panel" aria-hidden="false">
                                <div class="anchor-group">
                                    <p class="tit">상품소개</p>
                                    <ol>
                                        <li>
                                            <span>부동산 PF 선순위 대출</span>
                                            <p class="m-dot">선순위 PF 등 구조화 개발사업 전 단계 지원</p>
                                        </li>
                                        <li>
                                            <span>실물 자산 구조화 대출</span>
                                            <p class="m-dot">업/주거 부동산을 구조화 한 맞춤형 대출</p>
                                        </li>
                                        <li>
                                            <span>실물 구조화 Equity 투자</span>
                                            <p class="m-dot">부동산 개발사업 및 실물 지분투자를 통한 상생 파트너십</p>
                                        </li>
                                    </ol>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">상품장점</p>
                                    <ol>
                                        <li>
                                            <span><span>하나!</span> 신속한 의사결정 및 유연한 대출 조건</span>
                                        </li>
                                        <li>
                                            <span><span>둘!</span> 전문성 기반 맞춤 서비스</span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div id="details" class="anchor-panel" aria-hidden="false">
                                <div class="anchor-group">
                                    <p class="tit">대상</p>
                                    <p>부동산 개발사업을 목적으로 설립된 법인사업자(시행사, SPC 등)</p>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">여신한도</p>
                                    <p>사업성 및 시공사 관계사의 신용 및 사업성에 따라 차등 적용</p>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">금리</p>
                                    <p>최저금리 연 5.0% <br>(대출기간, 담보제공여부 및 담보가치(설정순위), 고객의 상환능력 <br>(신용도) 등에 따라 금리 차등 적용)</p>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">기간</p>
                                    <p>최대 120개월</p>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">상환방법</p>
                                    <div>
                                        <ul class="list-card">
                                            <li class="divide">
                                                <span>원리금균등분할상환</span>
                                                <p>매달 원금 + 이자 합계액이 동일하게 상환되는 방식입니다.</p>
                                            </li>
                                            <li class="principal">
                                                <span>원금균등분할상환</span>
                                                <p>매달 원금을 나누어 갚고,이자는 남은 원금에 따라 줄어드는 방식입니다.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">연체이율</p>
                                    <p>약정금리+ 최대 3.0% (법정 최고금리 이내)</p>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">취급수수료</p>
                                    <p>대출약정 시 별도 협의 (여신별 세부금융조건에 따름)</p>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">중도상환 수수료</p>
                                    <p>대출약정 시 별도 협의 (여신별 세부금융조건에 따름)</p>
                                </div>
                                </div>
                                <div id="precautions" class="anchor-panel" aria-hidden="false">
                                    <div class="info-content">
                                        <div class="note-group">
                                            <p class="tit">유의사항</p>
                                            <ul class="m-dot">
                                                <li>
                                                    계약 체결 전 상품설명서 및 약관을 읽어 보시기 바랍니다.
                                                    <ul class="bulls-eye">
                                                        <li class="error">상환능력에 비해 대출금 사용액이 과도할 경우, 귀하의 개인신용평점이 하락할 수 있습니다.</li>
                                                        <li class="error">개인신용평점 하락 시 금융거래와 관련된 불이익이 발생할 수 있습니다.</li>
                                                        <li class="error">일정기간 원리금을 연체할 경우, 모든 원리금을 변제할 의무가 발생할 수 있습니다.</li>
                                                    </ul>
                                                </li>
                                                <li>대출취급이 부적정한 경우(연체금보유, 신용점수 등 낮음) 대출이 제한될 수 있습니다.</li>
                                                <li>담보 물건, 담보 종류 등에 따라 대출조건이 차등 적용되며, 담보물이 부적합할 경우 대출이 제한될 수 있습니다.</li>
                                                <li>금융소비자는 금소법제19조제1항에 따라 해당상품 또는 서비스에 대하여 설명을 받을 권리가 있으며, 그 설명을 듣고 내용을 충분히 이해한 후 거래하시기 바랍니다.</li>
                                            </ul>
                                        </div>
                                        <div class="diamond-box">
                                            <p><span>[담당부서]</span> 부동산금융부 02-2018-0764</p>
                                            <p><span>[MG캐피탈 민원상담]</span> www.mgcap.co.kr / 대표번호 1588-9688</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="text-content">
                        <div class="text-group">
                            <ul class="compliance-box">
                                <li>준법감시심의필 제2025-033호 (2025.11.10 ~ 2026.11.09)</li>
                                <li>여신금융협회 심의필 제000호</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-secondary">금융계산</a>
                            <a href="javascript:void(0);" class="btn-primary">상담신청</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
