<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>사업자 아파트 담보 대출&gt;주택&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/com/finance.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap finance style1">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>주택</span></li>
                        <li><span>사업자 아파트 담보 대출</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>사업자 아파트 담보 대출</h2>
                    <p>개인사업자 등이 소유한 주택(아파트, 주거용 오피스텔, 다세대 주택, 빌라/연립)을 담보로 사업 운영자금 대출</p>
                    <div class="finance-content">
                        <div class="finance-group">
                            <dl class="ico01">
                                <dt>대상</dt>
                                <dd>개인사업자, 
                                    법인사업자</dd>
                            </dl>
                        </div>
                        <div class="finance-group">
                            <dl class="ico03">
                                <dt>기간</dt>
                                <dd>최소 12개월 
                                    ~ 최대 60개월</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-primary">금융계산</a>
                            <a href="javascript:void(0);" class="btn-primary">상담신청</a>
                        </div>
                    </div>
                </section>
                <section class="page-container">
                    <div class="anchor-container">
                        <nav class="anchor-list">
                            <div class="btn-group">
                                <button data-target="#item" class="active">상품소개</button>
                                <button data-target="#details">상세안내</button>
                                <button data-target="#precautions">유의사항</button>
                            </div>
                        </nav>
                        <div class="anchor-content">
                            <div id="item" class="anchor-panel" aria-hidden="false">
                                <div class="summary-content">
                                    <div class="summary-group">
                                        <h3>보유한 아파트로, 막힘없는 자금 흐름을 만들다</h3>
                                        <div class="summary-list">
                                            <ul>
                                                <li><span class="point-b">01</span>담보 물건과 고객 신용을 기반으로
                                                    합리적인 금융조건 제공</li>
                                                <li><span class="point-b">02</span>증빙 가능한 고객의
                                                    실제 소득 기반 심사 진행</li>
                                                <li><span class="point-b">03</span>가족 등 제 3자가 제공하는
                                                    담보로 대출 가능</li>
                                                <li><span class="point-b">04</span>한도 내 기존 채무를 통합하여
                                                    대환하거나 추가대출 가능</li>
                                            </ul>
                                            <img class="summary-img" src="../../assets/images/content/finance/w/product0301.png" alt="사업자 아파트 담보대출 관련 이미지">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="details" class="anchor-panel" aria-hidden="false">
                                <h3>상품안내</h3>
                                <div class="anchor-group">
                                    <p class="tit">대상</p>
                                    <p>개인사업자, 법인사업자</p>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">기간</p>
                                    <p>12개월~60개월</p>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">여신한도</p>
                                    <p>KB시세의 최대 LTV <span class="point-r">85%</span>, 최대 <span class="point-r">20억원</span> 이내</p>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">금리</p>
                                    <p><span class="point-r">최저 연 6.0% ~ 최고 연 9.4%</span><br> (신용도, LTV 등에 따라 차등적용)</p>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">상환방법</p>
                                    <div>
                                        <ul class="list-card">
                                            <li class="divide">
                                                <span>원리금균등분할상환</span>
                                                <p>매달 원금 + 이자 합계액이 동일하게 상환되는 방식입니다.</p>
                                            </li>
                                            <li class="principal">
                                                <span>원금균등분할상환</span>
                                                <p>매달 원금을 나누어 갚고,이자는 남은 원금에 따라 줄어드는 방식입니다.</p>
                                            </li>
                                            <li class="expiration">
                                                <span>만기일시상환</span>
                                                <p>이자만 매달 납부하며, 원금은 만기일에 한꺼번에 상환하는 방식입니다.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">연체이율</p>
                                    <p class="point-r">약정이자율 + 최대 연 3.0% 이내(단, 법정 최고금리 20.0% 이내)</p>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">중도상환 수수료</p>
                                    <div class="table-content">
                                        <div class="table-group">
                                            <table>
                                                <caption>약정만기 1년 이상, 1년 미만으로 구성된 표</caption>
                                                <colgroup>
                                                    <col style="width:30%">
                                                    <col style="width:70%">
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">약정만기 1년 이상</th>
                                                        <!--s 2025.12.18 : 텍스트 기호깸 수정 -->
                                                        <td class="tal">중도상환원금 X 1% + 중도상환원금 X (중도상환수수료율 - 1%)
                                                            X 잔존기간 / (대출기간 - 30일)</td>
                                                        <!--e 2025.12.18 : 텍스트 기호깸 수정 -->
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">약정만기 1년 미만</th>
                                                        <td class="tal">중도상환원금 X (중도상환수수료율) X 잔존기간 / (대출기간 - 30일)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <ul class="rfrnc">
                                                <li>잔존기간 : 30일 미만 상환 시 대출 사용기간을 30일로 간주</li>
                                                <li>중도상환수수료율 : 최대2.0%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="anchor-group">
                                    <p class="tit">추가 정보</p>
                                    <div class="table-content">
                                        <div class="table-group">
                                            <table>
                                                <caption>중도상환수수료, 이자부과시기, 부대비용으로 구성된 표</caption>
                                                <colgroup>
                                                    <col style="width:30%">
                                                    <col style="width:70%">
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">중도상환수수료</th>
                                                        <td class="tal">기간 3년 이내 수수료율 2.0% 적용</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">이자 부과 시기</th>
                                                        <td class="tal">매월 후취, 납입일 이자납입</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">부대비용</th>
                                                        <td class="tal">근저당권 설정 비용 금융사 부담, 말소비용 고객 부담</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <ul>
                                                <li>대출금 5천만원 초과시 수입인지세 금융사와 고객 50%씩 분담</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div id="precautions" class="anchor-panel" aria-hidden="false">
                                    <h3>유의사항</h3>
                                    <div class="info-content">
                                        <div class="note-group">
                                            <p class="tit">유의사항 안내</p>
                                            <ul class="m-dot">
                                                <li>당사는 취급 수수료, 중개 수수료를 별도로 요구하지 않습니다. 대출이자 및 원금 연체 시 신용상 불이익이 발생할 수 있습니다.</li>
                                                <li>계약 체결 전 상품설명서 및 약관을 꼭 읽어 보시기 바랍니다.</li>
                                                <li class="point-r">상환능력에 비해 대출금 사용액이 과도할 경우, 귀하의 개인신용평점이 하락할 수 있습니다.</li>
                                                <li class="point-r">개인신용평점 하락 시 금융거래와 관련된 불이익이 발생할 수 있습니다.</li>
                                                <li class="point-r">일정기간 원리금을 연체할 경우, 모든 원리금을 변제할 의무가 발생할 수 있습니다.</li>
                                                <li>대출 취급이 부적정한 경우(연체금 보유, 신용점수 등 낮음) 대출이 제한될 수 있습니다.</li>
                                                <li>담보 물건, 담보종류 등에 따라 대출조건이 차등 적용되며, 담보물이 부적합할 경우 대출이 제한될 수 있습니다.</li>
                                                <li>금융소비자는 금소법 제19조 제1항에 따라 해당 상품 또는 서비스에 대하여 설명을 받을 권리가 있으며,<br>
                                                    그 설명을 듣고 내용을 충분히 이해한 후 거래하시기 바랍니다.</li>
                                            </ul>
                                        </div>
                                        <div class="diamond-box">
                                            <p><span>[담당부서]</span> 리테일금융1부 02-2018-0663</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="text-content">
                        <div class="text-group">
                            <ul class="compliance-box">
                                <li>준법감시심의필 제2025-033호 
                                    (2025.11.10.~2026.11.09.)</li>
                                <li>여신금융협회 심의필 제 2025 - L1g - 16493호 ( 2025.11.10.~2026.11.09.)</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-primary">금융계산</a>
                            <a href="javascript:void(0);" class="btn-primary">상담신청</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
