<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>부동산 금융&gt;투자&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/com/finance.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap finance style2">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>투자</span></li>
                        <li><span>부동산 금융</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>부동산 금융</h2>
                    <p>다양한 부동산 개발사업, 실물부동산 대출 및 투자를 필요로 하는
                        금융주선기관 &middot; 사업자를 위한 부동산금융 파트너</p>
                    <div class="finance-content">
                        <div class="finance-group">
                            <dl class="ico01">
                                <dt>대상</dt>
                                <dd>법인사업자</dd>
                            </dl>
                        </div>
                        <div class="finance-group">
                            <dl class="ico03">
                                <dt>기간</dt>
                                <dd>최소 6개월 
                                    ~ 최대 84개월</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-primary">상담신청</a>
                        </div>
                    </div>
                </section>
                <section class="page-container">
                    <div class="anchor-container">
                        <nav class="anchor-list">
                            <div class="btn-group">
                                <button data-target="#item" class="active">상품요약</button>
                                <button data-target="#details">상세안내</button>
                                <button data-target="#precautions">유의사항</button>
                            </div>
                        </nav>
                        <div class="anchor-content">
                            <div id="item" class="anchor-panel" aria-hidden="false">
                                <div class="summary-content">
                                    <div class="summary-group">
                                        <h3>개발의 시작부터 완공까지, 금융이 흐름을 만든다</h3>
                                        <div class="summary-list">
                                            <ul>
                                                <li><span class="point-b">01</span>신속한 의사결정 및
                                                    유연한 대출 조건</li>
                                                <li><span class="point-b">02</span>전문성 기반
                                                    맞춤 서비스</li>
                                                <li><span class="point-b">03</span>부동산 개발, 부동산 대출 및 투자를 필요로 하는 금융 주선기관, 사업자 대상</li>
                                            </ul>
                                            <img class="summary-img" src="../../assets/images/content/finance/w/product0402.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="details" class="anchor-panel" aria-hidden="false">
                                <h3>상세안내</h3>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">대상</h4>
                                    <p>법인사업자</p>
                                </div>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">기간</h4>
                                    <p>6개월 ~ 84개월</p>
                                </div>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">여신한도</h4>
                                    <p>사업성, 시공사 신용공여, 담보가치 조건 등에 따라 차등 적용</p>
                                </div>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">금리</h4>
                                    <p>최저 연 5.0% ~ 최고 연 12.0%</p>
                                </div>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">상환방법</h4>
                                    <div>
                                        <ul class="list-card">
                                            <li class="divide">
                                                <span>원리금분할상환</span>
                                                <p>매달 원금 + 이자 합계액이 동일하게 상환되는 방식입니다.</p>
                                            </li>
                                            <li class="expiration">
                                                <span>만기일시상환</span>
                                                <p>이자만 매달 납부하며, 원금은 만기일에 한꺼번에 상환하는 방식입니다.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">연체이율</h4>
                                    <p>약정금리 + 최대 3.0% (법정 최고금리 이내)</p>
                                </div>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">취급 수수료</h4>
                                    <p>대출약정 시 별도 협의 (여신별 세부금융조건에 따름)</p>
                                </div>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">중도상환 수수료</h4>
                                    <p>대출약정 시 별도 협의 (여신별 세부금융조건에 따름)</p>
                                </div>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">추가 정보</h4>
                                    <p>기존 대출 참여자의 동일인 여신 한도 등<br>
                                        일시적 한도 감액(10~20억)에 대한 유연한 참여 기회 가능</p>
                                </div>
                            </div>
                            <div id="precautions" class="anchor-panel" aria-hidden="false">
                                <h3>유의사항</h3>
                                <div class="info-content">
                                    <div class="note-group">
                                        <h4 class="detail-tit">유의사항 안내</h4>
                                        <ul class="m-dot">
                                            <li>계약 체결 전 상품설명서 및 약관을 꼭 읽어 보시기 바랍니다.</li>
                                            <li class="point-r">상환능력에 비해 대출금 사용액이 과도할 경우, 귀하의 개인신용평점이 하락할 수 있습니다.</li>
                                            <li class="point-r">개인신용평점 하락 시 금융거래와 관련된 불이익이 발생할 수 있습니다.</li>
                                            <li class="point-r">일정 기간 원리금을 연체할 경우, 모든 원리금을 변제할 의무가 발생할 수 있습니다.</li>
                                            <li>대출 취급이 부적정한 경우(연체금 보유, 신용점수 등 낮음) 대출이 제한될 수 있습니다.</li>
                                            <li>담보 물건, 담보종류 등에 따라 대출조건이 차등 적용되며, 담보물이 부적합할 경우 대출이 제한될 수 있습니다.</li>
                                            <li>금융소비자는 금소법 제19조 제1항에 따라 해당 상품 또는 서비스에 대하여 설명을 받을 권리가 있으며,<br>
                                                그 설명을 듣고 내용을 충분히 이해한 후 거래하시기 바랍니다.</li>
                                        </ul>
                                    </div>
                                    <div class="diamond-box">
                                        <p><span>[담당부서]</span> 부동산금융부 02-2018-0764</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-content">
                        <div class="text-group">
                            <ul class="compliance-box">
                                <li>준법감시심의필 제2025-033호 <span>(2025.11.10.~2026.11.09.)</span></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-primary">상담신청</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
