<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>기업금융&gt;투자&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/com/finance.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap finance style2">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><a href="/" id="contentArea"><span class="home">홈</span></a></li>
                        <li><span>투자</span></li>
                        <li><span>기업 금융</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>기업 금융</h2>
                    <p>투자 뿐만 아니라 네트워크, 운영자문 등 모든 역량을 아낌없이 지원하는 MG캐피탈</p>
                    <div class="finance-content">
                        <div class="finance-group">
                            <dl class="ico01">
                                <dt>대상</dt>
                                <dd>법인사업자</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-primary">상담신청</a>
                        </div>
                    </div>
                </section>
                <section class="page-container">
                    <div class="anchor-container">
                        <nav class="anchor-list">
                            <div class="btn-group">
                                <button data-target="#item" class="active">상품요약</button>
                                <button data-target="#details">상세안내</button>
                                <button data-target="#precautions">유의사항</button>
                            </div>
                        </nav>
                        <div class="anchor-content">
                            <div id="item" class="anchor-panel" aria-hidden="false">
                                <h3 class="sr-only">상품요약</h3>
                                <div class="summary-content">
                                    <div class="summary-group">
                                        <h3>성장은 계획으로 시작하지만 완성은 자금이 만듭니다</h3>
                                        <div class="summary-list">
                                            <ul>
                                                <li><span class="point-b">01</span>증권사, 회계법인, 자산운용사 등
                                                    다양한 분야에서 경험을 보유한
                                                    전문가들의 1:1 빠른피드백!
                                                    전담 마킹!</li>
                                                <li><span class="point-b">02</span>국내 대체투자를 선도하는
                                                    MG중앙회 자회사로
                                                    공동투자 시너지!</li>
                                                <li><span class="point-b">03</span>기업대출, GP대출, 인수금융,
                                                    주식담보대출, 구조화 등
                                                    다양한 상품 취급 가능!</li>
                                                <li><span class="point-b">04</span>다수의 GP업무를 성공적으로
                                                    수행하여 청산 IRR 46.4%의
                                                    우수한 수익율 보유!</li>
                                            </ul>
                                            <img class="summary-img" src="../../assets/images/content/finance/w/product0401.png" alt="기업금융 관련 이미지">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="details" class="anchor-panel" aria-hidden="false">
                                <h3>상세안내</h3>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">대상</h4>
                                    <p>법인사업자</p>
                                </div>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">지분 출자</h4>
                                    <div>
                                        <p>기업 인수자금 또는 투자금 등을 조달하기 위하여 설정된 <span class="underline">펀드(사모펀드,
                                            신기술사업투자조합, 벤처투자조합)</span>에 <strong>유한책임사원(Limited Partner)*의 지위</strong>로 출자
                                            (이른바, 기업에 대한 간접투자 방식)</p>
                                        <p>*유한책임사원은 출자금액의 한도내에서 책임을 부담</p>
                                    </div>
                                </div>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">GP 출자</h4>
                                    <div>
                                        <p>기업 인수자금 또는 투자금 등을 조달하기 위하여 설정된 <span class="underline">펀드(사모펀드,
                                            신기술사업투자조합, 벤처투자조합)</span>에 <strong>무한책임사원(General Partner)**의 지위</strong>로
                                            출자하여 직접 펀드 운용에 참여</p>
                                        <p>**펀드의 운용, 관리 주체로 관리 및 성과보수 수취하며 출자금액과 관계없이 무한책임 부담</p>
                                    </div>
                                </div>
                                <div class="anchor-group">
                                    <h4 class="detail-tit">기업 대출</h4>
                                    <p>기업의 경영권 인수 과정에서 수반되는 인수자금 조달을 위하여 대상 기업 지분을 담보로
                                        인수자가 조달하는 대출(이른바, 인수금융)</p>
                                </div>
                            </div>
                            <div id="precautions" class="anchor-panel" aria-hidden="false">
                                <h3>유의사항</h3>
                                <div class="info-content">
                                    <div class="note-group">
                                        <h4 class="detail-tit">유의사항 안내</h4>
                                        <ul class="m-dot">
                                            <li>계약 체결 전 상품설명서 및 약관을 꼭 읽어 보시기 바랍니다.</li>
                                            <li class="point-r">상환능력에 비해 대출금 사용액이 과도할 경우, 귀하의 개인신용평점이 하락할 수 있습니다.</li>
                                            <li class="point-r">개인신용평점 하락 시 금융거래와 관련된 불이익이 발생할 수 있습니다.</li>
                                            <li class="point-r">일정 기간 원리금을 연체할 경우, 모든 원리금을 변제할 의무가 발생할 수 있습니다.</li>
                                            <li>대출 취급이 부적정한 경우(연체금 보유, 신용점수 등 낮음) 대출이 제한될 수 있습니다.</li>
                                            <li>담보 물건, 담보종류 등에 따라 대출조건이 차등 적용되며, 담보물이 부적합할 경우 대출이 제한될 수 있습니다.</li>
                                            <li>금융소비자는 금소법 제19조 제1항에 따라 해당 상품 또는 서비스에 대하여 설명을 받을 권리가 있으며,<br>
                                                그 설명을 듣고 내용을 충분히 이해한 후 거래하시기 바랍니다.</li>
                                        </ul>
                                    </div>
                                    <div class="diamond-box">
                                        <p><span>[담당부서]</span> 기업금융부 02-2018-3822</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-content">
                        <div class="text-group">
                            <ul class="compliance-box">
                                <li>준법감시심의필 제2025-033호 <span>(2025.11.10.~2026.11.09.)</span></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-primary">상담신청</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
