<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>금융계산기&gt;고객센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>고객센터</span></li>
                        <li><span>금융계산기</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>금융계산기</h2>
                    <p>금융계산기를 통해 계획적인 금융활동을 안내해드립니다.</p>
                </section>
                <section class="page-container WCF90100VQ">
                    <div class="tab-container jsTab">
                        <nav class="tab-list depth1">
                            <div class="btn-group">
                                <button type="button" class="tab-item active" data-tab="tab1" aria-selected="true">오토리스</button>
                                <button type="button" class="tab-item" data-tab="tab2" aria-selected="false">일반리스</button>
                                <button type="button" class="tab-item" data-tab="tab3" aria-selected="false">할부</button>
                            </div>
                        </nav>
                        <div class="tab-content">
                            <div id="tab1" class="tab-panel" aria-hidden="false">
                                <form>
                                    <fieldset class="form-content">
                                        <legend>오토리스 금융계산 입력</legend>
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <label for="phn-first2">제조사</label>
                                                <div class="flex-row search">
                                                    <input id="mnfc_nm" name="mnfc_nm1" type="search">
                                                    <button type="button" class="btn-sch" title="제조사검색 새창 열림">검색</button>
                                                </div><!--//flex-row-->
                                            </div><!--//form-group-->
                                            <div class="form-group search">
                                                <label for="eqmt_modl_nm1">모델명</label>
                                                <input type="text" name="eqmt_modl_nm" id="eqmt_modl_nm1">
                                            </div><!--//form-group-->
                                        </div><!--//form-wrap-->
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <label for="mnbd_pric1">차량가격</label>
                                                <div class="flex-row txt-unit">
                                                    <input type="text" name="mnbd_pric1" id="mnbd_pric1" class="unit" inputmode="numeric">
                                                    <span>원</span>
                                                </div>
                                            </div><!--//form-group-->
                                            <div class="form-group">
                                                <label for="gvcr_mcnt1">기간</label>
                                                <select name="gvcr_mcnt" id="gvcr_mcnt1">
                                                    <option value="" selected="selected">기간선택</option>
                                                    <option value="24">24개월</option>
                                                    <option value="36">36개월</option>
                                                    <option value="48">48개월</option>
                                                    <option value="60">60개월</option>
                                                </select>
                                            </div><!--//form-group-->
                                        </div><!--//form-wrap-->
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <label for="crit_inrt1">금리</label>
                                                <div class="flex-row txt-unit">
                                                    <input type="text" name="crit_inrt1" id="crit_inrt1">
                                                    <span>%</span>
                                                </div>
                                            </div><!--//form-group-->
                                            <div class="form-group">
                                                <label for="utlr_brdn_amt1">이용자부담금</label>
                                                <div class="flex-row txt-unit">
                                                    <input type="text" name="utlr_brdn_amt1" id="utlr_brdn_amt1" class="unit" inputmode="numeric">
                                                    <span>원</span>
                                                </div>
                                            </div><!--//form-group-->
                                        </div><!--//form-wrap-->
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <label for="gram_rtio1">무보증RV잔가</label>
                                                <div class="flex-row mo-column">
                                                    <div class="flex-row tar order2">
                                                        <span id="gram_disp1" name="gram_disp" class="col-1"> 0</span>
                                                        원
                                                    </div>
                                                    <div class="flex-row txt-unit">
                                                        <input type="text" name="gram_rtio" id="gram_rtio1">
                                                        <span>%</span>
                                                    </div>
                                                </div>
                                            </div><!--//form-group-->
                                            <div class="form-group">
                                                <label for="gvcr_amt_disp1">취득원가</label>
                                                <div class="flex-row  tar">
                                                    <span id="gvcr_amt_disp1" name="gvcr_amt_disp1">0</span>
                                                    원
                                                </div>
                                                
                                            </div><!--//form-group-->
                                        </div><!--//form-wrap-->
                                    </fieldset>
                                    <div class="text-content">
                                        <ul class="info">
                                            <li>해당 계산은 추정치에 해당하며 참고용으로만 사용하시길 바랍니다.</li>
                                            <li>이자율 및 기타 거래 조건에 따라 금액은 달라질 수 있으니 자세한 내용은 담당자와 상의 하시기 바랍니다.</li>
                                        </ul>
                                    </div>
                                    <div class="result_content">
                                        <p>
                                            월 리스료는
                                            <span> <em>0원</em> 입니다.</span>
                                        </p>
                                        <div class="btn-content cta">
                                             <button type="button" class="btn-secondary">초기화</button>
                                             <button type="button" class="btn-primary">계산</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="tab2" class="tab-panel" aria-hidden="false">
                                <form>
                                    <fieldset class="form-content">
                                        <legend>일반리스 금융계산 입력</legend>
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <label for="gvcr_amt2">금액</label>
                                                <div class="flex-row txt-unit">
                                                    <input type="text" name="gvcr_amt2" id="gvcr_amt2" class="unit" inputmode="numeric">
                                                    <span>원</span>
                                                </div>
                                            </div><!--//form-group-->
                                            <div class="form-group">
                                                <label for="gvcr_mcnt2">기간</label>
                                                <select name="gvcr_mcnt" id="gvcr_mcnt2">
                                                    <option value="" selected="selected">기간선택</option>
                                                    <option value="24">24개월</option>
                                                    <option value="36">36개월</option>
                                                    <option value="48">48개월</option>
                                                    <option value="60">60개월</option>
                                                </select>
                                            </div><!--//form-group-->
                                        </div><!--//form-wrap-->
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <label for="crit_inrt2">금리</label>
                                                <div class="flex-row txt-unit">
                                                    <input type="text" name="crit_inrt2" id="crit_inrt2">
                                                    <span>%</span>
                                                </div>
                                            </div><!--//form-group-->
                                            <div class="form-group">
                                                <label for="gram_rtio2">원금유예</label>
                                                <div class="flex-row mo-column">
                                                    <div class="flex-row tar order2">
                                                        <span id="gram_disp" name="gram_disp2" class="col-1"> 0</span>
                                                        원
                                                    </div>
                                                    <div class="flex-row txt-unit">
                                                        <input type="text" name="gram_rtio2" id="gram_rtio2">
                                                        <span>%</span>
                                                    </div>
                                                </div>
                                            </div><!--//form-group-->
                                        </div><!--//form-wrap-->
                                    </fieldset>
                                    <div class="text-content">
                                        <ul class="info">
                                            <li>해당 계산은 추정치에 해당하며 참고용으로만 사용하시길 바랍니다.</li>
                                            <li>이자율 및 기타 거래 조건에 따라 금액은 달라질 수 있으니 자세한 내용은 담당자와 상의 하시기 바랍니다.</li>
                                        </ul>
                                    </div>
                                    <div class="result_content">
                                        <p>
                                            월 리스료는
                                            <span> <em>0원</em> 입니다.</span>
                                        </p>
                                        <div class="btn-content cta">
                                            <button type="button" class="btn-secondary">초기화</button>
                                            <button type="button" class="btn-primary">계산</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="tab3" class="tab-panel" aria-hidden="false">
                                <form>
                                    <fieldset class="form-content">
                                        <legend>일반리스 금융계산 입력</legend>
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <label for="gvcr_amt3">금액</label>
                                                <div class="flex-row txt-unit">
                                                    <input type="text" name="gvcr_amt3" id="gvcr_amt3" class="unit" inputmode="numeric">
                                                    <span>원</span>
                                                </div>
                                            </div><!--//form-group-->
                                            <div class="form-group">
                                                <label for="gvcr_mcnt3">기간</label>
                                                <select name="gvcr_mcnt" id="gvcr_mcnt3">
                                                    <option value="" selected="selected">기간선택</option>
                                                    <option value="24">24개월</option>
                                                    <option value="36">36개월</option>
                                                    <option value="48">48개월</option>
                                                    <option value="60">60개월</option>
                                                </select>
                                            </div><!--//form-group-->
                                        </div><!--//form-wrap-->
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <label for="crit_inrt3">금리</label>
                                                <div class="flex-row txt-unit">
                                                    <input type="text" name="crit_inrt3" id="crit_inrt3">
                                                    <span>%</span>
                                                </div>
                                            </div><!--//form-group-->
                                            <div class="form-group">
                                                <label for="gram_rtio3">원금유예</label>
                                                <div class="flex-row mo-column">
                                                    <div class="flex-row tar order2">
                                                        <span id="gram_disp" name="gram_disp3" class="col-1"> 0</span>
                                                        원
                                                    </div>
                                                    <div class="flex-row txt-unit">
                                                        <input type="text" name="gram_rtio3" id="gram_rtio3">
                                                        <span>%</span>
                                                    </div>
                                                </div>
                                            </div><!--//form-group-->
                                        </div><!--//form-wrap-->
                                    </fieldset>
                                    <div class="text-content">
                                        <ul class="info">
                                            <li>해당 계산은 추정치에 해당하며 참고용으로만 사용하시길 바랍니다.</li>
                                            <li>이자율 및 기타 거래 조건에 따라 금액은 달라질 수 있으니 자세한 내용은 담당자와 상의 하시기 바랍니다.</li>
                                        </ul>
                                    </div>
                                    <div class="result_content">
                                        <p>
                                            월 할부금은
                                            <span> <em>0원</em> 입니다.</span>
                                        </p>
                                        <div class="btn-content cta">
                                             <button type="button" class="btn-secondary">초기화</button>
                                             <button type="button" class="btn-primary">계산</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="btn-content cta">
                                <div class="button-group">
                                    <a href="javascript:void(0);" class="btn-primary">상담신청</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
