<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>관리자&gt;주요활동관리등록/수정(ADM-CO-MJACT-003)&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../manager/guide/css/sample.css" />
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>

    <style>
        /* 이미지 태그 대신 임시 배경 */
        .image {width: 560px; height: 130px; background-color: #666; margin-bottom: 24px;}

        /* 하략 부분 임시 */
        .pd-txt {display: block; padding-top: 30px;}
    </style>
    <!-- (선택) IE11용 폴리필: 안전하게 깔아두면 좋아요 -->
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=Promise,Array.from,Object.assign,Number.isNaN"></script>
</head>
<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <div data-include-path="../COMMON/lnb.html"></div>
            <main class="contentWrap">
                <seciton class="title_container">
                    <h2>주요활동 등록</h2>
                    <!-- <h2>주요활동 수정</h2> --> <!-- 수정 페이지면 주석 해제 -> 등록 주석처리 -->
                    <ul class="location_content">
                        <li><a href="javascript:void(0);" class="home">홈</a></li>
                        <li><a href="javascript:void(0);">회사소개관리</a></li>
                        <li><a href="javascript:void(0);">주요활동</a></li>
                        <li><a href="javascript:void(0);">주요활동 등록</a></li>
                        <!-- <li><a href="javascript:void(0);">주요활동 수정</a></li> --> <!-- 수정 페이지면 주석 해제 -> 등록 주석처리 -->
                    </ul> 
                </seciton>
                <div>
                    <section class="write-container">
                        <table class="write-content">
                            <caption>수정자, 수정일, 제목, 내용으로 구성된 주요활동 등록 페이지</caption>
                            <colgroup>
                                <col style="width:230px;">        
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-title" scope="row"><span>수정자</span></th>
                                    <td><span>홍길동</span></td>
                                </tr>            
                                <tr>
                                    <th id="th-title" scope="row"><span>수정일</span></th>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                                <tr>
                                    <th id="th-title" scope="row"><span class="essential">제목</span></th>
                                    <td><input type="text" placeholder="내용을 입력해주세요."></td> 
                                    <!-- 수정 페이지면 input에 value 추가 -->
                                </tr>            
                                <tr>
                                    <th id="th-title" scope="row"><span class="essential">내용</span></th>
                                    <td>
                                        <!-- 임시 :: 웹 에디터 올 자리에 에디터 영역만큼 인라인으로 스타일 잡아둠 -->
                                        <div id="edt" style="height: 490px; width: 100%; border: 1px solid #ddd; padding: 20px; border-radius: 5px;">

                                            <!-- D:: 수정 페이지일 시 주석 해제 -->
                                            
                                            <!-- <div class="image"></div>
                                            <span>봉사단 소속 2명의 직원은 서울 강서구에 소재한 취약계층 마을을 방문하여 연탄 나눔<br>일손 돕기와 재능기부 봉사활동을 진행했다.</span>
                                            <span class='pd-txt'>[하략]</span> -->
                                        </div> 
                                    </td> 
                                </tr>            
                            </tbody>
                        </table>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <button class="btn-secondary reset">초기화</button>
                                <a href="javascript:void(0);" class="btn-primary" data-modal-open="mjact01">저장</a>
                                <a href="./ADM-CO-MJACT-001.html" class="btn-secondary">목록</a>

                                <!-- D:: 수정 페이지면 주석 해제 후 사용 -->
                                <!-- <a href="javascript:void(0);" class="btn-secondary" data-modal-open="mjact03">삭제</a> -->
                            </div>
                        </div>
                    </section>
                </div>
            </main>

            <!-- D: 본문 필수체크 된 내용이 없을 시 이 모달 사용 -->
            <secition class="modal-container">
                <div id="mjact01" class="layerPopup modal">
                    <div class="pop-content">
                        <div class="pop-body">
                            <p>내용을 작성해주세요.</p>
                        </div>
                        <div class="pop-footer">
                            <div class="button-content">
                                <button type="button" class="btn-pop-primary" data-popup-close="mjact01">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </secition>

            <!-- D: 본문 필수체크 된 내용이 전부 있을 시 이 모달 사용 -->
            <secition class="modal-container">
                <div id="mjact02" class="layerPopup modal">
                    <div class="pop-content">
                        <div class="pop-body">
                            <p>저장이 완료되었습니다.</p>
                        </div>
                        <div class="pop-footer">
                            <div class="button-content">
                                <a href="./ADM-CO-MJACT-001.html" class="btn-pop-primary">확인</a>
                            </div>
                        </div>
                    </div>
                </div>
            </secition>

            <!-- D: 삭제버튼 눌렀을 시 confirm 알럿 (달라질 수 있어 임시 추가) -->
            <secition class="modal-container">
                <div id="mjact03" class="layerPopup modal">
                    <div class="pop-content">
                        <div class="pop-header">
                            <h2 class="pop-tit">주요활동 수정사항을 삭제하시겠습니까?</h2>
                        </div>
                        <div class="pop-body">
                            <p>삭제한 주요활동은</p>
                            <p>대고객 채널에 바로 반영됩니다.</p>
                        </div>
                        <div class="pop-footer">
                            <div class="button-content">
                                <button type="button" class="btn-pop-secondary" data-popup-close="mjact03">취소</button>
                                <button type="button" class="btn-pop-primary" data-modal-open="mjact04">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </secition>

            <!-- D: 삭제 완료 모달 -->
            <secition class="modal-container">
                <div id="mjact04" class="layerPopup modal">
                    <div class="pop-content">
                        <div class="pop-body">
                            <p>삭제가 완료되었습니다.</p>
                        </div>
                        <div class="pop-footer">
                            <div class="button-content">
                                <a href="./ADM-CO-MJACT-001.html" class="btn-pop-primary">확인</a>
                            </div>
                        </div>
                    </div>
                </div>
            </secition>
        </div>
    </div> 
</body>
</html>
