<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>관리자&gt;주요활동관리목록(ADM-CO-MJACT-001)&gt;mg캐피탈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script  type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
    </head>

    <body>
    <div class="wrap">
        <!--<div id="header"> 
            <script> $(document).ready(function () { $("#header").load("../COM/header.html"); }); </script>
        </div>-->
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
        <div data-include-path="../COMMON/lnb.html"></div>
        <main class="contentWrap">
            <seciton class="title_container">
            <h2>주요활동 관리 목록</h2>
            <ul class="location_content">
                <li><a href="javascript:void(0);" class="home">홈</a></li>
                <li><a href="javascript:void(0);">회사소개 관리</a></li>
                <li><a href="javascript:void(0);">주요활동</a></li>
                <li><a href="javascript:void(0);">주요활동 관리 목록 </a></li>
            </ul>
            </seciton>
            <div>
                <section class="form-container">
                    <div class="form-content">
                        <div class="form-wrap flex-end">
                            <fieldset class="search">
                                <legend>검색</legend>
                                <select id="category" name="category">
                                    <option value="title">제목</option>
                                    <option value="desc">내용</option>
                                </select>
                                <input id="q" name="q" type="search" autocomplete="off" inputmode="search" placeholder="검색어를 입력해주세요" />
                                <button type="submit" class="btn-body">검색</button>
                            </fieldset>
                        </div>
                    </div>
                </section>
                <section class="list-container search">
                    <table class="list-content">
                        <caption>NO, 제목, 등록자, 등록일, 수정자, 수정일로 구성된 주요활동 관리 목록</caption>
                        <colgroup>
                            <col class="num">
                            <col class="auto">
                            <col style="width:150px;">
                            <col style="width:150px;">
                            <col style="width:150px;">
                            <col style="width:150px;">
                            
                        </colgroup>
                        <thead>
                            <tr>
                                <th id="th-title" scope="col">No</th>
                                <th id="th-title2" scope="col">제목</th>
                                <th id="th-title3" scope="col">등록자</th>
                                <th id="th-title4" scope="col" style=>등록일</th>
                                <th id="th-title5" scope="col" style=>수정자</th>
                                <th id="th-title6" scope="col" style=>수정일</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span>286</span></td>
                                <td class="sbject"><span>사랑의 연탄 나눔 봉사</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                            </tr>            
                            <tr>
                                <td><span>285</span></td>
                                <td class="sbject"><span>농촌 일손 돕기 봉사</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                            </tr>            
                            <tr>
                                <td><span>284</span></td>
                                <td class="sbject"><span>수재민 빠른 일상 회복 돕기 프로젝트 참여</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                            </tr>            
                            <tr>
                                <td><span>283</span></td>
                                <td class="sbject"><span>2025년 MG캐피탈 장학기금 전달식</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                            </tr>            
                            <tr>
                                <td><span>282</span></td>
                                <td class="sbject"><span>취약계층 쌀 나눔 봉사</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                            </tr>            
                            <tr>
                                <td><span>281</span></td>
                                <td class="sbject"><span>사랑의 연탄 나눔 봉사</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                            </tr>            
                            <tr>
                                <td><span>280</span></td>
                                <td class="sbject"><span>농촌 일손 돕기 봉사</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                            </tr>            
                            <tr>
                                <td><span>279</span></td>
                                <td class="sbject"><span>수재민 빠른 일상 회복 돕기 프로젝트 참여</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                            </tr>            
                            <tr>
                                <td><span>278</span></td>
                                <td class="sbject"><span>2025년 MG캐피탈 장학기금 전달식</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                            </tr>            
                            <tr>
                                <td><span>277</span></td>
                                <td class="sbject"><span>조손 사정 아이 교육 봉사</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                                <td><span>홍길동</span></td>
                                <td><span>YYYY.MM.DD</span></td>
                            </tr>            
                        </tbody>
                    </table>
                    <div class="pagination-content">
                        <div class="first">
                            <button class="btn-first">처음으로</button>
                            <button class="btn-prev">이전으로</button>
                        </div>

                        <div>
                            <button class="active">1</button>
                            <button>2</button>
                            <button>...</button>
                            <button>9</button>
                            <button>10</button>
                        </div>
                        
                        <div class="last">
                            <button class="btn-next">다음으로</button>
                            <button class="btn-last">마지막으로</button>
                        </div>
                    </div>
                </section>
                
                <section class="button-ccontainer">
                    <div class="button-content cta">
                        <div class="button-wrap">
                            <a href="./ADM-CO-MJACT-003.html" class="btn-primary">등록</a> 
                        </div>
                    </div>
                </section>
            </div>
        </main>
        </div>
    </div>

    </body>

</html>
