<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>관리자&gt;회사소식상세(ADM-CO-NEWS-002)&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" /> 
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../manager/guide/css/sample.css" />
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>

    <style>
        /* 이미지 태그 대신 임시 배경 */
        .image {width: 560px; height: 130px; background-color: #666; margin-bottom: 24px;}

        /* 하략 부분 임시 */
        .pd-txt {display: block; padding-top: 30px;}
    </style>
    <!-- (선택) IE11용 폴리필: 안전하게 깔아두면 좋아요 -->
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=Promise,Array.from,Object.assign,Number.isNaN"></script>
</head>
<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <div data-include-path="../COMMON/lnb.html"></div>
            <main class="contentWrap">
                <seciton class="title_container">
                    <h2>회사소식 상세</h2>
                    <ul class="location_content">
                        <li><a href="javascript:void(0);" class="home">홈</a></li>
                        <li><a href="javascript:void(0);">회사소개 관리</a></li>
                        <li><a href="javascript:void(0);">회사소식</a></li>
                        <li><a href="javascript:void(0);">회사소식 상세</a></li>
                    </ul>
                </seciton>
                <div>
                    <section class="write-container">
                        <table class="write-content">
                            <caption>수정자, 수정일, 제목, 내용으로 구성된 회사소식 상세 페이지</caption>
                            <colgroup>
                                <col style="width:230px;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-title" scope="row"><span>수정자</span></th>
                                    <td><span>홍길동</span></td>
                                </tr>            
                                <tr>
                                    <th id="th-title" scope="row"><span>수정일</span></th>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                                <tr>
                                    <th id="th-title" scope="row"><span class="essential">제목</span></th>
                                    <td><span>MG캐피탈 2000억 유상증자로 신용등급 'A0'상향</span></td>
                                </tr>            
                                <tr>
                                    <th id="th-title" scope="row"><span class="essential">내용</span></th>
                                    <td>
                                        <div class="image"></div>
                                        <span>MG캐피탈이 모회사인 새마을금고중앙회로부터 2천억원 규모의 유상증자를 성공적으로<br>마무리 했다고 8일 밝혔다.</span>
                                        <span class="pd-txt">[하략]</span>
                                    </td> 
                                </tr>            
                            </tbody>
                        </table>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <a href="./ADM-CO-NEWS-003.html" class="btn-primary">수정</a>
                                <a href="./ADM-CO-NEWS-001.html" class="btn-secondary">목록</a>
                                <a href="javascript:void(0);" class="btn-secondary" data-modal-open="news03">삭제</a>
                            </div>
                        </div>
                    </section>
                </div>
            </main>

            <!-- 공통 알럿 (ADM-MNU-001P1) 취소 , 확인 버튼이 있는 컨펌알럿 사용 -->
            <!-- D: 삭제버튼 눌렀을 시 -->
            <!-- M: 삭제하시겠습니까? -->

            <!-- D: 삭제 완료 모달 -> (ADM-MNU-001P1) 확인버튼만 있는 기본알럿 사용 -->
            <!-- M: 삭제가 완료되었습니다. -->
        </div>
    </div> 
</body>
</html>
