<!DOCTYPE html>
<html lang="ko">
<head>
	<meta content='IE=edge' http-equiv='X-UA-Compatible'>
	<meta charset='utf-8'>
	<meta content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,
	maximum-scale=1.0' name='viewport'>
	<meta http-equiv="Expires" content="-1" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta name="format-detection" content="telephone=no" />

	<title>대기화면</title>

	<!-- Publishing CSS -->
	<link rel="stylesheet" href="../../../../resource/css/ui_plugin.css">
	<link rel="stylesheet" href="../../../../resource/css/ui_style.css">
	
	<!-- Publishing JS -->
	<script src="../../../../resource/js/jquery-3.2.0.min.js"></script>
	<script src="../../../../resource/js/jquery-ui-1.12.1.min.js"></script>
	<script src="../../../../resource/js/ui_plugin.js"></script>
	<script src="../../../../resource/js/ui_common.js"></script>
</head>
<body>


<!-- layout -->
<div id="layout" class="layout">
</div>
<!-- //layout -->

<!-- loading -->
<div class="layout-loading">
	<div class="loading-conts">		
		<div class="img">
			<img src="../../../../resource/image/layout/loading/loading_ani01.gif" alt="로딩 중">
		</div>
	</div>
</div>
<!-- //loading -->

</body>
</html>