<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>관리자&gt;서식약관자료실목록(ADM-CO-ARC-001)&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../manager/guide/css/sample.css" />
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>

    <style>
    </style>
    <!-- (선택) IE11용 폴리필: 안전하게 깔아두면 좋아요 --> 
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=Promise,Array.from,Object.assign,Number.isNaN"></script>
</head>
<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <div data-include-path="../COMMON/lnb.html"></div>
            <main class="contentWrap"> 
                <seciton class="title_container">
                    <h2>서식/약관 자료실</h2>
                    <ul class="location_content">
                        <li><a href="javascript:void(0);" class="home">홈</a></li>
                        <li><a href="javascript:void(0);">고객센터 관리</a></li>
                        <li><a href="javascript:void(0);">서식/약관 자료실</a></li>
                        <li><a href="javascript:void(0);">서식/약관 자료실 관리 목록</a></li>
                    </ul>
                </seciton>

                <div>
                    <section class="form-container">
                        <div class="form-content"> 
                            <div class="form-wrap">
                                <fieldset>
                                    <legend>구분</legend>
                                    <label class="radio">
                                        <input type="radio" name="row2-active" value="" checked="" />
                                        <span>전체</span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="row2-active" value="" />
                                        <span>서식</span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="row2-active" value="" />
                                        <span>약관</span>
                                    </label>
                                </fieldset>
                                <fieldset class="search">
                                    <legend>검색</legend>
                                    <select id="category" name="category">
                                        <option value="title">제목</option>
                                        <option value="content">내용</option>
                                    </select>
                                    <input id="q" name="q" type="search" autocomplete="off" inputmode="search" placeholder="검색어를 입력해주세요" />
                                    <button type="submit" class="btn-body">검색</button>
                                </fieldset>
                            </div>
                        </div>
                    </section>

                    <section class="list-container search">
                        <table class="list-content">
                            <caption>number, 구분, 제목, 등록자, 등록일, 수정자, 수정일로 이루어진 서식,약관 자료실 목록</caption>
                            <colgroup>
                                <col class="num">
                                <col class="txt-btn"> <!-- num과 txt-btn 크기 같음, 구분 부분이라 txt-btn 클래스 사용 -->
                                <col class="auto">
                                <col style="width:150px;">
                                <col style="width:150px;">
                                <col style="width:150px;">
                                <col style="width:150px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th id="th-title" scope="col">No</th>
                                    <th id="th-title2" scope="col">구분</th>
                                    <th id="th-title3" scope="col">제목</th>
                                    <th id="th-title4" scope="col">등록자</th>
                                    <th id="th-title5" scope="col" style=>등록일</th>
                                    <th id="th-title6" scope="col" style=>수정자</th>
                                    <th id="th-title7" scope="col" style=>수정일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>286</span></td>
                                    <td><span>서식</span></td>
                                    <td class="sbject"><span>전화수신거부 신청서 및 동의 철회 신청서</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                                <tr>
                                    <td><span>285</span></td>
                                    <td><span>서식</span></td>
                                    <td class="sbject"><span>스탁론 약관</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                                <tr>
                                    <td><span>284</span></td>
                                    <td><span>약관</span></td>
                                    <td class="sbject"><span>자동계좌이체약관</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                                <tr>
                                    <td><span>283</span></td>
                                    <td><span>약관</span></td>
                                    <td class="sbject"><span>개인정보 열람청구권 양식(열람, 정정·삭제, 처리정지 포함)</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                                <tr>
                                    <td><span>282</span></td>
                                    <td><span>서식</span></td>
                                    <td class="sbject"><span>계약 체결을 위한 개인(신용)정보 필수 동의서(렌터카)</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                                <tr>
                                    <td><span>281</span></td>
                                    <td><span>서식</span></td>
                                    <td class="sbject"><span>위임장 양식(열람, 정정·삭제, 처리정지 관련)</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                                <tr>
                                    <td><span>280</span></td>
                                    <td><span>서식</span></td>
                                    <td class="sbject"><span>자동차근저당권설정 계약서</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                                <tr>
                                    <td><span>279</span></td>
                                    <td><span>약관</span></td>
                                    <td class="sbject"><span>전세자금 대출 약정서</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                                <tr>
                                    <td><span>278</span></td>
                                    <td><span>약관</span></td>
                                    <td class="sbject"><span>여신거래기본약관</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                                <tr>
                                    <td><span>277</span></td>
                                    <td><span>약관</span></td>
                                    <td class="sbject"><span>할부금융약관</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                            </tbody>
                        </table>
                        <div class="pagination-content">
                            <div class="first">
                                <button class="btn-first">처음으로</button>
                                <button class="btn-prev">이전으로</button>
                            </div>

                            <div>
                                <button class="active">1</button>
                                <button>2</button>
                                <button>...</button>
                                <button>9</button>
                                <button>10</button>
                            </div>
                            
                            <div class="last">
                                <button class="btn-next">다음으로</button>
                                <button class="btn-last">마지막으로</button>
                            </div>
                        </div>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <a href="./ADM-CST-ARC-003.html" class="btn-primary">등록</a> 
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
</body>
</html>