<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>상세&gt;입찰공고 관리&gt;관리자페이지&gt;mg캐피탈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />

        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>

        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
    </head>

    <body>
        <div class="wrap">
            <div data-include-path="../COMMON/header.html"></div>
            <div class="bodyWrap">
                <div data-include-path="../COMMON/lnb.html"></div>
                <main class="contentWrap">
                    <section class="title_container">
                        <h2>입찰공고 관리 상세</h2>
                        <ul class="location_content">
                            <li><a href="javascript:void(0);" class="home">홈</a></li>
                            <li><a href="javascript:void(0);">입찰공고 관리</a></li>
                            <li><a href="javascript:void(0);">입찰공고 관리 상세</a></li>
                        </ul>
                    </section>
                    <section class="write-container">
                        <table class="write-content">
                            <caption>
                                등록자, 등록일, 기간, 제목, 내용, 첨부파일로 구성된 입찰공고 관리 상세 표
                            </caption>
                            <colgroup>
                                <col style="width: 210px" />
                                <col class="auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-writer" scope="row">등록자</th>
                                    <td>
                                        <span>홍길동</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-date" scope="row">등록일</th>
                                    <td>
                                        <span>YYYY.MM.DD</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-period" scope="row">기간</th>
                                    <td>
                                        <span>YYYY.MM.DD ~ YYYY.MM.DD</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-title" scope="row">제목</th>
                                    <td>
                                        <span>홈페이지 리뉴얼 입찰 공고</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-content" scope="row">내용</th>
                                    <td>
                                        <span> 내용이 들어갑니다.<br />줄바꿈 예시 </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-file" scope="row">첨부파일</th>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <button type="button">[MG캐피탈]입사지원서.docx</button>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <a herf="javascript:void(0);" class="btn-primary">수정</a>
                                <a herf="javascript:void(0);" class="btn-secondary">목록</a>
                                <a herf="javascript:void(0);" class="btn-secondary">삭제</a>
                            </div>
                        </div>
                    </section>

                    <!-- [D]: 기본얼럿 -->
                    <section class="modal-container">
                        <div id="alert01" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <!-- [D]: 화면설계서 참고하여 문구변경 -->
                                    <p>얼럿메시지 문구노출</p>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-primary" data-popup-close="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- [D]: 컨펌얼럿  -->
                    <section class="modal-container">
                        <div id="confirm01" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <!-- [D]: 화면설계서 참고하여 문구변경 -->
                                    <p>컨펌메시지 문구노출</p>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-secondary" data-popup-close="modal">아니오</button>
                                        <button type="button" class="btn-pop-primary" data-popup-open="modal">예</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
