<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>관리자&gt;서식/약관 자료실 상세(ADM-CST-ARC-002)&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../manager/guide/css/sample.css" />
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>

    <style>
        /* 첨부파일 리스트 */
        .ipt-file {
            display: flex;
            flex-direction: column;
            gap: 12px;
            text-decoration-line: underline;
            text-underline-position: from-font;
        }
        .ipt-file .ipt-clear::before {
            margin-right: 2px;
            background-color: var(--color-2);
            mask-size: auto;
        }
    </style>
    <!-- (선택) IE11용 폴리필: 안전하게 깔아두면 좋아요 -->
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=Promise,Array.from,Object.assign,Number.isNaN"></script>
</head>
<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <div data-include-path="../COMMON/lnb.html"></div>
            <main class="contentWrap">
                <seciton class="title_container">
                    <h2>주요활동 상세</h2>
                    <ul class="location_content">
                        <li><a href="javascript:void(0);" class="home">홈</a></li>
                        <li><a href="javascript:void(0);">고객센터 관리</a></li>
                        <li><a href="javascript:void(0);">서식/약관 자료실</a></li>
                        <li><a href="javascript:void(0);">상세</a></li>
                    </ul>
                </seciton>
                <div>
                    <section class="write-container">
                        <table class="write-content">
                            <caption>수정자, 수정일, 제목, 내용, 첨부파일으로 구성된 서식/약관 자료실 상세 페이지</caption>
                            <colgroup>
                                <col style="width:230px;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-title" scope="row"><span>수정자</span></th>
                                    <td><span>홍길동</span></td>
                                </tr>            
                                <tr>
                                    <th id="th-title" scope="row"><span>수정일</span></th>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>            
                                <tr>
                                    <th id="th-title" scope="row"><span class="essential">제목</span></th>
                                    <td><span>사랑의 연탄 나눔 봉사</span></td>
                                </tr>            
                                <tr>
                                    <th id="th-title" scope="row"><span class="essential">내용</span></th>
                                    <td>
                                        <span>전화수신거부 신청서 및 동의 철회 신청서입니다. <br>첨부파일을 참조해주십시오.</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-file" scope="row"><span>첨부파일</span></th>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <button type="button">[MG캐피탈]입사지원서.docx</button>
                                            </span>
                                            <span class="ipt-clear">
                                                <button type="button">[MG캐피탈]입사지원서.docx</button>
                                            </span>
                                        </span>
                                    </td>
                                </tr>            
                        </tbody>
                        </table>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <a href="./ADM-CST-ARC-003.html" class="btn-primary">수정</a>
                                <a href="./ADM-CST-ARC-001.html" class="btn-secondary">목록</a>
                                <a href="javascript:void(0);" class="btn-secondary" data-modal-open="arc03">삭제</a>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
            
            <!-- 공통 알럿 (ADM-MNU-001P1) 취소 , 확인 버튼이 있는 컨펌알럿 사용 -->
            <!-- D: 삭제버튼 눌렀을 시 -->
            <!-- M: 삭제하시겠습니까? -->

            <!-- D: 삭제 완료 모달 -> (ADM-MNU-001P1) 확인버튼만 있는 기본알럿 사용 -->
            <!-- M: 삭제가 완료되었습니다. -->

        </div>
    </div> 
</body>
</html>
