<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>신고센터 상세</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />

        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>

        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
        <style>
            .bg-gray {
                background-color: #f6f7f9;
            }
            .write-container {
                background: #fff;
                padding: 44px 24px;
                border-radius: 10px;
            }
        </style>
    </head>

    <body>
        <div class="wrap">
            <div data-include-path="../COMMON/header.html"></div>
            <div class="bodyWrap bg-gray">
                <div data-include-path="../COMMON/lnb.html"></div>
                <main class="contentWrap">
                    <section class="title_container">
                        <h2>신고센터 상세</h2>
                        <ul class="location_content">
                            <li><a href="javascript:void(0);" class="home">홈</a></li>
                            <li><a href="javascript:void(0);">고객센터 관리</a></li>
                            <li><a href="javascript:void(0);">신고센터</a></li>
                            <li><a href="javascript:void(0);">신고센터 상세</a></li>
                        </ul>
                    </section>
                    <section class="write-container">
                        <table class="write-content">
                            <caption>
                                구분, 제목, 등록자, 등록일시, 내용, 답변으로 구성된 고객 민원 상세 표
                            </caption>
                            <colgroup>
                                <col style="width: 210px" />
                                <col style="width: auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-type" scope="row"><span>구분</span></th>
                                    <td><span>민원</span></td>
                                </tr>
                                <tr>
                                    <th id="th-title" scope="row"><span>제목</span></th>
                                    <td><span>대출 증명 서류를 발급받고 싶어요.</span></td>
                                </tr>
                                <tr>
                                    <th id="th-writer" scope="row"><span>등록자</span></th>
                                    <td><span>홍길동</span></td>
                                </tr>
                                <tr>
                                    <th id="th-date" scope="row"><span>등록일시</span></th>
                                    <td><span>YYYY.MM.DD HH:MM:ss</span></td>
                                </tr>
                                <tr>
                                    <th id="th-content" scope="row"><span>내용</span></th>
                                    <td>
                                        <span>안녕하세요, 항상 고생 많으십니다.<br />직장내 괴롭힘으로 너무 괴롭습니다.</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-answer" scope="row"><span class="essential">답변</span></th>
                                    <td>
                                        <textarea placeholder="내용을 입력해주세요."></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <a herf="javascript:void(0);" class="btn-secondary reset">초기화</a>
                                <a herf="javascript:void(0);" class="btn-primary">저장</a>
                                <!-- 답변수정 -->
                                <!-- <a herf="javascript:void(0);" class="btn-primary">수정</a> -->
                                <a herf="javascript:void(0);" class="btn-secondary">목록</a>
                                <a herf="javascript:void(0);" class="btn-secondary">삭제</a>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
