<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>관리자&gt;서식/약관 자료실 등록/수정(ADM-CST-ARC-003)&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../manager/guide/css/sample.css" />
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>
<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <div data-include-path="../COMMON/lnb.html"></div>
            <main class="contentWrap">
                <seciton class="title_container">
                    <h2>서식/약관 자료실 등록</h2>
                    <!-- <h2>서식/약관 자료실 수정</h2> --> <!-- 수정 페이지면 주석 해제 -> 등록 주석처리 -->
                    <ul class="location_content">
                        <li><a href="javascript:void(0);" class="home">홈</a></li>
                        <li><a href="javascript:void(0);">고객센터 관리</a></li>
                        <li><a href="javascript:void(0);">서식/약관 자료실</a></li>
                        <li><a href="javascript:void(0);">서식/약관 자료실 등록</a></li>
                        <!-- <li><a href="javascript:void(0);">서식/약관 자료실 수정</a></li> --> <!-- 수정 페이지면 주석 해제 -> 등록 주석처리 -->
                    </ul> 
                </seciton>
                <div>
                    <section class="write-container">
                        <table class="write-content">
                            <caption>등록자, 등록일, 구분, 제목, 내용, 첨부파일으로 구성된 서식/약관 자료실 등록/수정 페이지</caption>
                            <colgroup>
                                <col style="width:230px;">        
                                <col class="auto">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-title" scope="row"><span>수정자</span></th>
                                    <td><span>홍길동</span></td>
                                </tr>            
                                <tr>
                                    <th id="th-title" scope="row"><span>수정일</span></th>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>
                                <tr>
                                    <th id="th-type" scope="row"><span class="essential">구분</span></th>
                                    <td>
                                        <select required>
                                            <option value="" disabled="" selected="">선택</option>
                                            <option value="">서식</option>
                                            <option value="">약관</option>
                                        </select>
                                    </td>
                                </tr>            
                                <tr>
                                    <th id="th-title" scope="row"><span class="essential">제목</span></th>
                                    <td><input type="text" placeholder="내용을 입력해주세요." required></td> 
                                    <!-- 수정 페이지면 input에 value 추가 + readonly = "" 까지 추가 -->
                                </tr>            
                                <tr>
                                    <th id="th-title" scope="row"><span class="essential">내용</span></th>
                                    <td>
                                        <!-- 임시 :: 웹 에디터 올 자리에 에디터 영역만큼 인라인으로 스타일 잡아둠 -->
                                        <div class="edt" style="border: 1px solid #ddd; padding: 20px; border-radius: 5px;">

                                            <!-- D:: 수정 페이지일 시 주석 해제 -->
                                            <!-- <span>전화수신거부 신청서 및 동의 철회 신청서입니다. <br> 첨부파일 참조해주십시오.</span> -->
                                        </div> 
                                    </td> 
                                </tr>
                                <tr>
                                    <th id="th-file" scope="row"><span>첨부파일</span></th>
                                    <td>
                                        <div class="form-group">
                                            <span class="ipt-file"> 
                                                <span class="ipt-clear">
                                                    <!-- 수정 페이지 밸류 추가 EX -->
                                                    <!-- <input class="form-control upload-text uploadInput" type="text" placeholder="" value="파일123456.docx" tabindex="0" readonly="" /> -->
                                                    <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 선택해주세요" tabindex="0" readonly="" />
                                                </span>
                                                <label class="upload-label" for="files">
                                                    <input id="files" class="upload" name="files" type="file" />
                                                    <span class="sr-only fileLabel">파일 선택</span>
                                                </label>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <span class="ipt-file">
                                                <span class="ipt-clear">
                                                    <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 선택해주세요" tabindex="0" readonly="" />
                                                </span>
                                                <label class="upload-label" for="files">
                                                    <input id="files" class="upload" name="files" type="file" />
                                                    <span class="sr-only fileLabel">파일 선택</span>
                                                </label>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <span class="ipt-file">
                                                <span class="ipt-clear">
                                                    <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 선택해주세요" tabindex="0" readonly="" />
                                                </span>
                                                <label class="upload-label" for="files">
                                                    <input id="files" class="upload" name="files" type="file" />
                                                    <span class="sr-only fileLabel">파일 선택</span>
                                                </label>
                                            </span>
                                        </div>
                                    </td>
                                </tr>            
                            </tbody>
                        </table>
                        <div class="info-content">
                            <ul class="info-list">
                                <li>첨부파일을 새로 등록하면 기존의 첨부파일은 <span class="color-error">삭제</span> 됩니다</li>
                            </ul>
                        </div>
                    </section>
                    
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <button class="btn-secondary reset">초기화</button>
                                <button class="btn-primary">저장</button>
                                <a href="./ADM-CST-ARC-001.html" class="btn-secondary">목록</a>
                            </div>
                        </div>
                    </section>
                    
                    <!-- [D]: 기본얼럿 -->
                    <section class="modal-container">
                        <div id="alert01" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <!-- [D]: 화면설계서 참고하여 문구변경 -->
                                    <p>얼럿메시지 문구노출</p>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-primary" data-popup-close="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <!-- [D]: 컨펌얼럿  -->
                    <section class="modal-container">
                        <div id="confirm01" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <!-- [D]: 화면설계서 참고하여 문구변경 -->
                                    <p>컨펌메시지 문구노출</p>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-secondary" data-popup-close="modal">아니오</button>
                                        <button type="button" class="btn-pop-primary" data-popup-open="modal">예</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div> 
</body>
</html>
