<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>상세&gt;접수 이력서 관리&gt;관리자페이지&gt;mg캐피탈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />

        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>

        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
        <style>
            .write-container h3 {
                padding: 0;
                padding-bottom: 10px;
                color: var(--color-45);
                font-size: var(--font22);
                font-weight: var(--font-w-b);
            }
            .write-container h4 {
                padding: 34px 0 20px 0;
                color: var(--color-45);
            }
            .write-container + .write-container {
                margin-top: 36px;
            }
        </style>
    </head>

    <body>
        <div class="wrap">
            <div data-include-path="../COMMON/header.html"></div>
            <div class="bodyWrap">
                <div data-include-path="../COMMON/lnb.html"></div>
                <main class="contentWrap">
                    <section class="title_container">
                        <h2>입사지원서</h2>
                        <ul class="location_content">
                            <li><a href="javascript:void(0);" class="home">홈</a></li>
                            <li><a href="javascript:void(0);">채용관리</a></li>
                            <li><a href="javascript:void(0);">접수 이력서 관리</a></li>
                            <li><a href="javascript:void(0);">접수 이력서 관리</a></li>
                        </ul>
                    </section>
                    <!-- [D]: 기본정보 -->
                    <section class="write-container">
                        <h3>기본정보</h3>
                        <!-- [D]: 기본정보-지원분야 -->
                        <h4><span class="essential">지원분야</span></h4>
                        <table class="write-content">
                            <caption>
                                으로 구성된 ㅁㅁ표
                            </caption>
                            <colgroup>
                                <col style="width: 230px" />
                                <col class="auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-writer" scope="row"><span>지원구분</span></th>
                                    <td>
                                        <div class="form-wrap">
                                            <fieldset>
                                                <legend>기본 라디오박스</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value="" checked />
                                                    <span>신입</span>
                                                </label>

                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value="" />
                                                    <span>경력</span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 기본정보-1지망 -->
                        <h4><span class="essential">1지망</span></h4>
                        <table class="list-content">
                            <caption>
                                으로 구성된 ㅁㅁ표
                            </caption>
                            <colgroup>
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">희망근무지</th>
                                    <th scope="col">지원업무</th>
                                    <th scope="col">상세지원업무</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 기본정보-2지망 -->
                        <h4><span class="essential">1지망</span></h4>
                        <table class="list-content">
                            <caption>
                                으로 구성된 ㅁㅁ표
                            </caption>
                            <colgroup>
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">희망근무지</th>
                                    <th scope="col">지원업무</th>
                                    <th scope="col">상세지원업무</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <section class="write-container">
                        <h3>기본정보</h3>
                        <!-- [D]: 기본정보-지원분야 -->
                        <h4><span class="essential">지원분야</span></h4>
                        <table class="write-content">
                            <caption>
                                으로 구성된 ㅁㅁ표
                            </caption>
                            <colgroup>
                                <col style="width: 230px" />
                                <col class="auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-writer" scope="row"><span>지원구분</span></th>
                                    <td>
                                        <div class="form-wrap">
                                            <fieldset>
                                                <legend>기본 라디오박스</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value="" checked="" />
                                                    <span>신입</span>
                                                </label>

                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value="" />
                                                    <span>경력</span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 기본정보-1지망 -->
                        <h4><span class="essential">1지망</span></h4>
                        <table class="list-content">
                            <caption>
                                으로 구성된 ㅁㅁ표
                            </caption>
                            <colgroup>
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">희망근무지</th>
                                    <th scope="col">지원업무</th>
                                    <th scope="col">상세지원업무</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <a herf="javascript:void(0);" class="btn-primary">인쇄</a>
                                <a herf="javascript:void(0);" class="btn-secondary">목록</a>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
