<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>목록&gt;접수 이력서 관리&gt;관리자페이지&gt;mg캐피탈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />

        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />

        <link rel="stylesheet" href="../../assets/css/com/style.css" />
        <link rel="stylesheet" href="../../assets/css/com/default.css" />
        <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
        <link rel="stylesheet" href="../../assets/css/com/layout.css" />
        <link rel="stylesheet" href="../../assets/css/com/input.css" />
        <link rel="stylesheet" href="../../assets/css/com/button.css" />
        <link rel="stylesheet" href="../../assets/css/com/tab.css" />
        <link rel="stylesheet" href="../../assets/css/com/table.css" />

        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/com/input.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/com/nav.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/com/popup.js"></script>
        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
    </head>

    <body>
        <div class="wrap">
            <div class="bodyWrap">
                <div data-include-path="../COMMON/lnb.html"></div>
                <main class="contentWrap">
                    <section class="title_container">
                        <h2>접수 이력서 관리 목록</h2>
                        <ul class="location_content">
                            <li><a href="javascript:void(0);" class="home">홈</a></li>
                            <li><a href="javascript:void(0);">채용관리</a></li>
                            <li><a href="javascript:void(0);">접수 이력서 관리</a></li>
                            <li><a href="javascript:void(0);">접수 이력서 관리 목록</a></li>
                        </ul>
                    </section>
                    <section class="form-container">
                        <div class="form-content">
                            <div class="form-wrap multi-filter">
                                <div class="filter-group">
                                    <div class="fieldset-wrap">
                                        <span class="radio-tit">채용구분</span>
                                        <fieldset>
                                            <legend>채용구분</legend>
                                            <label class="radio">
                                                <input type="radio" name="row2-active-1" value="" checked="" />
                                                <span>전체</span>
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="row2-active-1" value="" />
                                                <span>정기</span>
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="row2-active-1" value="" />
                                                <span>수시</span>
                                            </label>
                                        </fieldset>
                                    </div>
                                    <div class="fieldset-wrap">
                                        <span class="radio-tit">합격구분</span>
                                        <fieldset>
                                            <legend>합격구분</legend>
                                            <label class="radio">
                                                <input type="radio" name="row2-active-2" value="" checked="" />
                                                <span>전체</span>
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="row2-active-2" value="" />
                                                <span>합격</span>
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="row2-active-2" value="" />
                                                <span>불합격</span>
                                            </label>
                                        </fieldset>
                                    </div>
                                </div>
                                <fieldset class="search">
                                    <legend>검색</legend>
                                    <div class="select-bg">
                                        <select id="category" name="category">
                                            <option value="applicant">지원자</option>
                                            <option value="work">지원업무</option>
                                            <option value="workplace">희망근무지</option>
                                        </select>
                                    </div>
                                    <input id="q" name="q" type="search" autocomplete="off" inputmode="search" placeholder="검색어를 입력해주세요" />
                                    <button type="submit" class="btn-body">검색</button>
                                </fieldset>
                            </div>
                        </div>
                    </section>
                    <section class="list-container search">
                        <div class="list-content">
                            <table>
                                <caption>
                                    접수 이력서 관리 목록(No, 구분, 지원자, 합불, 지원업무, 희망근무지, 합불여부 설정, 접수일 포함)
                                </caption>
                                <colgroup>
                                    <col style="width: 100px" />
                                    <col class="ico-btn" />
                                    <col style="width: 100px" />
                                    <col class="num" />
                                    <col class="num" />
                                    <col class="auto" />
                                    <col class="auto" />
                                    <col style="width: 250px" />
                                    <col style="width: 150px" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th id="th-allcheck" scope="col">
                                            <label class="check center" for="chkAllToggle">
                                                <input id="chkAllToggle" type="checkbox" name="row1-active" value="" checked />
                                            </label>
                                        </th>
                                        <th id="th-no" scope="col">No</th>
                                        <th id="th-type" scope="col">구분</th>
                                        <th id="th-applicant" scope="col">지원자</th>
                                        <th id="th-pass" scope="col">합불</th>
                                        <th id="th-work" scope="col">지원업무</th>
                                        <th id="th-workplace" scope="col">희망근무지</th>
                                        <th id="th-pass-setting" scope="col">합불여부 설정</th>
                                        <th id="th-date" scope="col">접수일</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="check">
                                                <input type="checkbox" name="row1-active-1" value="" checked />
                                            </label>
                                        </td>
                                        <td><span>286</span></td>
                                        <td><span>정기</span></td>
                                        <td><span>홍길동</span></td>
                                        <td><span class="">불합격</span></td>
                                        <td><span>지원업무명 노출</span></td>
                                        <td><span>희망근무지 노출</span></td>
                                        <td>
                                            <fieldset>
                                                <legend>구분</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-1" value="" checked="" />
                                                    <span>합격</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-1" value="" />
                                                    <span>불합격</span>
                                                </label>
                                            </fieldset>
                                        </td>
                                        <td><span>YYYY.MM.DD</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="check">
                                                <input type="checkbox" name="row1-active-2" value="" checked />
                                            </label>
                                        </td>
                                        <td><span>285</span></td>
                                        <td><span>정기</span></td>
                                        <td><span>홍길동</span></td>
                                        <td><span class="blue-txt">합격</span></td>
                                        <td><span>지원업무명 노출</span></td>
                                        <td><span>희망근무지 노출</span></td>
                                        <td>
                                            <fieldset>
                                                <legend>구분</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-2" value="" checked="" />
                                                    <span>합격</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-2" value="" />
                                                    <span>불합격</span>
                                                </label>
                                            </fieldset>
                                        </td>
                                        <td><span>YYYY.MM.DD</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="check">
                                                <input type="checkbox" name="row1-active-3" value="" checked />
                                            </label>
                                        </td>
                                        <td><span>284</span></td>
                                        <td><span>수시</span></td>
                                        <td><span>홍길동</span></td>
                                        <td><span class="blue-txt">합격</span></td>
                                        <td><span>지원업무명 노출</span></td>
                                        <td><span>희망근무지 노출</span></td>
                                        <td>
                                            <fieldset>
                                                <legend>구분</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-3" value="" checked="" />
                                                    <span>합격</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-3" value="" />
                                                    <span>불합격</span>
                                                </label>
                                            </fieldset>
                                        </td>
                                        <td><span>YYYY.MM.DD</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="check">
                                                <input type="checkbox" name="row1-active-4" value="" checked />
                                            </label>
                                        </td>
                                        <td><span>283</span></td>
                                        <td><span>수시</span></td>
                                        <td><span>홍길동</span></td>
                                        <td><span class="">불합격</span></td>
                                        <td><span>지원업무명 노출</span></td>
                                        <td><span>희망근무지 노출</span></td>
                                        <td>
                                            <fieldset>
                                                <legend>구분</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-4" value="" checked="" />
                                                    <span>합격</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-4" value="" />
                                                    <span>불합격</span>
                                                </label>
                                            </fieldset>
                                        </td>
                                        <td><span>YYYY.MM.DD</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="check">
                                                <input type="checkbox" name="row1-active-5" value="" checked />
                                            </label>
                                        </td>
                                        <td><span>282</span></td>
                                        <td><span>정기</span></td>
                                        <td><span>홍길동</span></td>
                                        <td><span class="">불합격</span></td>
                                        <td><span>지원업무명 노출</span></td>
                                        <td><span>희망근무지 노출</span></td>
                                        <td>
                                            <fieldset>
                                                <legend>구분</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-5" value="" checked="" />
                                                    <span>합격</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-5" value="" />
                                                    <span>불합격</span>
                                                </label>
                                            </fieldset>
                                        </td>
                                        <td><span>YYYY.MM.DD</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="check">
                                                <input type="checkbox" name="row1-active-6" value="" checked />
                                            </label>
                                        </td>
                                        <td><span>281</span></td>
                                        <td><span>정기</span></td>
                                        <td><span>홍길동</span></td>
                                        <td><span class="blue-txt">합격</span></td>
                                        <td><span>지원업무명 노출</span></td>
                                        <td><span>희망근무지 노출</span></td>
                                        <td>
                                            <fieldset>
                                                <legend>구분</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-6" value="" checked="" />
                                                    <span>합격</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-6" value="" />
                                                    <span>불합격</span>
                                                </label>
                                            </fieldset>
                                        </td>
                                        <td><span>YYYY.MM.DD</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="check">
                                                <input type="checkbox" name="row1-active-7" value="" checked />
                                            </label>
                                        </td>
                                        <td><span>280</span></td>
                                        <td><span>정기</span></td>
                                        <td><span>홍길동</span></td>
                                        <td><span class="">불합격</span></td>
                                        <td><span>지원업무명 노출</span></td>
                                        <td><span>희망근무지 노출</span></td>
                                        <td>
                                            <fieldset>
                                                <legend>구분</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-7" value="" checked="" />
                                                    <span>합격</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-7" value="" />
                                                    <span>불합격</span>
                                                </label>
                                            </fieldset>
                                        </td>
                                        <td><span>YYYY.MM.DD</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="check">
                                                <input type="checkbox" name="row1-active-8" value="" checked />
                                            </label>
                                        </td>
                                        <td><span>279</span></td>
                                        <td><span>수시</span></td>
                                        <td><span>홍길동</span></td>
                                        <td><span class="blue-txt">합격</span></td>
                                        <td><span>지원업무명 노출</span></td>
                                        <td><span>희망근무지 노출</span></td>
                                        <td>
                                            <fieldset>
                                                <legend>구분</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-8" value="" checked="" />
                                                    <span>합격</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-8" value="" />
                                                    <span>불합격</span>
                                                </label>
                                            </fieldset>
                                        </td>
                                        <td><span>YYYY.MM.DD</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="check">
                                                <input type="checkbox" name="row1-active-9" value="" checked />
                                            </label>
                                        </td>
                                        <td><span>278</span></td>
                                        <td><span>수시</span></td>
                                        <td><span>홍길동</span></td>
                                        <td><span class="blue-txt">합격</span></td>
                                        <td><span>지원업무명 노출</span></td>
                                        <td><span>희망근무지 노출</span></td>
                                        <td>
                                            <fieldset>
                                                <legend>구분</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-9" value="" checked="" />
                                                    <span>합격</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-9" value="" />
                                                    <span>불합격</span>
                                                </label>
                                            </fieldset>
                                        </td>
                                        <td><span>YYYY.MM.DD</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="check">
                                                <input type="checkbox" name="row1-active-10" value="" checked />
                                            </label>
                                        </td>
                                        <td><span>277</span></td>
                                        <td><span>수시</span></td>
                                        <td><span>홍길동</span></td>
                                        <td><span class="blue-txt">합격</span></td>
                                        <td><span>지원업무명 노출</span></td>
                                        <td><span>희망근무지 노출</span></td>
                                        <td>
                                            <fieldset>
                                                <legend>구분</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-10" value="" checked="" />
                                                    <span>합격</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active-10" value="" />
                                                    <span>불합격</span>
                                                </label>
                                            </fieldset>
                                        </td>
                                        <td><span>YYYY.MM.DD</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="info-content">
                            <ul class="info-list">
                                <li>지원자 성명이나 지원업무를 클릭하시면, 이력서를 확인하실 수 있습니다.</li>
                            </ul>
                        </div>
                        <div class="pagination-content">
                            <div class="first">
                                <button class="btn-first">처음으로</button>
                                <button class="btn-prev">이전으로</button>
                            </div>
                            <div>
                                <button class="active">1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                            </div>
                            <div class="last">
                                <button class="btn-next">다음으로</button>
                                <button class="btn-last">마지막으로</button>
                            </div>
                        </div>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <div class="left-btn-group">
                                    <a href="javascript:void(0);" class="btn-secondary btn-excel">Row Data(Excel) 다운로드</a>
                                    <a href="javascript:void(0);" class="btn-secondary btn-pdf">이력서(pdf) 다운로드</a>
                                </div>
                                <a href="javascript:void(0);" class="btn-primary">합불여부 저장</a>
                                <a href="javascript:void(0);" class="btn-secondary">이력서 삭제</a>
                            </div>
                        </div>
                    </section>

                    <!-- 조회 결과 없음 -->
                    <!-- <section class="list-container">
                        <div class="list-content"><p class="no-result">조회 결과가 없습니다.</p></div>
                    </section> -->

                    <!-- [D]: 기본얼럿 -->
                    <section class="modal-container">
                        <div id="alert01" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <!-- [D]: 화면설계서 참고하여 문구변경 -->
                                    <p>얼럿메시지 문구노출</p>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-primary" data-popup-close="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- [D]: 컨펌얼럿  -->
                    <section class="modal-container">
                        <div id="confirm01" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <!-- [D]: 화면설계서 참고하여 문구변경 -->
                                    <p>컨펌메시지 문구노출</p>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-secondary" data-popup-close="modal">아니오</button>
                                        <button type="button" class="btn-pop-primary" data-popup-open="modal">예</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
