<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>상세&gt;채용 관리&gt;관리자페이지&gt;mg캐피탈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />

        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>

        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
        <style>
            /* 첨부파일 리스트 */
            .ipt-file {
                display: flex;
                flex-direction: column;
                gap: 12px;
                text-decoration-line: underline;
                text-underline-position: from-font;
            }
            .ipt-file .ipt-clear::before {
                margin-right: 2px;
                background-color: var(--color-2);
                mask-size: auto;
            }
        </style>
    </head>

    <body>
        <div class="wrap">
            <div data-include-path="../COMMON/header.html"></div>
            <div class="bodyWrap">
                <div data-include-path="../COMMON/lnb.html"></div>
                <main class="contentWrap">
                    <section class="title_container">
                        <h2>채용공고 상세</h2>
                        <ul class="location_content">
                            <li><a href="javascript:void(0);" class="home">홈</a></li>
                            <li><a href="javascript:void(0);">채용관리</a></li>
                            <li><a href="javascript:void(0);">상세</a></li>
                        </ul>
                    </section>
                    <section class="write-container">
                        <table class="write-content">
                            <caption>
                                작성자, 작성일, 구분, 상태, 제목, 내용, 첨부파일, 게시기간, 공고 조기마감으로 구성된 채용공고 상세 표
                            </caption>
                            <colgroup>
                                <col style="width: 210px" />
                                <col style="width: auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-writer" scope="row"><span>작성자</span></th>
                                    <td><span>홍길동</span></td>
                                </tr>
                                <tr>
                                    <th id="th-date" scope="row"><span>작성일</span></th>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>
                                <tr>
                                    <th id="th-type" scope="row"><span>구분</span></th>
                                    <td><span>정기</span></td>
                                </tr>
                                <tr>
                                    <th id="th-state" scope="row"><span>상태</span></th>
                                    <td><span>진행중</span></td>
                                </tr>
                                <tr>
                                    <th id="th-title" scope="row"><span>제목</span></th>
                                    <td><span>2025년 MG캐피탈 일반직 신입직원 채용</span></td>
                                </tr>
                                <tr>
                                    <th id="th-content" scope="row"><span>내용</span></th>
                                    <td>
                                        <span>내용<br />내용</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-file" scope="row"><span>첨부파일</span></th>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <button type="button">[MG캐피탈]입사지원서.docx</button>
                                            </span>
                                            <span class="ipt-clear">
                                                <button type="button">[MG캐피탈]입사지원서.docx</button>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-period" scope="row"><span>게시기간</span></th>
                                    <td>
                                        <fieldset>
                                            <legend>기간</legend>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" placeholder="디폴트" aria-invalid="true" />
                                            </label>
                                            <span class="ipt-hyphen">-</span>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" placeholder="디폴트" aria-invalid="true" />
                                            </label>
                                        </fieldset>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-early" scope="row"><span>공고 조기마감</span></th>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox" name="row1-active" value="" checked />
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <a herf="javascript:void(0);" class="btn-secondary reset">초기화</a>
                                <a herf="javascript:void(0);" class="btn-primary">수정</a>
                                <a herf="javascript:void(0);" class="btn-secondary">목록</a>
                                <a herf="javascript:void(0);" class="btn-secondary">삭제</a>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
