<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>MG캐피탈인의 모습 관리</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />

        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>

        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
        <style>
            .bg-gray {
                background-color: #f6f7f9;
            }
            .write-container {
                background: #fff;
                padding: 44px 24px;
                border-radius: 10px;
            }
        </style>
    </head>

    <body>
        <div class="wrap">
            <div data-include-path="../COMMON/header.html"></div>
            <div class="bodyWrap bg-gray">
                <div data-include-path="../COMMON/lnb.html"></div>
                <main class="contentWrap">
                    <section class="title_container">
                        <h2>MG캐피탈인의 모습 관리</h2>
                        <ul class="location_content">
                            <li><a href="javascript:void(0);" class="home">홈</a></li>
                            <li><a href="javascript:void(0);">채용관리</a></li>
                            <li><a href="javascript:void(0);">MG캐피탈인의 모습 상세</a></li>
                        </ul>
                    </section>
                    <section class="write-container">
                        <table class="write-content">
                            <caption>
                                수정자, 수정일, 제목, 소개글, 내용으로 구성된 MG캐피탈인의 모습 관리 표
                            </caption>
                            <colgroup>
                                <col style="width: 210px" />
                                <col style="width: auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-modifier" scope="row"><span>수정자</span></th>
                                    <td><span>홍길동</span></td>
                                </tr>
                                <tr>
                                    <th id="th-date" scope="row"><span>수정일</span></th>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>
                                <tr>
                                    <th id="th-title" scope="row"><span class="essential">제목</span></th>
                                    <td><input type="text" value="MG캐피탈인의 인재상" /></td>
                                </tr>
                                <tr>
                                    <th id="th-intro" scope="row"><span class="essential">소개글</span></th>
                                    <td><input type="text" value="협동조합의 가치와 새마을금고 정신을 바탕으로 MG캐피탈의 사회적 책임을 다하는 인재가 되고자 합니다." /></td>
                                </tr>
                                <tr>
                                    <th id="th-content" scope="row"><span class="essential">내용</span></th>
                                    <!-- 나모웹에디터 추가 예정 -->
                                    <td><div id="edt"></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <a herf="javascript:void(0);" class="btn-secondary reset">초기화</a>
                                <a herf="javascript:void(0);" class="btn-primary">저장</a>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
