<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>상세&gt;접수 이력서 관리&gt;관리자페이지&gt;mg캐피탈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />

        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>

        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
        <style>
            .write-container h3 {
                padding: 0;
                padding-bottom: 10px;
                color: var(--color-45);
                font-size: var(--font22);
                font-weight: var(--font-w-b);
            }
            .write-container h4 {
                padding: 34px 0 20px 0;
                color: var(--color-45);
            }
            .write-container + .write-container {
                margin-top: 36px;
            }
        </style>
    </head>

    <body>
        <div class="wrap">
            <div data-include-path="../COMMON/header.html"></div>
            <div class="bodyWrap">
                <div data-include-path="../COMMON/lnb.html"></div>
                <main class="contentWrap">
                    <section class="title_container">
                        <h2>입사지원서</h2>
                        <ul class="location_content">
                            <li><a href="javascript:void(0);" class="home">홈</a></li>
                            <li><a href="javascript:void(0);">채용관리</a></li>
                            <li><a href="javascript:void(0);">접수 이력서 관리</a></li>
                            <li><a href="javascript:void(0);">접수 이력서 관리</a></li>
                        </ul>
                    </section>
                    <!-- [D]: 기본정보 -->
                    <section class="write-container">
                        <h3>기본정보</h3>
                        <!-- [D]: 기본정보-지원분야 -->
                        <h4><span class="essential">지원분야</span></h4>
                        <table class="write-content">
                            <caption>
                                지원구분으로 구성된 표
                            </caption>
                            <colgroup>
                                <col style="width: 230px" />
                                <col class="auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-writer" scope="row"><span>지원구분</span></th>
                                    <td>
                                        <div class="form-wrap">
                                            <fieldset>
                                                <legend>기본 라디오박스</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value checked />
                                                    <span>신입</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value />
                                                    <span>경력</span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 기본정보-1지망 -->
                        <h4><span class="essential">1지망</span></h4>
                        <table class="list-content">
                            <caption>
                                희망근무지, 지원업무, 상세지원업무로 구성된 1지망 목록
                            </caption>
                            <colgroup>
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">희망근무지</th>
                                    <th scope="col">지원업무</th>
                                    <th scope="col">상세지원업무</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지 노출</span></td>
                                    <td><span>지원업무 노출</span></td>
                                    <td><span>상세지원업무 노출</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 기본정보-2지망 -->
                        <h4><span class="essential">2지망</span></h4>
                        <table class="list-content">
                            <caption>
                                희망근무지, 지원업무, 상세지원업무로 구성된 2지망 목록
                            </caption>
                            <colgroup>
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">희망근무지</th>
                                    <th scope="col">지원업무</th>
                                    <th scope="col">상세지원업무</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지 노출</span></td>
                                    <td><span>지원업무 노출</span></td>
                                    <td><span>상세지원업무 노출</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <!-- [D]: 개인정보 -->
                    <section class="write-container">
                        <h3>개인정보</h3>
                        <!-- [D]: 개인정보-개인정보 -->
                        <h4><span>개인정보</span></h4>
                        <table class="write-content">
                            <caption>
                                사진등록, 성명, 생년월일, 휴대폰번호, 국적, 현주소, 이메일, 전화번호, 취미, 특기, 보훈여부로 구성된 표
                            </caption>
                            <colgroup>
                                <col style="width: 230px" />
                                <col class="auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-pic" scope="row" rowspan="3"><span>사진등록</span></th>
                                    <td rowspan="3"></td>
                                    <th id="th-pic" scope="row"><span>성명</span></th>
                                    <td>성명노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>생년월일</span></th>
                                    <td>생년월일 노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>휴대폰번호</span></th>
                                    <td>휴대폰번호 노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>국적</span></th>
                                    <td>국적노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>현주소</span></th>
                                    <td>주소노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row" rowspan="1"><span>이메일</span></th>
                                    <td>이메일 노출</td>
                                    <th id="th-pic" scope="row"><span>이메일</span></th>
                                    <td>이메일 노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row" rowspan="1"><span>취미</span></th>
                                    <td>취미 노출</td>
                                    <th id="th-pic" scope="row"><span>특기</span></th>
                                    <td>이메일 노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>보존여부</span></th>
                                    <td>이메일 노출</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 개인정보-병역구분 -->
                        <h4><span>병역구분</span></h4>
                        <table class="list-content">
                            <caption>
                                병역구분, 군별, 복무기간, 면제사유로 구성된 표
                            </caption>
                            <colgroup>
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">병역구분</th>
                                    <th scope="col">군별</th>
                                    <th scope="col">복무기간</th>
                                    <th scope="col">면제사유</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <!-- [D]: 학력사항 -->
                    <section class="write-container">
                        <h3>학력사항</h3>
                        <!-- [D]: 학력사항-고등학교 -->
                        <h4><span>고등학교</span></h4>
                        <table class="write-content">
                            <caption>
                                사진등록, 성명, 생년월일, 휴대폰번호, 국적, 현주소, 이메일, 전화번호, 취미, 특기, 보훈여부로 구성된 표
                            </caption>
                            <colgroup>
                                <col style="width: 230px" />
                                <col class="auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-pic" scope="row"><span>학교명</span></th>
                                    <td>학교명 노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row" rowspan="1"><span>기간</span></th>
                                    <td>재학기간 노출</td>
                                    <th id="th-pic" scope="row"><span>졸업구분</span></th>
                                    <td>졸업구분 노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>전공명</span></th>
                                    <td>전공명 노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>학점</span></th>
                                    <td>00/00</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 학력사항-전문대학 -->
                        <h4><span>전문대학</span></h4>
                        <table class="write-content">
                            <caption>
                                사진등록, 성명, 생년월일, 휴대폰번호, 국적, 현주소, 이메일, 전화번호, 취미, 특기, 보훈여부로 구성된 표
                            </caption>
                            <colgroup>
                                <col style="width: 230px" />
                                <col class="auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-pic" scope="row"><span>학교명</span></th>
                                    <td>학교명 노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row" rowspan="1"><span>기간</span></th>
                                    <td>재학기간 노출</td>
                                    <th id="th-pic" scope="row"><span>졸업구분</span></th>
                                    <td>졸업구분 노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>전공명</span></th>
                                    <td>전공명 노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>학점</span></th>
                                    <td>00/00</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 학력사항-대학교 -->
                        <h4><span>대학교(4년제)</span></h4>
                        <table class="write-content">
                            <caption>
                                사진등록, 성명, 생년월일, 휴대폰번호, 국적, 현주소, 이메일, 전화번호, 취미, 특기, 보훈여부로 구성된 표
                            </caption>
                            <colgroup>
                                <col style="width: 230px" />
                                <col class="auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-pic" scope="row" rowspan="2"><span>학교명</span></th>
                                    <td rowspan="2">학교명 노출</td>
                                    <th id="th-pic" scope="row"><span>본교/분교</span></th>
                                    <td>
                                        <div class="form-wrap">
                                            <fieldset>
                                                <legend>기본 라디오박스</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value checked />
                                                    <span>본교</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value />
                                                    <span>분교</span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>주간/야간</span></th>
                                    <td>
                                        <div class="form-wrap">
                                            <fieldset>
                                                <legend>기본 라디오박스</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value checked />
                                                    <span>본교</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value />
                                                    <span>분교</span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row" rowspan="1"><span>기간</span></th>
                                    <td>전공명 노출</td>
                                    <th id="th-pic" scope="row"><span>졸업구분 노출</span></th>
                                    <td>00/00</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>전공명 노출</span></th>
                                    <td>00/00</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>학점</span></th>
                                    <td>00/00</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 학력사항-석사 -->
                        <h4><span>대학교(석사)</span></h4>
                        <table class="write-content">
                            <caption>
                                사진등록, 성명, 생년월일, 휴대폰번호, 국적, 현주소, 이메일, 전화번호, 취미, 특기, 보훈여부로 구성된 표
                            </caption>
                            <colgroup>
                                <col style="width: 230px" />
                                <col class="auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-pic" scope="row" rowspan="2"><span>학교명</span></th>
                                    <td rowspan="2">학교명 노출</td>
                                    <th id="th-pic" scope="row"><span>본교/분교</span></th>
                                    <td>
                                        <div class="form-wrap">
                                            <fieldset>
                                                <legend>기본 라디오박스</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value checked />
                                                    <span>본교</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value />
                                                    <span>분교</span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>주간/야간</span></th>
                                    <td>
                                        <div class="form-wrap">
                                            <fieldset>
                                                <legend>기본 라디오박스</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value checked />
                                                    <span>본교</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value />
                                                    <span>분교</span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row" rowspan="1"><span>기간</span></th>
                                    <td>전공명 노출</td>
                                    <th id="th-pic" scope="row"><span>졸업구분 노출</span></th>
                                    <td>00/00</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>전공명 노출</span></th>
                                    <td>00/00</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>학점</span></th>
                                    <td>00/00</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 학력사항-박사 -->
                        <h4><span>대학교(박사)</span></h4>
                        <table class="write-content">
                            <caption>
                                사진등록, 성명, 생년월일, 휴대폰번호, 국적, 현주소, 이메일, 전화번호, 취미, 특기, 보훈여부로 구성된 표
                            </caption>
                            <colgroup>
                                <col style="width: 230px" />
                                <col class="auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-pic" scope="row" rowspan="2"><span>학교명</span></th>
                                    <td rowspan="2">학교명 노출</td>
                                    <th id="th-pic" scope="row"><span>본교/분교</span></th>
                                    <td>
                                        <div class="form-wrap">
                                            <fieldset>
                                                <legend>기본 라디오박스</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value checked />
                                                    <span>본교</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value />
                                                    <span>분교</span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>주간/야간</span></th>
                                    <td>
                                        <div class="form-wrap">
                                            <fieldset>
                                                <legend>기본 라디오박스</legend>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value checked />
                                                    <span>본교</span>
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="row2-active" value />
                                                    <span>분교</span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row" rowspan="1"><span>기간</span></th>
                                    <td>전공명 노출</td>
                                    <th id="th-pic" scope="row"><span>졸업구분 노출</span></th>
                                    <td>00/00</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>전공명 노출</span></th>
                                    <td>00/00</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>학점</span></th>
                                    <td>00/00</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <!-- [D]: 자격면허 -->
                    <section class="write-container">
                        <h3>자격 · 면허</h3>
                        <!-- [D]: 자격면허-영어능력 -->
                        <h4><span>영어능력</span></h4>
                        <table class="list-content">
                            <caption>
                                병역구분, 군별, 복무기간, 면제사유로 구성된 표
                            </caption>
                            <colgroup>
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">시험종류</th>
                                    <th scope="col">점수/등급</th>
                                    <th scope="col">취득일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 자격면허-제2외국어 -->
                        <h4><span>제2외국어</span></h4>
                        <table class="list-content">
                            <caption>
                                병역구분, 군별, 복무기간, 면제사유로 구성된 표
                            </caption>
                            <colgroup>
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">시험종류</th>
                                    <th scope="col">점수/등급</th>
                                    <th scope="col">취득일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 자격면허-자격면허 -->
                        <h4><span>자격·면허사항</span></h4>
                        <table class="list-content">
                            <caption>
                                병역구분, 군별, 복무기간, 면제사유로 구성된 표
                            </caption>
                            <colgroup>
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">자격증</th>
                                    <th scope="col">자격등급</th>
                                    <th scope="col">취득일</th>
                                    <th scope="col">발행기관</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 자격면허-수상경력 -->
                        <h4><span>수상경력</span></h4>
                        <table class="list-content">
                            <caption>
                                병역구분, 군별, 복무기간, 면제사유로 구성된 표
                            </caption>
                            <colgroup>
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">자격증</th>
                                    <th scope="col">자격등급</th>
                                    <th scope="col">취득일</th>
                                    <th scope="col">발행기관</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <!-- [D]: 교내활동 -->
                    <section class="write-container">
                        <h3>교내 활동사항</h3>
                        <!-- [D]: 교내활동-동아리 활동 -->
                        <h4><span>동아리 활동</span></h4>
                        <table class="list-content">
                            <caption>
                                병역구분, 군별, 복무기간, 면제사유로 구성된 표
                            </caption>
                            <colgroup>
                                <col style="width: 390px" />
                                <col style="width: 390px" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">활동기간</th>
                                    <th scope="col">활동단체명</th>
                                    <th scope="col">활동내용</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 교내활동-사회봉사 활동 -->
                        <h4><span>사회봉사 활동</span></h4>
                        <table class="list-content">
                            <caption>
                                병역구분, 군별, 복무기간, 면제사유로 구성된 표
                            </caption>
                            <colgroup>
                                <col style="width: 390px" />
                                <col style="width: 390px" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">활동기간</th>
                                    <th scope="col">활동단체명</th>
                                    <th scope="col">활동내용</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <!-- [D]: 경력사항 -->
                    <section class="write-container">
                        <h3>경력사항</h3>
                        <!-- [D]: 개인정보-개인정보 -->
                        <h4><span>병역특례 경력사항</span></h4>
                        <table class="list-content">
                            <caption>
                                병역구분, 군별, 복무기간, 면제사유로 구성된 표
                            </caption>
                            <colgroup>
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">근무처</th>
                                    <th scope="col">근무기간</th>
                                    <th scope="col">담당업무</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [D]: 개인정보-개인정보 -->
                        <h4><span>경력사항</span></h4>
                        <table class="list-content">
                            <caption>
                                병역구분, 군별, 복무기간, 면제사유로 구성된 표
                            </caption>
                            <colgroup>
                                <!-- <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" />
                                <col class="auto" /> -->
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">근무처</th>
                                    <th scope="col">직위</th>
                                    <th scope="col">근무기간</th>
                                    <th scope="col">담당업무</th>
                                    <th scope="col">연봉</th>
                                    <th scope="col">퇴직사유</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                    <td><span>희망근무지</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <!-- [D]: 자기소개 -->
                    <section class="write-container">
                        <h3>자기소개</h3>
                        <!-- [D]: 자기소개-자기소개 -->
                        <h4><span>자기소개</span></h4>
                        <table class="write-content">
                            <caption>
                                사진등록, 성명, 생년월일, 휴대폰번호, 국적, 현주소, 이메일, 전화번호, 취미, 특기, 보훈여부로 구성된 표
                            </caption>
                            <colgroup>
                                <col style="width: 230px" />
                                <col class="auto" />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th id="th-pic" scope="row"><span>성장과정 학창시절</span></th>
                                    <td>주소노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>성격 및 지식과 재능</span></th>
                                    <td>주소노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>성공 및 실패 경험</span></th>
                                    <td>주소노출</td>
                                </tr>
                                <tr>
                                    <th id="th-pic" scope="row"><span>지원동기 입사포부</span></th>
                                    <td>주소노출</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <a href="javascript:void(0);" class="btn-primary">인쇄</a>
                                <a href="javascript:void(0);" class="btn-secondary">목록</a>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
