<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>개인정보처리방침&gt;약관 및 정책&gt;고객센터&gt;홈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />
        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    </head>

    <body>
        <div class="wrap">
            <header id="headerWrap" class="headerOn">
                <nav class="lnb"></nav>
            </header>
            <div class="bodyWrap">
                <main class="contentWrap">
                    <nav class="location-container">
                        <ol class="breadcrumb">
                            <li>
                                <span class="home">홈</span>
                            </li>
                            <li>
                                <span>고객센터</span>
                            </li>
                            <li>
                                <span>약관 및 정책</span>
                            </li>
                            <li>
                                <span>개인정보처리방침</span>
                            </li>
                        </ol>
                    </nav>
                    <section class="visual-container">
                        <h2>개인정보처리방침</h2>
                        <!-- <p></p> -->
                    </section>
                    <section class="page-container">
                        <!-- ADD: 날짜 셀렉트 박스 -->
                        <select id="category" name="category">
                            <option value="2025-08-25">2025-08-25</option>
                        </select>

                        <div class="text-content">
                            <div class="text-group">
                                <h3>개인정보 처리방침</h3>
                                <p>
                                    MG캐피탈 주식회사(이하 "회사" 또는 "MG캐피탈"이라 함)는 신용정보의 이용 및 보호에 관한 법률, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보 보호법률 등
                                    준수하여야 할 관련 법규상의 개인정보보호규정을 준수하며, 개인정보보호법에 의거한 개인정보처리방침을 정하여 이용자 권익보호에 최선을 다하고 있습니다.
                                    <br />
                                    개인정보처리방침의 ‘정보주체’ 는 처리되는 정보에 의하여 알아볼 수 있는 사람으로서 그 정보의 주체가 되는 사람을 말합니다. '고객'은 '정보주체' 중 회사가 제공하는
                                    서비스를 이용하는 자(이용하려는 자 포함)를 의미합니다.
                                    <br />
                                    MG캐피탈의 개인정보처리방침은 다음과 같은 내용으로 구성되어 있습니다.
                                </p>
                                <div class="button-content">
                                    <div class="button-group">
                                        <a href="#">1. 개인정보 처리 목적</a>
                                        <a href="#">2. 처리하는 개인정보의 항목</a>
                                        <a href="#">3. 개인정보의 처리 및 보유기간</a>
                                        <a href="#">4. 개인정보의 제3자 제공에 관한 사항</a>
                                        <a href="#">5. 개인신용정보 제공사실의 통보</a>
                                        <a href="#">6. 개인정보처리의 위탁에 관한 사항</a>
                                        <a href="#">7. 개인정보의 파기절차 및 방법</a>
                                        <a href="#">8. 정보주체의 권리 · 의무 및 그 행사방법에 관한 사항</a>
                                        <a href="#">9. 개인정보의 안전성 확보 조치에 관한 사항</a>
                                        <a href="#">10. 개인정보 보호책임자에 관한 사항</a>
                                        <a href="#">11. 개인정보 처리방침의 변경에 관한 사항</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-content">
                            <div class="text-group">
                                <h4>개인정보의 처리 목적</h4>
                                <p>회사는 다음과 같은 목적을 위하여 필요한 최소한의 개인정보를 처리하고 있습니다.</p>
                                <ul>
                                    <li>1) 회원제 서비스 이용에 따른 본인여부 식별(확인), 회원가입</li>
                                    <li>2) 고객이 신청하신 상품,서비스 제공여부 판단 및 제공 : 자동차금융,신용대출,담보대출,개인사업자 금융 등 MG캐피탈 금융서비스</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
