<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>변경할 비밀번호 입력&gt;비밀번호 재설정&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>비밀번호 재설정</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>비밀번호 재설정</h2>
                </section>
                <section class="step-container">
                    <div class="step-content">
                        <ul class="col2">
                            <li class="pre">
                                <span>본인확인</span>
                            </li>
                            <li class="on">
                                <span>변경할 비밀번호 입력</span>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="page-container WCM30100DS">
                    <div class="text-content">
                        <div class="group">
                            <div class="text-group">
                                <h3>비밀번호 입력</h3>
                                <p>새롭게 사용하실 비밀번호를 입력 및 확인 입력 후 등록해주세요.</p>
                            </div>
                            <form class="table-content">
                                <div class="table-group">
                                    <table>
                                        <caption>비밀번호 입력표(새 비밀번호, 새 비밀번호 확인 포함)</caption>
                                        <colgroup>
                                            <col style="width:262px">
                                            <col style="width:auto">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th scope="row">새 비밀번호</th>
                                                <td>
                                                    <label for="password" class="sr-only">새 비밀번호</label>
                                                    <input id="password" type="text" name="password" placeholder="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">새 비밀번호 확인</th>
                                                <td>
                                                    <label for="password" class="sr-only">새 비밀번호 확인</label>
                                                    <input id="password" type="text" name="password" placeholder="" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!--//table-group-->
                                <div class="info-list">
                                    <ul class="m-dot">
                                        <li>8~12자 영문, 숫자, 특수문자를 혼용하여 작성</li>
                                        <li class="error">사용 가능 특수문자 (!, @, #, $, %, ^, &, *, (, ), _, +)</li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-primary">등록</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
 