<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>납입내역&gt;이용현황&gt;MY MG&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>MY MG</span></li>
                        <li><span>이용현황</span></li>
                        <li><span>납입내역</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>납입내역</h2>
                </section>
                <section class="page-container WCS10200VQ">
                    <div class="text-content">
                        <h3>납입내역 목록</h3>
                        <div>
                        <div class="table-group">
                            <p class="caption">단위: 원</p>
                            <div class="table-content">
                                <table class="mo-s">
                                    <caption>번호, 실행번호, 상품명, 수납회차/총회차, 상환원금, 상환이자, 기타금액, 연체이자, 합계, 상태에 대한 표</caption>
                                    <colgroup>
                                        <col style="width:5%">
                                        <col style="width:10%">
                                        <col style="width:11%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:7%">
                                        <col style="width:5%">
                                        <col style="width:7%">
                                        <col style="width:8%">
                                        <col style="width:7%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">No.</th>
                                            <th scope="col">실행번호</th>
                                            <th scope="col">상품명</th>
                                            <th scope="col">수납회차/총회차</th>
                                            <th scope="col">상환원금</th>
                                            <th scope="col">상환이자</th>
                                            <th scope="col">기타금액</th>
                                            <th scope="col">연체이자</th>
                                            <th scope="col">합계</th>
                                            <th scope="col">상태</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td class="underline">MI14002240001</td>
                                            <td>내구재/헬스케어</td>
                                            <td>6/18</td>
                                            <td>1,800,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>16,180</td>
                                            <td>1,816,246</td>
                                            <td class="error">중도상환</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="info-list">
                                <ul class="m-dot">
                                    <li> 실행번호별 총 납입내역 합계입니다. 실행번호를 클릭하시면 상세내역을 확인 하실 수 있습니다.</li>
                                    <li> 합계 = ( 원금 + 이자 + 기타금액 + 연체이자 )</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
   