<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>상세보기&gt;납입내역&gt;이용현황&gt;MY MG&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>MY MG</span></li>
                        <li><span>이용현황</span></li>
                        <li><span>납입내역</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>납입내역</h2>
                </section>
                <section class="page-container">
                    <div class="text-content">
                        <h3>대출정보</h3>
                        <div class="text-group">
                            <p class="caption">기준일 : 2025-09-22 / 단위: 원</p>
                            <div class="table-content">
                                <table class="mo-s">
                                    <caption>대출정보 표(실행번호, 상품명, 기간, 대출일, 만기예정일, 종료일, 여신금액, 잔여금액, 상태 포함)</caption>
                                    <colgroup>
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:11%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:7%">
                                        <col style="width:9%">
                                        <col style="width:7%">
                                        <col style="width:6%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">실행번호</th>
                                            <th scope="col">상품명</th>
                                            <th scope="col">기간</th>
                                            <th scope="col">대출일</th>
                                            <th scope="col">만기예정일</th>
                                            <th scope="col">종료일</th>
                                            <th scope="col">여신금액</th>
                                            <th scope="col">잔여금액</th>
                                            <th scope="col">상태</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>MI14002240001</td>
                                            <td>내구재/헬스케어</td>
                                            <td>18개월</td>
                                            <td>2014-06-17</td>
                                            <td>2015-06-17</td>
                                            <td>2015-02-17</td>
                                            <td>1,800,000</td>
                                            <td>0</td>
                                            <td class="error">중도상환</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <h3>납입내역</h3>
                        <form>
                            <fieldset class="form-content">
                                <legend>납입내역에 대한 조회</legend>
                                <div class="form-wrap search-form">
                                    <div class="form-group">
                                        <p class="mo-tit">구분선택</p>
                                        <label class="radio">
                                            <input type="radio" name="use" value="" checked="">
                                            <span>팩스</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="use" value="">
                                            <span>이메일</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="use" value="">
                                            <span>우편</span>
                                        </label>
                                    </div>
                                    <div class="group">
                                        <div class="form-group">
                                            <label>납입기간</label>
                                            <div class="ph">
                                                <input id="date-input" type="date" name="date" placeholder="디폴트" />
                                                <span class="ipt-hyphen">-</span>
                                                <input id="date-input" type="date" name="date" placeholder="디폴트" />
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-form">조회</button>
                                </div><!--//form-wrap-->
                            </fieldset>
                        </form>
                        <div class="text-group">
                            <p class="caption">기준일 : 2025-09-22 / 단위: 원</p>
                            <div class="table-content">
                                <table class="mo-s">
                                    <caption>납입내역표(회차, 납입일, 원금, 이자, 기타, 연체이자, 합계 포함)</caption>
                                    <colgroup>
                                        <col style="width:14%">
                                        <col style="width:14%">
                                        <col style="width:14%">
                                        <col style="width:14%">
                                        <col style="width:14%">
                                        <col style="width:14%">
                                        <col style="width:14%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">회차</th>
                                            <th scope="col">납입일</th>
                                            <th scope="col">원금</th>
                                            <th scope="col">이자</th>
                                            <th scope="col">기타</th>
                                            <th scope="col">연체이자</th>
                                            <th scope="col">합계</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>2014-12-31</td>
                                            <td>100,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>16,146</td>
                                            <td>100,000</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2014-12-31</td>
                                            <td>100,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>100,000</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>2014-12-31</td>
                                            <td>100,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>100,000</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>2014-12-31</td>
                                            <td>100,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>100,000</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>2014-12-31</td>
                                            <td>100,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>100,000</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2014-12-31</td>
                                            <td>100,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>100,000</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>2014-12-31</td>
                                            <td>100,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>100,000</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>2014-12-31</td>
                                            <td>100,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>100,000</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>2014-12-31</td>
                                            <td>100,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>100,000</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>2014-12-31</td>
                                            <td>100,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>100,000</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>2014-12-31</td>
                                            <td>100,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>100,000</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2" class="sum">합계</td>
                                            <td>1,000,000</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>16,146</td>
                                            <td>1,000,000</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-secondary">목록</a>
                            <a href="javascript:void(0);" class="btn-primary">출력</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
 