<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>중도상환 조회/신청&gt;진행상태 조회&gt;MY MG&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="bodyWrap">
            <main class="contentWrap">
                <secition class="modal-container">
                    <div id="qm02" class="layerPopup on">
                        <div class="pop-content">
                            <div class="pop-header">
                                <h2 class="pop-tit">청약철회 가능에 따른 안내사항</h2>
                            </div>
                            <div class="pop-body WCS10401PQ">
                                <div class="text-content">
                                    <div class="text-group">
                                        <p>청약철회권 신청 가능 기간입니다. 금융회사에 청약철회와 중도상환의 유불리 비교를 요청할 수 있으며, 청약철회시에는 중도상환수수료 면제 및 대출이력이 삭제됩니다.</p>
                                        <div class="button-content">
                                            <div class="btn-group">
                                                <a href="javascript:void(0);" class="btn-link">청약철회권 바로가기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-group">
                                        <p>중도상환으로 진행할 경우 중도상환처리요청서를 금융회사로 제출해주셔야 합니다.</p>
                                        <p>※ 중도상환처리요청서 다운로드 시 청약철회와 중도상환 유불리에 대해 비교 확인 가능합니다.</p>
                                        <div class="button-content">
                                            <div class="btn-group">
                                                <a href="#" class="btn-download" download="">중도상환처리요청서 다운로드</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">닫기</button>
                                </div>
                            </div>
                            <button type="button" class="btn-ico-close"  data-popup-close="modal">닫기</button>
                        </div>
                    </div>
                </secition>
            </main>
        </div>
    </div>
</body>
</html>
   