<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>재리스 안내문&gt;오토리스만기예정처리&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
    <div id="fulPopup02" class="layerPopup full fullPopupOn on">
        <!--[D] fullPopupOn 클래스 :: 헤더 스크립트 적용중-->
        <div class="pop-area">
            <div class="pop-header">
                <h2 class="pop-tit">재리스 안내문</h2>
            </div>
            <div class="pop-body">
                <div class="pop-content">
                    <div class="group">
                        <div class="text-group">
                            <h3>리스만기 처리유형에 따른 안내사항</h3>
                            <dl class="m-dot">
                                <dt>재리스</dt>
                                <dd>기존 리스 계약 내용 중 잔존가치가 포함되어 있는 경우에 한하여 재리스가 가능합니다.</dd>
                                <dd>재리스 계약조건은 별도의 협의를 통해 이루어집니다.</dd>
                                <dd>재리스 기간은 본리스 포함 최대 60개월 까지만 가능합니다.</dd>
                                <dd>
                                    본리스 만료 후에 고지된 자동차세, 환경개선부담금, 범칙금 등은 재리스 계약에 포함되어 청구 됩니다.
                                    <p class="rfrnc point-r">반납, 양도, 재리스의 옵션을 선택하여 처리 완료 후 선택을 번복하실 수 없습니다.</p>
                                </dd>
                            </dl>
                        </div>
                        <div class="text-group">
                            <h3>리스기간 만료 후 처리 신청서</h3>
                            <dl class="m-dot">
                                <dt class="point-b">재리스</dt>
                                <dd>본리스 만료후에 반환한 차량에 대해 금융리스 신규계약으로 재리스 하고자 하며,<br>재리스 회계처리는 당사(본인)의 고정자산으로 인식하여야 함을 확약합니다.</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="form-content">
                        <div class="bo-t1">
                            <label class="check">
                                <input type="checkbox" name="row1-active" value="" checked="">
                                <span>리스만기 처리유형에 따른 안내사항을 확인하였습니다.</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pop-footer">
                <div class="button-content">
                    <button type="button" class="btn-pop-primary"  data-popup-close="WCM40100DSPOP01">확인했어요</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
 