<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>반환 안내문&gt;오토리스만기예정처리&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
    <div id="fulPopup02" class="layerPopup full fullPopupOn on">
        <!--[D] fullPopupOn 클래스 :: 헤더 스크립트 적용중-->
        <div class="pop-area">
            <div class="pop-header">
                <h2 class="pop-tit">반환 안내문</h2>
            </div>
            <div class="pop-body">
                <div class="pop-content">
                    <div class="group">
                        <div class="text-group">
                            <h3>리스만기 처리유형에 따른 안내사항</h3>
                            <dl class="m-dot">
                                <dt>반환</dt>
                                <dd>차량 반납 장소 지정을 위해 반납 시 만기일 1달 전에 고객센터에 연락을 주시기 바랍니다.</dd>
                                <dd>고객 명의등록 차량의 경우 당사 명의로 이전 등록에 따른 비용이 발생합니다.</dd>
                                <dd>차량 상태에 따라 감가 금액이 발생될 수 있습니다. (계약조항 차량감가정산금)</dd>
                                <dd>차량 파손시 원상회복 후 반납 가능하며, 원상회복 미이행시 원상회복비용이 발생합니다.</dd>
                                <dd>약정주행거리 초과 운행시 소정의 수수료가 발생할 수 있습니다. (계약조항 초과운행부담금)</dd>
                                <dd>리스보증금은 정산금액과 상계 후 환불해드립니다. (계약조항 차량반환예치보증금)</dd>
                                <dd>
                                    본 계약이 종료된 후 차의 반환을 지체하고 있는 경우 반환지연금이 발생합니다.<br>(계약조항 반환지연금)반환지연금 = 월리스료 / 30일 x 경과일수 x 200%
                                    <p class="rfrnc point-r">반납, 양도, 재리스의 옵션을 선택하여 처리 완료 후 선택을 번복하실 수 없습니다.</p>
                                </dd>
                            </dl>
                        </div>
                        <div class="text-group">
                            <h3>리스기간 만료 후 처리 신청서</h3>
                            <dl class="m-dot">
                                <dt class="point-b">반환</dt>
                                <dd>차량을 지정하는 장소에 만기일까지 반납하고, 반납차량의 미납된 세금 및 과태료, 성능점검비용, 초과운행부담금, 원상복구에 따른 수리비용 및 감가금액이 발생하는 경우 귀사에 납입할 것을 확약합니다.</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="form-content">
                        <div class="bo-t1">
                            <label class="check">
                                <input type="checkbox" name="row1-active" value="" checked="">
                                <span>리스만기 처리유형에 따른 안내사항을 확인하였습니다.</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pop-footer">
                <div class="button-content">
                    <button type="button" class="btn-pop-primary"  data-popup-close="WCM40100DSPOP01">확인했어요</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
 