<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>상세보기&gt;청구내역조회&gt;청구정보조회&gt;MY MG&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>MY MG</span></li>
                        <li><span>청구정보조회</span></li>
                        <li><span>청구내역조회</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>청구내역조회</h2>
                </section>
                <section class="page-container WCS30101DQ">
                    <div class="text-content">
                        <div class="text-group">
                            <h3>청구내역조회 상세</h3>
                            <div class="table-content">
                                <table class="mo">
                                    <caption>실행번호, 청구회차/총회차, 납부예정일, 원금, 이자, 연체이자, 기타입금, 기타청구, 총청구금액, 출금은행, 출금계좌번호, 예금주명, 고객전용계좌에 대한 표</caption>
                                    <colgroup>
                                        <col style="width:16.6%">
                                        <col style="width:16.6%">
                                        <col style="width:16.6%">
                                        <col style="width:16.6%">
                                        <col style="width:16.6%">
                                        <col style="width:16.6%">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>실행번호</th>
                                            <td class="tal">MI14002240001</td>
                                            <th>청구회차 / 총회차</th>
                                            <td class="tal">36 / 36</td>
                                            <th>납부예정일</th>
                                            <td class="tal">YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <th>원금</th>
                                            <td class="tal">40,000원</td>
                                            <th>이자</th>
                                            <td class="tal">0원</td>
                                            <th>연체이자</th>
                                            <td class="tal">0원</td>
                                        </tr>
                                        <tr>
                                            <th>기타입금</th>
                                            <td class="tal">0원</td>
                                            <th>기타청구</th>
                                            <td class="tal">0원</td>
                                            <th>총청구금액</th>
                                            <td class="tal">4,000원</td>
                                        </tr>
                                        <tr>
                                            <th>출금은행</th>
                                            <td class="tal">신한은행</td>
                                            <th>출금계좌번호</th>
                                            <td class="tal">371*******736</td>
                                            <th>예금주명</th>
                                            <td class="tal">산치초</td>
                                        </tr>
                                        <tr>
                                            <th>고객전용계좌</th>
                                            <td colspan="5" class="tal">
                                                <span>우리은행 742-923446-53-123</span>
                                                <br>
                                                고객전용계좌 입금 시에는 이용출금 관련 CMS계좌 잔고는 비워주시기 바랍니다.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="info-list">
                                <ul class="m-dot">
                                    <li>기타입금은 장기선수금,선수금 등의 합산금액입니다.</li>
                                    <li>기타청구는 과태료,자동차세, 환경개선부담금 등의 합산금액입니다.</li>
                                    <li>납입 기한 내 납부하지 않으실 경우에는 신용정보 집중기관 등에 연체정보가 등록되어 타기관의 거래가 제한되거나 신용거래상 불이익을 받을 수 있음을 알려드립니다.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta round12">
                        <div class="button-group">
                            <a herf="javascript:void(0);" class="btn-primary ">목록</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
