<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>상세보기&gt;범칙금조회&gt;청구정보조회&gt;MY MG&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>MY MG</span></li>
                        <li><span>청구정보조회</span></li>
                        <li><span>범칙금조회</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>범칙금/과태료조회</h2>
                </section>
                <section class="page-container WCS30101DQ">
                    <div class="text-content">
                        <div class="group">
                            <h3>범칙금/과태료조회 상세</h3>
                            <div class="table-group">
                                <p class="caption">기준일 : 2025-09-22</p>
                                <table class="mo">
                                    <caption>범칙금/과태료조회 상세표(실행번호, 실행상태, 차량번호, 고지서번호, 위반일, 위반시각, 위반장소, 위반내용, 위반금액, 청구예정일, 관할 포함)</caption>
                                    <colgroup>
                                        <col style="width:217px">
                                        <col style="width:483px">
                                        <col style="width:217px">
                                        <col style="width:483px">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>실행번호</th>
                                            <td class="tal">MI14002240001</td>
                                            <th>실행상태</th>
                                            <td class="tal">-</td>
                                        </tr>
                                        <tr>
                                            <th>차량번호</th>
                                            <td class="tal">-</td>
                                            <th>고지서번호</th>
                                            <td class="tal">-</td>
                                        </tr>
                                        <tr>
                                            <th>위반일</th>
                                            <td class="tal">-</td>
                                            <th>위반시각</th>
                                            <td class="tal">-</td>
                                        </tr>
                                        <tr>
                                            <th>위반장소</th>
                                            <td class="tal">-</td>
                                            <th>위반내용</th>
                                            <td class="tal">-</td>
                                        </tr>
                                        <tr>
                                            <th>위반금액</th>
                                            <td class="tal">-</td>
                                            <th>청구예정일</th>
                                            <td class="tal">-</td>
                                        </tr>
                                        <tr>
                                            <th>관할</th>
                                            <td colspan="3" class="tal">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-primary ">목록</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
