<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>연체내역조회&gt;청구정보조회&gt;MY MG&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>MY MG</span></li>
                        <li><span>청구정보조회</span></li>
                        <li><span>연체내역조회</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>연체내역조회</h2>
                </section>
                <section class="page-container">
                    <div class="text-content">
                        <h3>연체내역조회 목록</h3>
                        <form>
                            <fieldset class="form-content">
                                <legend>연체내역에 대한 조회</legend>
                                <div class="form-wrap search-form">
                                    <div class="group">
                                        <div class="form-group">
                                            <label>기준일</label>
                                            <div class="ph">
                                                <input id="date-input" type="date" name="date" placeholder="디폴트" />
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-form">조회</button>
                                </div><!--//form-wrap-->
                            </fieldset>
                        </form>
                        <div class="text-group">
                            <p class="caption">기준일 : 2025-09-22 / 단위: 원</p>
                            <div class="table-content">
                                <table class="mo-s fs-2"><!--2025.12.08 fs-2 클래스 추가-->
                                    <caption>연체내역조회 목록표(실행번호, 상품명, 회차, 납부예정일, 스케줄종류, 연체 기산일, 연체일수, 연체 대상금액, 연체이자, 연체 금액합계 포함)</caption>
                                    <colgroup>
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">실행번호</th>
                                            <th scope="col">상품명</th>
                                            <th scope="col">회차</th>
                                            <th scope="col">납부예정일</th>
                                            <th scope="col">스케줄종류</th>
                                            <th scope="col">연체기산일</th>
                                            <th scope="col">연체일수</th>
                                            <th scope="col">연체대상금액</th>
                                            <th scope="col">연체이자</th>
                                            <th scope="col">연체금액합계</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="10">연체 내역을 확인하시려면 조회를 해주세요</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="sum">총합</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="info-list">
                                <!-- 2025.11.24 내용 변경 -->
                                <ul class="m-dot">
                                    <li> 고객전용계좌 : 전용계좌 입금 시 이중출금이 발생할 수 있으므로 CMS자동이체계좌 잔고는 비워두시기 바랍니다.</li>
                                    <li>조회되는 시점에 입금내역이 반영되지 않은 경우 실제 결제금액과 다를 수 있습니다.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
