<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>담보권해지신청&gt;서류발급&gt;MY MG&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>MY MG</span></li>
                        <li><span>서류발급</span></li>
                        <li><span>담보권해지신청</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>담보권해지신청</h2>
                </section>
                <section class="page-container WCS40700VQ">
                    <div class="tab-container jsTab">
                        <nav class="tab-list depth1">
                            <div class="btn-group">
                                <button type="button" class="tab-item active" data-tab="tab2-1" aria-selected="true">담보권해지신청</button>
                                <button type="button" class="tab-item" data-tab="tab2-2" aria-selected="false">해지서류 발급신청</button>
                                <button type="button" class="tab-item" data-tab="tab2-3" aria-selected="false">해지대행 신청</button>
                            </div>
                        </nav>
                        <div class="tab-content">
                            <div id="tab2-1" class="tab-panel" aria-hidden="false">
                                <div class="text-group">
                                    <h3>담보권 해지신청 목록</h3>
                                    <div class="info-content">
                                        <div class="info-list">
                                            <ul class="m-dot">
                                                <li>담보권 해지신청은 채무가 완제되었을 경우 가능합니다.</li>
                                                <li>공휴일에는 신청이 불가하며, 영업일 기준 15시 이후 신청건은 익영업일에 처리됩니다.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <form>
                                    <fieldset class="form-content">
                                        <legend>담보권 해지신청 조회</legend>
                                        <div class="form-wrap search-form">
                                            <div class="group">
                                                <div class="form-group">
                                                    <label>실행번호</label>
                                                    <select required="" title="">
                                                        <option value="" hidden="">선택</option>
                                                        <option value="0">실행번호</option>
                                                        <option value="1">실행번호</option>
                                                        <option value="2">실행번호</option>
                                                        <option value="0">실행번호</option>
                                                        <option value="1">실행번호</option>
                                                        <option value="2">실행번호</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button class="btn-form">조회</button>
                                        </div><!--//form-wrap-->
                                    </fieldset>
                                </form>
                                <div class="text-group">
                                    <p class="caption">기준일 : 2025-09-22 / 단위: 원</p>
                                    <div class="table-content">
                                        <table class="mo-s">
                                            <caption>담보권 해지신청 목록표(No, 실행번호, 공급자명, 상품명, 여신금액, 잔여회차/총회차, 실행일, 최근납입일, 잔액, 진행상태, 만기일, 차기납입일, 납입상태 포함)</caption>
                                            <colgroup>
                                                <col style="width:5%">
                                                <col style="width:10%">
                                                <col style="width:10%">
                                                <col style="width:10%">
                                                <col style="width:10%">
                                                <col style="width:7%">
                                                <col style="width:8%">
                                                <col style="width:8%">
                                                <col style="width:5%">
                                                <col style="width:7%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col" rowspan="2">No.</th>
                                                    <th scope="col" rowspan="2">실행번호</th>
                                                    <th scope="col" rowspan="2">공급자명</th>
                                                    <th scope="col" rowspan="2">상품명</th>
                                                    <th scope="col" rowspan="2">여신금액</th>
                                                    <th scope="col" rowspan="2">잔여회차/총회차</th>
                                                    <th scope="col">실행일</th>
                                                    <th scope="col">최근납입일</th>
                                                    <th scope="col" rowspan="2">잔액</th>
                                                    <th scope="col">진행상태</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col" class="bor-l">만기일</th>
                                                    <th scope="col">차기납입일</th>
                                                    <th scope="col">납입상태</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="2">1</td>
                                                    <td rowspan="2">MI14002240001</td>
                                                    <td rowspan="2">충면화광기고추손도</td>
                                                    <td rowspan="2">내구재/헬스케어</td>
                                                    <td rowspan="2">1,800,000</td>
                                                    <td rowspan="2">6/18</td>
                                                    <td>2014-02-27</td>
                                                    <td>2014-02-27</td>
                                                    <td rowspan="2">0</td>
                                                    <td>정상만기</td>
                                                </tr>
                                                <tr>
                                                    <td class="bor-l">2015-02-27</td>
                                                    <td></td>
                                                    <td>정상</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2-2" class="tab-panel" aria-hidden="false">
                                <div class="text-group">
                                    <h3>해지서류 발급신청</h3>
                                    <div class="info-content">
                                        <div class="info-list">
                                            <ul class="m-dot">
                                                <li>당사에서 보내드린 해지서류 및 필요서류를 지참하시고 해당 관공서를 방문하여 해지비용 납부 후 직접 해지하실 수 있습니다.</li>
                                                <li>해지서류 우편물은 5영업일 이내로 받아보실 수 있습니다.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <form>
                                    <fieldset class="form-content">
                                        <legend>해지서류 발급 조회</legend>
                                        <div class="form-wrap search-form">
                                            <div class="form-group">
                                                <p class="mo-tit">구분선택</p>
                                                <label class="radio">
                                                    <input type="radio" name="use" value="" checked="">
                                                    <span>우편</span>
                                                </label>
                                            </div>
                                            <div class="group">
                                                <div class="form-group">
                                                    <label for="">우편번호</label>
                                                    <input id="address" type="search" name="address" placeholder="우편번호 검색" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="">주소</label>
                                                    <input id="address" type="text" name="address" placeholder="주소" />
                                                    <label for="">상세주소</label>
                                                    <input id="detailed-address" type="text" class="address" name="detailed-address" placeholder="상세주소"/>
                                                </div>
                                            </div>
                                            <button class="btn-form">해지서류 발급신청</button>
                                        </div><!--//form-wrap-->
                                    </fieldset>
                                </form>
                            </div>
                            <div id="tab2-3" class="tab-panel" aria-hidden="false">
                                <div class="text-group">
                                    <h3>해지대행 신청</h3>
                                    <div class="info-content">
                                        <div class="info-list">
                                            <ul class="m-dot">
                                                <li>자동차 포함 등록장비만 신청 가능합니다.</li>
                                                <li>해지대행을 신청하실 경우 해지비용과 해지대행비용을 입금해주셔야 합니다.</li>
                                                <li>해지대행신청 이후 비용 및 신청 확인 안내 전화를 드립니다.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="btn-content cta">
                                        <div class="button-group">
                                            <a herf="javascript:void(0);" class="btn-primary">해지대행 신청</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
