<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>서류등록&gt;MY MG&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>MY MG</span></li>
                        <li><span>서류등록</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>서류등록</h2>
                    <p>서류등록 페이지 관련 설명 영역</p>
                </section>
                <section class="step-container">
                    <div class="step-content">
                        <ul class="col2">
                            <li class="on">
                                <span>서류업로드</span>
                            </li>
                            <li class="next">
                                <span>제출완료</span>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="page-container WCS40800VQ">
                    <div class="text-content">
                        <div class="text-group">
                            <h3>상품 및 담당자 정보 입력</h3>
                            <div class="table-content">
                                <form>
                                    <table>
                                        <caption>상품 및 담당자 정보 입력표(상품구분, 담당자명 포함)</caption>
                                        <colgroup>
                                            <col style="width:30%">
                                            <col style="width:70%">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th scope="row"><label for="classification" class="essential">상품구분</label></th>
                                                <td class="tal">
                                                    <select id="classification" required="" title="">
                                                        <option value="0">상품을 선택해주세요</option>
                                                        <option value="1">신차</option>
                                                        <option value="3">중고차</option>
                                                        <option value="4">바이크</option>
                                                        <option value="5">보트/선외기</option>
                                                        <option value="6">기계설비</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><label for="manager-name" class="essential">담당자명</label></th>
                                                <td>
                                                    <input id="manager-name" type="text" placeholder="담당자명을 입력해 주세요.">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                        <div class="text-group">
                            <h3>서류 업로드</h3>
                            <button class="btn-plus" type="button" title="파일 추가하기"></button>
                            <div class="table-group">
                                <form>
                                    <table>
                                        <caption>서류 업로드표(첨부파일, 파일설명 포함)</caption>
                                        <colgroup>
                                            <col style="width:30%">
                                            <col style="width:70%">
                                        </colgroup>
                                        <tbody>
                                            <!-- s: 2025.10.28 첨부파일 수정-->
                                            <tr>
                                                <th scope="row" class="essential">첨부파일</th>
                                                <td class="tal">
                                                    <div class="ipt-file flex-row">
                                                        <label class="upload-label " for="files">
                                                            <input id="files" class="upload" name="files" type="file" />
                                                            <span class="fileLabel">선택된 파일 없음</span>
                                                        </label>
                                                        <button type="button" class="btn-form uploadButton">파일 선택</button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><label for="files-description" class="essential">파일설명</label></th>
                                                <td>
                                                    <input id="files-description" type="text" name="files-description" placeholder="파일명을 입력해 주세요.">
                                                </td>
                                            </tr>
                                            <!-- s: 2025.10.28 ipt-file 수정-->
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="table-group">
                                <form>
                                    <table>
                                        <caption>서류 업로드표(첨부파일, 파일설명 포함)</caption>
                                        <colgroup>
                                            <col style="width:30%">
                                            <col style="width:70%">
                                        </colgroup>
                                        <tbody>
                                            <!-- s: 2025.10.28 첨부파일 수정-->
                                            <tr>
                                                <th scope="row" class="essential">첨부파일</th>
                                                <td class="tal">
                                                    <div class="ipt-file flex-row">
                                                        <label class="upload-label " for="files2">
                                                            <input id="files2" class="upload" name="files2" type="file" />
                                                            <span class="fileLabel">선택된 파일 없음</span>
                                                        </label>
                                                        <button type="button" class="btn-form uploadButton">파일 선택</button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><label for="files-description" class="essential">파일설명</label></th>
                                                <td>
                                                    <input id="files-description" type="text" name="files-description" placeholder="파일명을 입력해 주세요.">
                                                </td>
                                            </tr>
                                            <!-- s: 2025.10.28 ipt-file 수정-->
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
 