<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>공개매각 입찰내역&gt;인증센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>인증센터</span></li>
                        <li><span>공개매각 입찰내역</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>공개매각 입찰내역</h2>
                </section>
                <section class="page-container">
                    <div class="text-content">
                        <div class="table-content">
                            <div class="caption">
                                <p>기준일 : <span>2025/07/13</span></p>
                                <p>단위: 원</p>
                            </div>
                            <table>
                                <caption>번호, S/N(등록 및 차량번호), 물건명, 입찰금액, 보증금, 입찰참여일, 결과에 대한 표</caption>
                                <colgroup>
                                    <col style="width:7%">
                                    <col style="width:23%">
                                    <col style="width:15%">
                                    <col style="width:15%">
                                    <col style="width:15%">
                                    <col style="width:15%">
                                    <col style="width:10%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">번호</th>
                                        <th scope="col">S/N(등록 및 차량번호)</th>
                                        <th scope="col">물건명</th>
                                        <th scope="col">입찰금액</th>
                                        <th scope="col">보증금</th>
                                        <th scope="col">입찰참여일</th>
                                        <th scope="col">결과</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2</td>
                                        <td>98504-0090-04-00014</td>
                                        <td>물티슈 포장라인</td>
                                        <td><span>00,000</span>원</td>
                                        <td><span>00,000</span>원</td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>900908858</td>
                                        <td>머시닝센터</td>
                                        <td><span>00,000</span>원</td>
                                        <td><span>00,000</span>원</td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="info-content">
                        <div class="info-list">
                            <ul class="dot">
                                <li>고객님의 입찰 신청 후 결과에 대해서 보여집니다.</li>
                                <li>물품이 낙찰 된 경우는 담당자가 연락을 드릴 예정입니다.</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
 