<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>나의 정보변경&gt;My MG&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>MY MG</span></li>
                        <li><span>나의 정보변경</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>나의 정보변경</h2>
                </section>
                <section class="page-container WCS50300VS">
                    <div class="text-content">
                        <div class="table-content">
                            <h3 class="table-tit">기본정보</h3>
                            <table>
                                <caption>기본정보 입력표 (이름, 주민번호, 아이디, 현재 비밀번호, 휴대폰, 휴대폰(SMS)수신동의, 자택전화번호, 자택주소 포함)</caption>
                                <colgroup>
                                    <col style="width:262px;">
                                    <col style="width:auto">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>이름</th>
                                        <td class="tal">홍길동</td>
                                    </tr>
                                    <tr>
                                        <th>주민번호</th>
                                        <td class="tal">990143-*******</td>
                                        
                                    </tr>
                                    <tr>
                                        <th>아이디</th>
                                        <td class="tal">124erfsdf32f</td>
                                        
                                    </tr>
                                    <tr>
                                        <th>현재 비밀번호</th>
                                        <td class="tal">
                                            <fieldset class="form-content">
                                                <legend class="sr-only">비밀번호 변경</legend>
                                                <div class="form-wrap">
                                                    <div class="form-group">
                                                        <div class="flex-row">
                                                            <input id="password-input" type="text" name="text" class="password-change" required />
                                                            <button class="btn-form">비밀번호 변경</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>휴대폰</th>
                                        <td class="tal">
                                            <fieldset class="form-content">
                                                <legend>핸드폰 번호 입력</legend>
                                                <div class="form-wrap">
                                                    <div class="form-group">
                                                        <div class="flex-row">
                                                            <div class="w-406 info-phone">
                                                                <select id="phn-first" required="" title="" required>
                                                                    <option value="0">010</option>
                                                                    <option value="1">017</option>
                                                                    <option value="2">019</option>
                                                                </select>
                                                                <input id="phn-second" name="phn-second" type="tel" value="83**" inputmode="numeric" autocomplete="tel-local-prefix" pattern="[0-9]{3,4}" maxlength="4" aria-describedby="desc-phone" required>
                                                                <input id="phn-third" name="phn-third" type="tel" value="67**" inputmode="numeric" autocomplete="tel-local-suffix" pattern="[0-9]{4}" maxlength="4" aria-describedby="desc-phone" required>
                                                            </div>
                                                            <button class="btn-form pad">SMS인증후 변경</button>
                                                        </div>
                                                    </div>
                                                </div>
                                        </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>휴대폰 (SMS)<br>수신동의</th>
                                        <td class="tal">
                                            <div class="form-content">
                                                <div class="form-wrap">
                                                    <fieldset class="form-group">
                                                        <legend>휴대폰(SMS) 수신동의 라디오박스</legend>
                                                        <label class="radio">
                                                            <input type="radio" name="row1-active" value="" checked>
                                                            <span>동의</span>
                                                        </label>
                                                        <label class="radio">
                                                            <input type="radio" name="row1-active" value="">
                                                            <span>거절</span>
                                                        </label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>자택전화번호</th>
                                        <td class="tal">
                                            <fieldset class="form-content">
                                                <legend>자택 전화번호 번호 입력</legend>
                                                <div class="form-wrap">
                                                    <div class="form-group">
                                                        <div class="flex-row">
                                                            <div class="info-phone">
                                                                <select id="phn-first" required="" title="" required>
                                                                    <option value="0">선택</option>
                                                                    <option value="1">02</option>
                                                                    <option value="2">031</option>
                                                                </select>
                                                                <input id="phn-second" name="phn-second" type="tel" value="83**" inputmode="numeric" autocomplete="tel-local-prefix" pattern="[0-9]{3,4}" maxlength="4" aria-describedby="desc-phone" required>
                                                                <input id="phn-third" name="phn-third" type="tel" value="67**" inputmode="numeric" autocomplete="tel-local-suffix" pattern="[0-9]{4}" maxlength="4" aria-describedby="desc-phone" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>자택주소</th>
                                        <td class="tal">
                                            <fieldset class="form-content">
                                                <legend>자택주소 입력</legend>
                                                <div class="form-wrap">
                                                    <div class="form-group address-group">
                                                        <div class="flex-row">
                                                            <input type="text" placeholder="우편번호" class="zipcode" disabled />
                                                            <button class="btn-form">우편번호 검색</button>
                                                        </div>
                                                        <input type="text" class="w-406" placeholder="도로명 주소" disabled />
                                                        <input type="text" class="w-406" placeholder="상세주소 입력" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="text-content">
                        <div class="table-content">
                            <h3 class="table-tit">선택정보</h3>
                            <table>
                                <caption>선택정보 입력 표 (분류, 결혼여부, 결혼기념일, 직장명, 재직기간, 직장주소, E-mail, E-mail 수신동의, 회원탈퇴 포함)</caption>
                                <colgroup>
                                    <col style="width:262px;">
                                    <col style="width:auto">
                                    <col style="width:262px;">
                                    <col style="width:auto">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>생년월일</th>
                                        <td colspan="3" class="tal">
                                            <fieldset class="form-content">
                                                <div class="form-wrap">
                                                    <div class="form-group">
                                                        <input id="" type="date" name="date" class="w-406" required />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>결혼여부</th>
                                        <td class="tal">
                                            <div class="form-content">
                                                <div class="form-wrap">
                                                    <fieldset class="form-group">
                                                        <legend>결혼여부 라디오박스</legend>
                                                        <label class="radio">
                                                            <input type="radio" name="row2-active" value="" checked>
                                                            <span>예</span>
                                                        </label>
                                                        <label class="radio">
                                                            <input type="radio" name="row2-active" value="">
                                                            <span>아니오</span>
                                                        </label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </td>
                                        <th>결혼기념일</th>
                                        <td class="tal">
                                            <fieldset class="form-content">
                                                <div class="form-wrap">
                                                    <div class="form-group">
                                                        <input id="" type="date" name="date" class="w-406" required />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>직장명</th>
                                        <td class="tal">
                                            <div class="form-content">
                                                <fieldset class="form-group">
                                                    <input id="text" type="text" />
                                                </fieldset>
                                            </div>
                                        </td>
                                        <th>재직기간</th>
                                        <td class="tal">
                                            <fieldset class="form-content">
                                                <div class="form-wrap">
                                                    <div class="form-group">
                                                        <div class="flex-row">
                                                            <select name="year" id="year">
                                                                    <option value="0">선택</option>
                                                                    <option value="1">0</option>
                                                                    <option value="2">1</option>
                                                                    <option value="3">2</option>
                                                                    <option value="4">3</option>
                                                                    <option value="5">4</option>
                                                            </select><span> 년</span>
                                                            <select name="month" id="month">
                                                                <option value="0">선택</option>
                                                                <option value="1">0</option>
                                                                <option value="2">1</option>
                                                                <option value="3">2</option>
                                                                <option value="4">3</option>
                                                                <option value="5">4</option>
                                                                <option value="6">5</option>
                                                                <option value="7">6</option>
                                                                <option value="8">7</option>
                                                                <option value="9">8</option>
                                                                <option value="10">9</option>
                                                                <option value="11">10</option>
                                                                <option value="12">11</option>
                                                            </select><span> 개월</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>직장주소</th>
                                        <td colspan="3" class="tal">
                                            <fieldset class="form-content">
                                                <legend>직장주소 입력</legend>
                                                <div class="form-wrap">
                                                    <div class="form-group address-group">
                                                        <div class="flex-row">
                                                            <input type="text" class="zipcode" placeholder="우편번호" disabled />
                                                            <button class="btn-form">우편번호 검색</button>
                                                        </div>
                                                        <input type="text" class="w-406" placeholder="도로명 주소" disabled />
                                                        <input type="text" class="w-406" placeholder="상세주소 입력" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>E-mail</th>
                                        <td colspan="3" class="tal">
                                            <fieldset class="form-content">
                                                <div class="form-wrap">
                                                    <div class="form-group">
                                                        <div class="flex-row email">
                                                            <input type="email">
                                                            <span>@</span>
                                                            <input type="email">
                                                            <select name="email" id="email" class="email-domain">
                                                                <option value="" disabled selected>도메인 선택</option>
                                                                <option value="">naver.com</option>
                                                                <option value="">gmail.com</option>
                                                                <option value="">hanmail.net</option>
                                                                <option value="">nate.com</option>
                                                                <option value="">직접입력</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>E-mail 수신동의</th>
                                        <td colspan="3" class="tal">
                                            <div class="form-content">
                                                <div class="form-wrap">
                                                    <fieldset class="form-group">
                                                        <legend>E-mail 수신동의 라디오박스</legend>
                                                        <label class="radio">
                                                            <input type="radio" name="row3-active" value="" checked>
                                                            <span>예</span>
                                                        </label>
                                                        <label class="radio">
                                                            <input type="radio" name="row3-active" value="">
                                                            <span>아니오</span>
                                                        </label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>회원탈퇴</th>
                                        <td colspan="3" class="tal">
                                            <button class="btn-withdraw">탈퇴하기</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>

                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-secondary">취소</a>
                            <a href="javascript:void(0);" class="btn-primary">저장</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
