<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>퀵메뉴 관리&gt;메인 관리&gt;관리자페이지&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공."/>
    <meta name="viewport" content="width=device-width" />

    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />

    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!-- (선택) IE11용 폴리필: 안전하게 깔아두면 좋아요 -->
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=Promise,Array.from,Object.assign,Number.isNaN"></script>
    <script>
        (function () {
            var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
            if (isIE11) {
            // IE11 전용 클래스 추가
            document.documentElement.className += " ie11";

            // IE11 전용 CSS 로드
            var link = document.createElement("link");
            link.rel = "stylesheet";
            link.href = "../../assets/css/com/ie11.css";
            link.charset = "euc-kr"; // 꼭 지정
            document.head.appendChild(link);
            }
        })();
    </script>
</head>

<body>
    <div class="wrap">
        <div class="bodyWrap">
            <main class="contentWrap">
                <!--[D]:
                    아무것도 선택하지 않은 상태에서 [퀵메뉴 순서 설정]버튼을 클릭한 경우,
                    선택된 체크박스가 지정 개수 미만인 상태에서 [퀵메뉴 순서 설정]버튼을 클릭한 경우,
                    선택된 체크박스가 지정 개수를 초과한 상태에서 [퀵메뉴 순서 설정]버튼을 클릭한 경우
                -->
                <secition class="modal-container">
                    <div id="qm0101" class="layerPopup modal on">
                        <div class="pop-content">
                            <div class="pop-body">
                                <p>n개의 메뉴를 선택해야 합니다.</p>
                                <p>체크된 메뉴의 수를 확인해주세요.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </secition>
                <!--[D]: 체크된 상태에서 'Icon Alt값' 미기재 후 [저장]버튼을 클릭한 경우 -->
                <secition class="modal-container">
                    <div id="qm0102" class="layerPopup modal">
                        <div class="pop-content">
                            <div class="pop-body">
                                <p>'Icon Alt'값이 등록되지 않아 퀵메뉴 설정이 변경됩니다.</p>
                                <p>해당메뉴를 대신할 퀵메뉴를 선택하신 뒤, 순서를 재설정해주시기 바랍니다.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </secition>
                <!--[D]: 사이즈에 어긋난 첨부파일 업로드하는 경우 -->
                <secition class="modal-container">
                    <div id="qm0103" class="layerPopup modal">
                        <div class="pop-content">
                            <div class="pop-body">
                                <p>첨부파일 사이즈는 00x00입니다.</p>
                                <p>다른 이미지를 등록해주세요.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </secition>
                <!--[D]: Icon, Icon Alt값 수정 후, [저장]버튼 클릭했을 때, 정상적으로 저장된 경우 -->
                <secition class="modal-container">
                    <div id="qm0104" class="layerPopup modal">
                        <div class="pop-content">
                            <div class="pop-body">
                                <p>수정사항이 저장되었습니다.</p>
                                <p>수정사항은 대고객 채널에 반영됩니다.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </secition>
                <!--[D]: Icon, Icon Alt값 수정 후, [저장]버튼 클릭하지 않고 [퀵메뉴 순서 설정]버튼 클릭한 경우 -->
                <secition class="modal-container">
                    <div id="qm0105" class="layerPopup modal">
                        <div class="pop-content">
                            <div class="pop-body">
                                <p>변경사항이 저장되지 않은 메뉴가 존재합니다.</p>
                                <p>변경하신 메뉴의 상태를 먼저 저장해주시기 바랍니다.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </secition>
                <!--[D]:
                    ‘Icon’ 및 ‘Icon Alt값’ 등록하지 않은 상태에서 [저장] 버튼을 누르고
                    → 해당메뉴의 체크박스를 체크한 후
                    → [퀵메뉴 순서 설정]버튼을 클릭한 경우
                -->
                <secition class="modal-container">
                    <div id="qm0106" class="layerPopup modal">
                        <div class="pop-content">
                            <div class="pop-body">
                                <p>선택하신 퀵메뉴 중,</p>
                                <p>Icon 및 Icon Alt값 등 필수 입력사항이 등록되지 않은 메뉴가 있습니다.</p>
                                <p>메뉴의 입력란을 확인해주세요.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </secition>
            </main>
        </div>
    </div>
</body>
</html>
