<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>시즈널배너 관리&gt;메인 관리&gt;관리자페이지&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공."/>
    <meta name="viewport" content="width=device-width" />

    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />

    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
    <style>
        .list-container + .list-container { margin-top:36px; }
        .list-content td a.download { width:auto; height:auto; font-size:var(--font16); color:var(--active); text-decoration:underline !important; text-underline-offset:5px; }
        .button-content { margin-top:30px; }
    </style>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <div data-include-path="../COMMON/lnb.html"></div>
            <main class="contentWrap">
                <seciton class="title_container">
                    <h2>시즈널배너 관리</h2>
                    <ul class="location_content">
                        <li><a href="javascript:void(0);" class="home">홈</a></li>
                        <li><a href="javascript:void(0);">메인 관리</a></li>
                        <li><a href="javascript:void(0);">시즈널배너 관리</a></li>
                    </ul>
                </seciton>
                <section class="list-container">
                    <h3>시즈널배너(계절)</h3>
                    <div class="list-content">
                        <table>
                            <caption>배너명, 이미지, 이미지 Alt값, 게시기간, 수정사항으로 구성된 대메뉴 목록</caption>
                          
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:25%;">
                                <col style="width:20%;">
                                <col style="width:30%;">
                                <col style="width:auto">
                            </colgroup>
                          
                            <thead>
                              <tr>
                                <th id="th-title" scope="col">배너명</th>
                                <th id="th-top"   scope="col">이미지</th>
                                <th id="th-mid"   scope="col">이미지 Alt값</th>
                                <th id="th-sub"   scope="col">게시기간</th>
                                <th id="th-modify" scope="col">수정사항</th>
                              </tr>
                            </thead>
                          
                            <tbody>
                                <tr>
                                    <td><span>봄 배너</span></td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear"><input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" tabindex="0" value="Seasonal_Spring.png" readonly>
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file" />
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td><span>봄 이미지</span></td>
                                    <td>
                                        <fieldset>
                                            <legend>기간</legend>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                            <span class="ipt-hyphen">-</span>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>여름 배너</span></td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear"><input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" tabindex="0" value="Seasonal_Summer.png" readonly>
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file" />
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td><span>여름 이미지</span></td>
                                    <td>
                                        <fieldset>
                                            <legend>기간</legend>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                            <span class="ipt-hyphen">-</span>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>가을 배너</span></td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear"><input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" tabindex="0" value="Seasonal_Fall.png" readonly>
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file" />
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td><span>가을 이미지</span></td>
                                    <td>
                                        <fieldset>
                                            <legend>기간</legend>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                            <span class="ipt-hyphen">-</span>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>겨울 배너</span></td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear"><input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" tabindex="0" value="Seasonal_Winter .png" readonly>
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file" />
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td><span>겨울 이미지</span></td>
                                    <td>
                                        <fieldset>
                                            <legend>기간</legend>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                            <span class="ipt-hyphen">-</span>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="list-container">
                    <h3>시즈널배너(기념일)</h3>
                    <div class="list-content">
                        <table>
                            <caption>배너명, 이미지, 이미지 Alt값, 게시기간, 수정사항, 삭제로 구성된 대메뉴 목록</caption>
                          
                            <colgroup>
                                <col style="width:20%;">
                                <col style="width:24%;">
                                <col style="width:20%;">
                                <col style="width:30%;">
                                <col style="width:auto">
                                <col style="width:auto">
                            </colgroup>
                          
                            <thead>
                              <tr>
                                <th id="th-title" scope="col">배너명</th>
                                <th id="th-top"   scope="col">이미지</th>
                                <th id="th-mid"   scope="col">이미지 Alt값</th>
                                <th id="th-sub"   scope="col">게시기간</th>
                                <th id="th-modify" scope="col">수정사항</th>
                                <th id="th-del"   scope="col">삭제</th>
                              </tr>
                            </thead>
                          
                            <tbody>
                                <tr>
                                    <td class="ipt-clear">
                                        <input id="row1-url" type="text" class="form-control" value="삼일절(03.01)" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear"><input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" tabindex="0" value="Seasonal_0301.png" readonly>
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file" />
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row1-url" type="text" class="form-control" value="삼일절 꽃과 태극기 이미지" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <fieldset>
                                            <legend>기간</legend>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                            <span class="ipt-hyphen">-</span>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                    <td>
                                        <button class="btn-ico-del" type="button" aria-labelledby="th-del" data-modal-open="modal">삭제</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ipt-clear">
                                        <input id="row1-url" type="text" class="form-control" value="어린이날(05.05)" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear"><input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" tabindex="0" value="Seasonal_0505.png" readonly>
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file" />
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row1-url" type="text" class="form-control" value="어린아이 5명 이미지" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <fieldset>
                                            <legend>기간</legend>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                            <span class="ipt-hyphen">-</span>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                    <td>
                                        <button class="btn-ico-del" type="button" aria-labelledby="th-del" data-modal-open="modal">삭제</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ipt-clear">
                                        <input id="row1-url" type="text" class="form-control" value="광복절(08.15)" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear"><input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" tabindex="0" value="Seasonal_0815.png" readonly>
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file" />
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row1-url" type="text" class="form-control" value="광복절 태극기 이미지" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <fieldset>
                                            <legend>기간</legend>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                            <span class="ipt-hyphen">-</span>
                                            <label for="">
                                                <input id="password-input" type="date" name="date" class="form-control" placeholder="디폴트" />
                                            </label>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                    <td>
                                        <button class="btn-ico-del" type="button" aria-labelledby="th-del" data-modal-open="modal">삭제</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <div class="info-content">
                        <ul class="info-list">
                            <li>시즈널배너는 대고객 채널에 1개만 노출됩니다.</li>
                            <li>시즈널배너(계절)와 시즈널배너(기념일)간 게시기간이 겹치는 경우, ‘시즈널배너(계절)’보다 ‘시즈널배너(기념일)’이 우선 노출됩니다.</li>
                            <li>시즈널배너(계절)의 경우 : [저장]버튼 클릭 시, 해당 배너의 변경된 ’이미지, 게시기간’을 저장합니다.<br/>
                                시즈널배너(기념일)의 경우 : [저장]버튼 클릭 시, 해당 배너의 변경된 ’배너명, 이미지, 이미지Alt값, 게시기간’을 저장합니다.
                            </li>
                            <li>첨부파일을 새로 등록하면 기존의 첨부파일은 삭제됩니다.</li>
                            <li>첨부파일 파일 형식 : jpg, png, gif</li>
                        </ul>
                    </div>
                </section>
                <section class="button-ccontainer">
                    <div class="button-content cta">
                        <div class="button-wrap">
                            <a herf="javascript:void(0);" class="btn-secondary reset">초기화</a>
                            <a herf="javascript:void(0);" class="btn-primary">신규등록</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
