<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>시즈널배너 관리&gt;메인 관리&gt;관리자페이지&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공."/>
    <meta name="viewport" content="width=device-width" />

    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />

    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!-- (선택) IE11용 폴리필: 안전하게 깔아두면 좋아요 -->
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=Promise,Array.from,Object.assign,Number.isNaN"></script>
    <script>
        (function () {
            var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
            if (isIE11) {
            // IE11 전용 클래스 추가
            document.documentElement.className += " ie11";

            // IE11 전용 CSS 로드
            var link = document.createElement("link");
            link.rel = "stylesheet";
            link.href = "../../assets/css/com/ie11.css";
            link.charset = "euc-kr"; // 꼭 지정
            document.head.appendChild(link);
            }
        })();
    </script>
</head>

<body>
    <div class="wrap">
        <div class="bodyWrap">
            <main class="contentWrap">
                <!--[D]:배너명을 입력하지 않고 [저장] 버튼을 클릭한 경우,
                이미지 Alt값을 입력하지 않고 [저장] 버튼을 클릭한 경우-->
                <secition class="modal-container">
                    <div id="bn10101" class="layerPopup modal on">
                        <div class="pop-content">
                            <div class="pop-body">
                                <p>필수 입력 항목 중 입력되지 않은 항목이 있습니다.</p>
                                <p>입력란을 확인해주세요.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </secition>
                <!--[D]:다른 시즈널 배너와 게시기간이 겹치는 경우-->
                <secition class="modal-container">
                    <div id="bn10102" class="layerPopup modal">
                        <div class="pop-content">
                            <div class="pop-body">
                                <p>해당 배너와 게시기간이 중복되는 시즈널배너(기념일)가 존재합니다.</p>
                                <p>게시기간을 다시 설정해주시기 바랍니다.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </secition>
                <!--[D]:게시 완료일자가 시작일자보다 과거인 경우-->
                <secition class="modal-container">
                    <div id="bn10102" class="layerPopup modal">
                        <div class="pop-content">
                            <div class="pop-body">
                                <p>게시기간의 완료시점이 게시 시작시점보다 과거입니다.</p>
                                <p>게시기간을 다시 설정해주시기 바랍니다.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </secition>
                <!--[D]:시작일자, 완료일자 모두 수정일자보다 과거인 경우-->
                <secition class="modal-container">
                    <div id="bn10102" class="layerPopup modal">
                        <div class="pop-content">
                            <div class="pop-body">
                                <p>게시기간이 현재시점보다 과거입니다.</p>
                                <p>게시기간을 다시 설정해주시기 바랍니다.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </secition>
                <!--[D]:정상적으로 저장된 경우-->
                <secition class="modal-container">
                    <div id="bn10102" class="layerPopup modal">
                        <div class="pop-content">
                            <div class="pop-body">
                                <p>수정사항이 저장되었습니다.</p>
                                <p>수정사항은 게시기간에 맞춰 대고객 채널에 반영됩니다.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </secition>
            </main>
        </div>
    </div>
</body>
</html>
