<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>퀵메뉴 관리&gt;메인 관리&gt;관리자페이지&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공."/>
    <meta name="viewport" content="width=device-width" />

    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />

    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="bodyWrap">
            <main class="contentWrap">
                <section class="modal-container">
                    <div id="qm02" class="layerPopup modal on">
                        <div class="pop-content">
                            <div class="pop-header">
                                <h2 class="pop-tit">퀵메뉴 순서 설정</h2>
                                <!--<button type="button" class="btn-ico-close"  data-popup-close="modal">닫기</button>-->
                            </div>
                            <div class="pop-body">
                                <div class="list-container" style="border:0; border-radius:0;">
                                    <table class="list-content">
                                        <caption>순서, 메뉴명, 메뉴위치로 구성된 목록</caption>
                                        <colgroup>
                                            <col style="width:33.3%;">
                                            <col style="width:auto;">
                                            <col style="width:33.3%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th id="th-title" scope="col">순서</th>
                                                <th id="th-top"   scope="col">메뉴명</th>
                                                <th id="th-mid"   scope="col">메뉴위치</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input id="row1-title" class="tac" type="text" value="1" aria-labelledby="th-title">
                                                </td>
                                                <td>공작기계</td>
                                                <td>금융상품 > 일반리스 > 공작기계</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input id="row2-title" class="tac" type="text" value="2" aria-labelledby="th-title">
                                                </td>
                                                <td>산업재 및 중고사용차</td>
                                                <td>금융상품 > 일반리스 > 산업재 및 중고상용차</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input id="row3-title" class="tac" type="text" value="3" aria-labelledby="th-title">
                                                </td>
                                                <td>특수장비</td>
                                                <td>금융상품 > 일반리스 > 특수장비</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input id="row4-title" class="tac" type="text" value="4" aria-labelledby="th-title">
                                                </td>
                                                <td>의료기기</td>
                                                <td>금융상품 > 일반리스 > 의료기기</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input id="row5-title" class="tac" type="text" value="5" aria-labelledby="th-title">
                                                </td>
                                                <td>오토리스</td>
                                                <td>금융상품 > 오토리스</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input id="row6-title" class="tac" type="text" value="6" aria-labelledby="th-title">
                                                </td>
                                                <td>산업재 및 중고상용차</td>
                                                <td>금융상품 > 할부금융 > 산업재 및 중고상용차</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input id="row7-title" class="tac" type="text" value="7" aria-labelledby="th-title">
                                                </td>
                                                <td>공개매각 입찰내역</td>
                                                <td>MY페이지 > 공개매각 입찰내역</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input id="row8-title" class="tac" type="text" value="8" aria-labelledby="th-title">
                                                </td>
                                                <td>찾아오시는 길</td>
                                                <td>회사소개 > 찾아오시는 길</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-secondary" data-popup-close="modal">취소</button>
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
