<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>신규등록&gt;메인배너 관리&gt;메인 관리&gt;관리자페이지&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공."/>
    <meta name="viewport" content="width=device-width" />

    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />

    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!-- (선택) IE11용 폴리필: 안전하게 깔아두면 좋아요 -->
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=Promise,Array.from,Object.assign,Number.isNaN"></script>
    <script>
        (function () {
            var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
            if (isIE11) {
            // IE11 전용 클래스 추가
            document.documentElement.className += " ie11";

            // IE11 전용 CSS 로드
            var link = document.createElement("link");
            link.rel = "stylesheet";
            link.href = "../../assets/css/com/ie11.css";
            link.charset = "euc-kr"; // 꼭 지정
            document.head.appendChild(link);
            }
        })();
    </script>
    <style>
        .list-content td a.download { width:auto; height:auto; font-size:var(--font16); color:var(--active); text-decoration:underline !important; text-underline-offset:5px; }
        .button-content { margin-top:30px; }
    </style>
</head>

<body>
    <div class="wrap">
        <header id="headerWrap" class="headerOn">
            <h1><a href="javascript:void(0);">MG캐피탈</a></h1>
            <div class="recent-content">
            <span>최근접속 : 2025.08.12 12:42:28</span>
            <button>로그아웃</button>
            </div>
        </header>
        <div class="bodyWrap">
            <nav id="menuWrap" class="lnb" role="navigation" aria-label="왼쪽 메뉴">
                <div class="member">
                    <a href="javascript:void(0);" class="link"><em>홍길동</em>님</a>
                </div>
                <ul class="menu">
                    <li class="item">
                    <button type="button" class="accordion" aria-expanded="false" aria-controls="submenu-1"> 대메뉴 1</button>
                    <ul id="submenu-1" class="submenu" role="group">
                        <li><a href="javascript:void(0);" class="link">소메뉴 1-1</a></li>
                        <li><a href="javascript:void(0);" class="link">소메뉴 1-2</a></li>
                        <li><a href="javascript:void(0);" class="link">소메뉴 1-3</a></li>
                    </ul>
                    </li>
            
                    <li class="item">
                    <button type="button" class="accordion" aria-expanded="false" aria-controls="submenu-2"> 대메뉴 2</button>
                    <ul id="submenu-2" class="submenu" role="group">
                        <li><a href="javascript:void(0);" class="link">소메뉴 2-1</a></li>
                        <li><a href="javascript:void(0);" class="link">소메뉴 2-2</a></li>
                    </ul>
                    </li>
            
                    <li class="item">
                    <button type="button" class="accordion" aria-expanded="false" aria-controls="submenu-3"> 대메뉴 3</button>
                    <ul id="submenu-3" class="submenu" role="group">
                        <li><a href="javascript:void(0);" class="link">소메뉴 3-1</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>
            <main class="contentWrap">
                <seciton class="title_container">
                    <h2>신규등록</h2>
                    <ul class="location_content">
                        <li><a href="javascript:void(0);" class="home">홈</a></li>
                        <li><a href="javascript:void(0);">메인 관리</a></li>
                        <li><a href="javascript:void(0);">메인배너 관리</a></li>
                        <li><a href="javascript:void(0);">신규 등록</a></li>
                    </ul>
                </seciton>
                <section class="write-container" style="border:0; border-radius:0;">
                    <table class="write-content">
                        <caption>등록자, 구분, 배너명, 타이틀, 내용, 첨부파일, 이미지 Alt값, URL로 구성된 목록</caption>
                        <colgroup>
                        <col style="width:210px;">
                        <col style="width:auto;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th id="th-title" scope="row"><span>등록자</span></th>
                                <td><span>홍길동</span></td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span>구분</span></th>
                                <td>
                                    <span>메인배너</span>
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">배너명</span></th>
                                <td>
                                    <div class="col-1">
                                        <input id="row1-title" type="text" placeholder="배너명을 입력해주세요." value="" aria-labelledby="th-title">
                                        <span class="ipt-right"><span>0</span>/<span>16</span>자</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">타이틀</span></th>
                                <td>
                                    <div class="col-1">
                                        <input id="row2-title" type="text" placeholder="타이틀을 입력해주세요." value="" aria-labelledby="th-title">
                                        <span class="ipt-right"><span>0</span>/<span>16</span>자</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">내용</span></th>
                                <td>
                                    <textarea placeholder="내용을 입력해주세요."></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span>첨부파일</span></th>
                                <td>
                                    <span class="ipt-file">
                                        <span class="ipt-clear"><input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" tabindex="0" readonly>
                                        </span>
                                        <label class="upload-label" for="files">
                                            <input id="files" class="upload" name="files" type="file" />
                                            <span class="sr-only fileLabel">파일선택</span>
                                        </label>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">이미지 Alt값</span></th>
                                <td>
                                    <input id="row3-title" type="text" placeholder="첨부하신 이미지의 Alt값을 입력해주세요." value="" aria-labelledby="th-title">
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">URL</span></th>
                                <td>
                                    <input id="row4-title" type="text" placeholder="배너의 URL경로를 입력해주세요." value="" aria-labelledby="th-title">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="info-content">
                        <ul class="info-list">
                            <li>신규 등록 시, 맨 마지막 순서로 자동 배정되며, 대고객채널에 즉시 노출됩니다.</li>
                            <li>첨부파일 사이즈 : 00x00</li>
                            <li>첨부파일 파일 형식 : jpg, png, gif</li>
                            </ul>
                    </div>
                </section>
                <section>
                    <div class="button-content cta">
                        <div class="button-wrap">
                            <a herf="javascript:void(0);" class="btn-secondary reset">초기화</a>
                            <a herf="javascript:void(0);" class="btn-primary">저장</a>
                            <a herf="javascript:void(0);" class="btn-secondary">목록</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
