<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>퀵메뉴 관리&gt;메인 관리&gt;관리자페이지&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공."/>
    <meta name="viewport" content="width=device-width" />

    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />

    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
    <style>
        .color75 {color:var(--color-75);}
    </style>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <div data-include-path="../COMMON/lnb.html"></div>
            <main class="contentWrap">
                <seciton class="title_container">
                    <h2>퀵메뉴 관리</h2>
                    <ul class="location_content">
                        <li><a href="javascript:void(0);" class="home">홈</a></li>
                        <li><a href="javascript:void(0);">메인 관리</a></li>
                        <li><a href="javascript:void(0);">퀵메뉴 관리</a></li>
                    </ul>
                </seciton>
                <section class="list-container">
                    <div class="list-content">
                        <table>
                            <caption>전체해제, 메뉴위치, URL, Icon, Icon Alt값, 수정사항으로 구성된 목록</caption>
                        
                            <colgroup>
                            <col style="width:5%;">
                            <col style="width:auto;">
                            <col style="width:25%;">
                            <col style="width:25%;">
                            <col style="width:15%">
                            <col style="width:5%;">
                            </colgroup>
                        
                            <thead>
                            <tr>
                                <th id="th-title" scope="col"  class="check-all-area">
                                    <input type="checkbox" id="chkAll">
                                    <label for="chkAll" class="check-button">
                                        <span>전체해제</span>
                                    </label>
                                </th>
                                <th id="th-top"   scope="col">메뉴 위치</th>
                                <th id="th-url"   scope="col">URL</th>
                                <th id="th-mid"   scope="col">Icon</th>
                                <th id="th-sub"   scope="col">Icon Alt값</th>
                                <th id="th-modify" scope="col">수정사항</th>
                            </tr>
                            </thead>
                        
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox" name="row1-active" value="" checked="" aria-labelledby="th-title">
                                        </label>
                                    </td>
                                    <td>
                                        <span><span class="color75">금융상품 > 일반리스</span> > 공작기계</span>
                                    </td>
                                    <td>
                                        <span>https://www.mgcap.co.kr/…/prdt/car1.jsp</span>
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" value="Icon01.png" tabindex="0" readonly="">
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file">
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row1-url" type="text" class="form-control" value="일반리스 공작기계 이미지" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox" name="row2-active" value="" checked="" aria-labelledby="th-title">
                                        </label>
                                    </td>
                                    <td>
                                        <span><span class="color75">금융상품 > 일반리스</span> > 산업재 및 중고상용차</span>
                                    </td>
                                    <td>
                                        <span>https://www.mgcap.co.kr/…/prdt/car2.jsp</span>
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" value="Icon02.png" tabindex="0" readonly="">
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file">
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row2-url" type="text" class="form-control" value="일반리스 산업재 및 중고상용차 이미지" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox" name="row3-active" value="" checked="" aria-labelledby="th-title">
                                        </label>
                                    </td>
                                    <td>
                                        <span><span class="color75">금융상품 > 일반리스</span> > 특수장비</span>
                                    </td>
                                    <td>
                                        <span>https://www.mgcap.co.kr/…/prdt/car3.jsp</span>
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" value="Icon03.png" tabindex="0" readonly="">
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file">
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row3-url" type="text" class="form-control" placeholder="Icon의 Alt값을 입력해주세요." aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox" name="row4-active" value="" checked="" aria-labelledby="th-title">
                                        </label>
                                    </td>
                                    <td>
                                        <span><span class="color75">금융상품 > 일반리스</span> > 의료기기</span>
                                    </td>
                                    <td>
                                        <span>https://www.mgcap.co.kr/…/prdt/car4.jsp</span>
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" value="Icon04.png" tabindex="0" readonly="">
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file">
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row4-url" type="text" class="form-control" placeholder="Icon의 Alt값을 입력해주세요." value="" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox" name="row5-active" value="" checked="" aria-labelledby="th-title">
                                        </label>
                                    </td>
                                    <td>
                                        <span><span class="color75">금융상품 > 일반리스</span> > 오토리스</span>
                                    </td>
                                    <td>
                                        <span>https://www.mgcap.co.kr/…/prdt/car5.jsp</span>
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" value="Icon05.png" tabindex="0" readonly="">
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file">
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row5-url" type="text" class="form-control" value="일반리스 오토리스 이미지" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox" name="row6-active" value="" aria-labelledby="th-title">
                                        </label>
                                    </td>
                                    <td>
                                        <span><span class="color75">금융상품 > 할부금융</span> > 공작기계</span>
                                    </td>
                                    <td>
                                        <span>https://www.mgcap.co.kr/…/prdt/car6.jsp</span>
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" value="Icon06.png" tabindex="0" readonly="">
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file">
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row6-url" type="text" class="form-control" value="할부금융 공작기계 이미지" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox" name="row7-active" value="" aria-labelledby="th-title">
                                        </label>
                                    </td>
                                    <td>
                                        <span><span class="color75">MY페이지</span> > 공개매각 입찰내역</span>
                                    </td>
                                    <td>
                                        <span>https://www.mgcap.co.kr/…/prdt/car7.jsp</span>
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" value="" tabindex="0" readonly="">
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file">
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row7-url" type="text" class="form-control" placeholder="Icon의 Alt값을 입력해주세요." value="" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox" name="row8-active" value="" aria-labelledby="th-title">
                                        </label>
                                    </td>
                                    <td>
                                        <span><span class="color75">MY페이지</span> > 공개매각 입찰내역</span>
                                    </td>
                                    <td>
                                        <span>https://www.mgcap.co.kr/…/prdt/car7.jsp</span>
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" value="" tabindex="0" readonly="">
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file">
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row8-url" type="text" class="form-control" placeholder="Icon의 Alt값을 입력해주세요." value="" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox" name="row9-active" value="" aria-labelledby="th-title">
                                        </label>
                                    </td>
                                    <td>
                                        <span><span class="color75">MY페이지</span> > 공개매각 입찰내역</span>
                                    </td>
                                    <td>
                                        <span>https://www.mgcap.co.kr/…/prdt/car7.jsp</span>
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" value="" tabindex="0" readonly="">
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file">
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row9-url" type="text" class="form-control" placeholder="Icon의 Alt값을 입력해주세요." value="" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify">수정</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="check">
                                            <input type="checkbox" name="row10-active" value="" aria-labelledby="th-title">
                                        </label>
                                    </td>
                                    <td>
                                        <span><span class="color75">MY페이지</span> > 공개매각 입찰내역</span>
                                    </td>
                                    <td>
                                        <span>https://www.mgcap.co.kr/…/prdt/car7.jsp</span>
                                    </td>
                                    <td>
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="파일을 입력해주세요" value="" tabindex="0" readonly="">
                                            </span>
                                            <label class="upload-label" for="files">
                                                <input id="files" class="upload" name="files" type="file">
                                                <span class="sr-only fileLabel">파일선택</span>
                                            </label>
                                        </span>
                                    </td>
                                    <td class="ipt-clear">
                                        <input id="row10-url" type="text" class="form-control" placeholder="Icon의 Alt값을 입력해주세요." value="" aria-labelledby="th-url">
                                    </td>
                                    <td>
                                        <button class="btn-ico-mod" type="button" aria-labelledby="th-modify" data-modal-open="qm02">수정</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="info-content">
                        <ul class="info-list">
                            <li>[퀵메뉴 저장]버튼 : 대고객 채널에 노출되는 퀵메뉴 정보값을 저장합니다.</li>
                            <li>[저장]버튼 : 메뉴별 ‘Icon, Icon Alt값’의 변경사항을 저장합니다.</li>
                            <li>메뉴위치, URL은 ‘메뉴 관리’에서 수정 가능합니다.</li>
                            <li>첨부파일을 새로 등록하면 기존의 첨부파일은 삭제됩니다.</li>
                            <li>첨부파일 사이즈 : 00x00</li>
                            <li>첨부파일 파일 형식 : jpg, png, gif</li>
                        </ul>
                    </div>
                </section>
                <section class="button-ccontainer">
                    <div class="button-content cta">
                        <div class="button-wrap">
                            <a herf="javascript:void(0);" class="btn-primary">퀵메뉴 순서 설정</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
