<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>관리자&gt;금융상품관리목록(FNP-001)&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../manager/guide/css/sample.css" />
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <link rel="stylesheet" href="../FNP/ADM-FNP-001.css" />
    
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
    <style>
        
    </style>
</head>
<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <div data-include-path="../COMMON/lnb.html"></div>
            <main class="contentWrap">
                <seciton class="title_container">
                    <h2>금융상품관리 목록</h2>
                    <ul class="location_content">
                        <li><a href="javascript:void(0);" class="home">홈</a></li>
                        <li><a href="javascript:void(0);">금융상품관리</a></li>
                        <li><a href="javascript:void(0);">금융상품관리 목록</a></li>
                    </ul>
                </seciton>
                <div>
                    <section class="form-container">
                        <div class="form-content">
                            <div class="form-wrap">
                                <fieldset class="search"> <!-- width 맞추기 위해 class를 search로 뒀는데 맞는 부분인지 모르겠음 -->
                                    <select id="category" name="category" >
                                        <option value="title">전체</option>
                                        <option value="new">신차</option>
                                        <option value="old">중고차</option>
                                        <option value="bike">바이크</option>
                                        <option value="boat">보트/선외기</option>
                                    </select>
                                </fieldset>
                                <fieldset class="search">
                                    <legend>검색</legend>
                                    <select id="category" name="category">
                                        <option value="title">제목</option>
                                        <option value="desc">내용</option>
                                    </select>
                                    <input id="q" name="q" type="search" autocomplete="off" inputmode="search" placeholder="검색어를 입력해주세요" />
                                    <button type="submit" class="btn-body">검색</button>
                                </fieldset>
                                </div>
                        </div><!--//form-content-->
                    </section>
                    </section>
                    <section class="list-container search">
                        <table class="list-content">
                            <caption>number, 구분, 상품명, 기준일, 작성자, 작성일, 수정자, 수정일, 판매여부로 구성된 금융상품관리 목록</caption>
                            <colgroup>
                                <col class="num">
                                <col style="width:143px;">
                                <col style="width:278px;">
                                <col style="width:219px;">
                                <col style="width:150px;">
                                <col style="width:150px;">
                                <col style="width:150px;">
                                <col style="width:150px;">
                                <col style="width:160px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th id="th-title" scope="col">No</th>
                                    <th id="th-title2" scope="col">구분</th>
                                    <th id="th-title3" scope="col">상품명</th>
                                    <th id="th-title4" scope="col" style=>기준일</th>
                                    <th id="th-title5" scope="col" style=>작성자</th>
                                    <th id="th-title6" scope="col" style=>작성일</th>
                                    <th id="th-title7" scope="col" style=>수정자</th>
                                    <th id="th-title8" scope="col" style=>수정일</th>
                                    <th id="th-title9" scope="col" style=>판매여부</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>42</span></td>
                                    <td><span>신차</span></td>
                                    <td><span>장기렌터카</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>판매중</span></td>
                                </tr>            
                                <tr>
                                    <td><span>41</span></td>
                                    <td><span>신차</span></td>
                                    <td><span>신차오토리스</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>판매중</span></td>
                                </tr>            
                                <tr>
                                    <td><span>42</span></td>
                                    <td><span>신차</span></td>
                                    <td><span>신차오토할부</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>판매중</span></td>
                                </tr>            
                                <tr>
                                    <td><span>42</span></td>
                                    <td><span>중고차</span></td>
                                    <td><span>중고오토론(대출)</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>판매중</span></td>
                                </tr>            
                                <tr>
                                    <td><span>42</span></td>
                                    <td><span>중고차</span></td>
                                    <td><span>중고오토할부</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>판매중</span></td>
                                </tr>            
                                <tr>
                                    <td><span>42</span></td>
                                    <td><span>중고차</span></td>
                                    <td><span>재고금융(상사)</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>판매중</span></td>
                                </tr>            
                                <tr>
                                    <td><span>42</span></td>
                                    <td><span>바이크</span></td>
                                    <td><span>바이크리스</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>판매중</span></td>
                                </tr>            
                                <tr>
                                    <td><span>42</span></td>
                                    <td><span>바이크</span></td>
                                    <td><span>바이크할부</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>판매중</span></td>
                                </tr>            
                                <tr>
                                    <td><span>42</span></td>
                                    <td><span>보트/선외기</span></td>
                                    <td><span>보트/선외기</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>판매종료</span></td>
                                </tr>            
                                <tr>
                                    <td><span>42</span></td>
                                    <td><span>신차</span></td>
                                    <td><span>장기렌터카</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>홍길동</span></td>
                                    <td><span>YYYY.MM.DD</span></td>
                                    <td><span>판매중</span></td>
                                </tr>            
                            </tbody>
                        </table>
                        <div class="pagination-content">
                            <button class="btn-prev">이전으로</button>
                            <button class="active">1</button>
                            <button>2</button>
                            <button>...</button>
                            <button>3</button>
                            <button>4</button>
                            <button class="btn-next">다음으로</button>
                        </div>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <a href="./ADM-FNP-003.html" class="btn-primary">등록</a> 
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
