<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>관리자&gt;금융상품관리목록(FNP-001)&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../manager/guide/css/sample.css" />
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <link rel="stylesheet" href="../FNP/ADM-FNP-001.css" />
    
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>


    <style>
        /* table td에 포인터 추가, tr에 border-bottom 잡혀있어서 겹치는 부분 제거 */
        table td {cursor: pointer;}
        table tr td:first-child {border-top: 1px solid var(--color-d);}
        table tr:last-child{border-bottom: none;}
    </style>
    <!-- (선택) IE11용 폴리필: 안전하게 깔아두면 좋아요 -->
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=Promise,Array.from,Object.assign,Number.isNaN"></script>
</head>
<body>
    <div class="wrap">
        <header id="headerWrap" class="headerOn">
            <h1><a href="javascript:void(0);">MG캐피탈</a></h1>
            <div class="recent-content">
                <span>최근접속 : 2025.08.12 12:42:28</span>
                <button>로그아웃</button>
            </div>
        </header>
        <div class="bodyWrap">
            <nav id="menuWrap" class="lnb" role="navigation" aria-label="왼쪽 메뉴">
                <div class="member">
                    <a href="javascript:void(0);" class="link"><em>홍길동</em>님</a>
                </div>
                <ul class="menu">
                    <li class="item">
                    <button type="button" class="accordion" aria-expanded="false" aria-controls="submenu-1"> 대메뉴 1</button>
                    <ul id="submenu-1" class="submenu" role="group">
                        <li><a href="javascript:void(0);" class="link">소메뉴 1-1</a></li>
                        <li><a href="javascript:void(0);" class="link">소메뉴 1-2</a></li>
                        <li><a href="javascript:void(0);" class="link">소메뉴 1-3</a></li>
                    </ul>
                    </li>
            
                    <li class="item">
                    <button type="button" class="accordion" aria-expanded="false" aria-controls="submenu-2"> 대메뉴 2</button>
                    <ul id="submenu-2" class="submenu" role="group">
                        <li><a href="javascript:void(0);" class="link">소메뉴 2-1</a></li>
                        <li><a href="javascript:void(0);" class="link">소메뉴 2-2</a></li>
                    </ul>
                    </li>
            
                    <li class="item">
                    <button type="button" class="accordion" aria-expanded="false" aria-controls="submenu-3"> 대메뉴 3</button>
                    <ul id="submenu-3" class="submenu" role="group">
                        <li><a href="javascript:void(0);" class="link">소메뉴 3-1</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>
            <main class="contentWrap">
                <seciton class="title_container">
                    <h2>금융상품관리 목록</h2>
                    <ul class="location_content">
                        <li><a href="javascript:void(0);" class="home">홈</a></li>
                        <li><a href="javascript:void(0);">금융상품관리</a></li>
                        <li><a href="javascript:void(0);">금융상품관리 목록</a></li>
                    </ul>
                </seciton>
                <section class="list-container">
                    <table class="list-content">
                        <caption>금융상품관리 구성된 메뉴 목록</caption>
                        <colgroup>
                            <col style="width:auto">
                        </colgroup>
                        <thead>
                            <tr>
                                <th id="th-title" scope="col">메뉴명</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>자동차</td>
                            </tr>            
                            <tr>
                                <td>설비/의료&middot;헬스</td>
                            </tr>      
                            <tr>
                                <td>주택</td>
                            </tr>      
                            <tr>
                                <td>기업</td>
                            </tr>       
                        </tbody>
                    </table>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
