<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>관리자&gt;금융상품관리목록(FNP-002)&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../manager/guide/css/sample.css" />
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <link rel="stylesheet" href="../FNP/ADM-FNP-001.css" />
    
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>

    <style>
        
    </style>
</head>
<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <div data-include-path="../COMMON/lnb.html"></div>
            <main class="contentWrap">
                <seciton class="title_container">
                    <h2>금융상품등록</h2>
                    <ul class="location_content">
                        <li><a href="javascript:void(0);" class="home">홈</a></li>
                        <li><a href="javascript:void(0);">금융상품관리</a></li>
                        <li><a href="javascript:void(0);">금융상품 등록</a></li>
                    </ul>
                </seciton>
                <div>
                    <section class="write-container">
                        <table class="write-content">
                            <caption>작성자, 작성일, 상품구분, 상품명, 상품소개, 상품판매여부, 광고제작월, 준법관리심의필 등으로 구성된 금융상품등록 관리자 페이지</caption>
                            <colgroup>
                            <col style="width:210px;">
                            <col style="width:auto;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th id="th-title" scope="row"><span>작성자</span></th>
                                <td><span>홍길동</span></td>
                            </tr>            
                            <tr>
                                <th id="th-title" scope="row"><span>작성일</span></th>
                                <td><span>YYYY.MM.DD</span></td>
                            </tr>            
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">상품구분</span></th>
                                <td>
                                    <select>
                                        <option>선택</option>
                                        <option value="new">신차</option>
                                        <option value="old">중고차</option>
                                        <option value="bike">바이크</option>
                                        <option value="boat">보트/선외기</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">상품명</span></th>
                                <td>
                                    <input type="text" placeholder="내용을 입력해주세요.">
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">상품소개</span></th>
                                <td>
                                    <textarea placeholder="내용을 입력해주세요."></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">상품소개</span></th>
                                <td>
                                    <textarea placeholder="내용을 입력해주세요." style="height: 490px;"></textarea><!-- 이 부분 나모웹 에디터 작업필요, 인라인으로 영역만 잡아둔 상태 -->
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><input type="text" value="" placeholder="타이틀 입력"></th>
                                <td>
                                    <textarea placeholder="내용을 입력해주세요."></textarea>
                                </td>
                            </tr>   
                            <tr>
                                <th id="th-title" scope="row"><input type="text" value="" placeholder="타이틀 입력"></th>
                                <td>
                                    <textarea placeholder="내용을 입력해주세요."></textarea>
                                </td>
                            </tr>   
                            <tr>
                                <th id="th-title" scope="row"><input type="text" value="" placeholder="타이틀 입력"></th>
                                <td>
                                    <textarea placeholder="내용을 입력해주세요."></textarea>
                                </td>
                            </tr>   
                            <tr>
                                <th id="th-title" scope="row"><input type="text" value="" placeholder="타이틀 입력"></th>
                                <td>
                                    <textarea placeholder="내용을 입력해주세요."></textarea>
                                </td>
                            </tr>   
                            <tr>
                                <th id="th-title" scope="row"><span>상품 판매여부</span></th>
                                <td>
                                    <fieldset>
                                        <legend>상품 판매여부</legend>
                                        <label class="radio">
                                            <input type="radio" name="row1-active" value="" checked>
                                            <span>판매중</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="row1-active" value="">
                                            <span>판매종료</span>
                                        </label>
                                    </fieldset>
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">광고제작월</span></th>
                                <td>
                                    <input type="text" placeholder="내용을 입력해주세요.">
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">준법관리심의필</span></th>
                                <td>
                                    <input type="text" placeholder="내용을 입력해주세요.">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <button class="btn-secondary reset">초기화</button>
                                <a href="javascript:void(0);" class="btn-primary" data-modal-open="fnp01">저장</a>
                                <a href="./ADM-FNP-001-2.html" class="btn-secondary">목록</a>
                            </div>
                        </div>
                    </section>
                </div>
            </main>

            <!-- 공통 알럿 (ADM-MNU-001P1) 사용 -->
            
            <!-- D: 저장 혹은 등록 버튼 눌렀을 시 -> 본문 필수체크 된 내용이 비어있을 때 이 메시지가 사용된 알럿 사용 -->
            <!-- M: 내용을 작성해주세요. -->

            <!-- D: 저장 혹은 등록버튼 눌렀을 시 -> 본문 필수체크 된 내용이 전부 채워져 있을 때 이 메시지가 사용된 알럿 사용 -->
            <!-- M: 저장이 완료되었습니다. -->
        </div>
    </div>
</body>
</html>
