<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>관리자&gt;금융상품관리목록(FNP-003)&gt;mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../manager/guide/css/sample.css" />
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
    <style>
        
    </style>
    <!-- (선택) IE11용 폴리필: 안전하게 깔아두면 좋아요 -->
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=Promise,Array.from,Object.assign,Number.isNaN"></script>
</head>
<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <div data-include-path="../COMMON/lnb.html"></div>
            <main class="contentWrap">
                <seciton class="title_container">
                    <h2>금융상품 상세</h2>
                    <ul class="location_content">
                        <li><a href="javascript:void(0);" class="home">홈</a></li>
                        <li><a href="javascript:void(0);">금융상품관리</a></li>
                        <li><a href="javascript:void(0);">금융상품상세</a></li>
                    </ul>
                </seciton>
                    <div>
                        <section class="write-container">
                        <table class="write-content">
                            <caption>작성자, 작성일, 상품구분, 상품명, 상품소개, 상품판매여부, 광고제작월, 준법관리심의필 등으로 구성된 금융상품등록 관리자 상세 페이지</caption>
                            <colgroup>
                            <col style="width:210px;">
                            <col style="width:auto;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th id="th-title" scope="row"><span>작성자</span></th>
                                <td>
                                    <span>홍길동</span>
                                </td>
                            </tr>            
                            <tr>
                                <th id="th-title" scope="row"><span>작성일</span></th>
                                <td>
                                    <span>YYYY.MM.DD</span>
                                </td>
                            </tr>            
                            <tr>
                                <th id="th-title" scope="row"><span>수정일</span></th>
                                <td>
                                    <span>YYYY.MM.DD</span>
                                </td>
                            </tr>            
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">상품구분</span></th>
                                <td>
                                    <select>
                                        <option>선택</option>
                                        <option value="new">신차</option>
                                        <option value="old">중고차</option>
                                        <option value="bike">바이크</option>
                                        <option value="boat">보트/선외기</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">상품명</span></th>
                                <td>
                                    <input type="text" placeholder="내용을 입력해주세요." value="공작기계" readonly="">
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">상품소개</span></th>
                                <td>
                                    <textarea placeholder="내용을 입력해주세요." readonly="">중소기업 창업 및 노후장비 교체를 위해 공작기계 리스는 MG캐피탈과 함께 하세요! 
공작기계 리스는 MG캐피탈 대표 상품입니다.
당사는 공작기계 부문 전문 금융회사로 국내외 주요 메이커 업체들과 제휴약정을 맺고 있습니다.
                                    </textarea>
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">상품소개</span></th>
                                <td>
                                    <!-- 임시 ::웹 에디터 올 자리 -->
                                    <!--공통 layout : edt 클래스로 영역은 잡혀있어서 보더만 임시추가-->
                                    <div class="edt" style="border: 1px solid #ddd; padding: 20px; border-radius: 5px;" readonly="">
차량가격, 공채매입, 등록제비용, 차량세 등 자동차 구입시 필요한 자금 이체를 지원하여 드리고, 매월 리스료를 당사에게 지급함으로서 일정기간 동안 저렴한 비용으로 원하는 자동차를 사용할 수 있는 금융 서비스입니다.
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><input type="text" value="리스의 장점" placeholder="타이틀 입력"></th>
                                <td>
                                    <textarea placeholder="내용을 입력해주세요."></textarea>
                                </td>
                            </tr>   
                            <tr>
                                <th id="th-title" scope="row"><input type="text" value="리스 이용절차" placeholder="타이틀 입력"></th>
                                <td>
                                    <textarea placeholder="내용을 입력해주세요."></textarea>
                                </td>
                            </tr>   
                            <tr>
                                <th id="th-title" scope="row"><input type="text" value="리스 이용안내" placeholder="타이틀 입력"></th>
                                <td>
                                    <textarea placeholder="내용을 입력해주세요."></textarea>
                                </td>
                            </tr>   
                            <tr>
                                <th id="th-title" scope="row"><input type="text" value="리스 준비서류" placeholder="타이틀 입력"></th>
                                <td>
                                    <textarea placeholder="내용을 입력해주세요."></textarea>
                                </td>
                            </tr>   
                            <tr>
                                <th id="th-title" scope="row"><span>상품 판매여부</span></th>
                                <td>
                                    <fieldset>
                                        <legend>상품 판매여부</legend>
                                        <label class="radio">
                                            <input type="radio" name="row1-active" value="" checked>
                                            <span>판매중</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="row1-active" value="">
                                            <span>판매종료</span>
                                        </label>
                                    </fieldset>
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">광고제작월</span></th>
                                <td>
                                    <input type="text" placeholder="내용을 입력해주세요." value="2025.04">
                                </td>
                            </tr>
                            <tr>
                                <th id="th-title" scope="row"><span class="essential">준법관리심의필</span></th>
                                <td>
                                    <input type="text" placeholder="내용을 입력해주세요." value="제2025-001호(2025.04.11~2026.04.10)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <button class="btn-secondary reset">초기화</button>
                                <a href="javascript:void(0);" class="btn-primary" data-modal-open="fnp01">저장</a>
                                <a href="./ADM-FNP-001-2.html" class="btn-secondary">목록</a>
                                <a href="javascript:void(0);" class="btn-secondary" data-modal-open="fnp03">삭제</a>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
            <!-- 공통 알럿 (ADM-MNU-001P1) 사용 -->
            <!-- D: 저장 혹은 등록 버튼 눌렀을 시 -> 본문 필수체크 된 내용이 비어있을 때 이 메시지가 사용된 알럿 사용 -->
            <!-- M: 내용을 작성해주세요. -->

            <!-- D: 저장 혹은 등록버튼 눌렀을 시 -> 본문 필수체크 된 내용이 전부 채워져 있을 때 이 메시지가 사용된 알럿 사용 -->
            <!-- M: 저장이 완료되었습니다. -->


            <!-- 공통 알럿 (ADM-MNU-001P1) 취소 버튼이 있는 컨펌알럿 사용 -->
            <!-- D: 삭제버튼 눌렀을 시 -->
            <!-- M: 삭제하시겠습니까? -->

            <!-- D: 삭제 완료 모달 -> 확인버튼만 있는 기본알럿 사용 -->
            <!-- M: 삭제가 완료되었습니다. -->


            <!-- 초기화 버튼 눌렀을 시 -> 공통 알럿 (ADM-MNU-001P1) 취소 버튼이 있는 컨펌알럿 사용 -->
            <!-- M: 초기화 하시겠습니까? -->
            <!-- Y: 해당 버전의 개인정보처리방침 노출(화면 재진입) -->
            <!-- N: 컨펌 얼럿 닫기 -->

        </div>
    </div> 
</body>
</html>
