<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>목록&gt;방문자 로그 및 접속페이지 로그&gt;관리자페이지&gt;mg캐피탈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />

        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>

        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
        <style>
            select {
                width: auto;
            }
            .no-result {
                padding: 290px 0 120px 0;
                text-align: center;
                font-size: var(--font22);
                font-weight: var(--font-w-m);
                color: var(--color-45);
                background: url(../../assets/images/com/ico_info_list.png) no-repeat center top 120px;
                background-size: 202px auto;
            }
        </style>
    </head>

    <body>
        <div class="wrap">
            <div data-include-path="../COMMON/header.html"></div>
            <div class="bodyWrap">
                <div data-include-path="../COMMON/lnb.html"></div>
                <main class="contentWrap">
                    <section class="title_container">
                        <h2>방문자 로그 및 접속페이지 로그 목록</h2>
                        <ul class="location_content">
                            <li><a href="javascript:void(0);" class="home">홈</a></li>
                            <li><a href="javascript:void(0);">로그관리</a></li>
                            <li><a href="javascript:void(0);">방문자 로그 및 접속페이지 로그</a></li>
                        </ul>
                    </section>
                    <section class="tab-container jsTab">
                        <ul class="tab-list depth1" data-view="pc">
                            <li class="tab-item" data-tab="tab1">
                                <a href="javascript:void(0);">년</a>
                            </li>
                            <li class="tab-item" data-tab="tab2">
                                <a href="javascript:void(0);">월</a>
                            </li>
                            <li class="tab-item active" data-tab="tab3" title="선택됨">
                                <a href="./ADM-LOG-LIT-003-02.html">일</a>
                            </li>
                        </ul>
                    </section>
                    <section class="list-container">
                        <div class="list-content"><p class="no-result">조회 결과가 없습니다.</p></div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
