<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>상세&gt;오류발생 이력조회&gt;관리자페이지&gt;mg캐피탈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
    </head>

    <body>
        <div class="wrap">
            <div class="bodyWrap">
                <main class="contentWrap">
                    <section class="modal-container">
                        <div id="customModal" class="layerPopup modal on">
                            <div class="pop-content">
                                <div class="pop-header">
                                    <h2 class="pop-tit">로그 상세 이력</h2>
                                </div>
                                <div class="pop-body">
                                    <div class="list-content">
                                        <table>
                                            <caption>
                                                접속 IP, 세션 ID, 고객명, 로그인 ID로 구성된 표
                                            </caption>
                                            <colgroup>
                                                <col class="w_w_194" />
                                                <col class="w_w_194" />
                                                <col class="w_w_194" />
                                                <col class="w_w_194" />
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th>접속 IP</th>
                                                    <td><span>118.235.14.64</span></td>
                                                    <th>세션 ID</th>
                                                    <td><span>YYYY.MM.DD</span></td>
                                                </tr>
                                                <tr>
                                                    <th>고객명</th>
                                                    <td><span>홍길동</span></td>
                                                    <th>로그인 ID</th>
                                                    <td><span>mg1234</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="write-content">
                                        <table>
                                            <caption>
                                                오류내용으로 구성된 표
                                            </caption>
                                            <colgroup>
                                                <col style="width: 25%" />
                                                <col style="width: 75%" />
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th>오류내용</th>
                                                    <td><span>오류내용 안내</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-primary" data-popup-close="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
