<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>목록&gt;고객 여정&gt;관리자페이지&gt;mg캐피탈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />

        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/com/style.css" />
        <link rel="stylesheet" href="../../assets/css/com/default.css" />
        <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
        <link rel="stylesheet" href="../../assets/css/com/layout.css" />
        <link rel="stylesheet" href="../../assets/css/com/input.css" />
        <link rel="stylesheet" href="../../assets/css/com/button.css" />
        <link rel="stylesheet" href="../../assets/css/com/tab.css" />
        <link rel="stylesheet" href="../../assets/css/com/table.css" />

        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/com/input.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/com/nav.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/com/popup.js"></script>

        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
    </head>

    <body>
        <div class="wrap">
            <div class="bodyWrap">
                <div data-include-path="../COMMON/lnb.html"></div>
                <main class="contentWrap">
                    <section class="title_container">
                        <h2>고객 여정</h2>
                        <ul class="location_content">
                            <li><a href="javascript:void(0);" class="home">홈</a></li>
                            <li><a href="javascript:void(0);">로그 관리</a></li>
                            <li><a href="javascript:void(0);">고객 여정</a></li>
                        </ul>
                    </section>
                    <section class="form-container">
                        <div class="form-content">
                            <div class="form-wrap">
                                <fieldset>
                                    <legend>기간</legend>
                                    <label for="">
                                        <input id="password-input" type="date" name="date" placeholder="디폴트" />
                                    </label>
                                    <span class="ipt-hyphen">-</span>
                                    <label for="">
                                        <input id="password-input" type="date" name="date" placeholder="디폴트" />
                                    </label>
                                    <select id="category" name="category">
                                        <option value="2025">2025</option>
                                        <option value="2024">2024</option>
                                        <option value="2023">2023</option>
                                        <option value="2023">2023</option>
                                        <option value="2022">2022</option>
                                        <option value="2021">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                    </select>
                                </fieldset>
                                <fieldset class="search">
                                    <legend>검색</legend>
                                    <select id="category" name="category">
                                        <option value="all">전체</option>
                                        <option value="name">고객명</option>
                                        <option value="id">ID</option>
                                        <option value="phone">전화번호</option>
                                        <option value="device">접속기기</option>
                                    </select>
                                    <input id="q" name="q" type="search" autocomplete="off" inputmode="search" placeholder="검색어를 입력해주세요" />
                                    <button type="submit" class="btn-body">검색</button>
                                </fieldset>
                            </div>
                        </div>
                    </section>
                    <section class="list-container search">
                        <div class="list-content">
                            <table>
                                <caption>
                                    No, ID, 접속기기, 접속일시, 접속시간(분), 활동내역으로 구성된 고객 여정 목록
                                </caption>
                                <colgroup>
                                    <col class="num" />
                                    <col class="auto" />
                                    <col class="num" />
                                    <col style="width: 308px" />
                                    <col style="width: 150px" />
                                    <col style="width: 150px" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th id="th-no" scope="col">No</th>
                                        <th id="th-id" scope="col">ID</th>
                                        <th id="th-device" scope="col">접속기기</th>
                                        <th id="th-start" scope="col">접속일시</th>
                                        <th id="th-time" scope="col">접속시간(분)</th>
                                        <th id="th-log" scope="col">활동내역</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span>42</span></td>
                                        <td><span>mg1234</span></td>
                                        <td><span>PC</span></td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td><span>52</span></td>
                                        <td><button type="button" class="btn-text" aria-label="활동내역 상세보기">상세보기</button></td>
                                    </tr>
                                    <tr>
                                        <td><span>42</span></td>
                                        <td><span>mg1234</span></td>
                                        <td><span>PC</span></td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td><span>52</span></td>
                                        <td><button type="button" class="btn-text" aria-label="활동내역 상세보기">상세보기</button></td>
                                    </tr>
                                    <tr>
                                        <td><span>42</span></td>
                                        <td><span>mg1234</span></td>
                                        <td><span>PC</span></td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td><span>52</span></td>
                                        <td><button type="button" class="btn-text" aria-label="활동내역 상세보기">상세보기</button></td>
                                    </tr>
                                    <tr>
                                        <td><span>42</span></td>
                                        <td><span>mg1234</span></td>
                                        <td><span>PC</span></td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td><span>52</span></td>
                                        <td><button type="button" class="btn-text" aria-label="활동내역 상세보기">상세보기</button></td>
                                    </tr>
                                    <tr>
                                        <td><span>42</span></td>
                                        <td><span>mg1234</span></td>
                                        <td><span>PC</span></td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td><span>52</span></td>
                                        <td><button type="button" class="btn-text" aria-label="활동내역 상세보기">상세보기</button></td>
                                    </tr>
                                    <tr>
                                        <td><span>42</span></td>
                                        <td><span>mg1234</span></td>
                                        <td><span>PC</span></td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td><span>52</span></td>
                                        <td><button type="button" class="btn-text" aria-label="활동내역 상세보기">상세보기</button></td>
                                    </tr>
                                    <tr>
                                        <td><span>42</span></td>
                                        <td><span>mg1234</span></td>
                                        <td><span>PC</span></td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td><span>52</span></td>
                                        <td><button type="button" class="btn-text" aria-label="활동내역 상세보기">상세보기</button></td>
                                    </tr>
                                    <tr>
                                        <td><span>42</span></td>
                                        <td><span>mg1234</span></td>
                                        <td><span>PC</span></td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td><span>52</span></td>
                                        <td><button type="button" class="btn-text" aria-label="활동내역 상세보기">상세보기</button></td>
                                    </tr>
                                    <tr>
                                        <td><span>42</span></td>
                                        <td><span>mg1234</span></td>
                                        <td><span>PC</span></td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td><span>52</span></td>
                                        <td><button type="button" class="btn-text" aria-label="활동내역 상세보기">상세보기</button></td>
                                    </tr>
                                    <tr>
                                        <td><span>42</span></td>
                                        <td><span>mg1234</span></td>
                                        <td><span>PC</span></td>
                                        <td><span>YYYY.MM.DD</span></td>
                                        <td><span>52</span></td>
                                        <td><button type="button" class="btn-text" aria-label="활동내역 상세보기">상세보기</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="info-content">
                            <ul class="info-list">
                                <li>삭제버튼을 클릭하시면, 선택하신 <span class="color-error">로그기록은 삭제되오니 신중히 삭제</span>하시기 바랍니다.</li>
                            </ul>
                        </div>
                        <div class="pagination-content">
                            <div class="first">
                                <button class="btn-first">처음으로</button>
                                <button class="btn-prev">이전으로</button>
                            </div>
                            <div>
                                <button class="active">1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                            </div>
                            <div class="last">
                                <button class="btn-next">다음으로</button>
                                <button class="btn-last">마지막으로</button>
                            </div>
                        </div>
                    </section>
                    <section class="button-ccontainer">
                        <div class="button-content cta">
                            <div class="button-wrap">
                                <a href="javascript:void(0);" class="btn-primary">고객여정 삭제</a>
                            </div>
                        </div>
                    </section>

                    <!-- 조회 결과 없음 -->
                    <!-- <section class="list-container">
                        <div class="list-content"><p class="no-result">조회 결과가 없습니다.</p></div>
                    </section> -->

                    <!-- [D]: 기본얼럿 -->
                    <section class="modal-container">
                        <div id="alert01" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <!-- [D]: 화면설계서 참고하여 문구변경 -->
                                    <p>얼럿메시지 문구노출</p>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-primary" data-popup-close="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- [D]: 컨펌얼럿  -->
                    <section class="modal-container">
                        <div id="confirm01" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <!-- [D]: 화면설계서 참고하여 문구변경 -->
                                    <p>컨펌메시지 문구노출</p>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-secondary" data-popup-close="modal">아니오</button>
                                        <button type="button" class="btn-pop-primary" data-popup-open="modal">예</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
