@charset "utf-8";
/* EiLAB Publishg Guide | version 5.3 | date 2020-01-06 since 2016.12.23 */

/*------------------------------------------------------------------------------
	가이드박스
-------------------------------------------------------------------------------*/
#layout { min-width: 375px; }
/* 가이드박스 - 대분류 */
h1.example_title { margin: 0; padding: 10px 19px 0; border: solid 1px transparent; font-size: 20px; font-weight: normal; letter-spacing: -1px; }



/* 가이드박스 - 예제박스 */
div.example_box { padding: 0 19px; margin: 20px; border: solid 1px #dddddd; box-sizing: border-box; border-radius: 5px; }
.removespace div.example_box { margin: 20px 0; padding: 0; border-width: 1px 0 1px 0; border-style: solid; border-color: #ddd; }
/* div.example_box:before { content: 'Example'; display: block; position: absolute; top: -1px; right: 0; padding: 2px 5px; border: solid 1px #dddddd; font-size: 13px; color: #9da0af; background: #f5f5f5;} */

div.example_box div.ex_title { padding: 15px 0 10px; font-size: 16px; font-weight: bold; border-bottom: solid 1px #dddddd; }
div.example_box div.ex_type { margin-bottom: 10px; }
div.example_box div.ex_type + div.ex_type  { margin-top: 20px; }
div.example_box div.ex_type + div.ex_type .ex_info_wrap { border-top: 1px solid #ddd; }


/* 가이드박스 - 예제박스 - 주요정보 */
div.example_box div.ex_info_wrap { position: relative; padding: 5px 0; border-bottom: 1px dashed #dddddd; font-size: 13px; line-height: 16px; }
div.example_box div.ex_info_wrap div.name { padding-right: 5px; font-size: 14px; font-weight: bold; color: #666666; }
div.example_box div.ex_info_wrap span.class_name { display: block; padding-top: 2px; font-size: 14px; word-spacing: 5px; letter-spacing: -.4px; }
/* div.example_box div.ex_info_wrap span.class_name > span + span { padding-left: 8px; } */
/*div.example_box div.ex_info_wrap span.class_name { font-size: 12px; }*/
div.example_box button.source,
div.example_box button.copy { display: inline-block; padding: 2px 3px 4px; border: solid 1px #bababa; border-radius: 3px; color: #5c5f6b; background: #f5f5f5; cursor: pointer; text-transform: capitalize; font-family: inherit; }
div.example_box button.copy { width: 38px; text-align: center; margin-left: 5px; }
div.example_box button.copy.on { border: 1px solid rgb(44, 159, 44); color: green; background-color: rgb(209, 245, 154); } 
/*div.example_box div.ex_type:nth-child(2) button.source { top: -5px; }*/
div.example_box div.etc_info_wrap { margin: 5px 0; padding: 5px 0; line-height: 20px; border-bottom: 1px dashed #dddddd; }
div.example_box .ex_type .help { display: flex; justify-content: flex-end;}
div.example_box .ex_type .help .inner { display: inline-block; padding: 3px; border-width: 0 1px 1px 1px; border-color: #909090; border-style: solid; box-sizing: border-box; background-color: rgb(255, 255, 149); }
div.example_box .ex_type .source_code { margin-top: 10px; border: 1px solid #909090; padding: 5px; box-sizing: border-box; }

/* 가이드박스 - [팝업] 소스보기 */
div.sourceDim { z-index: 99; position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; background: #000000; opacity: 0.5; filter:alpha(opacity=50); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */}
div.sourceWindow { display: none; z-index: 100; position: fixed; top: 100px; left: 50%; width: 90%; margin-left: -45%; }
div.sourceWindow div.sourceWindow_close { float: right; width: 30px; height: 30px; line-height: 30px; text-align: center; color: #ebebeb; background: #000000; cursor: pointer; }
div.sourceWindow .sourceView { overflow-y: scroll; width: 100%; height: 500px; border:solid 1px #ebebeb; background-color: #fff; }
div.sourceWindow.active { display: block; }

.guide_btn { padding: 10px; border: 1px solid gray; font-size: 12px; border-radius: 3px; background: #ffffff; cursor: pointer; }
