@charset "euc-kr";

button.btn:focus-visible{ outline: 1px solid var(--outline);}
.btn.btn-ipt-clear:focus-visible { outline: 2px solid var(--outline); outline-offset: -4px; }

/* 인풋 검색 + 삭제 버튼 */
.btn.btn-ipt-search::after{ content: ''; position: absolute; width:20px; height:20px; top:50%; transform: translateY(-50%);}
.btn.btn-ipt-search::after,
.btn.btn-ipt-clear {  mask-size:auto 20px; -webkit-mask-size: auto 20px; -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat;}

.btn.btn-ipt-search::after { right:0; background-color: var(--ipt-search);  mask-image:var(--ico-search); -webkit-mask-image:var(--ico-search); }

.btn.btn-ipt-clear { background-color: var(--ipt-clear);  mask-image:var(--ico-clear); -webkit-mask-image:var(--ico-clear);  }
.btn.btn-ipt-clear { display: none; }
.form-control:not(:placeholder-shown) ~ .ipt-right .btn-ipt-clear { display: block; }
.btn-link { display:block; padding-right:13px; height:20px; line-height:20px; color:var(--color-6); font-size:var(--font14); } 
.btn-link::after  { content:""; display:block; width:13px; height:20px; position:absolute; top:0; right:0; background-image:var(--ico-move); background-repeat:no-repeat; background-position:center right; background-size:auto 13px; }

/** 공통 버튼 **/
.btm-btn-area,
.btn-area { display:flex; justify-content: center; align-items: center; background-color: var(--white); }
.btn { display:flex; align-items: center; justify-content: center; font-weight: var(--font-w-r); font-size:var(--font16); }
/* 버튼_3개일 경우 */
.btm-btn-area:has(> button:nth-child(3):last-child),
.btn-area:has(> button:nth-child(3):last-child) { display: flex; flex-wrap: wrap; }
.btm-btn-area:has(> button:nth-child(3):last-child) button:nth-child(1),
.btm-btn-area:has(> button:nth-child(3):last-child) button:nth-child(2),
.btn-area:has(> button:nth-child(3):last-child) button:nth-child(1),
.btn-area:has(> button:nth-child(3):last-child) button:nth-child(2) { flex: 1; }
.btm-btn-area:has(> button:nth-child(3):last-child) button:last-child,
.btn-area:has(> button:nth-child(3):last-child) button:last-child { width: 100%; }

/** 컨텐츠 버튼 **/
.btn-area { gap:10px; }
.btn-area .btn { height:45px; }


/* 버튼 */
.button-wrap button:disabled,
a:disabled { background-color: var(--btn-disabled); cursor: not-allowed; color: var(--btn-txt-disabled); }
.btn-primary { background-color: var(--btn-primary); color: var(--white); }
.btn-secondary { background-color: var(--btn-secondary); }

/** 하단 버튼 **/
.button-content .btn,
.button-content a,
.button-content button {  display:inline-block; margin:0 auto; padding:0 17px; text-align:center; min-width:220px;  height:56px; line-height:56px; }
/*  버튼 */
.button-content .btn-primary { background-color: var(--btm-btn-primary); }
.button-content .btn-primary:hover { background-color: var(--active); }
.button-content .btn-secondary { background-color: var(--btm-btn-secondary); }

/* 인풋 버튼 */
.form-group .btn { height:46px; font-size:var(--font14); }
.form-group .modal {  padding:2px 10px 4px; background:var(--white); border:1px solid var(--color-e); color:var(--color-75); font-size:var(--font16); }
.form-group .btn-form { padding:20px 16px; width:100%; border:1px solid var(--color-9); color:var(--color-75);  }
.form-group .btn-form:hover { border:1px solid var( --active); color:var( --active); }


.content-link {  padding:2px 10px 4px; background:var(--white); border:1px solid var(--color-e); color:var(--color-9); font-size:var(--font16); }

/**팝업 버튼**/
.layerPopup .btm-btn-area .btn{ padding:12px; height:70px; min-width:220px; font-size:var(--font24); }