@charset "euc-kr";

#datepicker:focus>.ui-datepicker { display: block; }
.ui-widget.ui-widget-content { border: 1px solid #eee; }
.ui-widget-header { border: 0px solid #dddddd; background: #fff; }
.ui-datepicker .ui-datepicker-header { position: relative; padding: 15px 0; }
.ui-datepicker .ui-datepicker-title { text-align: center; font-size: var(--font16); }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active { border: 0px solid #c5c5c5; background-color: transparent; font-weight: normal;  color: #454545; text-align: center; }
.ui-datepicker-calendar>thead>tr>th {  padding: 5px; font-size: var(--font14); }
.ui-datepicker { display: none; background-color: #fff; border-radius: 4px; margin-top: 10px; margin-left: 0px; margin-right: 0px; padding: 20px; padding-bottom: 10px; width: 300px; box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1); }

.ui-state-disabled { cursor: auto; color: hsla(0, 0%, 80%, 1); opacity: .35; }
.ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: var(--font12) !important;  font-weight: var(--font-w-b) !important; text-decoration: none; }
.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover { cursor: auto; background-color: #fff; }
.ui-datepicker-calendar>tbody>tr>td { border-radius: 100%;width: 44px;height: 30px; cursor: pointer; padding: 5px 2px; font-weight: 100; text-align: center; font-size: 12px; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {  border: 0px solid #cccccc; background-color: transparent; font-weight: normal; color: #2b2b2b; }
#datepicker:focus-visible { outline: 1px solid var(--outline);  }


.ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute; top:50%; transform: translateY(-50%); display: flex; align-items: center; justify-content: center; width:32px; height:32px; }
.ui-datepicker .ui-datepicker-next  { right:0; }
.ui-datepicker .ui-datepicker-next .ui-widget-header .ui-icon { transform: rotate(180deg); }
.ui-widget-header .ui-icon { width:32px; height:32px;  background-color: #111111; mask-image: var(--ico-back); mask-position: center; mask-size:36px auto; --webkit-mask-image:var(--ico-back); --webkit-mask-position:center; --webkit-mask-size:36px auto;}

.ui-icon-circle-triangle-e { transform: rotate(180deg); }
/* .ui-icon-circle-triangle-w { } */

.ui-state-default, .ui-widget-content .ui-state-default { padding:8px 0; }
.ui-state-default, .ui-widget-content .ui-state-default.ui-state-active{ border-radius: 50%; border: initial; background-color: var(--active); color:var(--white); }

.ui-datepicker-calendar>tbody>tr>td:first-child a { color: red; }
.ui-datepicker-calendar>tbody>tr>td:last-child a { color: #0099ff; }

.ui-datepicker-calendar>thead>tr>th:first-child { color: red; }
.ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff; }

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight { border: 0px; background: #f1f1f1; border-radius: 50%; padding: 8px 0; }


.ui-datepicker-buttonpane { display: flex !important; /* 媛뺤젣濡? ?몴?떆 */ justify-content: space-between; padding: 10px;background: #f8f8f8; border-top: 1px solid #ddd; }
.ui-datepicker-buttonpane button { width: 48%; /* 踰꾪듉 ?겕湲? 洹좊벑 */ padding: 8px 12px; background-color: #007bff;  color: white; border: none; border-radius: 4px; cursor: pointer; }
.ui-datepicker-buttonpane button:hover { background-color: #0056b3; }
.ui-datepicker-current { background-color: var(--secondary) !important; }
.ui-datepicker-close { background-color: var(--primary) !important; color:var(--white) !important; }

