@charset "euc-kr";

/*---------------------------------------------
	#인풋 기본 스타일
---------------------------------------------*/
.form-content > .form-wrap { display:flex; gap:40px; }
.form-content > .form-wrap > .form-group { flex:1; }
.form-content > .form-wrap > .form-group:only-child { flex: 0 0 50%; padding-right:20px; }
.form-content > .form-wrap { margin-top:42px; }
.form-content > .form-wrap:first-of-type { margin-top:0; }
.form-group > label { display:block; margin-bottom:16px; color:var(--color-45); font-size:var(--font20); font-weight: var(--font-w-m); }
input.form-control,
textarea {  padding:20px 16px; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; font-weight: var(--font-w-r); border:1px solid var(--ipt-border); background-color: var(--white); color:var(--ipt-txt);  }
textarea { width:100%; height:240px; resize:none; white-space:pre-line;  }

input.form-control::placeholder,
input.form-control::-moz-placeholder,
input.form-control::-ms-input-placeholder,
textarea::placeholder { color:var(--ipt-txt-placeholder); }

input.form-control:disabled { border:1px solid var(--ipt-border-inactive); background: var(--ipt-bg-inactive); color:var(--ipt-txt-inactive); }

input.form-control:focus,
textarea:focus { border-color:var(--ipt-border-active); color:var(--ipt-txt-active); }
textarea:focus { outline-color: var(--ipt-border-active); }/* Webkit Browser (예: Chrome, Safari)  */

/* amount 클래스 사용 시 오른쪽 정렬 :: 원, 개월, % */
input[inputmode="numeric"]:not(:placeholder-shown) { text-align: right; }

/*---------------------------------------------
	#인풋 유효성 검사
---------------------------------------------*/
/* 기본 스타일: 유효한 상태 */
input.form-control:valid,
.form-group.user-valid input.form-control { color:var(--ipt-txt-active); }
/* 유효하지 않은 상태 */
.form-group.user-invalid input.form-control,
.form-group.user-invalid .btn-fake-slt,
.form-group.user-invalid select { color: var(--error); border:1px solid var(--error);}
/* 유효할 때, valid 메시지 표시 (인접 형제 선택자 사용) */
.form-group.user-valid .feedback  { display:block; color: green; }
.form-group.user-valid .feedback:before { background-color:green; }
.form-group.user-valid .valid  { display: inline-block; }
/* 유효하지 않을 때, 바로 다음 형제인 error 메시지 표시 */
.form-group.user-invalid .feedback { display: block; }
/* valid, error 메시지 기본 숨김 처리 */
.form-group { position:relative; }
.valid {display: none; position:absolute; right:15px; top:55%; color: green; }/* v 표시 */
.feedback { position: relative; display: none; padding-left:24px; line-height:20px; font-size:var(--font14); color: var(--error); }
.feedback::before { content:''; position: absolute; left:0; }
.feedback::before { width:18px; height:18px; top:10px; left:0; transform: translateY(-50%); background-color: var(--error); mask-image: var(--ico-info); -webkit-mask-image:var(--ico-info);  mask-size:auto 18px; -webkit-mask-size: auto 18px; -webkit-mask-repeat:no-repeat; mask-repeat:no-repeat; }

/*---------------------------------------------
	#인풋 패딩/마진
---------------------------------------------*/
input.form-control { padding:20px 16px; }
textarea:valid { padding:10px; }
.feedback { margin:5px 0; }

/*---------------------------------------------
	#인풋 라디오/체크박스
---------------------------------------------*/
/* 라디오/체크박스 공통 */
ul.radio-box,
ul.check-box { display:flex; flex-wrap:wrap; gap:32px; }


ul.radio-box input[type="radio"] ,
ul.check-box input[type="checkbox"] { position: relative; width:24px; height:24px; }

ul.check-box li > label,
ul.radio-box li > label { line-height:30px; }

ul.radio-box input[type="radio"] + label,
ul.check-box input[type="checkbox"]  + label { font-weight:var(--font-w-r); color:var(--rc-txt); }

ul.radio-box input[type="radio"]:checked + label,
ul.check-box input[type="checkbox"]:checked  + label { color:var(--rc-txt-active); }


ul.radio-box input[type="radio"]:disabled + label,
ul.check-box input[type="checkbox"]:disabled  + label { color:var(--rc-txt-inactive); }

ul.radio-box li,
ul.check-box li{ display:flex; align-items:center; column-gap:8px; }

/* 라디오 */
ul.radio-box input[type="radio"] { border:7.5px solid var(--rc-border); background: var(--white); border-radius: 50%; }
ul.radio-box input[type="radio"]:checked { background:var(--white); border:7.5px solid var(--rc-active); }
ul.radio-box input[type="radio"]:disabled { border-color: var(--rc-border-inactive); background-color: var(--rc-bg-inactive);  }

/* 체크박스 */
ul.check-box input[type="checkbox"] { background:var(--color-d); }
ul.check-box input[type="checkbox"]::before {
	content:''; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); width:13px; height:10px;
	background-color: var(--white);
	mask-image:var(--ico-check); mask-repeat:no-repeat; mask-size: auto 10px;
	-webkit-mask-image:var(--ico-check); -webkit-mask-repeat:no-repeat; -webkit-mask-size: auto 10px;
}
ul.check-box input[type="checkbox"]:checked::before { background-color: var(--white);  }
ul.check-box input[type="checkbox"]:disabled::before { background-color: var(--rc-bg-inactive); }

ul.check-box input[type="checkbox"]:checked { background-color: var(--primary-light); }
ul.check-box input[type="checkbox"]:disabled { background-color: var(--rc-border-inactive); border-color: var(--rc-border-inactive);  }


ul.radio-box input[type="radio"]:focus-visible,
ul.check-box input[type="checkbox"]:focus-visible,
div.toggle-box input[type="checkbox"]:focus-visible  { outline: 1px solid var(--outline); }

/*---------------------------------------------
	#인풋 토글
---------------------------------------------*/
div.toggle-box input[type="checkbox"] { position: relative; display:inline-block; width:40px; height: 24px; border-radius: 12px;;  background:var(--toggle-bg); transition:all 0.3s ease; }
div.toggle-box input[type="checkbox"]:before { content:''; position:absolute; top:50%; left:3px; transform: translateY(-50%); width:18px; height:18px; border-radius: 50%; background: var(--white); box-shadow:0px 2px 5px 0px rgba(23,4,61,0.2);  }

div.toggle-box input[type="checkbox"]:checked { background: var(--rc-active); }
div.toggle-box input[type="checkbox"]:checked::before { left:auto; right:3px; }


/*---------------------------------------------
	range #레인지
---------------------------------------------*/
.se-range.noUi-target { width: 100%; height: 22px; border: none; box-shadow: none; background-color: transparent; }
.se-range .noUi-base { position: relative; width: calc(100% - 22px); height: 100%; margin: 0 auto; font-size: 0; }
.se-range .noUi-base:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%;}
.se-range .noUi-base:after {content: ""; z-index: -1;position: absolute; top: 50%;transform: translateY(-50%);left: -11px;width: calc(100% + 22px);height: 4px;border-radius: 4px; background-color: var(--secondary);}
.se-range .noUi-connects {overflow: visible; display: inline-block; vertical-align: middle; width: 100%; height: 4px; }
.se-range .noUi-connect { background-color: var(--active); }
.se-range .noUi-handle { outline: none; appearance: none; width: 22px; height: 22px; top: 0; right: -11px; background-color: var(--white); border: 1px solid var(--color-9); border-radius: 22px; box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.08); }
.se-range .noUi-handle:focus-visible{ outline:1px solid var(--outline); }
.se-range .noUi-handle:before, .se-range .noUi-handle:after { content: none; }
.range-pack .value { margin-bottom: 7px; text-align: right; }
.range-pack .value .sign { padding: 0 3px; }

/*---------------------------------------------
	upload #업로드
---------------------------------------------*/
.upload-label { position: relative; display:block; position: absolute; top:0; left:0; background-color: transparent; width:100%; height:100%; z-index: 2; cursor: pointer; }
.upload-label::before { content:''; position: absolute; width:20px; height:20px; right:15px; top:50%; transform: translateY(-50%); background-color: var(--ipt-file); mask-image: var(--ico-file); mask-repeat:no-repeat; mask-size:19px auto; --webkit-mask-iamge:var(--ico-file); --webkit-mask-repeat:no-repeat; --webkit-mask-size:19px auto; }
.upload-text.up + .upload-label::before { background-color: var(--active); }
.upload { display:none; }
