@charset "euc-kr";

/* 占쏙옙 占쏙옙占? */
.tab-container .tab-list,
.nested-tab-container .nested-tab-list {
  display: flex;
  margin-bottom: 42px;
}
.tab-container .tab-list li,
.nested-tab-container .nested-tab-list li {
  flex: 1;
}
.tab-container .tab-item button,
.nested-tab-container .nested-tab-item button {
  width: 100%;
  padding: 14px 10px 16px;
  border: 1px solid var(--color-d);
  border-left-width: none;
  background: var(--color-f);
  margin-right: 0;
  transition: all 0.3s ease; /* 이거때문에 border-top 굵기도 느리게 변해서 all 속성 말고 다르게 하는게 좋을듯 함 */
}
.tab-container .tab-item:first-child button,
.nested-tab-container .nested-tab-item:first-child button {
  border-left-width: 1px;
}
.tab-container .tab-item:hover,
.nested-tab-container .nested-tab-item:hover {
  background: #eaeaea;
}

/* 활占쏙옙화占쏙옙 占쏙옙 */
.tab-container .tab-item.active button,
.nested-tab-container .nested-tab-item.active button {
  color: var(--active);
  border-color: var(--active);
  font-weight: 500;
}

/* ?꺆 肄섑뀗痢? ?쁺?뿭 */
.tab-container .tab-content,
.nested-tab-container .nested-tab-content {
  padding: 0;
  background: #fff;
}
.tab-container .tab-panel,
.nested-tab-container .nested-tab-panel {
  display: none; /* 湲곕낯?쟻?쑝濡? ?닲源? */
}
.tab-container .tab-panel.active,
.nested-tab-container .nested-tab-panel.active {
  display: block; /* ?솢?꽦?솕?맂 ?뙣?꼸留? 蹂댁씠寃? ?븿 */
}

/* tab_test.html?슜 ?뒪????씪 */
.tabs .tab-content {
  display: none;
}
.tabs .tab-content.active {
  display: block;
}
.tabs .tab-item li {
  cursor: pointer;
}
.tabs .tab-item li button {
  background: none;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.tabs .tab-item li.on button {
  color: var(--active);
  font-weight: bold;
}


/* 첩  타 */
.nested-tab-container {
  margin-top: 15px;
  padding: 10px;
  background: var(--color-f5);
}
/* .nested-tab-container .nested-tab-list { border-bottom: 1px solid #ccc; } */
.nested-tab-container .nested-tab-item button {
  font-size: 14px;
  padding: 8px 15px;
}

/* 占쏙옙占쏙옙占쏙옙占쏙옙 占쏙옙  */
.tab-container .swiper-pagination-bullet {
  width: auto;
  height: auto;
  border-radius: 0;
  background: none;
  opacity: 1;
}


.tab-container .swiper-pager {
  background: var(--white);
}
.tab-container .swiper-slide > * {
  padding: 0 20px 20px;
}
.tab-container .swiper-slide > *:first-child {
  margin-top: 30px;
}

.tab-container .swiper-horizontal > .swiper-pagination-bullets,
.tab-container .swiper-pagination-bullets.swiper-pagination-horizontal,
.tab-container .swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 0;
}
/* .tab-container .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.tab-container .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet { margin:0 15px 0 0; color:#999999;} */
.tab-container
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet:last-child,
.tab-container
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet:last-child {
  margin-right: 0;
}


/* 占쏙옙占쏙옙占쏙옙 占쏙옙 (占쏙옙회占쏙옙占쏙옙 .line)*/
.tab-container .tab-list.line .tab-item.active button {
    background-color: var(--color-f);
    border-color: var(--color-d); 
    border-bottom-color: transparent; 
    border-top: 2px solid var(--active); 
    color: var(--active);
    font-weight: 700;
}
.tab-container .tab-list.line .tab-item button {
    background-color: #fdfdfd; /* 占쏙옙占쏙옙 占쏙옙占쏙옙占쏙옙 占쏙옙占쌔둔곤옙 占쏙옙占쏘서 占쏙옙占쏙옙 rgb占쏙옙 */
    border-left: none;
}
.tab-container .tab-list.line .tab-item:first-child button {
    border-left: 1px solid var(--color-d);
}
.tab-container .tab-list.line .tab-item:hover {
    background: none; /* 占싹댐옙 호占쏙옙 占쏙옙占쏙옙占쏙옙 占실그몌옙占쏙옙 占쏙옙占시되억옙 占쏙옙占쏙옙 占십아쇽옙 占쏙옙占쏙옙 */
}
/*?씪?씤 ?걹(250826)*/

.tab-container .swiper-pager.tab-list {
  gap: 10px;
  margin-bottom: 10px;
}
.tab-container .swiper-pager.tab-list li {
  margin: 0;
  padding: 10px 20px;
  font-size: var(--font16);
  border: 1px solid var(--color-c);
  background: var(--color-f5);
}
.tab-container .swiper-pager.tab-list li.swiper-pagination-bullet-active {
  border-color: var(--active);
  background-color: var(--active);
  font-weight: 700;
  color: var(--white);
}
.tab-container .swiper-pager.tab-list li.swiper-pagination-bullet-active a {
  color: var(--white);
}

