@charset "euc-kr";

/*---------------------------------------------
    #?뀒?씠釉? 湲곕낯 ?뒪????씪
---------------------------------------------*/
/* table colgroup { display: table-column-group; unicode-bidi: isolate; } */
thead tr th { padding: 15px 20px; background-color: var( --tbl-bg); border-top: 1px solid var(--tbl-border); border-bottom: 1px solid var(--tbl-border); border-left: 1px solid var(--tbl-border); font-size: var( --font16); color: var(--tbl-tit); font-weight: 500; }
thead tr th:first-child { border-left: none;}
tbody tr td { padding: 15px 20px; background-color:  var( --white); border-bottom: 1px solid var(--tbl-border); border-left: 1px solid var(--tbl-border); font-size: var( --font16); color: var( --tbl-txt); font-weight: 400;}
tbody tr td:first-child { border-left: none; border-top: none;}

/*---------------------------------------------
	#?뀒?씠釉? ?쑀?삎
---------------------------------------------*/
/* table-type 1*/
.table-type1 { text-align: center; margin-bottom: 40px;}

/* table-type 2 */
.table-type2 { margin-bottom: 40px; }

/* table-type 3*/
.table-type3 { overflow-x: auto; margin-bottom: 40px; }
.table-type3 table { position: relative; margin: 0; padding: 0; width: 100%; min-width: 600px;}

/* table-type 4 */
.table-type4 { margin-bottom: 40px;}
.table-type4 .col { width: 100%;}
.table-type4 > div.col dl { display: flex; width: 100%; table-layout: fixed; border-top: 1px solid var(--tbl-border); border-bottom: 1px solid var(--tbl-border); }
.table-type4 > div.col dl:first-child { border-bottom: none;}
.table-type4 > div.col dl:last-child { border-top: none; }
.table-type4> div.col dt { display: table-cell; width: 50%; background-color: var( --tbl-bg); padding: 15px; font-size: var( --font16); color: var( --tbl-tit); font-weight: var(--font-w-m);}
.table-type4> div.col dd { width: 50%; display: table-cell; padding: 15px; font-size: var( --font16); color: var( --tbl-txt); font-weight: var(--font-w-r);}

/* table-tit */
.table-tit { padding: 0 0 20px 0 ;}
.table-tit h4 { font-size: var( --font18); font-weight: var(--font-w-m); text-align: left; color: var( --tbl-tit); }
/* table-caption */
.table-caption { padding-top: 12px;}
.table-caption p { text-align: right; font-size: var(--font12); font-weight: var(--font-w-r); color: var(--tbl-caption);}


.tbl-l { border-left:1px solid var(--tbl-border) !important; }
.tbl-r { border-right:1px solid vaR(--tbl-border) !important; }