<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>연락금지요구권&gt;소비자보호&gt;금융소비자 주요 권리&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
</head>

<body>
    <div class="wrap">
        <header id="headerWrap" class="headerOn">
            <nav class="lnb">
                
            </nav>
        </header>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li>
                            <span class="home">홈</span>
                        </li>
                        <li>
                            <span>소비자보호</span>
                        </li>
                        <li>
                            <span>금융소비자 주요 권리</span>
                        </li>
                        <li> 
                            <span>방문판매인력 신원조회</span>
                        </li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>방문판매인력 신원조회</h2>
                    <p>당사 임직원 방문판매인력 등에 대한 명부를 조회하실 수 있습니다.</p>
                </section>
                <section class="page-container">
                    <div class="text-content">
                        <div class="text-group">
                            <p>MG캐피탈은 아래와 같이 금융상품에 대한 방문판매원이 맞는지 고객이 확인할 수 있도록 조회서비스를 제공해드리고 있습니다. 
                                관련된 문의사항이 있는 경우 해당 방문판매원 또는 고객센터(1588-9688)로 문의주시기 바랍니다.</p>
                        </div>
                    </div>
                    <div class="form-container">
                        <div class="text-content">
                            <div class="text-group">
                                <h3>MG캐피탈 임직원 등 조회</h3>
                                <p>홈페이지에서 제공되지 않는 “모집법인 임직원＂을 포함한 MG캐피탈 임직원 방문판매인력 등에 대한 명부를 조회하실 수 있습니다.</p>
                            </div>
                        </div>
                        <form>
                            <fieldset class="form-content">
                                <legend>MG캐피탈 임직원 등 조회 입력폼</legend>
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="phn-first">소속</label>
                                        <select id="phn-first" required="" title="" required>
                                            <option value="0">MG캐피탈 임직원</option>
                                        </select>
                                    </div><!--//form-group-->
                                    <div class="form-group">
                                        <label for="mg-name">이름</label>
                                        <input id="mg-name" type="text" name="text" placeholder="이름을 입력해주세요">
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="phn-first">휴대전화번호</label>
                                        <div class="flex-row mo-column">
                                            <div>
                                                <select id="phn-first" required="" title="" required>
                                                    <option value="0">010</option>
                                                    <option value="1">017</option>
                                                    <option value="3">019</option>
                                                </select>
                                                <input id="phn-second" name="phn-second" type="tel" inputmode="numeric" autocomplete="tel-local-prefix" pattern="[0-9]{3,4}" maxlength="4" aria-describedby="desc-phone" required>
                                                <input id="phn-third" name="phn-third" type="tel" inputmode="numeric" autocomplete="tel-local-suffix" pattern="[0-9]{4}" maxlength="4" aria-describedby="desc-phone" required>
                                            </div>
                                        </div><!--//flex-row-->
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                               
                            </fieldset>
                        </form>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="button-content">
                        <div class="button-group">
                            <a herf="javascript:void(0);" class="btn-primary">확인</a>
                            <a herf="javascript:void(0);" class="btn-secondary">취소</a>
                        </div>
                    </div>
                </section>
                <!--s: 알럿모음-->
                <secition class="modal-container">
                    <div id="modal" class="layerPopup modal">
                        <div class="pop-content alert">
                            <div class="pop-body">
                                <p>휴대폰번호를 입력해 주세요.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </secition>
                <!--e: 알럿모음-->
            </main>
        </div>
    </div>
</body>
</html>
