<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>금리인하요구권&gt;금융소비자 주요 권리&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
</head>

<body>
    <div class="wrap">
        <header id="headerWrap" class="headerOn">
            <nav class="lnb">
                
            </nav>
        </header>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>소비자보호</span></li>
                        <li><span>금융소비자 주요 권리</span></li>
                        <li><span>금리인하요구권</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>금리인하요구권</h2>
                    <p>여신약정 당시와 비교하여 신용상태의 개선 등 금리인하 요청 요건에 해당하는 고객이 절차에 따라 확인서류를 제출하여 금리인하를 요구할 수 있는 법의 제도<br />
                        ※ 여신전문금융업법 제 50조의13 (금리인하 요구)</p>
                </section>
                <section class="page-container MGC-PRT-CST-008">
                    <div class="text-content">

                        <div class="text-group">
                            <h3>위법계약해지 주요 내용</h3>
                            <ul class="text-list">
                                <li>
                                    1&#41; 효력 발생요건: 적합성원칙, 적정성원칙, 설명의무위반, 불공정영업행위금지, 부당권유금지를 위반했다는 사실을 금융회사에 제시
                                    <p class="rfrnc">위반사실에 대한 객관적·합리적 근거자료를 제시해야하며, 제시하지 않거나 거짓으로 제시한 경우 요구가 거절될 수 있음</p>
                                </li>
                                <li>
                                    2&#41; 요구 가능기간: 계약일로부터 5년이내 & 위반사항을 안 날로부터 1년 이내
                                </li>
                                <li>
                                    3&#41; 법적효과: 금융회사의 위반이 성립될 시 계약해지에 따른 위약금, 수수료 등 부과 불가
                                    <p class="rfrnc">계약해지일 기준 잔원금, 이자는 납부해야 함</p>
                                </li>
                            </ul>
                        </div>

                        <div class="group">
                            <h3>요구방법 및 절차</h3>
                            <div class="text-group">
                                <h4>요구방법 신청 절차</h4>
                                <div class="sub-process-content">
                                    <ul class="process01">
                                        <li>
                                            <p>
                                                <span class="sr-only mo">SETP 01</span>
                                                <em>계약해지요구서 작성</em>
                                                <span>(위법사항 근거자료 포함)</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span class="sr-only mo">SETP 02</span>
                                                <em>금융회사 접수</em>
                                                <span>(우편, 팩스, 담당자 이메일)</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span class="sr-only mo">SETP 03</span>
                                                <em>금융회사 내부 검토</em>
                                                <span>(요구받은 날부터 10일 이내)</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-group">
                                <h4>1.계약해지 <sapn class="success">수용시</sapn></h4>
                                <div class="sub-process-content">
                                    <ul class="process02">
                                        <li>
                                            <p>
                                                <span class="sr-only mo">SETP 01</span>
                                                <span>수락 통지 및 해지 기준일까지<br />미회수원리금 납입 안내</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span class="sr-only mo">SETP 02</span>
                                                <span>납입완료 시<br />계약해지 완료</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-group">
                                <h4>2.계약해지 <sapn class="error">거절시</sapn></h4>
                                <div class="sub-process-content">
                                    <ul class="process03">
                                        <li>
                                            <p>
                                                <span class="sr-only mo">SETP 01</span>
                                                <span>거절 및 거절 사유 통지</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span class="sr-only mo">SETP 02</span>
                                                <span>계약해지요구 처리 종료</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-group">
                            <h3>신청방법</h3>
                            <p>위법계약해지 신청: 고객센터(☎ 1588 - 9688) / 소비자보호부 (☎ 02 - 2018 - 0616)</p>
                            <div class="button-content">
                                <div class="btn-group">
                                    <a href="#" class="btn-download" download>자료열람 요구서 다운로드</a>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
 