<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>상품개발프로세스&gt;금융소비자보호체계&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COM/nav.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>소비자보호</span></li>
                        <li><span>금융소비자보호체계</span></li>
                        <li><span>상품개발프로세스</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>상품개발프로세스</h2>
                </section>
                <section class="page-container">
                    <div class="process-content">
                        <div class="process-group">
                            <h3>상품개발 프로세스</h3>
                            <ol>
                                <li>
                                    <div class="step">
                                        <p>
                                            <span>STEP</span>
                                            <span>01</span>
                                        </p>
                                    </div>
                                    <div class="text-content">
                                        <dl class="m-dot">
                                            <dt>시장분석 및 조사</dt>
                                            <dd>시장분석</dd>
                                            <dd>소비자 영향 분석</dd>
                                            <dd>유관부서 의견</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <div class="step">
                                        <p>
                                            <span>STEP</span>
                                            <span>02</span>
                                        </p>
                                    </div>
                                    <div class="text-content">
                                        <dl class="m-dot">
                                            <dt>기획</dt>
                                            <dd>시장리스크 점검</dd>
                                            <dd>금융소비자/전문가 의견 등 반영</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <div class="step">
                                        <p>
                                            <span>STEP</span>
                                            <span>03</span>
                                        </p>
                                    </div>
                                    <div class="text-content">
                                        <dl class="m-dot">
                                            <dt>개발</dt>
                                            <dd>상품개발 체크리스트 등</dd>
                                            <dd>불완전판매 위험요인 점검</dd>
                                            <dd>소비자보호부 사전협의</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <div class="step">
                                        <p>
                                            <span>STEP</span>
                                            <span>04</span>
                                        </p>
                                    </div>
                                    <div class="text-content">
                                        <dl class="m-dot">
                                            <dt>사후관리</dt>
                                            <dd>금융소비자/전문가 등 의견 반영</dd>
                                            <dd>제도개선</dd>
                                            <dd>상품정보변경 고객 통지</dd>
                                        </dl>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    
                </section>
            </main>
        </div>
    </div>
</body>
</html>
