<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>mg캐피탈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/css/com/main2.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--D: 메인에서만 tab.js 추가-->
    <script type="text/javascript" src="../../assets/js/ui/com/tab.js"></script>

    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
         <!--s:이벤트배너 팝업-->
         <section class="modal-container">
            <div id="modal" class="layerPopup modal on">
                <div class="pop-content event">
                    <div class="pop-body">
                        <div class="swipe eventSwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#javascript:void(0);">
                                        <img src="../../assets/images/content/MAIN/Banner_00.png" alt="브로슈어 발간 스마트 금융 가이드">
                                    </a>
                                    <div class="sr-only">
                                        <p>브로슈어 발간 스마트 금융 가이드</p>
                                        <ul>
                                            <li>MG캐피탈은 고객의 금융 목적과 상황에 맞춰 꼭 필요한 정보만을 정리한 맞춤형 금융 가이드를 제공합니다.</li>
                                            <li>보다 쉽고 명확한 금융 선택을 MG캐피탈과 함께 경험해 보세요</li>
                                        </ul>
                                        <p>브로슈어 다운로드</p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#javascript:void(0);">
                                        <img src="../../assets/images/content/MAIN/Banner_01.png" alt="세금 신고서류 발급안내">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#javascript:void(0);">
                                        <img src="../../assets/images/content/MAIN/Banner_02.png" alt="여신거래 안심차단 시스템 안내">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#javascript:void(0);">
                                        <img src="../../assets/images/content/MAIN/Banner_03.png" alt="방문판매인력 신원확인 조회">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#javascript:void(0);">
                                        <img src="../../assets/images/content/MAIN/Banner_04.png" alt="금융재기지원 상담반 운영안내">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#javascript:void(0);">
                                        <img src="../../assets/images/content/MAIN/Banner_05.png" alt="개인채무자보호 채무조정 안내">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#javascript:void(0);">
                                        <img src="../../assets/images/content/MAIN/Banner_06.png" alt="국민주택채권 할인비용 환급 안내">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <button type="button" class="btn-swiper-toggle" aria-label="자동재생 정지" aria-pressed="false"></button>
                        </div>
                    </div>
                    <div class="pop-footer">
                        <div class="button-content">
                            <button type="button" id="btnTodayClose" class="btn-pop-txt"  data-popup-close="modal">오늘 하루 열지 않음</button>
                            <button type="button" class="btn-pop-txt"  data-popup-close="modal">닫기</button>
                        </div>
                    </div>
                </div>
              
            </div>
        </section>
        <!--e:이벤트배너 팝업-->
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap contentWrap">
            <main class="main page-container">
                <section id="contentArea" class="visual-container">
                    <div class="banner-content">
                        <div class="swipe mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="text-content">
                                        <h2>
                                            나의 자동차 금융
                                            <em>MG캐피탈 자동차 상품</em>
                                        </h2>
                                        <ul>
                                            <li>자금부담 최소화, 효과적인 자금관리</li>
                                            <li>간편하고 신속한 구매절차</li>
                                            <li>담보력 부족해도 신용거래 가능</li>
                                        </ul>
                                        <a href="javascript:void(0);" class="btn-main-link">상품상세 바로가기</a>
                                    </div>
                                </div><!--//swiper-slide-->
                                <div class="swiper-slide">
                                    <div class="text-content">
                                        <h2>
                                            나의 설비/의료 금융
                                            <em>MG캐피탈 설비/의료 상품</em>
                                        </h2>
                                        <ul>
                                            <li>소요 자금의 100% 융자 효과</li>
                                            <li>자금 운용상의 효과</li>
                                            <li>신속, 간편한 대출신청 이용절차</li>
                                        </ul>
                                        <a href="javascript:void(0);" class="btn-main-link">상품상세 바로가기</a>
                                    </div>
                                </div><!--//swiper-slide-->
                                <div class="swiper-slide">
                                    <div class="text-content">
                                        <h2>
                                            나의 주택금융
                                            <em>MG캐피탈 주택 상품</em>
                                        </h2>
                                        <ul>
                                            <li>개인사업자 및 법인사업자</li>
                                            <li>아파트, 연립, 빌라, 오피스텔 등 거주형 주택</li>
                                            <li>대출 한도와 금리는 운영 기준 내 차등 적용</li>
                                        </ul>
                                        <a href="javascript:void(0);" class="btn-main-link">상품상세 바로가기</a>
                                    </div>
                                </div><!--//swiper-slide-->
                                <div class="swiper-slide">
                                    <!--s:2025.12.09 텍스트 변경-->
                                    <div class="text-content">
                                        <h2>
                                            나의 투자금융
                                            <em>MG캐피탈 투자 상품</em>
                                        </h2>
                                        <ul>
                                            <li>신속한 의사결정 및 대규모 자금 지원 및 조달</li>
                                            <li>투자를 비롯한 다양한 금융서비스 지원 가능</li>
                                            <li>만기일시상환 등 다양한 방법 협의 가능</li>
                                        </ul>
                                        <a href="javascript:void(0);" class="btn-main-link">상품상세 바로가기</a>
                                    </div>
                                     <!--e:2025.12.09 텍스트 변경-->
                                </div><!--//swiper-slide-->
                            </div><!--//swiper-wrapper-->
                            <div class="btn-content">
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                                <button type="button" class="btn-swiper-toggle" aria-label="자동재생 정지" aria-pressed="false"></button>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="main-container">
                    <div class="main-content">
                        <div class="quick-group">
                            <div class="quick-tit">
                                <h3>한 번의 선택으로 완성되는 금융,  <em>금융의 기준을 바꾸다!</em></h3>
                                <div class="btn-content">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>
                            <div class="swipe quickSwiper">
                                <div class="swiper-wrapper">
                                    <a href="#" class="swiper-slide">
                                        <h4 class="icon01">자동차</h4>
                                        <p>자동차에 관련된 모든 상품은 MG캐피탈에서 쉽고 빠르게 이용해보세요</p>
                                    </a>
                                    <a href="#" class="swiper-slide">
                                        <h4 class="icon02">설비/의료</h4>
                                        <p>다양한 설비/의료·헬스 상품들은 MG캐피탈에서 다뤄보세요!</p>
                                    </a>
                                    <a href="#" class="swiper-slide">
                                        <h4 class="icon03">주택</h4>
                                        <p>사업자, 신용, 담보 등으로 간편하게 주택관련 대출을 받아보세요!</p>
                                    </a>
                                    <a href="#" class="swiper-slide">
                                        <h4 class="icon04">투자</h4>
                                        <p>모든 투자 상품은 손쉽게
                                            MG캐피탈에서 가입하실 수 있습니다!</p>
                                    </a>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <div class="notice-group">
                            <div class="tab-container jsTab">
                                <nav class="tab-list notice">
                                    <div class="btn-group">
                                        <button type="button" class="tab-item active" data-tab="tab2-1" aria-selected="true">공지사항</button>
                                        <button type="button" class="tab-item" data-tab="tab2-2" aria-selected="false">입찰공고</button>
                                    </div>
                                </nav>
                                <div class="tab-content">
                                    <div id="tab2-1" class="tab-panel active">
                                        <div class="noti-list">
                                            <div class="noti-group">
                                                <span class="label">공지사항</span>
                                                <span class="sbject">SK텔레콤 이용 회원을 위한 패해예방 수칙입니다.</span>
                                                <span class="date">2025.04.29</span>
                                            </div>
                                            <div class="noti-group">
                                                <span class="label">공지사항</span>
                                                <span class="sbject">SK텔레콤 이용 회원을 위한 패해예방 수칙입니다.</span>
                                                <span class="date">2025.04.29</span>
                                            </div>
                                            <div class="noti-group">
                                                <span class="label">공지사항</span>
                                                <span class="sbject">SK텔레콤 이용 회원을 위한 패해예방 수칙입니다.</span>
                                                <span class="date">2025.04.29</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab2-2" class="tab-panel">
                                        <div class="noti-list">
                                            <div class="noti-group">
                                                <span class="label">입찰공고</span>
                                                <span class="sbject">입찰공고 제목이 들어갑니다.</span>
                                                <span class="date">2025.08.24</span>
                                            </div>
                                            <div class="noti-group">
                                                <span class="label">입찰공고</span>
                                                <span class="sbject">입찰공고 제목이 들어갑니다.</span>
                                                <span class="date">2025.04.29</span>
                                            </div>
                                            <div class="noti-group">
                                                <span class="label">입찰공고</span>
                                                <span class="sbject">입찰공고 제목이 들어갑니다.</span>
                                                <span class="date">2025.04.29</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="btn-more">바로가기</a>
                            </div>
                            <div class="alarm swipe alarmSwiper">
                                <div class="tit">
                                    <h3>알림존</h3>
                                    <!--S:재생버튼 추가-->
                                    <div>
                                        <div class="swiper-pagination"></div>
                                        <button type="button" class="btn-swiper-toggle" aria-label="자동재생 정지" aria-pressed="false"></button>
                                    </div>
                                    <!--e:재생버튼 추가-->

                                </div>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <p> 중고차대출 금융 사기 피해 사례 및 유의사항을 확인하세요</p>
                                    </div>
                                    <div class="swiper-slide">
                                        <p>당사 사칭 이메일 주의 안내 </p>
                                    </div>
                                    <div class="swiper-slide">
                                        <p>개정 대부업법 주요 내용을 확인해보세요!</p>
                                    </div>
                                    <div class="swiper-slide">
                                        <p>택배기사, 카드사, 금융감독원, 검찰청을 사칭하는 보이스피싱 사례 전파</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-group">
                            <!--s:2025.12.09->시즈널 이미지화-->
                            <div class="visual-tit">
                                <p class="img-seasonal"><img src="../../assets/images/content/MAIN/service_img01.png" alt="시즈널이미지"></p>
                                <p>고객간편서비스</p>
                                <h3>
                                    포근한 겨울만큼 따뜻한 금융 혜택, <span>MG캐피탈이 함께합니다.</span>
                                </h3>
                                <a href="javascript:void(0);" class="btn-main-down">브로슈어 다운로드</a>
                            </div>
                            <!--e:2025.12.09->시즈널 이미지화-->
                            <div class="btn-service">
                                <a href="#" class="ser01"><span>상담신청<span class="mo-t">&nbsp;바로가기</span></span></a>
                                <a href="#" class="ser02"><span>유용한 사이트 안내<span class="mo-t">&nbsp;바로가기</span></span></a>
                                <a href="#" class="ser03"><span>입사지원<span class="mo-t">&nbsp;바로가기</span></span></a>
                                <a href="#" class="ser04"><span>고객권리안내<span class="mo-t">&nbsp;바로가기</span></span></a>
                            </div>
                        </div>


                        <!--<div class="shortcut-group">
                            <div class="mo-shortcut">
                                <p>포근한 겨울만큼 따뜻한 금융 혜택,
                                    MG캐피탈이 함께합니다.</p>
                                <a href="#">이용안내 바로가기</a>
                            </div>
                        </div>-->
                        <div data-include-path="../COMMON/footer.html"></div>

                    </div>
                </section>
            </main>
        </div>
    </div>
        <!-- Swiper JS -->
        <script src="../../assets/js/lib/swiper-bundle.min.js"></script>
        <!-- Initialize Swiper -->
        <script>
            // 이벤트 배너
            var eventSwiper = new Swiper(".eventSwiper", {
                speed: 800,
                pagination: {
                el: ".eventSwiper .swiper-pagination",
                type: "fraction",
                },
                navigation: {
                nextEl: ".eventSwiper .swiper-button-next",
                prevEl: ".eventSwiper .swiper-button-prev",
                },
                autoplay: {
                delay: 5000,
                disableOnInteraction: false,
                },
            });
            
            // 메인 비주얼
            var mySwiper = new Swiper(".mySwiper", {
                effect: "fade",
                fadeEffect: {
                crossFade: false,
                },
                speed: 800,
                pagination: {
                el: ".mySwiper .swiper-pagination",
                type: "fraction",
                },
                navigation: {
                nextEl: ".mySwiper .swiper-button-next",
                prevEl: ".mySwiper .swiper-button-prev",
                },
                autoplay: {
                delay: 5000,
                disableOnInteraction: false,
                },
            });
            
            // 퀵 영역
            var quickSwiper = new Swiper(".quickSwiper", {
                slidesPerView: 1.5,
                slidesPerGroup: 1,
                spaceBetween: 0,
                centeredSlides: true,
                resistance: false,
                loop: false,
                navigation: {
                nextEl: ".quick-group .swiper-button-next",
                prevEl: ".quick-group .swiper-button-prev",
                },
                pagination: {
                el: ".swiper-pagination",
                clickable: true,
                },
                breakpoints: {
                769: {
                    slidesPerView: 4,
                    slidesPerGroup: 4,
                    spaceBetween: 27,
                    centeredSlides: false,
                    allowTouchMove: false,
                    simulateTouch: false,
                    keyboard: { enabled: false },
                },
                1301: {
                    slidesPerView: 3,
                    slidesPerGroup: 3,
                    spaceBetween: 27,
                    centeredSlides: false,
                    keyboard: { enabled: false },
                },
                },
            });
            
            // 알림존
            var alarmSwiper = new Swiper(".alarmSwiper", {
                slidesPerView: 1,
                spaceBetween: 0,
                loop: true,
                width: null,
                centeredSlides: true,
                autoplay: {
                delay: 5000,
                disableOnInteraction: false,
                },
                pagination: {
                el: ".alarmSwiper .swiper-pagination",
                clickable: true,
                },
                observer: true,
                observeParents: true,
                on: {
                init: function () {
                    const swiperWidth = this.$el[0].offsetWidth;
                    this.slides.css("width", swiperWidth + "px");
                    this.update();
                },
                resize: function () {
                    const swiperWidth = this.$el[0].offsetWidth;
                    this.slides.css("width", swiperWidth + "px");
                    this.update();
                },
                },
            });
            
            // ==========================
            // 공통 재생/정지 버튼
            // ==========================
            document.querySelectorAll(".btn-swiper-toggle").forEach(function (btn) {
                btn.addEventListener("click", function () {
                // .swipe 래퍼 기준 (eventSwiper, mySwiper, alarmSwiper 모두 .swipe 안에 있다고 가정)
                const wrapper = btn.closest(".swipe");
                if (!wrapper) return;
            
                let swiper = null;
                if (wrapper.classList.contains("mySwiper")) {
                    swiper = mySwiper;
                } else if (wrapper.classList.contains("eventSwiper")) {
                    swiper = eventSwiper;
                } else if (wrapper.classList.contains("alarmSwiper")) {
                    swiper = alarmSwiper;
                }
            
                if (!swiper) return;
            
                const hasPlaying = btn.classList.contains("playing");
                if (hasPlaying) {
                    // 현재 정지 상태 → 다시 재생
                    btn.classList.remove("playing");
                    swiper.autoplay.start();
                    btn.setAttribute("aria-label", "자동재생 정지");
                    btn.setAttribute("aria-pressed", "false");
                } else {
                    // 현재 재생 중 → 정지
                    btn.classList.add("playing");
                    swiper.autoplay.stop();
                    btn.setAttribute("aria-label", "자동재생 시작");
                    btn.setAttribute("aria-pressed", "true");
                }
                });
            });
            
            // ==========================
            // 오늘 하루 열지 않음
            // ==========================
            const getTodayStr = () => {
                const d = new Date();
                return (
                d.getFullYear() +
                "-" +
                ("0" + (d.getMonth() + 1)).slice(-2) +
                "-" +
                ("0" + d.getDate()).slice(-2)
                );
            };
            
            document.addEventListener("DOMContentLoaded", () => {
                const modal = document.getElementById("modal");
                const btnToday = document.getElementById("btnTodayClose");
                if (!modal || !btnToday) return;
            
                const key = `hideForToday_${btnToday.dataset.popupClose || "modal"}`;
                const today = getTodayStr();
            
                // 오늘 이미 닫았으면 → 모달 표시 안함
                if (localStorage.getItem(key) === today) {
                modal.classList.remove("on");
                return;
                }
            
                // 오늘 하루 열지 않음 클릭 시 저장 + 닫기
                btnToday.addEventListener("click", () => {
                localStorage.setItem(key, today);
                modal.classList.remove("on");
                });
            });
    </script>
</body>
</html>
