<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>보안프로그램 설치 팝업</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <link rel="stylesheet" href="http://gallery2gate.kr/project/mgcapital_re/assets/css/com/layout.css" />
    
    <link rel="stylesheet" href="../css/sample.css" />
    
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
  </head>

    <body>
        <div class="wrap">
            <main class="contentWrap">
            </main>
        </div>
        <div id="fullPopup1" class="layerPopup full fullPopupOn on">
            <!--[D] fullPopupOn 클래스 :: 헤더 스크립트 적용중-->
            <div class="pop-area">
                <div class="pop-header">
                    <h2 class="pop-tit">AnySign4PC 설치 정보</h2>
                </div>
                <div class="pop-body">
                    <div class="pop-content">
                        <div class="table-content">
                            <div class="table-content">
                                <table class="mo-s mo-list td-l">
                                    <caption>AnySign4PC 설치 정보 표(프로그램명, 내용, 설치현황, 다운로드 포함)</caption>
                                    <colgroup>
                                        <col style="width:138px">
                                        <col style="width:auto">
                                        <col style="width:120px">
                                        <col style="width:120px">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">프로그램명</th>
                                            <th scope="col">내용</th>
                                            <th scope="col">설치현황</th>
                                            <th scope="col">설치관리</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>AnySign4PC</td>
                                            <td>Non-ActiveX 공인인증서 전자서명을 지원해주는 프로그램입니다.</td>
                                            <td class="error">미설치</td>
                                            <td class="list-download">
                                                <a title="다운로드 타이틀 명" class="btn-download"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>AnySign4PC</td>
                                            <td>Non-ActiveX 공인인증서 전자서명을 지원해주는 프로그램입니다.</td>
                                            <td class="success">설치됨</td>
                                            <td class="list-download"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pop-footer">
                    <button type="button" class="btn-pop-primary" data-popup-close="fullPopup1">확인</button>
                </div>
            </div>
        </div>
    </body>
</html>
