<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>mg캐피탈폼&gt;메뉴&gt;</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공."/>
    <meta name="viewport" content="width=device-width" />

    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />




    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />

    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap main">
        <header id="headerWrap" class="headerOn">
            <div class="header-l">
                <h1><a href="javascript:void(0);" title="MG캐피탈 홈페이지">MG캐피탈</a></h1>
                <ul>
                    <li class="on"><a href="javascript:void(0);"  aria-current="page">자동차</a></li>
                    <li><a href="javascript:void(0);">설비/의료&middot;헬스</a></li>
                    <li><a href="javascript:void(0);">주택</a></li>
                    <li><a href="javascript:void(0);">기업</a></li>
                </ul>
            </div>
            <div class="header-r">
                <nav id="menuWrap" class="lnb" role="navigation" aria-label="top 메뉴">
                    <ul class="menu">
                        <li class="menu-item">
                            <button type="button" class="menu-tit" aria-expanded="false" aria-haspopup="true" aria-controls="submenu-1"> My MG</button>
                            <div class="list-item">
                                <ul id="submenu-1" class="submenu" role="group">
                                    <li>
                                        <span>이용현황</span>
                                        <ul class="submenu2">
                                            <li class="on"><a href="#" aria-current="page">이용상품내역</a></li>
                                            <li><a href="#">납입내역</a></li>
                                            <li><a href="#">상환일정 조회</a></li>
                                            <li><a href="#">만기예정 및 결과조회</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <span>청구정보조회</span>
                                        <ul class="submenu2">
                                            <li><a href="#">청구내역조회</a></li>
                                            <li><a href="#">연체내역조회</a></li>
                                            <li><a href="#">청구정보변경</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <span>차량납부조회</span>
                                        <ul class="submenu2">
                                            <li><a href="#">자동차세조회</a></li>
                                            <li><a href="#">범칙금/과태료조회</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <span>진행상태조회</span>
                                        <ul class="submenu2">
                                            <li><a href="#">본인인증<br/>(개인, 개인사업자 / 법인)</a></li>
                                            <li><a href="#">중도상환 조회/신청</a></li>
                                            <li><a href="#">오토리스만기예정처리</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <span>서류발급</span>
                                        <ul class="submenu2">
                                            <li><a href="#">본인인증<br/>(개인, 개인사업자 / 법인)</a></li>
                                            <li><a href="#">금융거래확인서</a></li>
                                            <li><a href="#">만기안내장</a></li>
                                            <li><a href="#">중도상환완납증서</a></li>
                                            <li><a href="#">연체완납확인서</a></li>
                                            <li><a href="#">양도확인서</a></li>
                                            <li><a href="#">담보권해지신청</a></li>
                                            <li><a href="#">영수증조회</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <span>서류등록</span>
                                        <ul class="submenu2">
                                            <li><a href="#">본인인증<br/>(개인, 개인사업자 / 법인)</a></li>
                                            <li><a href="#">제출 서류 업로드</a></li>
                                            <li><a href="#">제출 완료</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#">나의 정보변경</a>
                                    </li>

                                    <li>
                                        <a href="#">나의 상담내역</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <button type="button" class="menu-tit on" aria-expanded="false" aria-haspopup="true" aria-controls="submenu-2"> 소비자보호</button>
                            <div class="list-item">
                                <ul id="submenu-2" class="submenu" role="group">
                                    <li>
                                        <span>금융소비자보호체계</span>
                                        <ul class="submenu2">
                                            <li><a href="#">금융소비자보호헌장</a></li>
                                            <li><a href="#">금융소비자보호조직</a></li>
                                            <li><a href="#">상품개발프로세스</a></li>
                                            <li><a href="#">금융상품 판매세칙</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <span>금융소비자 주요 권리</span>
                                        <ul class="submenu2">
                                            <li><a href="#">고객권리 안내문</a></li>
                                            <li><a href="#">청약철회권</a></li>
                                            <li><a href="#">금리인하요구권</a></li>
                                            <li><a href="#">위법계약해지요구권</a></li>
                                            <li><a href="#">자료열람요구권</a></li>
                                            <li><a href="#">연락금지요구권</a></li>
                                            <li><a href="#">방문판매인력 신원조회</a></li>
                                            <li><a href="#">모집인 조회</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <span>장애인고객지원 서비스</span>
                                        <ul class="submenu2">
                                            <li><a href="#">장애인 상담 안내</a></li>
                                            <li><a href="#">유용한 정보</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <span>금융소비자보호공시</span>
                                        <ul class="submenu2">
                                            <li><a href="#">민원건수</a></li>
                                            <li><a href="#">실태평가</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <span>고객의 목소리</span>
                                        <ul class="submenu2">
                                            <li><a href="#">민원처리 프로세스</a></li>
                                            <li><a href="#">민원접수</a></li>
                                            <li><a href="#">칭찬/제안 접수</a></li>
                                            <li><a href="#">개인(신용)정보 고객권리 신청</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <span>유익한소비자정보</span>
                                        <ul class="submenu2">
                                            <li><a href="#">대출사기 피해 예방 안내</a></li>
                                            <li><a href="#">연체이자율 변경 안내</a></li>
                                            <li><a href="#">안전망대출2&middot;햇살론15</a></li>
                                            <li><a href="#">금융분쟁 정보 및 유용한 사이트 정보</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <span>금융소비자보호우수 사례</span>
                                        <ul class="submenu2">
                                            <li><a href="#">보이스피싱 예방안내</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <button type="button" class="menu-tit" aria-expanded="false" aria-haspopup="true" aria-controls="submenu-3"> 회사소개</button>
                            <div class="list-item">
                                <ul id="submenu-3" class="submenu" role="group">
                                    <li><a href="#">CEO 인사말</a></li>
                                    <li><a href="#">회사 개요</a></li>
                                    <li><a href="#">회사 연혁</a></li>
                                    <li>
                                        <span>CI 소개</span>
                                        <ul class="submenu2">
                                            <li><a href="#">CI</a></li>
                                            <li><a href="#">컬러시스템</a></li>
                                            <li><a href="#">CI 활용</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>사회공헌</span>
                                        <ul class="submenu2">
                                            <li><a href="#">주요활동</a></li>
                                            <li><a href="#">회사 소식</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>윤리경영</span>
                                        <ul class="submenu2">
                                            <li><a href="#">윤리경영</a></li>
                                            <li><a href="#">클린신고센터</a></li>
                                            <li><a href="#">성희롱 및 직장내 괴롭힘 신고센터</a></li>
                                            <li><a href="#">신고센터 처리현황</a></li>
                                        </ul>
                                    </li>
    
                                    <li>
                                        <span>경영정보</span>
                                        <ul class="submenu2">
                                            <li><a href="#">공시정보</a></li>
                                            <li><a href="#">재무정보</a></li>
                                            <li><a href="#">신용평가</a></li>
                                        </ul>
                                    </li>
    
                                    <li>
                                        <span>채용 정보</span>
                                        <ul class="submenu2">
                                            <li><a href="#">MG캐피탈 인재상</a></li>
                                            <li><a href="#">복지제도</a></li>
                                            <li><a href="#">채용안내 및 절차</a></li>
                                            <li> <a href="#">채용공고</a></li>
                                        </ul>
                                    </li>
    
                                    <li><a href="#">찾아오시는길</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <button type="button" class="menu-tit" aria-expanded="false" aria-haspopup="true" aria-controls="submenu-4"> 고객센터</button>
                            <div class="list-item">
                                <ul id="submenu-4" class="submenu" role="group">
                                    <li>
                                        <a href="#">공지사항</a>
                                    </li>

                                    <li>
                                        <a href="#">자주하는 질문</a>
                                    </li>

                                    <li>
                                        <a href="#">서식/약관 자료실</a>
                                    </li>

                                    <li>
                                        <span>금융계산기</span>
                                        <ul class="submenu2">
                                            <li><a href="#">오토리스</a></li>
                                            <li><a href="#">일반리스</a></li>
                                            <li><a href="#">할부</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#">공개매각 정보</a>
                                    </li>

                                    <li>
                                        <a href="#">원격지원 서비스</a>
                                    </li>

                                    <li>
                                        <a href="#">기한이익상실 예정 공지</a>
                                    </li>

                                    <li>
                                        <a href="#">소멸시효 완성여부 조회</a>
                                    </li>

                                    <li>
                                        <span>약관 및 정책</span>
                                        <ul class="submenu2">
                                            <li><a href="#">업무위탁및제3자제공현황</a></li>
                                            <li><a href="#">이메일주소무단수집거부</a></li>
                                            <li><a href="#">개인정보조회&middot;동의 안내문</a></li>
                                            <li><a href="#">신용정보 활용체제</a></li>
                                            <li><a href="#">분리보존된 개인신용정보의 활용 안내</a></li>
                                            <li><a href="#">불법 채권추심 대응요령</a></li>
                                            <li><a href="#">개인신용용평가(자동화평가) 대응권</a></li>
                                            <li><a href="#">채무조정안내</a></li>
                                            <li><a href="#">법적고지</a></li>
                                            <li><a href="#">개인정보처리방침</a></li>
                                            <li><a href="#">이용약관</a></li>
                                            <li><a href="#">영상정보처리기기 운영&middot;관리 방침</a></li>
                                            <li><a href="#">고객확인제도</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <button type="button" class="menu-tit" aria-expanded="false" aria-haspopup="true" aria-controls="submenu-5"> 인증센터</button>
                            <div class="list-item">
                                <ul id="submenu-5" class="submenu" role="group">
                                    <li>
                                        <span>공동인증서 관리</span>
                                        <ul class="submenu2">
                                            <li><a href="#">공동인증서 등록 현황</a></li>
                                            <li><a href="#">공동인증서 등록</a></li>
                                            <li><a href="#">공동인증서 삭제</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <span>금융인증서 관리</span>
                                        <ul class="submenu2">
                                            <li><a href="#">금융인증서 등록 현황</a></li>
                                            <li><a href="#">금융인증서 등록</a></li>
                                        </ul>
                                    </li>
    
                                    <li>
                                        <a href="#">i-Pin 인증 등록</a>
                                    </li>
    
                                    <li>
                                        <a href="#">공개매각 입찰내역</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <button type="button" class="menu-tit" aria-expanded="false" aria-controls="submenu6"> 로그인</button>
                        </li>
                    </ul>
                </nav>
                <div class="header-btn-wrap" aria-label="헤더 도구모음">
                    <button class="search-btn" aria-label="검색" data-open="searchWrap"></button>
                    <button class="close-btn" aria-label="전체메뉴 닫기"></button>
                    <button class="menu-btn" aria-label="전체메뉴" data-open="modal"></button>
                </div>
            </div>
            <!--S: 검색창 -->
            <div id="allSearch" class="allsearch">
                <form>
                    <div class="form-content">
                        <div class="search-wrap">
                            <div class="search-group">
                                <div class="ipt-search">
                                    <input id="search-input" type="text" name="text" placeholder="" value="공지">
                                    <div class="search-btn-wrap">
                                        <button type="button" class="btn-clear" aria-label="입력 지우기 버튼"></button>
                                        <button type="submit" class="btn-search" aria-label="검색하기 버튼"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="search-group">
                                <div class="recomend">
                                    <p class="tit">추천메뉴</p>
                                    <ul>
                                        <li><a href="#">상품공시실</a></li>
                                        <li><a href="#">대출상담신청</a></li>
                                        <li><a href="#">금융상품</a></li>
                                        <li><a href="#">리스상품</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="search-group">
                                <p class="result-tit">결과 (<span>1</span>)</p>
                                <div class="search-result">
                                    <p class="tit"><span>공지</span>사항</p>
                                    <ul class="location">
                                        <li>홈</li>
                                        <li>1depth</li>
                                        <li>2depth</li>
                                        <li>3depth</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--E: 검색창 -->
        </header>
        <div class="bodyWrap">
            <main class="contentWrap">

            </main>
        </div>
        </div>
    </body>
</html>
