<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>메뉴관리&gt;폼&gt;샘플&gt;</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
    </head>

    <body>
        <div class="wrap">
            <!-- <div id="header">
                <script>$(document).ready(function () { $("#header").load("../COM/header.html"); });</script>
            </div> -->
            <div class="bodyWrap">
                <main class="contentWrap">
                    <section class="modal-container">
                        <div id="modal" class="layerPopup modal on">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <p>
                                        중복된 순서가 있습니다.<br />
                                        입력하신 순서를 확인해 주세요.
                                    </p>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-primary" data-popup-close="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- [D]:저장 버튼 클릭 시 (필수 미입력) -->
                    <section class="modal-container">
                        <div id="save01" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <!-- 0) 얼럿메시지(유효성체크) 문구노출 -->
                                    <!-- 1) 필수 미입력 title -->
                                    <p>(title)을 작성해 주세요.</p>
                                    <!-- 2) 답변 미작성 시 메시지 -->
                                    <!-- <p>답변을 작성해주세요.</p> -->
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-primary" data-popup-close="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- [D]:저장 버튼 클릭 시 (정상 입력) -->
                    <section class="modal-container">
                        <div id="save02" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <!-- 0) 컨펌얼럿 문구노출 -->
                                    <!-- 1) 내용등록 시 메시지 -->
                                    <p>내용이 등록되었습니다.</p>
                                    <!-- 2) 내용수정 시 메시지 -->
                                    <!-- <p>내용이 수정되었습니다.</p> -->
                                    <!-- 3) 답변등록 시 메시지 -->
                                    <!-- <p>답변이 등록되었습니다.</p> -->
                                    <!-- 4) 답변수정 시 메시지 -->
                                    <!-- <p>답변이 수정되었습니다.</p> -->
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <a href="javascript:void(0);" class="btn-pop-primary" data-popup-close="modal">확인</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- [D]:삭제 버튼 클릭 시  -->
                    <section class="modal-container">
                        <div id="delete01" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <p>삭제하시겠습니까?</p>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-secondary" data-popup-close="modal">아니오</button>
                                        <button type="button" class="btn-pop-primary" data-popup-open="modal">예</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- [D]:삭제 확인 버튼 클릭 시 -->
                    <section class="modal-container">
                        <div id="delete02" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <p>삭제가 완료되었습니다.</p>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <a href="javascript:void(0);" class="btn-pop-primary" data-popup-close="modal">확인</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- [D]:초기화 버튼 클릭 시 -->
                    <section class="modal-container">
                        <div id="reset" class="layerPopup modal">
                            <div class="pop-content alert">
                                <div class="pop-body">
                                    <p>초기화하시겠습니까?</p>
                                </div>
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-secondary" data-popup-close="modal">아니오</button>
                                        <a href="javascript:void(0);" class="btn-pop-primary" data-popup-close="modal">예</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
