@charset "euc-kr";
body{
  --btn-board:1px solid var(--color-9);
  --btn-padding:8px 16px;
  --btn-font-color:var(--color-75);
  --btn-active:var(--primary);
  --ico_reset:url("../../images/com/svg/ico_reset.svg");

  --btn-content-font-size:var(--font16);
  --btn-content-font-color:var(--white);
  --btn-content-background:var(--color-2);
  --btn-content-active:var(--primary);
  --btn-content-diasbled:var(--color-d);
  --btn-content-d-font-color:var(--color-75);


  --btn-pop-background:var(--color-2);
  --btn-pop-font-color:var(--white);
  --btn-pop-font-second-color:var(--color-45);
  --btn-pop-font-size:var(--font18);
  --btn-pop-font-w:var(--font-w-m);

  --btn-pop-s-background:var(--white);
  --btn-pop-s-border:1px solid var(--color-d);


  --btn-download-background:var(--white);
  --btn-download-font-size:var(--font20);
  --btn-download-border:1px solid var(--color-d);
  --ico-download:url("../../images/com/svg/ico_download.svg");
  --ico-link:url("../../images/com/svg/ico_link.svg");

  --btm-btn-primary:var(--primary);
  --btm-btn-primary-active:var(--active);
  --btm-btn-secondary:var(--color-d);
  --btm-btn-secondary-active:var(--color-c);
  --btm-btn-font-size:var(--font22);  
  --btm-btn-font-weight:var(--font-w-m);

  --btn-text:var(--primary);

  --lst-btn-pprev:url("../../images/com/svg/ico_pprev.svg");
  --lst-btn-prev:url("../../images/com/svg/ico_prev.svg");
  --ico-file:url("../../images/com/svg/ico_file.svg");

  --ico-close: url("../../images/com/svg/ico_close.svg");

  --ico-login: url("../../images/content/register/w/ico_login.svg");
  --ico-register: url("../../images/content/register/w/ico_register.svg");

  --tab-active:var(--primary);

}

a, button { position:relative; }
a:focus-visible,
button:focus-visible { outline:2px solid var(--tab-active); outline-offset:4px; z-index:2; color:var(--primary); }

a:hover, button:hover { border-color:var(--primary); color:var(--primary); }

.btn-text { color:var(--btn-text); text-decoration:underline;  }
.btn-text.inline { display:inline; text-decoration:none; }

/** 로그인 버튼 **/
.btn-content.login { margin-top:38px; }

.btn-content.login .button-group:first-child { display:flex; gap:50px; justify-content:center; width:100%; text-align:center; }
.btn-content.login .button-group:first-child a { padding:0 10px; width:100%; height:98px; border-radius:10px; font-size:var(--font26); line-height:98px; }
.btn-content.login .button-group:first-child a::before { content:""; display:inline-block; margin-right:21px; width:40px; height:40px; vertical-align:text-bottom; }
.btn-content.login .btn-primary { background-color:var(--primary); color:var(--white); }
.btn-content.login .btn-primary::before { background:var(--ico-login)no-repeat center;  }
.btn-content.login .btn-primary:hover { background-color:var(--active); }
.btn-content.login .btn-secondary { border:1px solid var(--primary); background-color:var(--white); }
.btn-content.login .btn-secondary:hover { border-color:var(--active); color:var(--active); }
.btn-content.login .btn-secondary::before { background:var(--ico-register)no-repeat center; }

.btn-content.login .button-group:last-child { padding-top:20px; text-align:center; }
.btn-content.login .button-group:last-child a { margin-top:18px; padding:12px 10px; border-radius:10px; background-color:var(--bg-box); font-size:var(--font20); font-weight:var(--font-w-m); }

/**Form btn**/
.btn-form { width:100%; max-width:152px; height:67px; padding:var(--btn-padding); border:var(--btn-board); color:var(--btn-font-color); box-sizing:border-box; text-align:center; }
.btn-form:hover { border-color:var(--btn-active); color:var(--btn-active);}
.btn-form.reset { font-size:0; flex:0 0 67px; width:67px; height:67px; font-size:0;  }
.btn-form.reset::before { content:""; display:block; width:30px; height:30px; margin:0 auto; background:var(--ico_reset) no-repeat center; background-size:100%; }
.btn-form.uploadButton { max-width:119px; height:58px; background-color:var(--color-2); color:var(--white); }

/**Popup Btn**/
.btn-pop-primary,
.btn-pop-secondary { padding:15px 30px; width:100%; max-width:212px; height:60px; line-height:1; box-sizing:"border-box"; font-size:var(--btn-pop-font-size); color:var(--btn-pop-font-second-color); font-weight:var(--btn-pop-font-w); border-radius:100px; border:1px solid transparent; }
.btn-pop-primary{ background:var(--btn-pop-background); color:var(--btn-pop-font-color); }
.btn-pop-primary:hover { background:var(--primary); color:var(--btn-pop-font-color); }
.btn-pop-secondary{ border:var(--btn-pop-s-border); background:var(--btn-pop-s-background); }
.btn-pop-secondary:hover{ background:var(--btm-btn-secondary-active); color:var(--color-45); border: var(--btn-pop-s-background); }

.btn-terms-modal { padding: 2px 10px 4px; border: 1px solid var(--btn-modal-border); color:var(--btn-modal-font-color); font-size:var(--btn-download-font-size); }
.btn-terms-modal:hover { border-color: #222222; color: #222222; }

.btn-close { display:block; position:absolute; top:44px; right:34px; width:40px; height:40px; background: var(--ico-close) no-repeat center; background-size:22px; font-size:0;  }

/**링크, 다운로드버튼**/
.btn-group.w50 { display:flex; flex-wrap:wrap; }
.btn-group.w50 > a { margin-top:24px; padding-left:73px; width:calc(50% - 16px); background-repeat:no-repeat; background-position:left 20px center; background-size:40px; }
.btn-group.w50 > a:nth-child(odd) { margin-right:16px; }
.btn-group.w50 > a:nth-child(even) { margin-left:16px; }
.btn-group.w50 > a:first-of-type,
.btn-group.w50 > a:nth-of-type(2) { margin-top:0; }

.btn-link,
.btn-download { display:inline-flex; align-items:center; justify-content:space-between; gap:10px; min-height:62px; line-height:1.5; padding:0 32px; border-radius:100px; background:var(--btn-download-background); border:var(--btn-download-border); text-align:left; font-size:var(--btn-download-font-size); }
.btn-download::after { content:""; display:block; width:24px; height:24px; background-color:var(--color-9); 
  mask-image:var(--ico-download); mask-repeat:no-repeat; mask-size:auto 40px; mask-position:center; -webkit-mask-image:var(--ico-download); -webkit-mask-repeat:no-repeat; -webkit-mask-size:17.333px auto; -webkit-mask-position:center; 
  }

.btn-link::after { content:""; display:block; width:24px; height:24px; background-color:var(--color-9); 
  mask-image:var(--ico-link); mask-repeat:no-repeat; mask-size:auto 40px; mask-position:center; -webkit-mask-image:var(--ico-link); -webkit-mask-repeat:no-repeat; -webkit-mask-size:19px auto; -webkit-mask-position:center; 
}

.btn-link:focus-visible::after,
.btn-link:hover::after { background-color:var(--primary); }  

/**조건검색**/
.search-form .btn-form { position:absolute; top:0; right:0; width:auto; height:initial; padding:12px 26px; border-radius:4px; border:0; background:var(--primary); color:var(--white);  }
.search-form .group:only-of-type + .btn-form { top:50%; transform:translateY(-50%); right:40px; }
.search-form .group:has(.form-group + .form-group) + .btn-form.mo {top: 72%;} /* .group 내부에 .form-group이 2개 이상 존재하는 경우 모바일 */
/** 공지사항 검색 **/
.noti-search .btn-body { padding:12px; width:48px; height:48px; border:1px solid var(--color-d); border-radius:100px; font-size:0; }
.noti-search .btn-body::before { content:""; display:block; width:24px; height:24px; background:var(--ico-noti-reset)no-repeat center; background-size:16px auto; }
/** 공지사항 검색 **/

/**CTA 01**/
.btn-content.cta .button-group { display:flex; gap:24px; justify-content:center; width:100%; text-align:center; }
.btn-content.cta a,
.btn-content.cta button {  flex:0 0 auto; display:inline-block; padding:0 60px; min-width:161px; width:auto; height:63px; line-height:63px; font-size:var(--btm-btn-font-size); font-weight:var(--btm-btn-font-weight); text-align:center; border-radius:100px;}
.btn-content.cta.round12 a,
.btn-content.cta.round12 button { padding:0 10px; min-width:120px; border-radius:12px; }
.btn-content.cta .btn-primary { background-color: var(--btm-btn-primary); color:var(--white); }
.btn-content.cta .btn-primary:hover { background-color: var(--active); }
.btn-content.cta .btn-secondary { background-color: var(--btm-btn-secondary); }
.btn-content.cta .btn-secondary:hover{ background:var(--btm-btn-secondary-active); color:var(--color-45); }
.btn-content.cta button:disabled,
.btn-content.cta a[aria-disabled="true"] { text-decoration:none; cursor: not-allowed; background-color:var(--color-d); color:var(--color-75); pointer-events:none;}

/**페이지네이션 버튼 **/
.pagination-content > div { position:relative; display:flex; padding:48px 12px 12px; align-items:center; justify-content:center; gap:8px; }
.pagination-content button, 
.pagination-content a { display:inline-block; min-width:40px; font-size:1rem; font-weight:var(--font-w-r); color:var(--color-45); }
.pagination-content .active { color:var(--primary); font-weight:var(--font-w-b); }
.pagination-content > div > div { padding:0 8px; text-align:center; }
.pagination-content .first,
.pagination-content .last {  flex:0 0 64px; display:flex; gap:8px; }
.pagination-content .first { left:20px; }
.pagination-content .last { right:20px; }
.pagination-content .first *,
.pagination-content .last *{ display:flex; align-items:center; font-size:0; width:24px; min-width:24px; height:24px; }
.pagination-content .btn-first::before { content:""; display:block; width:24px; height:24px; background:var(--lst-btn-pprev) no-repeat left center; background-size:100%; transform:rotate(180deg);   }
.pagination-content .btn-prev::before { content:""; display:block; width:24px; height:24px; background:var(--lst-btn-prev) no-repeat left center; background-size:100%; transform:rotate(180deg);   }
.pagination-content .btn-next::after { content:""; display:block; width:24px; height:24px; background:var(--lst-btn-prev) no-repeat right center; background-size:100%;  }
.pagination-content .btn-last::after { content:""; display:block; width:24px; height:24px; background:var(--lst-btn-pprev) no-repeat right center; background-size:100%;  }

.pagination-content .mo { display:none; }

@media (max-width:767px) {
    body{
    --btn-padding:12px;
    --btm-btn-font-weight:var(--font-w-m);
    --btn-download-font-size:var(--font18);
    }
    .btn-form { max-width:100%; height:48px; }
    .btn-form.reset { width:auto; height:48px; font-size:inherit; }
    .btn-form.reset::before { display:none; }

    .btn-download { width:100%; gap:30px; line-height:1.5; flex-direction:row-reverse; justify-content:flex-end; padding:0 20px 0 80px; background:linear-gradient(to right, var(--primary) 0 60px, var(--white) 60px 100%); }
    .btn-download::after {  position:absolute; left:20px; background-color:var(--white); }

   
    /**링크, 다운로드버튼**/
    .btn-link:nth-child(odd), .btn-link:nth-child(even),
    .btn-download:nth-child(odd), .btn-download:nth-child(even) { margin:0 0 20px; }
    .btn-link { gap:0; flex:1; min-height:60px; }
    .btn-link::after { content:""; display:none; }
    .btn-group.w50 > a { margin-top:0; width:100%; }
    .btn-group.w50 > a:nth-child(odd) { margin-right:0; }
    .btn-group.w50 > a:nth-child(even) { margin-left:0; }

   
   /**CTA 01**/
   .btn-content.cta a,
   .btn-content.cta button { flex:1; padding:0 10px; height:60px; line-height:60px; font-size:var(--font20); }
   .btn-content.cta .button-group { gap:20px; }

 
   

    /** 검색조건 **/
    .search-form .btn-form,
    .search-form .group:only-of-type + .btn-form { position:unset; transform:unset; min-width:130px; }

    /** 공지사항 검색 **/
    .noti-search .btn-body { display:none; }
    /** 공지사항 검색 **/

    /**페이지네이션 버튼 **/

    .pagination-content > div { padding:32px 0px 0px; }
    .pagination-content .btn-first,
    .pagination-content .btn-last { display:none; }
    .pagination-content .first, .pagination-content .last { flex:0 0 40px; }



    /**Popup Btn**/
  .btn-pop-primary,
  .btn-pop-secondary { width:100%; max-width:100%; height:auto; }
}

@media (min-width: 767px) and (max-width:1023px){}
