@charset "euc-kr";
body{
  --btn-board:1px solid var(--color-9);
  --btn-padding:8px 16px;
  --btn-font-color:var(--color-75);
  --btn-active:var(--primary);
  --ico_reset:url("../../images/com/svg/ico_reset.svg");

  --btn-content-font-size:var(--font16);
  --btn-content-font-color:var(--white);
  --btn-content-background:var(--color-2);
  --btn-content-active:var(--primary);
  --btn-content-diasbled:var(--color-d);
  --btn-content-d-font-color:var(--color-75);


  --btn-pop-background:var(--color-2);
  --btn-pop-font-color:var(--white);
  --btn-pop-font-size:var(--font18);
  --btn-pop-font-w:var(--font-w-m);

  --btn-pop-s-background:var(--white);
  --btn-pop-s-border:1px solid var(--color-d);


  --btn-download-background:var(--white);
  --btn-download-font-size:var(--font20);
  --btn-download-border:1px solid var(--color-d);
  --ico-download:url("../../images/com/svg/ico_download.svg");
  --ico-link:url("../../images/com/svg/ico_link.svg");

  --btm-btn-primary:var(--primary);
  --btm-btn-primary-active:var(--active);
  --btm-btn-secondary:var(--color-d);
  --btm-btn-font-size:var(--font22);  
  --btm-btn-font-weight:var(--font-w-m);

  --btn-text:var(--primary);


}

a, button { position:relative; }
a:focus-visible,
button:focus-visible { outline:2px solid var(--tab-active); outline-offset:4px; z-index:2; color:var(--primary); }

a:hover, button:hover { border-color:var(--primary); color:var(--primary); }

.btn-text { color:var(--btn-text); text-decoration:underline;  }
.btn-text.inline { display:inline; text-decoration:none; }

/**Form btn**/
.btn-form { width:100%; max-width:152px; height:67px; padding:var(--btn-padding); border:var(--btn-board); color:var(--btn-font-color); box-sizing:border-box; text-align:center; }
.btn-form:hover { border-color:var(--btn-active); color:var(--btn-active);}
.btn-form.reset { font-size:0; flex:0 0 67px; width:67px; height:67px; font-size:0;  }
.btn-form.reset::before { content:""; display:block; width:30px; height:30px; margin:0 auto; background:var(--ico_reset) no-repeat center; background-size:100%; }

/**Popup Btn**/
.btn-pop-primary,
.btn-pop-secondary { padding:0 60px; width:100%; height:60px; line-height:60px; box-sizing:"border-box"; font-size:var(--btn-pop-font-color); font-weight:var(--btn-pop-font-w); border-radius:100px; border:1px solid transparent; }
.btn-pop-primary{ background:var(--btn-pop-background); color:var(--btn-pop-font-color); }
.btn-pop-primary:hover { background:var(--primary); }
.btn-pop-secondary{ border:var(--btn-pop-s-border); background:var(--btn-pop-s-background); }

.btn-terms-modal { padding: 2px 10px 4px; border: 1px solid var(--btn-modal-border); color:var(--btn-modal-font-color); font-size:var(--btn-download-font-size); }
.btn-terms-modal:hover { border-color: #222222; color: #222222; }

/**링크, 다운로드버튼**/
.btn-link,
.btn-download { display:inline-flex; align-items:center; gap:10px; min-height:62px; line-height:1.5; padding:0 32px; border-radius:100px; background:var(--btn-download-background); border:var(--btn-download-border); text-align:left; font-size:var(--btn-download-font-size); }
.btn-download::after { content:""; display:block; width:24px; height:24px; background-color:var(--color-9); 
  mask-image:var(--ico-download); mask-repeat:no-repeat; mask-size:auto 40px; mask-position:center; -webkit-mask-image:var(--ico-download); -webkit-mask-repeat:no-repeat; -webkit-mask-size:17.333px auto; -webkit-mask-position:center; 
  }

.btn-link { justify-content:space-between; }
.btn-link::after { content:""; display:block; width:24px; height:24px; background-color:var(--color-9); 
  mask-image:var(--ico-link); mask-repeat:no-repeat; mask-size:auto 40px; mask-position:center; -webkit-mask-image:var(--ico-link); -webkit-mask-repeat:no-repeat; -webkit-mask-size:19px auto; -webkit-mask-position:center; 
}

.btn-link:focus-visible::after,
.btn-link:hover::after { background-color:var(--primary); }  

/**조건검색**/
.search-form .btn-form { position:absolute; top:0; right:0; width:auto; height:initial; padding:12px 26px; border-radius:4px; border:0; background:var(--primary); color:var(--white);  }
.search-form .group:only-of-type + .btn-form { top:50%; transform:translateY(-50%); right:40px; }


/**CTA 01**/
.btn-content.cta .button-group { display:flex; gap:24px; justify-content:center; width:100%; text-align:center; }
.btn-content.cta a,
.btn-content.cta button {  flex:0 0 auto; display:inline-block; padding:0 60px; min-width:161px; width:auto; height:63px; line-height:63px; font-size:var(--btm-btn-font-size); font-weight:var(--btm-btn-font-weight); text-align:center; border-radius:100px;}
.btn-content.cta.round12 a,
.btn-content.cta.round12 button { padding:0 10px; min-width:120px; border-radius:12px; }
.btn-content.cta .btn-primary { background-color: var(--btm-btn-primary); color:var(--white); }
.btn-content.cta .btn-primary:hover { background-color: var(--active); }
.btn-content.cta .btn-secondary { background-color: var(--btm-btn-secondary); }
.btn-content.cta button:disabled,
.btn-content.cta a[aria-disabled="true"] { text-decoration:none; cursor: not-allowed; background-color:var(--color-d); color:var(--color-75); pointer-events:none;}

@media (max-width:767px) {
    body{
    --btn-padding:12px;
    --btm-btn-font-weight:var(--font-w-m);
    --btn-download-font-size:var(--font18);
    }
    .btn-form { max-width:100%; height:48px; }
    .btn-form.reset { width:auto; height:48px; font-size:inherit; }
    .btn-form.reset::before { display:none; }

    .btn-download { width:100%; gap:30px; line-height:1.5; flex-direction:row-reverse; justify-content:flex-end; padding:0 20px 0 80px; background:linear-gradient(to right, var(--primary) 0 60px, var(--white) 60px 100%); }
    .btn-download::after {  position:absolute; left:20px; background-color:var(--white); }

   
   /**링크, 다운로드버튼**/
  .btn-link { gap:0; flex:1; min-height:60px; }
  .btn-link::after { content:""; display:none; }

   
   /**CTA 01**/
   .btn-content.cta a,
   .btn-content.cta button { flex:1; height:60px; line-height:60px; font-size:var(--font20); }

 
   

    /** 검색조건 **/
    .search-form .btn-form,
    .search-form .group:only-of-type + .btn-form { position:unset; transform:unset; min-width:130px; }
}

@media (min-width: 767px) and (max-width:1023px){}

@media screen and (max-width:480px) {
    
}