/*---------------------------------------------
    #ÄÁÅÙÃ÷
---------------------------------------------*/


/**Å¸ÀÌÆ²**/
h2 > em {  font-size: 2rem;;  }
h2 > span { font-size:var(--font18); color:#757575; }
h3 {  color:#454545; font-size:1.111rem; font-weight:500; }
h3.bb-0 { color:#333; font-size:1.556rem; font-weight:600; border-bottom:1px solid #666; }
.accordion-item h4 { font-size:1.222rem; font-weight:500; }
h5 { margin-bottom:10px; font-size:1rem; font-weight:600; }


/*---------------------------------------------
    #form- input.css, latyout.css
---------------------------------------------*/
.form-content > .form-wrap > .form-group { margin-left:40px; vertical-align:top;  }
.form-content > .form-wrap > .form-group > div > .flex-row { margin-left:13px; }
.form-content > .form-wrap > .form-group:only-of-type { max-width:calc(50% - 20px); }
.form-content > .form-wrap > .form-group .mo-column > .col:last-of-type { width: 152px;}

.form-content > .form-wrap,
.form-content > .form-wrap > .form-group > div > .flex-row:first-child { margin-left:0; }
.form-content label { font-size:1.111rem; color:#454545; font-weight:500; }
.form-content input.form-control { height:67px; }
.form-content input.form-control,
.form-content textarea { border: 1px solid #ddd; color:#222; box-sizing:border-box; transition:all 0.2s ease; }
.form-content input.form-control:focus,
.form-content textarea:focus { border-color:#2392FF; }
.form-content input:disabled,
.form-content textarea:disabled { background-color:#f6f6f6; }



/*---------------------------------------------
    #¹öÆ°- button.css
---------------------------------------------*/

/**Form btn**/
.btn-form { padding:20px 16px; border:1px solid #999; color:#757575; }
.btn-form:hover { border-color:#2392FF; color:#2392FF;}

/**Contents & Modal**/

.btn-content { background: #222222; color: #ffffff; }
.btn-content:hover { background: #0072bc;}
.btn-content:disabled { background: #dddddd; color: #757575; }

.btn-terms-modal { border: 1px solid #eeeeee; color: #757575; }
.btn-terms-modal:hover { border-color: #222222; color: #222222; }


/*---------------------------------------------
    #¹öÆ°- button.css
---------------------------------------------*/
/**Form btn**/
.btn-form { padding:20px 16px; background:#fff; border:1px solid #ddd; color:#757575; }
.btn-form:hover { border-color:var(--btn-active); color:#2392FF;}

/**Contents & Modal**/

.btn-content { background:#222; color:#fff; }
.btn-content:hover { background:#0072BC;}
.btn-content:disabled { background:#ddd; color:#757575; }

.btn-terms-modal { background:#fff; border: 1px solid #eee; color:#757575; }
.btn-terms-modal:hover { border-color: #222222; color: #222222; }

/**CTA 01**/
.button-content .btn,
.button-content a,
.button-content button { font-size:0.889rem;; }
.button-content .btn-primary { background-color:#6A6A6A; color:#fff; }
.button-content .btn-primary:hover { background-color:#2392FF; }
.button-content button:disabled,
.button-content a[aria-disabled="true"] { background-color:#ddd; color:#757575; pointer-events:none;}



/*---------------------------------------------
    #ÅÇ- tab.css
---------------------------------------------*/
.tab-container .tab-list.depth1 li.tab-item button { font-size:1.222rem; background:#fdfdfd; color:#757575; border:1px solid #ddd; font-weight:500;  }
.tab-container .tab-list.depth1 li.active button {  background:#fff; color:#2392FF; border:2px solid #2392FF; font-weight:600; }

.tab-container .tab-list.depth2 li:not(:last-child) { margin-right:24px; margin-bottom:24px; }

.tab-container .tab-list.depth2 li.tab-item button { background:#f1f2f4; font-weight:500; }
.tab-container .tab-list.depth2 li.active button {  color:#fff; background:#2392FF;}

.tab-container .tab-list.depth3 li.tab-item button { background:#fff; color:#999; border:1px solid #ddd;  }
.tab-container .tab-list.depth3 li.active button {  color:#0072BC; border:1px solid #0072BC;}
