@charset "euc-kr";

body{
  --form-label:var(--color-45);
  --form-label-font-size:var(--font20);
  --th-form-label-font-size:1rem;
  --font-label-weight:var(--font-w-m);
  --form-bg:var(--white);
  --from-font-color:var(--color-2);
  --from-placeholder-color:var(--color-6);
  --form-board:var(--color-d);
  --form-height:50px;
  --form-padding:0 16px;
  --form-transition: all 0.2s ease;
  --form-active:var(--primary);
  --form-disabled:var(--color-f6);
  --form-disabled-font-color:var(--color-9);
  --form-focus:var(--primary);
  --form-focus-font-color:var(--color-2);
  --form-check-font-color:var(--color-75);
  --form-checkbox:url("../../images/com/svg/ico_form_check.svg");
  --form-checked:var(--primary-light);
  --form-check-dissbled:#9CB1C4;
  --fonm-file-button:#F6F7FB;
  --form-radio-bg:var(--color-f7);
  --form-date-ico:url("../../images/com/svg/ico_date.svg");
  /* --ico-search:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.625' height='16.624'%3E%3Cpath fill='%23999' d='M11.093 11.942a6.731 6.731 0 0 1-4.335 1.573A6.757 6.757 0 0 1 0 6.758 6.758 6.758 0 0 1 6.758 0a6.758 6.758 0 0 1 6.758 6.758 6.729 6.729 0 0 1-1.574 4.335l4.683 4.683-.849.848ZM1.199 6.758a5.558 5.558 0 0 0 5.558 5.557 5.558 5.558 0 0 0 5.557-5.557A5.558 5.558 0 0 0 6.757 1.2 5.558 5.558 0 0 0 1.2 6.758Z'/%3E%3C/svg%3E");*/
  --ico-search:url("../../images/com/svg/ico_search.svg");
  --ico-file:url("../../images/com/svg/ico_file.svg");

  --ico-noti-search:url("../../images/com/svg/ico_noti_search.svg");
  --ico-noti-reset:url("../../images/com/svg/ico_noti_reset.svg");
  --ico-move: url("../../images/com/svg/ico_move.svg");
}



/* 포커스 링 */
input:focus-visible,
textarea:focus-visible,
select:focus-visible { outline:2px solid var(--form-active); outline-offset:4px; z-index:2;  }


label,
.label-tit{ display:block; margin-bottom:16px; font-size:var(--form-label-font-size); color:var(--form-label); font-weight:var(--font-label-weight); }
th label { font-size:var(--th-form-label-font-size); font-weight:initial; }
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="date"],
input[type="month"],
input[type="datepicker"],
select{ width:100%; height:var(--form-height); max-height:var(--form-height); background:var(--form-bg); border: 1px solid var(--form-board); padding:var(--form-padding); color:var(--from-font-color); box-sizing:border-box; }
textarea { width:100%; border:1px solid var(--form-board); padding:12px 16px; color:var(--from-font-color); box-sizing:border-box; font-size:1rem; }
select {  padding-right:54px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:var(--ico-select) no-repeat right 14px center; line-height:var(--form-height); }
input[type="search"] { background-image:var(--ico-search); background-size:18px; background-repeat:no-repeat; background-position:right 14px center;  }


input.upload { position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0; }

input::placeholder,
textarea::placeholder { color:var(--from-placeholder-color); }



input:focus,
select:focus,
textarea:focus { border:1px solid var(--form-focus); }
input:focus::placeholder,
textarea:focus::placeholder { color:var(--form-focus-font-color); }

input:disabled,
textarea:disabled { background-color:var(--form-disabled); color:var(--form-disabled-font-color); }


.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="tel"],
.form-group input[type="search"], 
.form-group input[type="date"],
.form-group input[type="month"],
.form-group input[type="datepicker"],
.form-group select,
.form-group textarea{ flex:1; }

.form-group .search input[type="search"] { background:transparent; padding-left:16px; padding-right:56px;  }
.form-group .search input + button.btn-sch {position:absolute; top:50%; right:16px; transform:translate(0, -50%); font-size:0; }
.form-group .search input + button.btn-sch::before { content:""; display:block; width:24px; height:24px; background-color:var(--color-2);
  mask-image:var(--ico-search); mask-position:center; mask-repeat:no-repeat; mask-size:80%; --webkit-mask-image:var(--ico-search); --webkit-mask-position:center; --webkit-mask-repeat:no-repeat; --webkit-mask-size:80%; }

.form-group .txt-unit { position:relative; }
.form-group .txt-unit > input { text-align:right; padding-right:40px; }
.form-group .txt-unit > span { z-index:2; position:absolute; top:50%; right:16px; transform:translate(0, -50%); color:var(--color-6); }

label:has(input) { display:inline-flex; align-items:center; font-size:var(--form-font-size) }
label.check{ gap:14px; }
label.radio { gap:6px; padding:6px 13px 8px; background:var(--form-radio-bg); border-radius:100px;}
label input[type="radio"] { position:relative; width:28px; height:28px; border-radius:50%; background:var(--white); overflow:hidden; }
label input[type="checkbox"],
.terms input[type="checkbox"] { position:relative; width:30px; height:30px; border:1px solid transparent; background:var(--form-board); overflow:hidden; border-radius:50%; }
label input[type="checkbox"]::before,
.terms input[type="checkbox"]::before { content:""; display:block; width:100%; height:100%; background:var(--white); mask-image:var(--form-checkbox); mask-position:center; mask-repeat:no-repeat; mask-size:15px auto; --webkit-mask-image:var(--form-checkbox); --webkit-mask-position:center; --webkit-mask-repeat:no-repeat; --webkit-mask-size:15px auto; }
label input[type="checkbox"]:checked,
.terms input[type="checkbox"]:checked { background:var(--form-checked); } 
label input[type="checkbox"]:disabled,
.terms input[type="checkbox"]:disabled { background:var(--form-check-dissbled); } 
label input:not(:checked) + span { font-weight:var(--font-w-m); color:var(--color-45); }
label input:checked + span { color:var(--form-font-color); font-weight:500; }
label input:not(:checked) + span { font-weight:400; }
label input[type="radio"]:not(:checked) { border:7px solid var(--form-board);  }
label input[type="radio"]:checked { border:7px solid var(--form-checked);  }
label input[type="radio"]:disabled { border:7px solid var(--form-check-dissbled);  }


/**textxarea 글자수 **/
.textarea-wrap { position:relative; padding-bottom:0; }
.textarea-wrap textarea { padding-bottom:30px; }
.textarea-wrap .char-counter { position:absolute; bottom:10px; right:16px; color:var(--color-6);  }
.textarea-wrap .char-counter .current { color:var(--color-2); font-weight:var(--font-w-m); }

/** 약관동의 **/
[class*="-container"] form:has(.terms) { margin:32px 0 72px; }
.terms li { position: relative; display:flex; align-items:center; gap:14px; padding:23px 20px; border-bottom:1px solid var(--color-d); font-size:0; }
.terms li:first-child:not(.check-all-area),
.terms li.check-all-area + li { border-top:1px solid var(--color-2); }
.terms input[type="checkbox"] { display:inline-block; }
.terms input[type="checkbox"] + label { display:inline-block; position:relative; margin:0; min-height:30px; line-height:30px; color:var(--color-45); font-weight:var(--font-w-m); font-size:1rem; }
.terms input[type="checkbox"]:checked  + label span { font-weight:var(--font-w-m); color:var(--from-font-color); }

/* 전체동의 */
.terms li.check-all-area { margin-bottom:9px; border-bottom:0; }
.terms li.check-all-area input[type="checkbox"]:checked { background-color:var(--primary); }

/* 내용보기 버튼 */
ul.check-box.terms li .modal { position:absolute; top:50%; right:20px; transform: translateY(-50%); }
.form-group .modal { padding:10px 24px; background: var(--white); border: 1px solid var(--color-d); border-radius:100px; color: var(--color-6); font-size: var(--font16); font-weight:var(--font-w-m); }

/* 약관동의 인포 */
.form-content:has(.terms) .info-list .m-dot li { margin-top:18px; font-size:var(--font18); color:var(--color-6); }
.form-content:has(.terms) .info-list .m-dot li::before { content: "·"; margin-right: 5px; }

label.toggle {
    --w: 40px;
    --h: 24px;
    --pad-x: 3px; 
    --pad-y: 2px;  
    --knob: 20px; 
    --travel: calc(var(--w) - (var(--pad-x) * 2) - var(--knob));
    display:block; margin:0 auto; position: relative; width: var(--w); height: var(--h); padding: var(--pad-y) var(--pad-x); background: var(--form-board); border-radius:30px;
   transition: background-color .2s ease;
}
  
label.toggle:has(input:checked) { background: var(--active); }
label.toggle::before { content:""; position:absolute; top:var(--pad-y); left:var(--pad-x); width:var(--knob); height:var(--knob); border-radius:50%; background:var(--white); transform:translateX(0); transition: transform .2s ease, box-shadow .2s ease; }
label.toggle:has(input:checked)::before { transform: translateX(var(--travel)); }
label.toggle:focus-within { outline: 2px solid transparent; }
  /* 모션 민감 사용자 배려 */

  @media (prefers-reduced-motion: reduce) {
    label.toggle,
    label.toggle::before {
      transition: none !important;
    }
  }
  
label.toggle input[type="checkbox"] { position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0; clip: rect(0 0 0 0); overflow:hidden; white-space:nowrap; }
label.toggle input + span { font-size:0; }


/**조건검색**/
.search-form {
  --form-height: 52px;
}
.search-form input[type="text"],
.search-form input[type="password"],
.search-form input[type="email"],
.search-form input[type="number"],
.search-form input[type="tel"],
.search-form input[type="search"],
.search-form input[type="date"],
.search-form select {  flex:0 0 208px; padding:0 16px; width:208px; min-height:48px; max-height:var(--form-height); line-height:48px; background-color:var(--white); border:1px solid var(--color-6); border-radius:6px;  font-size:var(--font16)  }
.search-form label { margin-bottom:0; font-size:var(--font18); }

.search-form .form-group:has(.address) input { flex:0 0 400px; }
/**조건검색**/

/** 공지사항 검색 **/
.noti-search label { display:none; font-size:0; }
.noti-search input[type="text"],
.noti-search input[type="password"],
.noti-search input[type="email"],
.noti-search input[type="number"],
.noti-search input[type="tel"],
.noti-search input[type="search"],
.noti-search input[type="date"],
.noti-search select { flex:0 0 360px; padding:0 20px; width:306px; height:48px; max-height:48px; line-height:48px; border-radius:100px; font-size:var(--font16); }
.noti-search .flex-end { gap:12px; }
.noti-search select { flex:0 0 136px; width:136px; }
.noti-search .search-row { position:relative; display:inline-block; }
.search-form .group .form-group:has(.btn-search) > div { position:relative; }
.search-form .group .form-group:has(.btn-search) input[type="search"],
.noti-search input[type="search"] { padding-right:50px; background:none; background-color:var(--white); }
.search-form .group .form-group:has(.btn-search) .btn-search,
.noti-search .search-row .btn-search { position:absolute; top:50%; transform:translateY(-50%); right:20px; width:24px; height:24px; background:var(--ico-noti-search)no-repeat center center; background-size:24px; font-size:0; }
.search-form .group .form-group:has(.btn-search) .btn-search { right:16px; }

/** 공지사항 검색 **/

/** 라디오 탭 **/
.tab-content > .form-wrap > .form-group > .flex-row select { max-width:178px; }
.tab-content > .form-wrap > .form-group.address > input { margin-top:10px; }

/** 유효성체크 **/
input[aria-invalid="true"] { border:1px solid var(--error) !important; }
input[aria-invalid="true"]:focus-visible,
select[aria-invalid="true"]:focus-visible,
.form-group:has(.error) input:focus-visible,
.form-group:has(.error) select:focus-visible,
.form-group:has(.error) textarea:focus-visible,
tr td:has(.error) input:focus-visible,
tr td:has(.error) select:focus-visible,
tr td:has(.error) textarea:focus-visible { outline:2px solid var(--error); outline-offset:4px; z-index:2;  }

.form-group:has(.error) input,
.form-group:has(.error) select,
.form-group:has(.error) textarea,
tr td:has(.error) input,
tr td:has(.error) select,
tr td:has(.error) textarea { border:1px solid var(--error); }


.form-group:has(input[aria-invalid="true"]) span + .error,
span:has(input[aria-invalid="true"]) + .error,
li:has(.error) .error,
tr td .error,
.form-wrap.search-form > .group .form-group span.error { display:inline-block; width:100%; margin-top:10px; font-size:var(--font16); text-align:left; }
.form-wrap.search-form > .group .form-group span.error  { grid-column:2; }



/**달력**/
.form-group { position:relative; }
.date-wrap { flex:1; position:relative; }
.date-wrap:has(button) input[type="date"]::-webkit-calendar-picker-indicator,
.date-wrap:has(button) input[type="month"]::-webkit-calendar-picker-indicator { display:none; }
.date-wrap { position:relative; display:inline-flex; }
/*.date-wrap input[type="date"],
.date-wrap input[type="month"] { padding-right:54px; background-image:var(--form-date-ico); background-size:18px; background-repeat:no-repeat; background-position:right 14px center; }*/

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator { width:18px; height:18px; background:var(--form-date-ico) no-repeat center/18px 18px; opacity:1; cursor:pointer; filter:none; }
input[type="date"],
input[type="month"] { appearance:none; -webkit-appearance:none; padding-right:10px; }



.date-wrap:has(button) input {  background:transparent; }
input[type="month"]+ button,
 input[type="date"] + button { position:absolute; right:10px; top:50%; transform:translate(0, -50%); z-index:2; display:block; width:24px; height:24px; font-size:0; background-image:var(--form-date-ico); background-size:18px; background-repeat:no-repeat;; background-position:center; }
.date.is-open,
.date[aria-expanded="true"] { border:1px solid var(--form-active); outline:2px solid var(--form-active); outline-offset:4px; z-index:2;  }


.ui-widget.ui-widget-content  {
 --bg-box:#F3F6FB;
}
.ui-widget.ui-widget-content {  z-index:2; background:var(--bg-box); border:1px solid var(--color-d); border-radius:10px; width:350px; }
.ui-widget-header { background:transparent; border:0; }
.ui-datepicker .ui-datepicker-title { font-size:var(--font20); }
.ui-widget.ui-widget-content table { border-top:0; }
.ui-widget.ui-widget-content th { background:transparent; font-size:var(--font16); color:var(--color-6); }
.ui-state-default, 
.ui-widget-content 
.ui-state-default, 
.ui-widget-header 
.ui-state-default, 
.ui-button, 
.ui-button.ui-state-disabled:hover, 
.ui-button.ui-state-disabled:active { display:flex; align-items:center; justify-content:center; width:40px; height:40px; border:0; border-radius:4px; background:transparent; text-align:center; } 
.ui-state-disabled { color:var(--color-6); }
.ui-datepicker-today a { background:var(--color-2) !important; color:var(--white) !important; }
.ui-datepicker-current-day a { background:var(--primary) !important; color:var(--white) !important; }
.ui-state-active { background:var(--primary); color:var(--w); font-weight:var(--font-w-b); }


@media (max-width:767px) {
    body{
        --form-label-font-size:var(--font16);
        --form-padding:0 16px;
        --form-height:46px;

    }

    main.contentWrap > div { margin:0 auto 60px; padding:0 24px; }
    main.contentWrap > div { padding:0 12px;}
    #container > .tab-container,
    #container > .form-container { padding:54px 0 72px; }

    /**인풋**/
    .form-content label { margin-bottom:10px; font-size:var(--font16); font-weight:var(--font-w-m); color:var(--color-2); }
    .form-content select {  background-size:12px auto; }

    .form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"], .form-group input[type="number"], .form-group input[type="tel"], .form-group input[type="search"], .form-group input[type="date"], .form-group input[type="month"], .form-group input[type="datepicker"], .form-group select, .form-group textarea { flex: 1 1 var(--fonm-height); }

    .form-group .search input + button.btn-sch::before { width:24px; height:24px; }
    /** 약관동의 **/
    [class*="-container"] form:has(.terms) { margin:32px 0 42px; }
    .terms li { gap:6px; padding:14px 18px; }
    .terms li input[type="checkbox"] { width:20px; height:20px; }
    .terms input[type="checkbox"]::before { mask-size:10px auto;     --webkit-mask-size:10px auto; }
    .terms li input[type="checkbox"] + label { width:100%; font-size:var(--font14); }
    .terms li input[type="checkbox"] + label::after { content:""; position:absolute; top: 50%; right:0; transform:translateY(-50%); width:20px; height:20px; background-color:var(--color-2); mask-image:var(--ico-move); mask-repeat: no-repeat; mask-size:auto 13px; mask-position:center; -webkit-mask-image:var(--ico-move); -webkit-mask-repeat:no-repeat; -webkit-mask-size:auto 13px; -webkit-mask-position:center; transition:0.2s linear; }
    .terms li.check-all-area input[type="checkbox"] + label::after { display: none; }
  
    .terms li .modal { display: none; }
    .terms li.check-all-area { margin-bottom:4px; }

    /* 약관동의 인포 */
    .form-content:has(.terms) .info-list .m-dot li { margin-top:10px; font-size:var(--font14); }

    /* 조건검색 */
    .form-wrap.search-form.tab-list .form-group label.radio,
    .search-form label.radio { display:inline-flex; margin:0; padding:6px 24px 8px 0; }
    .search-form input[type="text"],
    .search-form input[type="password"],
    .search-form input[type="email"],
    .search-form input[type="number"],
    .search-form input[type="tel"],
    .search-form input[type="search"],
    .search-form input[type="date"],
    .search-form select { flex:1; width:100%; }
    .form-wrap.search-form > .group > .form-group .ph input { width:91px; }
    .form-wrap.search-form > .group > .form-group .ph input[type="date"] { min-width:100px; width:100%; }
    .form-wrap.search-form .tab-content > .group .form-group .mail,
    .form-wrap.search-form > .group .form-group .mail { width:100%; }
    .form-wrap.search-form .tab-content > .group .form-group .mail .ph,
    .form-wrap.search-form > .group .form-group .mail .ph { gap:17px 4px; width:100%; }
    .form-wrap.search-form .tab-content > .group .form-group .mail .ph select,
    .form-wrap.search-form > .group .form-group .mail .ph select { flex:unset; }

    /** 공지사항 검색 **/
    .noti-search input[type="text"],
    .noti-search input[type="password"],
    .noti-search input[type="email"],
    .noti-search input[type="number"],
    .noti-search input[type="tel"],
    .noti-search input[type="search"],
    .noti-search input[type="date"],
    .noti-search select { flex:0 0 223px; padding:10px 16px; width:223px; height:41px; font-size:var(--font14); line-height:16px; }
    .noti-search select { flex:0 0 92px; width:92px; background-size:12px; }
    .noti-search input[type="search"] { background-size:20px; }
    /** 공지사항 검색 **/


    /**버튼**/
    .btn-form { padding:12px; height:48px; }

}

@media (min-width: 767px) and (max-width:1400px){

}