@charset "euc-kr";

body{
  --form-label:var(--color-45);
  --form-label-font-size:var(--font20);
  --font-label-weight:var(--font-w-m);
  --form-bg:var(--white);
  --from-font-color:var(--color-2);
  --from-placeholder-color:var(--color-6);
  --form-board:var(--color-d);
  --form-height:67px;
  --form-padding:20px 16px;
  --form-transition: all 0.2s ease;
  --form-active:var(--primary);
  --form-disabled:var(--color-f6);
  --form-disabled-font-color:var(--color-9);
  --form-focus:var(--primary);
  --form-focus-font-color:var(--color-2);
  --form-check-font-color:var(--color-75);
  --form-checkbox:url("../../images/com/svg/ico_form_check.svg");
  --form-checked:var(--primary-light);
  --form-check-dissbled:#9CB1C4;
  --fonm-file-button:#F6F7FB;
  --form-radio-bg:var(--color-f7);
  --form-date-ico:url("../../images/com/svg/ico_date.svg");
 /* --ico-search:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.625' height='16.624'%3E%3Cpath fill='%23999' d='M11.093 11.942a6.731 6.731 0 0 1-4.335 1.573A6.757 6.757 0 0 1 0 6.758 6.758 6.758 0 0 1 6.758 0a6.758 6.758 0 0 1 6.758 6.758 6.729 6.729 0 0 1-1.574 4.335l4.683 4.683-.849.848ZM1.199 6.758a5.558 5.558 0 0 0 5.558 5.557 5.558 5.558 0 0 0 5.557-5.557A5.558 5.558 0 0 0 6.757 1.2 5.558 5.558 0 0 0 1.2 6.758Z'/%3E%3C/svg%3E");*/
 --ico-search:url("../../images/com/svg/ico_search.svg");
 --ico-file:url("../../images/com/svg/ico_file.svg");

}



/* 포커스 링 */
ul.radio-box input[type="radio"]:focus-visible,
ul.check-box input[type="checkbox"] :focus-visible,
div.toggle-box input[type="checkbox"]:focus-visible { outline: 1px solid var( --form-active); }


label { display:block; margin-bottom:16px; font-size:var(--form-label-font-size); color:var(--form-label); font-weight:var(--font-label-weight); }
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="search"], 
select{ width:100%; height:var(--form-height); background:var(--form-bg); border: 1px solid var(--form-board); padding:var(--form-padding); color:var(--from-font-color); box-sizing:border-box; }
textarea { width:100%; border: 1px solid var(--form-board); padding:var(--form-padding); color:var(--from-font-color); box-sizing:border-box;  }
input::placeholder,
textarea::placeholder { color:var(--from-placeholder-color); }


input:focus,
select:focus,
textarea:focus { border:1px solid var(--form-focus); }
input:focus::placeholder,
textarea:focus::placeholder { color:var(--form-focus-font-color); }

input:disabled,
textarea:disabled { background-color:var(--form-disabled); color:var(--form-disabled-font-color); }


label:has(input) { display:flex; align-items:center; font-size:var(--form-font-size) }
label.check{ gap:14px; }
label.radio { gap:6px; padding:6px 13px 8px; background:var(--form-radio-bg); border-radius:100px;}
label input[type="radio"] { position:relative; width:28px; height:28px; border-radius:50%; background:var(--white); overflow:hidden; }
label input[type="checkbox"],
.terms input[type="checkbox"] { position:relative; width:30px; height:30px; border:1px solid transparent; background:var(--form-board); overflow:hidden; border-radius:50%; }
label input[type="checkbox"]::before,
.terms input[type="checkbox"]::before { content:""; display:block; width:100%; height:100%; background:var(--white); mask-image:var(--form-checkbox); mask-position:center; mask-repeat:no-repeat; mask-size:15px auto; --webkit-mask-image:var(--form-checkbox); --webkit-mask-position:center; --webkit-mask-repeat:no-repeat; --webkit-mask-size:15px auto; }
label input[type="checkbox"]:checked,
.terms input[type="checkbox"]:checked { background:var(--form-checked); } 
label input[type="checkbox"]:disabled,
.terms input[type="checkbox"]:disabled { background:var(--form-check-dissbled); } 
label input:not(:checked) + span { font-weight:var(--font-w-m); }
label input:checked + span { font-weight:500; }
label input:checked + span { color:var(--form-font-color); font-weight:500; }
label input:not(:checked) + span { font-weight:400; }
label input[type="radio"]:not(:checked) { border:7px solid var(--form-board);  }
label input[type="radio"]:checked { border:7px solid var(--form-checked);  }
label input[type="radio"]:disabled { border:7px solid var(--form-check-dissbled);  }

.terms li { display:flex; align-items:center; gap:14px; margin-bottom:16px; }
.terms input[type="checkbox"] + label { display:inline-block; position:relative; margin:0; min-height:30px; line-height:30px; color:var(--form-check-font-color); font-weight:var(--font-w-l); font-size:1rem; }
.terms input[type="checkbox"]:checked  + label span { font-weight:var(--font-w-m); color:var(--from-font-color); }






@media (max-width:767px) {
    main.contentWrap > div { margin:0 auto 60px; padding:0 24px; }
    main.contentWrap > div { padding:0 24px;}
    #container > .tab-container,
    #container > .form-container { padding:54px 0 72px; }

    /**인풋**/
    .form-content label { margin-bottom:10px; }
	.form-content input[type="text"],
	.form-content input[type="password"],
	.form-content input[type="email"],
	.form-content input[type="number"],
    .form-content input[type="tel"],
    .form-content input[type="search"],
    .form-content select { height:48px; line-height:46px; }

	/**버튼**/
	.btn-form { padding:12px; height:48px; }

}

@media (min-width: 767px) and (max-width:1400px){

}