@charset "euc-kr";
body {
    --success-bg:#F0FFF9;
    --success-font-color:#218500;
    --ico-success:url("../../images/com/svg/ico_success.svg");
    --error-bg:#FFF0F0;
    --error-font-color:#D52700;
    --ico-error:url("../../images/com/svg/ico_error.svg");
    --ico-select:url("../../images/com/svg/ico_select.svg");
    --error: var(--red);
    --success:var(--primary);
    --failure:var(--red);
    --point-r:var(--red);

}


.flex-col { display:flex;  }

/*---------------------------------------------
	#기본 레이아웃
---------------------------------------------*/
html,body { height:100%; }
body { position: relative; -webkit-text-size-adjust: none; }
.wrap { position: relative; margin: 0 auto; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction: column; /*overflow: hidden;*/ }

main.contentWrap { -webkit-box-flex:1; -ms-flex:1 1 auto; flex:1 1 auto; padding-bottom:120px; min-height:0; min-width:0; overflow-y:auto; -webkit-overflow-scrolling:touch; position:relative; overflow-anchor:none; }
main.contentWrap > * { margin:0 auto; max-width:1400px; width:100%; padding:0 52px;  }

.mt-20 { margin-top:20px; }
.point-r { color:var(--point-r) !important; }
.bo-t0 { border-top:0 !important; }

/*---------------------------------------------
    #header
---------------------------------------------*/
#headerWrap { width:100%; display:flex; }
#headerWrap > nav {  margin:0 auto; max-width:1400px; width:100%; }

/*---------------------------------------------
    #브레드크럼
---------------------------------------------*/

main.contentWrap > .location-container { padding:24px 0; width:100%;  }
.location-container ol { display:flex; align-items:center; justify-content:flex-end; gap:0; }
.location-container ol li { display:flex; align-items:center; }
.location-container ol li span { font-size:var(--font16); color:var(--color-75); }
.location-container ol li::before { content:""; display:block; margin:0 8px; width:20px; height:20px; background:var(--ico-next) no-repeat center; }
.location-container ol li:first-of-type:before { display:none; } 
.location-container ol li:last-child span { font-weight:var(--font-w-m); }



/*---------------------------------------------
    #서브이미지
---------------------------------------------*/
.visual-container > * { padding-bottom:20px; text-align:center; }
.visual-container h2 { font-size:var(--font42); }
.visual-container p { font-size:var(--font20); color:var(--color-6); }

/*---------------------------------------------
    #컨텐츠
---------------------------------------------*/

main.contentWrap > .page-container { padding-top:56px; }
/**text-content, text-group*, process-content, process-gruop */
.page-container > [class*="-content"] > .group,
.page-container > [class*="-content"] > [class*="-group"],
.page-container > div + div.bo-t0  { margin-bottom:72px; }
.page-container > [class*="-content"] > .group > [class*="-group"] { margin-bottom:52px; }
.page-container > [class*="-content"] > .group > [class*="-group"],
.page-container > [class*="-content"] >[class*="-group"]:last-of-type { margin-top:52px; }
.page-container > [class*="-content"] > .group > [class*="-group"]:last-of-type { margin-bottom:0; }
.page-container > div + div { padding-top:56px; border-top:1px solid var(--color-d); }

/**성공, 실패**/
.success { color:var(--success); }
.error { color:var(--failure); }


/**타이틀 및 텍스트**/
h3 { display:block; font-size:var(--font28);  }
h3 + p { margin-top:20px; }
h4.tit-diamond::before { content:"◆"; display:inline; color:var(--primary); }

[class*="-container"] form { margin:52px 0 32px; }
[class*="-container"] form:last-of-type { margin-bottom:0; }
[class*="-content"] * ~ h3 { margin-top:72px; }
[class*="-content"] > .group > h3 + * { margin-top:52px; }
[class*="-group"] h3 + *,
[class*="-group"] h4 + * { margin-top:20px; }
[class*="-group"] h3 + * ~ *,
[class*="-group"] h4 + * ~ * { margin-top:18px; }

/**텍스트**/
.text-content p + p { margin-top:18px; }
.text-content p.hypn, .text-content p.star, .text-content p.rfrnc, .text-content .square { color:var(--color-6); }
.text-content p.hypn:before,
.text-content .hypn li:before { content:"-"; }
.text-content .hypn dd:before { content:"-"; }
.text-content p.star:before,
.text-content .star li:before,
.text-content .star dd:before { content:"*"; }
.text-content p.rfrnc:before,
.text-content .rfrnc li:before,
.text-content .rfrnc dd:before,
.text-content h3.rfrnc::before { content:"※ "; display:inline; }
.text-content p.square:before,
.text-content .square li:before,
.text-content .square dd:before { content:"□"; }
.text-content p.dot, .text-content .dot li, .text-content .dot dt { position:relative; padding-left:15px; }
.text-content .dot li { margin-bottom:18px; }
.text-content p.dot:before,
.text-content .dot li:before,
.text-content .dot dt:before { content:""; display:inline-block; position:absolute; left:5px; top:10px; width:5px; height:5px; border-radius:10px; background:var(--color-45); margin-right:7px; }
.text-content p.m-dot,
.text-content .m-dot dd,
.text-content .m-dot li { color:var(--color-6);  margin-top:12px; }
.text-content p.m-dot::before,
.text-content .m-dot dd::before,
.text-content .m-dot li::before { content:"·"; margin-right:5px; }
.text-content .dot li:last-of-type,
.text-content .m-dot li:last-of-type,
.text-content .dot li:last-of-type { margin-bottom:0; }

.text-content .text-list li,
.text-content .text-list dd { margin-bottom:18px; }
.text-content .text-list li:last-child { margin-bottom:0; }
.text-content .text-list li > p.rfrnc { margin-top:12px; }

.text-content .dot dt { display:inline-flex; align-items:center; font-weight:var(--font-w-b); }
.text-content .dot dd { margin-top:12px; padding-left:12px; }
.text-content .dot dt ~ dt { margin-top:18px; }

.text-content .text-group dt { font-weight:var(--font-w-m); }
.text-content .text-group dt ~ dt { margin-top:20px; }
.text-content .text-group p,
.text-content .text-group dd { margin-top:18px; }
.text-content .text-group dd + dd { margin-top:12px; }
.text-content .text-group .button-content { margin-top:34px; }
.text-content .text-group p:first-child { margin-top:0; }

/**유의사항**/
.page-container .note-content { padding-top:72px; border-top:0; }


/**인풋**/
.form-content > .form-wrap { display:flex; gap:40px; margin-bottom:40px; }
.form-content > .form-wrap:first-of-type { margin-top:0; }
.form-content > .form-wrap:last-of-type,
.form-content > .form-wrap:last-of-type > .form-group:last-of-type{ margin-bottom:0; }
.form-content > .form-wrap > .form-group { flex:1; }
.form-content > .form-wrap > .form-group:only-of-type { flex:0 0 calc(50% - 20px); }
.form-content > .form-wrap > .form-group > .flex-row,
.form-content > .form-wrap > .form-group > .flex-row > div { display:flex; gap:10px; flex:1; }
.form-content > .form-wrap > .form-group > .flex-row > div:only-of-type { flex:1; width:100%; }
.form-content > .form-wrap > .form-group .mo-column .flex-row > div { flex:1; }
.form-content > .form-wrap > .form-group .mo-column .flex-row .se-select,
.form-content > .form-wrap > .form-group .mo-column > .col:last-of-type { flex:0 0 152px; }

/**캡챠이미지**/
.form-content > .form-wrap > .form-group .captcha { display:flex; flex:0 0 268px; }
.form-content > .form-wrap > .form-group p.img-captcha { flex:1; margin-right:10px; height:var(--form-height); background:#222; color:#fff; text-align:center;  }



/**하단버튼 레이아웃**/
main.contentWrap > .page-container .btn-content.cta,
main.contentWrap > .bottom-container { margin-top:72px; }

/**성공실패**/

.success-content, .error-content { display:flex; align-items:center; justify-content:center; margin-top:20px; padding:20px; min-height:100px; text-align:center; }
.success-content > p, .error-content > p { display:inline-flex; align-items:center; gap:10px; font-size:var(--font28);  }
.success-content > p::before, .error-content > p::before { content:""; display:block; width:42px; height:42px; background-repeat:no-repeat; background-size:42px; background-position:center; font-size:var(--font28); font-weight:var(--font-w-m); }
.success-content { background-color:var(--success-bg); }
.success-content p { color:var(--success-font-color); }
.success-content > p::before { background-image:var(--ico-success); }
.error-content { background-color:var(--error-bg);   }
.error-content p {  color:var(--error-font-color);}
.error-content > p::before { background-image:var(--ico-error); }


/*---------------------------------------------
    #팝업 레이아웃 :: layerPopup > z-index:110; ;
---------------------------------------------*/


.layerPopup { z-index:110;  display:none; flex-direction: column; position: fixed; top:0; left:0; background-color:#fff; overflow: hidden; width:100%; visibility: hidden; opacity: 0; transition: opacity 0.3s ease;}
.layerPopup .pop-content:focus-visible { outline: 2px solid var(--outline); outline-offset: -2px; }
.layerPopup.full.on::before,
.layerPopup.btmSheet.on::before,
.layerPopup.modal.on::before { content: ''; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.3); z-index:-1; }
/* 팝업_헤더 */
.layerPopup .pop-header { display:flex; justify-content:space-between; align-items:center;  margin-bottom:26px;  width:100%;  }
.layerPopup .pop-header .pop-tit h2 { display:block; font-size:1.111rem; font-weight:600; }
.layerPopup .pop-header .pop-tit 

/* 팝업_콘텐츠 */
.layerPopup .pop-content { position:fixed; padding:40px 0; min-width:540px; height:auto; top:50%; left:50%; transform:translate(-50%, -50%); border-radius:12px; overflow:hidden; background-color:var(--white);}
.layerPopup .pop-body { width:auto; padding:0; max-height:508px; height:100%; overflow-y: auto; }
.layerPopup.on { display:block; visibility: visible;  opacity: 1; }
.layerPopup .pop-header.on,
.pop-btm-wrap.on { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }/*스크립트 :: 스크롤*/
/* 팝업_풀팝업 */
.layerPopup.full > .pop-content { display: flex; flex-direction: column; height:100dvh; }
.layerPopup.full .pop-body { /*padding-top:60px;*/ flex:1 1 auto; }
.layerPopup.full { display:initial;  min-height:auto;}

/* 팝업_모달팝업*/
.layerPopup.modal .pop-content { position:fixed; padding:34px 32px 28px; max-width:540px; height:auto; top:50%; left:50%; transform:translate(-50%, -50%); border-radius:20px; overflow:hidden; background-color:#fff;}
.layerPopup.modal .pop-content { max-width:445px; width:calc(100% - 40px);  }
.layerPopup.modal .pop-header { padding:0; }
.layerPopup.modal .pop-body {  margin-bottom:30px; padding:0; max-height:508px; height:100%; overflow-x:hidden; overflow-y:auto; font-size:var(--font18); }
.layerPopup.modal .pop-body .tit { margin-bottom:12px; font-size:1.111rem; font-weight:500;}
.layerPopup.modal .pop-body p { font-size:var(--font18); text-align:center; }
.layerPopup.modal .pop-body table { min-width:unset; }
.layerPopup.modal .pop-footer { margin-top:42px; }
.layerPopup.modal .pop-footer .button-content { display:flex; justify-content:flex-end; gap:16px; }

/**팜업_등록*/
.pop-body fieldset {  display:block; width:100%; }
.pop-body .write-content li{ display:grid; grid-template-columns:130px 1fr; column-gap:20px; align-items:center; margin-bottom:20px; }
.pop-body .write-content li > label { grid-column:1; }
.pop-body .write-content li > input[type="text"] { grid-column:2; width:100%; }
.pop-body .info-content li { font-size:var(--font18); background-size:20px; background-position:left 5px; color:var(--color-45); }
.pop-body .info-content { margin-top:20px; padding:16px 0; border-top:1px solid var(--color-d); }



@media (max-width:767px) {
    
    main.contentWrap { padding-bottom:50px; }
    main.contentWrap > * { margin:0 auto; padding:0 24px; }

    .location-container { display:none; }
    /*---------------------------------------------
    #서브이미지
    ---------------------------------------------*/
    main.contentWrap > .visual-container{ padding-top:32px; }
    .visual-container h2 { font-size:var(--font24); }
    .visual-container p { padding-bottom:18px; font-size:var(--font18); }
    .visual-container p br { display:none; }


    


    /*---------------------------------------------
    #컨텐츠
    ---------------------------------------------*/
    main.contentWrap > .page-container { padding-top:32px; }
    .page-container > [class*="-content"] > .group,
    .page-container > [class*="-content"] > [class*="-group"],
    .page-container > div + div.bo-t0  { margin-bottom:52px; }
    .page-container > [class*="-content"] > .group > [class*="-group"],
    .page-container > [class*="-content"] >[class*="-group"]:last-of-type { margin-top:42px; }
    .page-container > div + div { padding-top:32px; }
    .page-container > div + div.bo-t0 { padding-top:52px; }

    /**타이틀 및 텍스트**/
    
    h3 { font-size:var(--font20);  }
    h3 + p { margin-top:18px; }
    [class*="-container"] form { margin:32px 0 24px; }
    [class*="-content"] * ~ h3 { margin-top:52px; }
    [class*="-group"] h3 + *,
    [class*="-group"] h4 + * { margin-top:18px; }
    [class*="-group"] h3 + * ~ *,
    [class*="-group"] h4 + * ~ * { margin-top:18px; }
 


    /**텍스트**/
    .text-content * + p,
    .text-content p + ul{ margin-top:16px; }

    .text-content .rfrnc {  padding:18px; background:var(--bg-box); font-size:var(--font14); }
    .text-content .bck-t { padding:0; background:transparent; }

    .text-content .text-list li > p.rfrnc { margin-top:18px; }


    /**유의사항**/
    .page-container .note-content { padding-top:52px; }

    /**인풋**/
    .form-content > .form-wrap { display:block; margin-bottom:0; }
    .form-content > .form-wrap > .form-group { flex:1; }
    .form-content > .form-wrap:first-of-type { margin-top:0; }
    .form-content > .form-wrap > .form-group { margin-bottom:28px; }

    .form-content > .form-wrap > .form-group > .flex-row.mo-column { gap:14px; }
    
    .form-content > .form-wrap > .form-group .mo-column,
    .form-content > .form-wrap > .form-group .mo-column .flex-row { display:flex; flex-direction:column; }
    .form-content > .form-wrap > .form-group .mo-column .flex-row .se-select,
    .form-content > .form-wrap > .form-group .mo-column > .col:last-of-type,
    .form-content > .form-wrap > .form-group .captcha { flex:1; }
    .form-content > .form-wrap > .form-group p.img-captcha { height:48px; }


    /**성공실패**/
    .success-content > p, .error-content > p { flex-direction:column; font-size:var(--font18);  }

    /**하단버튼 레이아웃**/
    main.contentWrap > .page-container .btn-content.cta,
    main.contentWrap > .bottom-container{ margin-top:52px; }

}

@media (min-width: 767px) and (max-width:1400px){
    .form-content > .form-wrap { flex-direction:column; }
    .form-content > .form-wrap > .form-group > .flex-row { width:80%;}



}