@charset "euc-kr";
body {
    --main-height:100%;
    --left-w:40%;
    --banner-bg:linear-gradient(to top left, #D6E7FF, #FEFEFF);
    --main-ico-link:url("../../images/content/MAIN/btn_link.svg");
    --ico-banner-list:url("../../images/com/svg/ico_check.svg");
    --ico-prev:url("../../images/com/svg/ico_prev.svg");
    --ico-next:url("../../images/com/svg/ico_next.svg");
    --main-primary:#1A8DFF;
    --btn-content-color:rgba(17, 17, 17, 0.40);
    

}
body:has(.main) {  overflow:hidden;  }
body:has(.main) #headerWrap { background:transparent; border-bottom:0; position:fixed; }

header { position:fixed; top:0; z-index:1; background:transparent; }
.gnb { max-width:1400px; margin:0 auto; background:transparent; border-bottom:0; }
body:has(.main) #headerWrap.on { background:#fff; }
body:has(.main) { height:100%; }
.wrap:has(.main) { display:block; background:#F7F9FF; }
body:has(.main),
.bodyWrap:has(.main),
.wrap:has(.main),
.wrap .main,
.wrap .main .visual-container,
.wrap .main .container { height:var(--main-height); }

body:has(.main) .menu .menu-item .list-item { top:78px; }

.wrap .main .btn-main-link {  display:inline-block; min-height:28px; text-decoration:underline; padding-right:36px; color:var(--color-2); background-image:var(--main-ico-link); background-repeat:no-repeat; background-position:right center; background-size:28px; }
.wrap .main .btn-content { display:flex; justify-content:flex-end; gap:8px; }
.wrap .main .btn-content > div {  display:inline-flex; justify-content:center; align-items:center; padding:0; background-color:var(--btn-content-color); min-width:32px; height:32px; text-align:center; color:var(--white); border-radius:30px; }
.wrap .main .btn-content > .swiper-pagination { max-width:106px; padding:0 32px 2px; }
.wrap .main .btn-content > .swiper-pagination > span { margin:0 3px; color:#D6D6D6; }
.wrap .main .btn-content > .swiper-pagination > .swiper-pagination-current { color:var(--white); }
.wrap .main .btn-content > .swiper-button-prev::after,
.wrap .main .btn-content > .swiper-button-next::after { content:""; display:block; width:24px; height:24px; font-size:0; background-repeat:no-repeat; background-position:center; background-size:20px auto; }
.wrap .main .btn-content > .swiper-button-prev::after { content:"이전"; background-image:var(--ico-prev); }
.wrap .main .btn-content > .swiper-button-next::after { content:"다음"; background-image:var(--ico-prev); transform:rotate(180deg); }
.swiper-button-next, .swiper-button-prev { position:relative !important; left:initial !important; right:initial !important; top:initial; }

.main  { display:flex; }
.main * { position:relative; }
.main .visual-container .banner-content,
.main .main-container { padding-top:80px; }
.main .banner-content { display:flex; justify-content:flex-end; padding:48px 0 0 0; }
.main img { max-width:100%; }
.main .visual-container { width:var(--left-w); flex:0 0 var(--left-w);  }
.main .visual-container::after { content:""; display:block; width:39px; height:116px; position:absolute; top:50%; right:0; transform:translate(0, -50%); background:url("../../images/content/MAIN/w/@Polygon.png") no-repeat right center; }
.main .visual-container .banner-content { margin:0; width:100%; height:100%; text-align:right; background:var(--banner-bg); border-radius:0 20px 20px 0; }
.main .visual-container .banner-content .swipe {  padding:60px 36px 50px 0; max-width:508px; width:100%; height:100%; position:relative; top:-10px; text-align:left; }
.main .visual-container { width:var(--left-w); flex:0 0 var(--left-w);  }
.main .visual-container .banner-content { margin:0; width:100%; height:100%; text-align:right; background:var(--banner-bg); border-radius:0 20px 20px 0; }
.main .visual-container .banner-content .swiper-wrapper { width:100%; height:100%; }
.main .visual-container .banner-content .swiper-slide { display:flex; justify-content:flex-start; opacity:0; }
.main .visual-container .banner-content .swiper-slide { background-repeat:no-repeat; background-position:left bottom; background-size:276px auto; padding-bottom:300px; }
.main .visual-container .banner-content .swiper-slide { background-image:url("../../images/content/MAIN/main_banner.png");  }
.main .visual-container .banner-content .swiper-slide.swiper-slide-active { opacity:1; }
.main .visual-container .banner-content .text-content h2 {  font-size:var(--font20); margin-bottom:30px; font-weight:var(--font-w-m); }
.main .visual-container .banner-content .text-content h2 em { display:block; font-size:var(--font36); color:var(--color-2); font-weight:var(--font-w-b); }
.main .visual-container .banner-content .text-content li{  display:flex; align-items:center; gap:8px; color:var(--color-6); margin-bottom:18px; }
.main .visual-container .banner-content .text-content li:last-child { margin-bottom:52px; }
.main .visual-container .banner-content .text-content li::before { content:""; display:block; width:22px; height:22px; background-color: var(--main-primary); mask-image:var(--ico-banner-list); mask-repeat:no-repeat; mask-size:17px auto; mask-position:center; -webkit-mask-image:var(--ico-banner-list); -webkit-mask-repeat:no-repeat; -webkit-mask-size:17px auto; -webkit-mask-position:center; }
.main .visual-container .banner-content .btn-content { position:absolute; bottom:57px; right:36px; width:100%; }



.main-container { width:var(--left-r); flex:1; height:100%; overflow-y:auto; overflow-x:hidden; }
.main-container .main-content { max-width:867px; width:100%; margin:0; padding:48px 0 0 50px; }
.main-container .main-content > .quick-group { margin-bottom:58px; }
.main-container .main-content > .quick-group h3 { font-size:var(--font26); font-weight:var(--font-w-m); }
.main-container .main-content > .quick-group h3 em { display:inline; font-weight:var(--font-w-b); }
.main-container .main-content > .quick-group .btn-content { position:absolute; top:0; right:0; margin-top:0; }
.main-container .main-content > .quick-group .swiper-wrapper { width:100%; display:flex; gap:27px; margin-top:32px; }
.main-container .main-content > .quick-group .swiper-wrapper .swiper-slide { width:calc((100% / 3) - 27px); flex:1; padding:24px 16px 40px; background:#fff; border-radius:16px; text-align:center; border:2px solid transparent; }
.main-container .main-content > .quick-group .swiper-wrapper .swiper-slide:hover { border:2px solid var(--main-primary); box-shadow:0 0 15px 0 rgba(1, 43, 110, 0.20); }
.main-container .main-content > .quick-group .swiper-wrapper .swiper-slide h4 { padding-top:64px; font-size:20px; background-repeat:no-repeat; background-position:center top; background-size:62px;   }
.main-container .main-content > .quick-group .swiper-wrapper .swiper-slide h4.icon01 { background-image:url("../../images/content/MAIN/w/quick_icon1.png"); }
.main-container .main-content > .quick-group .swiper-wrapper .swiper-slide h4.icon02 { background-image:url("../../images/content/MAIN/w/quick_icon2.png"); }
.main-container .main-content > .quick-group .swiper-wrapper .swiper-slide h4.icon03 { background-image:url("../../images/content/MAIN/w/quick_icon3.png"); }
.main-container .main-content > .quick-group .swiper-wrapper .swiper-slide p { margin-top:14px; padding-top:14px; border-top:1px solid var(--color-e); color:var(--color-6); font-size:var(--font14); word-break:break-all; }

.main-container .main-content > .notice-group {  display:flex; margin-bottom:74px; gap:40px; }
.main-container .main-content > .notice-group dl { flex:0 0 527px; }
.main-container .main-content > .notice-group dl > dt{ margin-bottom:24px; padding-bottom:16px; font-size:var(--font18); font-weight:var(--font-w-b); color:var(--color-2); border-bottom:1px solid var(--color-d);  }
.main-container .main-content > .notice-group dl > dt > a { padding-right:20px; font-size:var(--font12); font-weight:var(--font-w-m); position:absolute; top:3px; right:0; background:url("../../images/com/svg/ico_plus.svg") no-repeat right center; background-size:16px;  }
.main-container .main-content > .notice-group dl > dd { display:flex; align-items:center; margin-bottom:20px; font-size:var(--font16); }
.main-container .main-content > .notice-group dl > dd > .label { flex:0 0 66px; margin-right:12px; border: 1.5px solid #44C4A1; color:#44C4A1; background:#fff; border-radius:100px; width:66px; padding:5px 6px; text-align:center; font-size:var(--font12); font-weight:var(--font-w-b); }
.main-container .main-content > .notice-group dl > dd > .sbject { flex:1; }
.main-container .main-content > .notice-group dl > dd > .date { flex:0 0 100px; margin-left:12px; color:var(--color-6); text-align:right; }

.main-container .main-content > .notice-group .alarm { flex:1; padding:60px 20px 20px 20px; width:230px; background:#304D6F; border-radius:16px;  color:var(--white); }
.main-container .main-content > .notice-group .alarm .tit { display:flex; justify-content:space-between; align-items:center; position:absolute; top:20px; width:calc(100% - 40px); }
.main-container .main-content > .notice-group .alarm h3 {font-weight:var(--font-w-m); font-size:var(--font14); }
.main-container .main-content > .notice-group .alarm .swiper-pagination { margin-top:0; }
.main-container .main-content > .notice-group .alarm .swiper-pagination > span { display:inline-block; margin-left:4px; width:8px; height:8px; background:rgba(255, 255, 255, 0.20); border-radius:100px; }
.main-container .main-content > .notice-group .alarm .swiper-pagination { margin-top:0; }
.main-container .main-content > .notice-group .alarm .swiper-pagination > .swiper-pagination-bullet-active { background-color:var(--white); }
.main-container .main-content > .notice-group .alarm .swiper-wrapper,
.main-container .main-content > .notice-group .alarm .swiper-wrapper .swiper-slide { width:100%; height:100%; background-image:url("../../images/content/MAIN/w/alarm_img01.png"); background-repeat:no-repeat; background-position:right -1px bottom -2px;  }
.main-container .main-content > .notice-group .alarm .swiper-wrapper .swiper-slide p { width:80%; font-size:var(--font16); font-weight:var(--font-w-b); color:var(--color-w); }

.main-container .main-content > .banner-group { margin-bottom:108px; }
.main-container .main-content > .copyright { margin-bottom:80px; }



@media (min-width:1920px){

    body {
        --left-w:43%;
    
    }
  
}

@media (max-width:1800px){

    body {
        --left-w:41.5%;
    
    }

  
}

@media (max-width:1366px){

    body {
        --left-w:39%;
    
    }

    
    

}