@charset "euc-kr";
body {
    --main-height:100%;
    --left-w:42%;
    --right-w:58%;
    --banner-bg:linear-gradient(to top left, #D6E7FF, #FEFEFF);

}

header { position:fixed; top:0; z-index:1; background:transparent; }
header.on { background:#fff; }
.gnb { max-width:1400px; margin:0 auto; padding:0; background:transparent; border-bottom:0; }
body:has(.main) { height:100%; }
.wrap:has(.main) { display:block; background:#F7F9FF; }
body:has(.main),
.bodyWrap:has(.main),
.wrap:has(.main),
.wrap .main,
.wrap .main .visual-container,
.wrap .main .container { height:var(--main-height); }



.main  { display:flex; }
.main * { position:relative; }
.main .visual-container .banner-content,
.main .main-container { padding-top:80px; }
.main .banner-content { display:flex; justify-content:flex-end; padding:48px 40px 40px 0; }
.main img { max-width:100%; }
.main .visual-container { width:var(--left-w); flex:0 0 var(--left-w);  }
.main .visual-container .banner-content { margin:0; width:100%; height:100%; text-align:right; background:var(--banner-bg); border-radius:0 20px 20px 0; }
.main .visual-container .banner-content .swipe {  padding:60px 40px 50px 0; max-width:596px; }


.main-container { width:var(--left-r); flex:1; }
.main-container .main-content { max-width:870px; margin:0; padding:48px 0 0 72px; }
.main-container .main-content > .quick-group { margin-bottom:58px; }
.main-container .main-content > .notice-group { margin-bottom:74px; }
.main-container .main-content > .banner-group { margin-bottom:108px; }
.main-container .main-content > .copyright { margin-bottom:80px; }



@media (min-width:1920px){


}