@charset "euc-kr";
body {
  --tab-height: 40px;
  --tab-font-color: var(--color-6);
  --tab-font-szie: var(--font22);
  --tab-bg: var(--color-fd);
  --tab-border: var(--color-d);
  --tab-active: var(--primary);

  --tab2-background: #f1f2f4;
  --focus-bg:#F2F5F8;

  --tab3-font-color: var(--color-9);
  --tab3-active: var(--primary);
}

.tab-list { display:flex; width:100%; margin-bottom:72px; }
.tab-container .tab-list.depth1{ gap:2px; justify-content:center; border-bottom:1px solid var(--tab-border); overflow-y:hidden; overflow-x:auto; }
.tab-container .tab-list.depth1 .tab-item{  flex:0 0 auto; text-align:center; line-height:51px; padding:8px 32px; width:auto; height:69px; font-size:var(--font20); background:var(--tab-bg); color:var(--tab-font-color); border-bottom:1px solid transparent; font-weight: var(--font-w-m); }
.tab-container .tab-list.depth1 .active{ text-align: center; color: var(--tab-active); border-bottom:2px solid var(--tab-active); background:var(--white); font-weight:var(--font-w-b); }


.tab-container .tab-list.depth2 { flex-wrap:wrap; gap:24px; margin-bottom:52px; }
.tab-container .tab-list.depth2 .tab-item { flex:0 0 auto; padding:0 26px; width:auto; min-height:51px; line-height:51px; border-radius:30px; background:var(--tab2-background); font-weight:var(--font-w-m); transition:all 0.3s ease; }
.tab-container .tab-list.depth2 .active { color:var(--white); background:var(--tab-active); font-weight:var(--font-w-b); }

.tab-container .tab-list.depth1 .tab-item:focus-visible { border-bottom:0; border:2px solid var(--tab-active); z-index:2; background:var(--focus-bg); }
.tab-container .tab-list.depth2 .tab-item:focus-visible { border-bottom:0; outline:2px solid var(--tab-active); outline-offset:2px; z-index:2;  }


@media (max-width: 767px) {

  .tab-container .tab-list.depth1 .tab-item {  padding:8px 12px; line-height:32px; height:48px; }
  .tab-container .tab-list.depth2 .tab-item {  padding:0 20px; line-height:45px; height:45px; }


  .tab-container .tab-list.depth2 {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 12px;
    margin-left: -24px;
    padding-left: 24px;
    width: calc(100% + 48px);
  }
  .tab-container .tab-list.depth3 li.tab-item button {
    padding: 10px;
  }

  .tab-list[data-view="pc"] {
    display: none;
  }

  .tab-select-mobile[data-view="mo"] {
    display: block;
  }
}

@media (min-width: 768px) {
  .tab-select-mobile[data-view="mo"] {
    display: none;
  }

  .tab-list[data-view="pc"] {
    display: flex;
  }
}
