@charset "euc-kr";
.tab-container {
  --tab-height: 40px;
  --tab1-mb:0 auto 80px;
  --tab-font-color: var(--color-6);
  --tab-font-szie: var(--font22);
  --tab-bg: var(--color-fd);
  --tab-border: 1px solid var(--color-d);
  --tab-active: var(--primary);

  --tab2-background: #f1f2f4;
  --focus-bg:#F2F5F8;

  --tab3-font-color: var(--color-9);
  --tab3-active: var(--primary);
}

.tab-list { display:flex; width:100%; margin-bottom:var(--tab1-mb); }
.page-container:has(.tab-list.depth1) { max-width:100%; padding-left:0; padding-right:0; }
.tab-container .tab-list.depth1{  margin:var(--tab1-mb); max-width:100%; border-bottom:var(--tab-border);  }
.page-container:has(.tab-list.depth1) .btn-group,
.page-container:has(.tab-list.depth1) .tab-content { max-width:1400px; margin:0 auto; }
.page-container:has(.tab-list.depth1) .btn-group { display:flex; gap:2px; justify-content:center;  width:100%; overflow-y:hidden; overflow-x:auto;  }
.tab-container .tab-list.depth1 .tab-item{  flex:0 0 auto; text-align:center; line-height:51px; padding:8px 32px; width:auto; height:69px; font-size:var(--tab-font-szie); background:var(--tab-bg); color:var(--tab-font-color); border-bottom:1px solid transparent; font-weight: var(--font-w-m); }
.tab-container .tab-list.depth1 .active{ text-align: center; color: var(--tab-active); border-bottom:4px solid var(--tab-active); background:var(--white); font-weight:var(--font-w-b); }

.tab-container .tab-list.depth2 { flex-wrap:wrap; gap:24px; margin-bottom:52px; }
.tab-container .tab-list.depth2 .tab-item { flex:0 0 auto; padding:0 26px; width:auto; min-height:51px; line-height:51px; border-radius:30px; background:var(--tab2-background); font-weight:var(--font-w-m); transition:all 0.3s ease; }
.tab-container .tab-list.depth2 button { background-color:transparent; }
.tab-container .tab-list.depth2 .active { background:var(--tab-active); color:var(--white); font-weight:var(--font-w-b); }

.tab-container .tab-list.depth1 .tab-item:focus-visible { border-bottom:0; border:2px solid var(--tab-active); z-index:2; background:var(--focus-bg); }
.tab-container .tab-list.depth2 .tab-item:focus-visible { border-bottom:0; outline:2px solid var(--tab-active); outline-offset:2px; z-index:2;  }

/** 라디오 탭 **/
.form-wrap.tab-list { display:block; }
.form-wrap.tab-list .mo-tit { margin-bottom:16px; font-size:var(--font20); font-weight:var(--font-w-m); }
.form-wrap.tab-list .form-group { display:flex; gap:24px; }
.form-wrap.tab-list .form-group label.radio { gap:14px; padding:0; }

.tab-content > .form-wrap { display:flex; gap:40px; }
.tab-content > .form-wrap > .form-group { flex:1; }
.tab-content > .form-wrap > .form-group > .flex-row > div:only-of-type { flex:1; width:100%; }
.tab-content > .form-wrap > .form-group > .flex-row,
.tab-content > .form-wrap > .form-group > .flex-row > div { display:flex; gap:10px; }

@media (max-width: 767px) {
  .tab-container {
    --tab-height: 40px;
    --tab1-mb:24px auto 24px;
    --tab-font-szie: var(--font16);  
  }
  .page-container:has(.tab-list.depth1) .btn-group { padding:0 24px; }  
  .tab-container .tab-list.depth1 .tab-item {  padding:8px 12px; line-height:32px; height:48px; }
  .tab-container .tab-list.depth2 { margin-bottom:32px; }
  .tab-container .tab-list.depth2 .tab-item {  padding:0 20px; line-height:45px; height:45px; }



  .tab-container .tab-list.depth2 {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 12px;
    margin-left: -24px;
    padding-left: 24px;
    width: calc(100% + 48px);
  }
  .tab-container .tab-list.depth3 li.tab-item button {
    padding: 10px;
  }

  .tab-list[data-view="pc"] {
    display: none;
  }

  .tab-select-mobile[data-view="mo"] {
    display: block;
  }
}

@media (min-width: 768px) {
  .tab-select-mobile[data-view="mo"] {
    display: none;
  }

  .tab-list[data-view="pc"] {
    display: flex;
  }
}
