@charset "euc-kr";

body {
    --table-border:1px solid var(--color-d);
    --table-th:#F3F6FB;
    --total:#EDF9FF;
}


table{ border-top:1px solid var(--color-2); border-spacing:0; border-collapse: collapse; table-layout:fixed; max-width:1400px; }


table tr:first-of-type th,
table tr:first-of-type td { border-top:var(--color-2); }
table th,
table td { padding:16px 10px; text-align:center; color:var(--default-color); font-size:var(--font18); font-weight:var(--font-w-r); text-align:center; border-left:var(--table-border); border-bottom:var(--table-border); }
table th { background:var(--table-th); font-size:var(--font20);font-weight:var(--font-w-b); color:var(--color-2); }
table th:first-of-type,
table td:first-of-type { border-left:0; }
table .bor-l { border-left:var(--table-border) !important; }
table .bor-r { border-right:var(--table-border) !important; }
table th { font-size:var(--font20); }


table tbody th { border-right:var(--table-border); }

table.col-row tbody th { background:transparent; font-size:1rem; }

table.td-al td { text-align:left; }

/* 테이블 위에 텍스트 */
.caption { padding-bottom:20px; font-size:var(--font16); font-weight:var(--font-w-r); color:var(--color-6); text-align:right; }

/* 테이블 푸터 */
.table-content table tfoot tr:only-child,
.table-content table tfoot tr:last-child { background-color:#EDF9FF; }
.table-content table tfoot .sum { font-weight:var(--font-w-m); color:var(--white); background-color:var(--primary); }

@media (max-width:1200px){
    .table-content:has(.mo-s) { overflow-x:auto; }
    .table-content:has(.mo-s) table { table-layout:auto; }
}

@media (max-width: 760px) {
    table th, 
    table td { font-size:1rem; }

    .col-row.mo thead { position:absolute; width:1px; height:1px; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); }
    .col-row.mo th, .col-row.mo td { border-bottom:0; border-left:0; font-size:var(--font14); }
    .col-row.mo th { border-left:0; }
    .col-row.mo tbody tr { 
        display:grid; padding:0 0;
        grid-template-columns: 135px auto;
        grid-template-areas:
        "left right"
        "left right2";
        align-items:start;
        position:relative;
        border-bottom:var(--table-border);
    }
    .col-row.mo tbody th[scope="row"] {  display:flex; align-items:center; justify-content:center; grid-area:left; height:100%; background-color:var(--table-th) !important; }
    .col-row.mo tbody td { text-align:left; word-break:break-word; text-align:center; }
    .col-row.mo tbody td:nth-of-type(1) { grid-area:right; padding:10px 12px 3px; }
    .col-row.mo tbody td:nth-of-type(2) { grid-area:right2; padding:3px 12px 10px; }
    .col-row.mo colgroup { display:none; } 

    .caption { padding-top:42px; }
}