.my-mg{

    $table-bt1:1px solid #707070;
    $td-bl1:1px solid #efefef;
    $group-td-bl1:1px solid #a0a0a0;
    $clr-01:#E42939;
    $clr-02:#1B6DFA;

    .section{
        .mt-0 { margin-top:0; }
        .conts-part {
            > div:first-of-type { 
                margin-top:20px;

                h6.se-title { margin-top:30px; }
             }
            .sp-tbl.ty-box { margin-top:0; }
            .conts + .conts { margin-top:30px; }
            .conts {
                .sub-text { margin-top:-20px; margin-bottom:10px; font-size:12px; color:#909090; }
            }
        }
    
    
        .se-title {
            margin-bottom:10px;
        }
        
        .clr-01 { color:$clr-01; }
    
        .clr-02 { 
            color:$clr-02;
            strong { font-weight:900; font-size:20px; margin-right:3px; }
        }
    
        .p-info-msg { 
            position:relative; margin-top:6px; padding-left:7px; box-sizing:border-box; font-size:12px; color:#909090;
    
            &:before {
                content: "";
                position: absolute;
                top: 0.7em;
                left: 0;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: #909090;
            } 
        
        }

        td.sub-text { 
            text-align:left;
            &::before { content:"*"; margin-right:3px; }
        
        }
         
        .sp-tbl.ty-view
        {
            .table-scroll{
                overflow-x:auto;
                margin-left:-15px;
                margin-right:-15px;
                padding-left:15px;
                padding-right:15px;

                table {
                    min-width:100%; 
                    &.w-480 { min-width:480px; table-layout:fixed; }
                    &.w-750 { min-width:750px; table-layout:fixed; }
                    &:has(.no-date) { 
                        min-width:100%; table-layout:auto;
                        thead { display:none; }
                        tbody td { border:$td-bl1; }
                        .noresult { margin:40px 0; }
                    
                    }
                }


            }

            table{
    
                box-shadow:none;

                thead {
                    tr:first-child, tr:first-child + tr.bt-1 { 
                       th { border-top:$table-bt1; }
                   }
                   th:last-child { border-left:$td-bl1; }
                    tr:has(> th[rowspan], > td[rowspan]) + tr th:first-of-type,
                    tr:has(> th[rowspan], > td[rowspan]) + tr th:first-of-type + tr th:first-of-type,
                    tr:has(> th[rowspan], > td[rowspan]) + tr td:first-of-type { border-left:$td-bl1; }
                    
                    tr.bt-1 { 
                        th:first-child { border-left:$td-bl1; }
                    }
                }

                tbody {
                    th:last-child { border-left:$td-bl1; }
                    tr.bb-1 td { border-bottom:$group-td-bl1;  }
                    tr.bt-1 { 
                        border-bottom:$td-bl1;
                        th:first-child,
                        td:first-child,
                        td:last-child { border-left:$td-bl1; }
                    }
                    tr:nth-last-child(1) td,
                    tr:nth-last-child(3) td { border-bottom:$td-bl1; }
                }

                &.group-row2 {
                    tbody {
                        tr:nth-child(odd) td { border-bottom:$td-bl1;  border-left:$td-bl1; }
                        tr:nth-child(odd) td[rowspan],
                        tr:nth-child(even) td{ border-bottom:$group-td-bl1; }
                        tr:nth-last-child(2) td[rowspan],
                        tr:nth-last-child(1) td { border-bottom:$td-bl1 !important; }
                    }
                    tfoot {
                        td{ padding-top:15px; padding-bottom:15px; font-weight:900; background:#E6F0FD; text-align:center; }
                     }
                }

               
            }
        }
    
    }

}
