@charset "UTF-8";
/*
	라이브러리
*/
/* v4.1 | 2022-07-28 */
/*
	아이콘 모음
	- 부모 클래스 상속시키지 말 것
	- 부모 클래스 상속이 필요한 경우엔 여기에 작성하지 않으며 별도 콘텐츠에 포함
	- 아이콘 이미지 경로는 반드시 icon 폴더에 있어야 함
*/
/*---------------------------------------------
	아이콘 사이즈 정의 : 정사이즈만 정의
---------------------------------------------*/
.se-ico.s18 {
  width: 18px;
  height: 18px;
}

/*---------------------------------------------
	화살표 아이콘
---------------------------------------------*/
.se-ico.arrow-right {
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../image/contents/icon_arrow_right.png");
}
.se-ico.arrow-right span {
  overflow: hidden;
  display: inline-block;
  position: relative;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.se-ico.arrow-left {
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../image/contents/icon_arrow_left.png");
}
.se-ico.arrow-left span {
  overflow: hidden;
  display: inline-block;
  position: relative;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.se-ico.arrow-up {
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../image/contents/icon_arrow_up.png");
}
.se-ico.arrow-up span {
  overflow: hidden;
  display: inline-block;
  position: relative;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.se-ico.arrow-down {
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../image/contents/icon_arrow_down.png");
}
.se-ico.arrow-down span {
  overflow: hidden;
  display: inline-block;
  position: relative;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/*---------------------------------------------
	기타 아이콘
---------------------------------------------*/
.se-ico.login-select-type {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.se-ico.login-select-type.person {
  background-image: url("../image/icon/icon_color_person.png");
}
.se-ico.login-select-type.people {
  background-image: url("../image/icon/icon_color_people.png");
}
.se-ico.login-select-type.building {
  background-image: url("../image/icon/icon_color_building.png");
}
.se-ico.process-type {
  width: 84px;
  height: 84px;
}
.se-ico.process-type.sys-error {
  background-image: url("../image/icon/icon_system_error.png");
}
.se-ico.process-type.sys-caution {
  background-image: url("../image/icon/icon_system_caution.png");
}
.se-ico.process-type.not-found {
  background-image: url("../image/icon/icon_not_found.png");
}
.se-ico.process-type.wifi-caution {
  background-image: url("../image/icon/icon_wifi_caution.png");
}
.se-ico.process-type.wait {
  width: 56px;
  height: 56px;
  background-image: url("../image/icon/icon_wait.png");
}
.se-ico.process-type.ico-positive {
  width: 56px;
  height: 56px;
  background-image: url("../image/icon/icon_done.png");
}
.se-ico.process-type.ico-caution {
  width: 56px;
  height: 56px;
  background-image: url("../image/icon/icon_caution.png");
}
.se-ico.process-type.ico-positive {
  width: 56px;
  height: 56px;
}
.se-ico.result-type {
  width: 56px;
  height: 56px;
  background-color: transparent;
}
.se-ico.result-type.info {
  background-image: url("../image/icon/icon_info.png");
}
.se-ico.result-type.wait {
  background-image: url("../image/icon/icon_wait_gray.png");
}
.se-ico.result-type.docs-plus {
  background-image: url("../image/icon/icon_docs_plus.png");
}
.se-ico.result-type.confirm {
  background-image: url("../image/icon/icon_confirm.png");
}
.se-ico.ico-plus {
  width: 28px;
  height: 28px;
  background-image: url("../image/icon/icon_plus.png");
}
.se-ico.notify-type {
  width: 24px;
  height: 24px;
}
.se-ico.notify-type.caution {
  background-image: url("../image/icon/icon_notify_caution.png");
}
.se-ico.notify-type.speaker {
  background-image: url("../image/icon/icon_notify_speaker.png");
}

.se-ico.ico-car01 {
  width: 48px;
  height: 48px;
  background-image: url("../image/icon/icon_car_blue.png");
}

.se-ico.ico-car02 {
  width: 48px;
  height: 48px;
  background-image: url("../image/icon/icon_car_green.png");
}

.se-ico.ico-info-arrow {
  width: 42px;
  height: 42px;
  background-image: url("../image/icon/icon_info_arrow_right.png");
  background-size: 18px;
  background-position: left 4px center;
}

.se-ico.ico-accordion {
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../image/contents/icon_arrow_down.png");
  width: 42px;
  height: 42px;
  background-position: left 4px center;
}
.se-ico.ico-accordion span {
  overflow: hidden;
  display: inline-block;
  position: relative;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.se-ico.ico-val-arrow {
  width: 18px;
  height: 18px;
  background-image: url("../image/icon/icon_arrow_blue.png");
}

.se-ico.ico-filter {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  background-image: url("../image/icon/icon_filter.png");
  vertical-align: top;
}

.se-ico.ico-search-noresult {
  width: 56px;
  height: 56px;
  background-image: url("../image/icon/icon_caution_gray.png");
}

.se-ico.ico-docu-caution {
  width: 84px;
  height: 84px;
  background-image: url("../image/icon/icon_docu_caution.png");
}

.se-ico.ico-cert-confirm {
  width: 48px;
  height: 48px;
  background-image: url("../image/icon/icon_cert_confirm.png");
}

.se-ico.ico-cert-caution {
  width: 48px;
  height: 48px;
  background-image: url("../image/icon/icon_cert_caution.png");
}

.se-ico.ico-cs {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/icon_cs.png");
  background-size: 24px;
}

.se-ico.ico-caution-gray {
  width: 56px;
  height: 56px;
  background-image: url("../image/icon/icon_caution_gray.png");
}

.se-ico.ico-perform-done {
  width: 18px;
  height: 18px;
  background-image: url("../image/icon/icon_perform_done.png");
}

.se-ico.ico-perform-ing {
  width: 18px;
  height: 18px;
  background-image: url("../image/icon/icon_perform_ing.png");
}

.se-ico.ico-my-edit {
  width: 18px;
  height: 18px;
  background-image: url("../image/icon/icon_my_edit.png");
  background-size: 18px;
}

.se-ico.ico-my-money {
  width: 36px;
  height: 36px;
  background-image: url("../image/icon/icon_my_money.png");
}

.se-ico.ico-month-arrow {
  width: 18px;
  height: 18px;
}
.se-ico.ico-month-arrow.prev {
  background-image: url("../image/icon/icon_month_arrow_left.png");
}
.se-ico.ico-month-arrow.next {
  background-image: url("../image/icon/icon_month_arrow_right.png");
}

.se-ico.ico-nopay-caution {
  width: 18px;
  height: 18px;
  background-image: url("../image/icon/icon_nopay_caution.png");
}

.se-ico.ico-success {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/icon_success.png");
}

/* 상품상세 */
.se-ico.ico-prod {
  width: 36px;
  height: 36px;
}
.se-ico.ico-prod.profile {
  background-image: url("../image/icon/icon_rd_profile.png");
}
.se-ico.ico-prod.car {
  background-image: url("../image/icon/icon_rd_car.png");
}
.se-ico.ico-prod.calendar {
  background-image: url("../image/icon/icon_rd_calendar.png");
}
.se-ico.ico-prod.location {
  background-image: url("../image/icon/icon_rd_location.png");
}
.se-ico.ico-prod.wallet {
  background-image: url("../image/icon/icon_rd_wallet.png");
}
.se-ico.ico-prod.belongings {
  background-image: url("../image/icon/icon_rd_belongings.png");
}
.se-ico.ico-prod.bike {
  background-image: url("../image/icon/icon_rd_bike.png");
}

.se-ico.ico-car03 {
  width: 48px;
  height: 48px;
  background-image: url("../image/icon/icon_bike_blue.png");
}

.se-ico.ico-car04 {
  width: 48px;
  height: 48px;
  background-image: url("../image/icon/icon_bike_green.png");
}

/* 앱접근권한 */
.se-ico.ico-access {
  width: 48px;
  height: 48px;
}
.se-ico.ico-access.phone {
  background-image: url("../image/icon/icon_phone.png");
}
.se-ico.ico-access.camera {
  background-image: url("../image/icon/icon_camera.png");
}
.se-ico.ico-access.file {
  background-image: url("../image/icon/icon_file.png");
}
.se-ico.ico-access.alert {
  background-image: url("../image/icon/icon_alarm.png");
}
.se-ico.ico-access.device {
  background-image: url("../image/icon/icon_device.png");
}
.se-ico.ico-access.alert.opt {
  background-image: url("../image/icon/icon_alarm_opt.png");
}
.se-ico.ico-access.phone.opt {
  background-image: url("../image/icon/icon_phone_opt.png");
}
.se-ico.ico-access.camera.opt {
  background-image: url("../image/icon/icon_camera_opt.png");
}
.se-ico.ico-access.picture.opt {
  background-image: url("../image/icon/icon_picture_opt.png");
}
.se-ico.ico-access.bio.opt {
  background-image: url("../image/icon/icon_bio_opt.png");
}

/* 고객센터 */
.se-ico.ico-customer {
  width: 48px;
  height: 48px;
}
.se-ico.ico-customer.faq {
  background-image: url("../image/icon/icon_customer_faq.png");
}
.se-ico.ico-customer.counsel {
  background-image: url("../image/icon/icon_customer_counsel.png");
}

.se-ico.ico-menu {
  width: 36px;
  height: 36px;
}
.se-ico.ico-menu.faq {
  background-image: url("../image/icon/icon_menu_faq.png");
}
.se-ico.ico-menu.customer {
  background-image: url("../image/icon/icon_color_person.png");
}
.se-ico.ico-menu.cert {
  background-image: url("../image/icon/icon_menu_cert.png");
}
.se-ico.ico-menu.notice {
  background-image: url("../image/icon/icon_menu_notice.png");
}
.se-ico.ico-menu.notice02 {
  background-image: url("../image/icon/icon_menu_notice02.png");
}
.se-ico.ico-menu.event {
  background-image: url("../image/icon/icon_menu_event.png");
}
.se-ico.ico-menu.result {
  background-image: url("../image/icon/icon_menu_graph.png");
}
.se-ico.ico-menu.calc {
  background-image: url("../image/icon/icon_menu_calc.png");
}
.se-ico.ico-menu.auto {
  background-image: url("../image/icon/icon_menu_auto.png");
}

.se-ico.ico-new {
  width: 18px;
  height: 18px;
  background-image: url("../image/icon/icon_new.png");
}

.se-ico.ico-close {
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/icon_close.png");
}
.se-ico.ico-close.gray {
  background-image: url("../image/icon/icon_close_gray.png");
}

/*---------------------------------------------
	약관 - 보안등급
---------------------------------------------*/
.se-ico.ico-terms-grade {
  width: 40px;
  height: 15px;
}
.se-ico.ico-terms-grade.grade2 {
  background-image: url("../image/contents/terms/grade2.png");
}