<!DOCTYPE html>
<html lang="ko">
<head>
	<meta content='IE=edge' http-equiv='X-UA-Compatible'>
	<meta charset='utf-8'>
	<meta content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,
	maximum-scale=1.0' name='viewport'>
	<meta http-equiv="Expires" content="-1" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta name="format-detection" content="telephone=no" />

	<title>Select/Textarea 가이드</title>

	<!-- Publishing CSS -->
	<link rel="stylesheet" href="../../../../resource/css/ui_plugin.css">
	<link rel="stylesheet" href="../../../../resource/css/ui_style.css">
	
	<!-- zEiLAB - Guide(가이드에만 선언) -->
	<link rel="stylesheet" href="../../../../z_eilab/template/guide/guide.css">
	
	<!-- Publishing JS -->
	<script src="../../../../resource/js/jquery-3.2.0.min.js"></script>
	<script src="../../../../resource/js/jquery-ui-1.12.1.min.js"></script>
	<script src="../../../../resource/js/ui_plugin.js"></script>
	<script src="../../../../resource/js/ui_common.js"></script>
</head>

<body>



<!-- S : Layout -->
<div id="layout">

<h1 class="example_title">&lt; Select/Textarea &gt;</h1>

<!-- <div class="example_box">
	<div class="ex_title">title h2~h6</div>
	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">소분류명</span><span class="class_name">셀렉터명</span></div>
		<div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div>
		<div class="source_wrap">
			<div class="source_code">
소스
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
</div> -->

<div class="example_box">
	<div class="ex_title">select</div>
	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">default</span><span class="class_name">.se-select</span></div>
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->

		<div class="source_wrap">
			<div class="source_code">
<div class="se-select">
	<select required title="">
		<option value="" hidden>default</option>
		<option value="">option 02</option>
		<option value="">option 03</option>
		<option value="">option 04</option>
	</select>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
	<div class="ex_type">
		<!-- <div class="ex_info_wrap"><span class="name"></span><span class="class_name">셀렉터명</span></div> -->
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<div class="se-select">
	<select title="">
		<option value="">option 01</option>
		<option value="">option 02</option>
		<option value="">option 03</option>
		<option value="">option 04</option>
	</select>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>

	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">disabled</span><span class="class_name"></span></div>
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<div class="se-select">
	<select disabled title="">
		<option value="">disabled</option>
		<option value="">option 02</option>
		<option value="">option 03</option>
		<option value="">option 04</option>
	</select>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>

	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">에러 케이스</span><span class="class_name">.has-error</span></div>
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<div class="se-select">
	<select class="has-error" title="">
		<option value="">error</option>
		<option value="">option 02</option>
		<option value="">option 03</option>
		<option value="">option 04</option>
	</select>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
	
</div>

<div class="example_box">
	<div class="ex_title">select - custom</div>
	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">custom</span><span class="class_name">.se-select[data-stove="select"][data-uicase="slide"]</span></div>
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->

		<div class="source_wrap">
			<div class="source_code">
<div class="se-select" data-stove="select" data-uicase="slide">
	<div class="e-hidden-title">option hidden title</div>
	<select required title="">
		<option value="" hidden>default</option>
		<option value="0">option 00</option>
		<option value="1">option 01</option>
		<option value="2">option 02</option>
		<option value="3" disabled>option 03</option>
		<option value="4" disabled>option 04</option>
		<option value="5">option 05</option>
		<option value="6">option 06</option>
		<option value="7">option 07</option>
		<option value="8">option 08</option>
		<option value="9">option 09</option>
		<option value="10">option 10</option>
	</select>		
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>

	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">selected</span><span class="class_name"></span></div>
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<div class="se-select" data-stove="select" data-uicase="slide">
	<div class="e-hidden-title">option hidden title</div>
	<select required title="">
		<option value="" hidden>Placeholder</option>
		<option value="0" selected>option 00 (옵션명이 길어질 경우 두 줄 처리 됩니다.)</option>
		<option value="1">option 01 (옵션명이 길어질 경우 두 줄 처리 됩니다.)</option>
		<option value="2">option 02</option>
		<option value="3">option 03</option>
	</select>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>

	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">disabled</span><span class="class_name"></span></div>
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<div class="se-select" data-stove="select" data-uicase="slide">
	<div class="e-hidden-title">option hidden title</div>
	<select disabled required title="">
		<option value="" hidden>Placeholder</option>
		<option value="0" selected>disabled</option>
		<option value="1">option 01</option>
		<option value="2">option 02</option>
		<option value="3">option 03</option>
	</select>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>

	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">에러 케이스</span><span class="class_name">.has-error</span></div>
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<div class="se-select" data-stove="select" data-uicase="slide">
	<div class="e-hidden-title">title</div>
	<select class="has-error" required title="">
		<option value="" hidden>placeholder</option>
		<option value="0" selected>error</option>
		<option value="1">option 01</option>
		<option value="2">option 02</option>
		<option value="3">option 03</option>
	</select>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
	
</div>

<div class="example_box">
	<div class="ex_title">fake select - 슬라이드팝업호출</div>
	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">default</span><span class="class_name">.btn-fake-slt</span></div>
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<button type="button" class="se-btn btn-fake-slt">
	<span class="placeholder">은행명 선택</span>
	<span class="value">은행명</span>
</button>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>

	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">selected</span><span class="class_name">.btn-fake-slt.selected</span></div>
		<div class="etc_info_wrap">은행선택후 selected 클래스 추가</div>
		<div class="source_wrap">
			<div class="source_code">
<button type="button" class="se-btn btn-fake-slt selected"><!--  은행선택후, selected -->
	<span class="placeholder">은행명 선택</span>
	<span class="value">은행명</span>
</button>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>

	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">disabled</span><span class="class_name">.btn-fake-slt.disabled</span></div>
		<!-- <div class="etc_info_wrap"></div> -->
		<div class="source_wrap">
			<div class="source_code">
<button type="button" class="se-btn btn-fake-slt selected disabled">
	<span class="placeholder">은행명 선택</span>
	<span class="value">은행명</span>
</button>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>

	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">error</span><span class="class_name">.btn-fake-slt.has-error</span></div>
		<!-- <div class="etc_info_wrap"></div> -->
		<div class="source_wrap">
			<div class="source_code">
<button type="button" class="se-btn btn-fake-slt selected has-error">
	<span class="placeholder">은행명 선택</span>
	<span class="value">은행명</span>
</button>
<!-- <button type="button" class="se-btn btn-fake-slt selected has-error">
	<span class="logo">
		<img src="" alt="은행명">
	</span>
	<span class="value">은행명</span>
</button> -->
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
</div>

<div class="example_box">
	<div class="ex_title">textarea</div>
	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">default</span><span class="class_name">.se-textarea</span></div>
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<div class="se-textarea">
	<textarea rows="5" placeholder="placeholder"></textarea>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
	<div class="ex_type">
		<!-- <div class="ex_info_wrap"><span class="name">default</span><span class="class_name">.se-textarea</span></div> -->
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<div class="se-textarea">
	<textarea rows="2" placeholder="placeholder" readonly>readonly</textarea>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
	<div class="ex_type">
		<!-- <div class="ex_info_wrap"><span class="name">default</span><span class="class_name">.se-textarea</span></div> -->
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<div class="se-textarea">
	<textarea class="has-error" rows="2" placeholder="placeholder">error</textarea>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
	<div class="ex_type">
		<!-- <div class="ex_info_wrap"><span class="name">default</span><span class="class_name">.se-textarea</span></div> -->
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<div class="se-textarea">
	<textarea class="has-resize" rows="2" placeholder="placeholder">resize</textarea>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
</div>



</div>
<!-- E : layout -->

<!-- zEiLAB - Guide(가이드에만 선언) -->
<script src="../../../../z_eilab/template/guide/guide.js"></script>

</body>
</html>
