<!DOCTYPE html>
<html lang="ko">
<head>
	<meta content='IE=edge' http-equiv='X-UA-Compatible'>
	<meta charset='utf-8'>
	<meta content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,
	maximum-scale=1.0' name='viewport'>
	<meta http-equiv="Expires" content="-1" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta name="format-detection" content="telephone=no" />

	<title>차량이미지없는경우 가이드</title>

	<!-- Publishing CSS -->
	<link rel="stylesheet" href="../../../../resource/css/ui_plugin.css">
	<link rel="stylesheet" href="../../../../resource/css/ui_style.css">
	
	<!-- zEiLAB - Guide(가이드에만 선언) -->
	<link rel="stylesheet" href="../../../../z_eilab/template/guide/guide.css">
	
	<!-- Publishing JS -->
	<script src="../../../../resource/js/jquery-3.2.0.min.js"></script>
	<script src="../../../../resource/js/jquery-ui-1.12.1.min.js"></script>
	<script src="../../../../resource/js/ui_plugin.js"></script>
	<script src="../../../../resource/js/ui_common.js"></script>
</head>

<body>



<!-- S : Layout -->
<div id="layout">

<h1 class="example_title">&lt; 차량이미지없는경우 &gt;</h1>



<!-- <div class="example_box">
	<div class="ex_title">title h2~h6</div>
	<div class="ex_type">
		<div class="ex_info_wrap"><span class="name">소분류명</span><span class="class_name">셀렉터명</span></div>
		<div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div>
		<div class="source_wrap">
			<div class="source_code">
소스
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
</div> -->



<div class="example_box">
	<div class="ex_title">차량정보</div>
	<div class="ex_type">
		<!-- <div class="ex_info_wrap"><span class="name"></span><span class="class_name"></span></div> -->
		<!-- <div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<div class="info-tbl-pack">
	<div class="info-head">
		<div class="col">
			<div class="name">현대 그랜저</div>			
			<div class="cash">41,280,000원</div>
		</div>
		<div class="col-right">
			<div class="car">
				<img src="../../../../resource/image/contents/car/car_noimg.png" alt="모델명">
			</div>
			<button type="button" class="se-btn">
				<span class="se-ico ico-info-arrow">이동하기</span>
			</button>
		</div>
	</div>	
	
	<div class="info-body">
		<div class="conts">
			<div class="sp-tbl ty-list">
				<table>
					<caption>caption</caption>
					<colgroup>
						<col style="width: 30%;">
						<col style="width: 70%;">		
					</colgroup>		
					<tbody>
						<tr>
							<th scope="row">타이틀</th>
							<td>텍스트</td>			
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
</div>

<div class="example_box">
	<div class="ex_title">상품정보</div>
	<div class="ex_type">
		<!-- <div class="ex_info_wrap"><span class="name">소분류명</span><span class="class_name">셀렉터명</span></div>
		<div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
			<div class="source_code">
<div class="storage-pack">
	<div class="head">
		<div class="col">
			<div class="title">신차운용리스</div>
		</div>
		<div class="col-right">
			<div class="sub-text">신청일 <span>2021.12.22</span></div>
		</div>
	</div>
	<div class="body">
		<button type="button" class="se-btn info">
			<span class="col">
				<span class="title">현대 그랜저</span>
				<span class="text">더 뉴 그랜저 IG</span>
			</span>									
			<span class="col-right">
				<span class="car">
					<img src="../../../../resource/image/contents/car/car_noimg.png" alt="모델명">
				</span>
			</span>
			<span class="hidden-text">이동하기</span>
		</button>
		<div class="amount-pack">
			<div class="title">차량가</div>
			<div class="value">
				<span class="val">41,280,000</span>
				<span class="unit">원</span>
			</div>
		</div>
		<div class="btn-pack">
			<button type="button" class="se-btn btn-solid-point">견적조회</button>
		</div>
	</div>
</div>
			</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
</div>

<div class="example_box">
	<div class="ex_title">차량결과</div>
	<div class="ex_type">
		<!-- <div class="ex_info_wrap"><span class="name">소분류명</span><span class="class_name">셀렉터명</span></div>
		<div class="etc_info_wrap">기타설명(필요할 경우)<br>기타설명(필요할 경우)</div> -->
		<div class="source_wrap">
<div class="source_code">
	<div class="car-result-box">
		<div class="car-img-pack">
			<div class="img">
				<img src="../../../../resource/image/contents/car/car_noimg.png" alt="모델명">
			</div>						
		</div>
		<div class="car-info">
			<div class="conts">
				<div class="name">현대 그랜저</div>
				<div class="sub-name">더 럭셔리 그랜저TG</div>
			</div>
			<div class="info">
				<div class="title">월 예상 리스료</div>
				<div class="value">
					<span class="val">300,000</span>
					<span class="unit">원</span>
				</div>
			</div>
		</div>
	</div>
</div>
			<div class="help"><div class="inner"><button type="button" class="source">소스보기</button><button type="button" class="copy">copy</button></div></div>
		</div>
	</div>
</div>



</div>
<!-- E : layout -->

<!-- zEiLAB - Guide(가이드에만 선언) -->
<script src="../../../../z_eilab/template/guide/guide.js"></script>

</body>
</html>
