<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>공통>버튼</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="공통keywords">
    <meta name="description" content="공통description">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
    <meta name="viewport" content="user-scalable=no,width=375">
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <!-- 일반 Favicon 설정 -->
    <link rel="icon" type="image/png" href="../../assets/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../../assets/icons/favicon.svg" />
    <link rel="shortcut icon" href="../../assets/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/icons/apple-touch-icon.png" />
    <link rel="manifest" href="../../assets/icons/site.webmanifest" />

    <link rel="stylesheet" href="../../assets/css/lib/ui-lib.css" >
    <link rel="stylesheet" href="../../assets/css/ui/ui-util.css">

    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/swiper-bundle.min.js"></script>
    <script type="module" src="../../assets/js/ui/com/ui-util.js"></script>
</head>

<body>
    
    <!-- S:wrap -->
    <div class="wrap">

        <!-- S:headerWrap -->
        <div id="headerWrap" class="headerOn"><!--[D] : headerOn 클래스 : 스크립트 적용 중-->
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../include/inc_header.html");
                });
            </script>
        </div>
        <!-- E:headerWrap -->

        <!-- S:contentWrap -->
        <div class="contentWrap">
            <div class="contArea">
                <section class="tit">
                    콘텐츠 Button
                </section>
                <div class="btn-area">
                    <button type="button" class="btn btn-secondary">레이아웃</button>
                    <button type="button" class="btn btn-primary">레이아웃</button>
                </div>

                <section class="tit">
                    콘텐츠 Button_Disabled
                </section>
                <div class="btn-area">
                    <button type="button" class="btn btn-secondary" disabled>레이아웃</button>
                    <button type="button" class="btn btn-primary" disabled>레이아웃</button>
                </div>

                <section class="tit">
                    콘텐츠 Button Ver.2
                </section>
                <div class="btn-area">
                    <button type="button" class="btn btn-secondary">레이아웃</button>
                    <button type="button" class="btn btn-primary">레이아웃</button>
                    <button type="button" class="btn btn-primary">레이아웃</button>
                </div>

                <section class="tit">
                    인풋 Button
                </section>
                <div class="form-group">
                    <label for="search-input">검색</label>
                    <div class="col">
                        <input id="search-input" type="text" class="form-control ipt-pd-r" placeholder="입력해주세요">
                        <span class="ipt-right ico flex-row gap10"><button type="reset" class="btn btn-ipt-clear"><span class="sr-only">삭제버튼</span></button><button type="button" class="btn btn-ipt-search"><span class="sr-only">검색버튼</span></button></span>
                    </div>
                </div>


                <section class="tit">
                    인풋 Button Ver.2
                </section>
                <div class="form-group">
                    <label for="phn-first">셀렉트 선택</label>
                    <div class="flex-row gap5">
                        <div class="col col-4">
                            <div id="phn-first" class="se-select" data-stove="select" data-uicase="slide">
                                <div class="e-hidden-title">TITLE</div>
                                <select required="" title="">
                                    <option value="" hidden="">010</option>
                                    <option value="0">010</option>
                                    <option value="1">011</option>
                                    <option value="2">016</option>
                                    <option value="3">017</option>
                                    <option value="4">018</option>
                                </select>
                            <button type="button" class="se-btn btn-fake-slt"><span class="placeholder">010</span><span class="value"></span></button></div>
                        </div>
                        <div class="col">
                            <input id="phn-second" type="number" name="phn-second" class="form-control" placeholder="" min="0" step="1" oninput="this.value = this.value.slice(0, 8)" aria-labelledby="phn-second">
                            <span class="ipt-right">03:00</span><!--[D]: 인증 시간 -->
                        </div>
                        <!-- <div class="col col-4">
                            <button type="button" class="btn btn-primary">인증 번호 요청</button>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
        <!-- E:contentWrap -->

        <!--S:btmWrap-->
        <div class="btmWrap">
            
            <div class="btm-btn-area">
                <button type="button" class="btn btn-secondary">레이아웃</button>
                <button type="button" class="btn btn-primary">레이아웃</button>
                <button type="button" class="btn btn-primary">레이아웃</button>
            </div>

            <!-- s:footerWrap -->
            <div id="footerWrap">
                <script>
                    $(document).ready(function(){
                        $("#footerWrap").load("../include/inc_footer.html");
                    });
                </script>
            </div>
            <!-- e:footerWrap-->

        </div>
        <!--E:btmWrap-->

    </div>
    <!-- E:wrap -->

</body>
</html>