<footer id="footerWrap" class="footer-wrap">
    <div class="footer-container">
        <div class="footer-top">
            <ul class="ft-link">
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">신용정보 활용체제</a></li>
                <li><a href="#">법적고지</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">제휴약정</a></li>
                <li><a href="#">법인계약약정</a></li>
            </ul>
            <div class="family-site">
                <label for="family" class="sr-only">패밀리 사이트</label>
                <select id="family" name="family" required="">
                    <option value="" disabled="" selected="">패밀리 사이트</option>
                    <option value="1">MG새마을금고</option>
                    <option value="2">MG신용정보</option>
                    <option value="3">MG자산관리</option>
                    <option value="4">MG데이터시스템</option>
                    <option value="4">MGTV</option>
                </select>
            </div>
        </div>
    
        <div class="footer-main">
            <div class="ft-cts">
                <p>서울특별시 강남구 도산대로 306 (논현동 91-3) / 사업자등록번호 105-81-87072</p>
                <p>대표번호 1588-9688 고객상담센터 (평일 09:00 ~ 18:00)</p>
                <p class="copyright">ⓒ 2025. MG CAPITAL CO. LTD. All right reserved</p>
            </div>
            <div class="ft-logo">
                <a href="javasrcipt:void(0);" target="_blank" title="새창열기">
                    <img class="img-wa" src="../../assets/images/com/img_wa.png" alt="과학기술정보통신부  WA(WEB 접근성) 품질인증 마크, 웹와치(WebWatch) 2025.03.10 ~ 2026.03.09">
                </a>
            </div>
        </div>
    </div>
    <div id="scrollTop">
        <button type="button" class="scrollUpBtn">탑버튼</button>
    </div>
</footer>

<script>
    (function () {
      var ua = navigator.userAgent;
    
      // IE11
      var isIE11 = document.documentMode === 11;
    
      // Edge Chromium 80 ~ 90
      var isOldEdge =
        ua.indexOf('Edg/') > -1 &&               // Edge만
        !/Edg\/9[1-9]\./.test(ua);                // 91 이상 제외
    
      if (isIE11 || isOldEdge) {
        var head = document.head || document.getElementsByTagName('head')[0];
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = '../../assets/css/com/ie.css';
        link.id = 'iecss-test';
        head.appendChild(link);
      }
    })();
    </script>