<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>mg캐피탈&gt;로그인 화면</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="description" content="MG캐피탈 리스금융, 할부금융, 스탁론, 기업대출, 장기렌트카, PF대출 등 금융 서비스 제공." />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />

        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script  type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
    </head>

    <body>
    <div class="wrap login">
        <!-- s:header -->
        <div class="login-header">
            <img src="../../assets/images/com/login_logo.png" alt="MG캐피탈 로고">
            <h2>MG캐피탈 관리자 로그인</h2>
        </div>
        <!-- //e:header -->
        <div class="bodyWrap">
            <main class="contentWrap">
                <section class="login-container">
                    <form action="#">
                        <fieldset>
                            <legend>로그인</legend>
                            <ul class="login-content">
                                <li>
                                    <label for="id01">아이디</label>
                                    <span><input id="id01" type="text" value="" placeholder="아이디를 입력해주세요." required></span>
                                </li>

                                <li><!--[D]: 본인확인 화면(아이디 인증)에서 숨김처리-->
                                    <label for="pw01">비밀번호</label>
                                    <span><input id="pw01" type="text" placeholder="비밀번호를 입력해주세요."></span>
                                </li>
                            </ul>
                        </fieldset>
                    </form>
                </section>
                <section class="button-ccontainer">
                    <div class="button-content">
                        <div class="button-wrap">
                            <a herf="javascript:void(0);" class="btn-login">로그인</a>
                            <a href="javascript:void(0);" class="btn-text">비밀번호 변경</a>
                            <div class="dividing">구분선</div>
                            <p>아이디를 분실했을 경우 전산팀으로 연락하시기 바랍니다.</p>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>

    </body>

</html>
