<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>회사개요&gt;회사소개&gt;홈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />
        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/com/default.css" />
        <link rel="stylesheet" href="../../assets/css/com/common.css" />
        <link rel="stylesheet" href="../../assets/css/com/style.css" />
        <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
        <link rel="stylesheet" href="../../assets/css/com/layout.css" />
        <link rel="stylesheet" href="../../assets/css/com/nav.css" />
        <link rel="stylesheet" href="../../assets/css/com/input.css" />
        <link rel="stylesheet" href="../../assets/css/com/button.css" />
        <link rel="stylesheet" href="../../assets/css/com/tab.css" />
        <link rel="stylesheet" href="../../assets/css/com/table.css" />
        <link rel="stylesheet" href="../../assets/css/com/content.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
    </head>

    <body>
        <!-- s: 2025.10.29 변경(<div class="wrap"> 추가) -->
        <div class="wrap">
            <div data-include-path="../../views/COMMON/header.html"></div>
            <div class="bodyWrap">
                <main class="contentWrap">
                    <nav class="location-container">
                        <ol class="breadcrumb">
                            <li><span class="home">홈</span></li>
                            <li><span>회사소개</span></li>
                            <li><span>회사개요</span></li>
                        </ol>
                    </nav>
                    <section class="visual-container">
                        <h2>회사개요</h2>
                        <p>시장의 신뢰와 사회의 존경을 받을 수 있는 기업이 되겠습니다</p>
                    </section>
                    <section class="page-container WCA10100VQ">
                        <!-- S: 25.11.18 디자인 변경으로 인한 구조수정 -->
                        <div class="tab-container">
                            <nav class="tab-list depth1">
                                <!-- s: 2025.10.29 변경(<div class="btn-group"> 추가) -->
                                <div class="btn-group">
                                    <a href="./WCA20100VQ.html" class="tab-item" aria-selected="false">CEO 인사말</a>
                                    <a href="./WCA10100VQ.html" class="tab-item active" aria-selected="true">회사개요</a>
                                    <a href="./WCA30100VQ.html" class="tab-item" aria-selected="false">회사연혁</a>
                                </div>
                                <!-- e: 2025.10.29 변경(<div class="btn-group"> 추가) -->
                            </nav>
                        </div>
                        <div class="text-content bo-t0">
                            <div class="group">
                                <div class="text-group">
                                    <h3>
                                        한발 앞선 금융서비스와 <br class="br-mo">솔루션 제공으로,<br />
                                        고객의 가치와 행복을 실현하는 <br class="br-mo"><span class="success">믿음직한 금융파트너</span>가 되겠습니다.
                                    </h3>
                                </div>
                                <div class="overview-group">
                                    <ul class="overview">
                                        <li>
                                            <span>설립일자</span>
                                            <p>1997년 5월 27일</p>
                                        </li>
                                        <li>
                                            <span>임직원</span>
                                            <p>231명</p>
                                        </li>
                                        <li>
                                            <span>업종</span>
                                            <p>여신전문금융업</p>
                                        </li>
                                    </ul>
                                    <ul class="management">
                                        <li>
                                            <p class="mo-tit">자산 / 자본</p>
                                            <p><span class="fwm">2조 7,952억원 / 7,511억원</span><br><span class="point-r">(‘25년 10월 기준)</span></p>
                                        </li>
                                        <li>
                                            <p class="mo-tit">최대주주</p>
                                            <p><span class="fwm">새마을금고중앙회</span><br>(지분율 : 98.86%)</p>
                                        </li>
                                        <li>
                                            <p class="mo-tit">점포현황</p>
                                            <p>
                                                <span class="fwm">본사</span>(서울), <span class="fwm">지점 2</span>(부산,대구), <span class="fwm">센터 2</span>(충청,호남), <span class="fwm">출장소 1</span>(서초)
                                            </p>
                                        </li>
                                        <li>
                                            <p class="mo-tit">신용등급</p>
                                            <p><span class="fwm">A0</span>/Stable(장기),<br>
                                                <span class="fwm">A2</span>(단기)</p>
                                        </li>
                                    </ul>
                                    <div class="phrase">
                                        <p>시장의 신뢰와 사회의 존경을 받을 수 있는 기업이 되겠습니다</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-content">
                            <!-- S: jsp로 링크연결 필요 -->
                            <div class="lnk-group">
                                <a href="javascript:void(0);">조직도</a>
                                <a href="javascript:void(0);">지점안내</a>
                                <a href="javascript:void(0);">윤리경영</a>
                                <a href="javascript:void(0);">채용정보</a>
                            </div>
                            <!-- E: jsp로 링크연결 필요 -->
                        </div>
                        <!-- E: 25.11.18 디자인 변경으로 인한 구조수정 -->
                    </section>
                </main>
            </div>
            <div data-include-path="../../views/COMMON/footer.html"></div>
        </div>
        <!-- e: 2025.10.29 변경(<div class="wrap"> 추가) -->
    </body>
</html>