<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>회사연혁&gt;회사소개&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>회사소개</span></li>
                        <li><span>회사연혁</span></li>
                    </ol>
                </nav>

                <section class="visual-container">
                    <h2>회사연혁</h2>
                    <p>시장의 신뢰와 사회의 존경을 받을 수 있는 기업이 되겠습니다</p>
                </section>

                <section class="page-container WCA30100VQ">
    
                    <div class="tab-container">
                        <nav class="tab-list depth1">
                            <div class="btn-group">
                                <a href="./WCA20100VQ.html" class="tab-item" aria-selected="false">CEO 인사말</a>
                                <a href="./WCA10100VQ.html" class="tab-item" aria-selected="false">회사개요</a>
                                <a href="./WCA30100VQ.html" class="tab-item active" aria-selected="true">회사연혁</a>
                            </div>
                        </nav>
                    </div>
                    <div class="text-content bo-t0">
                        <div class="text-group tac">
                            <h3>당사는 <span class="point-b">1997년 설립</span> 되어 설비금융, 자동차금융, 리테일금융, IB금융 등<br>고객이 필요한 곳에 언제나 함께한 <span class="point-b">종합 여신전문 금융회사</span>입니다.</h3>
                        </div>
                        <div class="history-group">
                            <!-- 왼쪽: 기간 표시 -->
                            <div class="history-range">
                                <p class="sub-title">MG CAPITAL</p>
                                <p class="main-title"><span>1997 - </span>현재</p>
                            </div>

                            <!-- 오른쪽: 타임라인 리스트 -->
                            <div class="timeline-list">
                                <ul class="timeline">
                                    <li>
                                        <dl>
                                            <dt>2025년</dt>
                                            <dd>
                                                <span class="date">09.24</span>
                                                <span class="desc">충청센터 신규 개소</span>
                                            </dd>
                                            <dd>
                                                <span class="date">08.22</span>
                                                <span class="desc">호남센터 신규 개소</span>
                                            </dd>
                                            <dd>
                                                <span class="date">05.08</span>
                                                <div class="desc-group">
                                                    <span class="desc">신용등급 A- → A0로 상승</span>
                                                    <span class="desc">(한국신용평가, NICE신용평가)</span>
                                                </div>
                                            </dd>
                                            <dd>
                                                <span class="date">05.07</span>
                                                <span class="desc">새마을금고중앙회 유상증자금 2,000억원 납입</span>
                                            </dd>
                                            <dd>
                                                <span class="date">02.28</span>
                                                <span class="desc">상호변경 : 엠지캐피탈 주식회사</span>
                                            </dd>
                                            <dd>
                                                <span class="date">02.28</span>
                                                <span class="desc">새마을금고중앙회로 대주주 변경</span>
                                            </dd>
                                        </dl>
                                    </li>

                                    <li>
                                        <dl>
                                            <dt>2004년</dt>
                                            <dd>
                                                <span class="date">03.22</span>
                                                <span class="desc">금융감독위원회 시설대여업 및 할부금융업 등록</span>
                                            </dd>
                                        </dl>
                                    </li>
                                    
                                    <li>
                                        <dl>
                                            <dt>1999년</dt>
                                            <dd>
                                                <span class="date">05.28</span>
                                                <span class="desc">사명변경 : 효성파이낸스(주) → 효성캐피탈(주)</span>
                                            </dd>
                                        </dl>
                                    </li>
                                    
                                    <li>
                                        <dl>
                                            <dt>1997년</dt>
                                            <dd>
                                                <span class="date">06.02</span>
                                                <span class="desc">효성파이낸스(주) 설립<span class="pc-only">(자본금 50억)</span></span>
                                            </dd>
                                        </dl>
                                    </li>
                                    <!-- E : 25.11.18 회사연혁 내용 추가 변경 -->
                                    <!-- E : 25.11.07 회사연혁 내용 변경 -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>