<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>회사연혁&gt;회사소개&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body><!--  -->
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>회사소개</span></li>
                        <li><span>회사연혁</span></li>
                    </ol>
                </nav>

                <section class="visual-container">
                    <h2>회사연혁</h2>
                    <p>시장의 신뢰와 사회의 존경을 받을 수 있는 기업이 되겠습니다</p>
                </section>

                <section class="page-container WCA30100VQ">
                    <section class="tab-container">
                        <nav class="tab-list depth1">
                            <a href="./WCA20100VQ.html" class="tab-item" aria-selected="false">CEO 인사말</a>
                            <a href="./WCA10100VQ.html" class="tab-item" aria-selected="false">회사개요</a>
                            <a href="./WCA30100VQ.html" class="tab-item active" aria-selected="true">회사연혁</a>
                        </nav>
                    </section>

                    <div class="text-content">
                        <div class="text-group">
                            <h3><span>MG캐피탈</span> HISTORY</h3>
                            <p>미래금융의 새로운 기준을 <span>MG캐피탈</span>이 만들어갑니다.</p>
                        </div>
                        <div class="history-group">
                            <!-- 왼쪽: 기간 표시 -->
                            <div class="history-range">
                                <p class="sub-title">MG CAPITAL</p>
                                <p class="main-title">현재 - 1997</p>
                            </div>

                            <!-- 오른쪽: 타임라인 리스트 -->
                            <div class="timeline-list">
                                <ul class="timeline">
                                    <li>
                                        <dl>
                                            <dt>2025년</dt>
                                            <dd>
                                                <span class="date">02.28</span>
                                                <span class="desc">사명변경(M캐피탈주식회사 → MG캐피탈 주식회사)</span>
                                            </dd>
                                            <dd>
                                                <span class="date">02.28</span>
                                                <span class="desc">새마을금고중앙회로 대주주 변경</span>
                                            </dd>
                                        </dl>
                                    </li>

                                    <li>
                                        <dl>
                                            <dt>2021년</dt>
                                            <dd>
                                                <span class="date">02.25</span>
                                                <span class="desc">사명변경 (효성캐피탈㈜ → M캐피탈주식회사)</span>
                                            </dd>
                                        </dl>
                                    </li>
                                    
                                    <li>
                                        <dl>
                                            <dt>2020년</dt>
                                            <dd>
                                                <span class="date">12.18</span>
                                                <span class="desc">(주)스마트리더스홀딩스로 대주주 변경</span>
                                            </dd>
                                            <dd>
                                                <span class="date">12.03</span>
                                                <span class="desc">유상증자(748억)</span>
                                            </dd>
                                        </dl>
                                    </li>
                                    
                                    <li>
                                        <dl>
                                            <dt>2015년</dt>
                                            <dd>
                                                <span class="date">11.07</span>
                                                <span class="desc">본사 사옥이전</span>
                                            </dd>
                                        </dl>
                                    </li>

                                    <li>
                                        <dl>
                                            <dt>2012년</dt>
                                            <dd>
                                                <span class="date">01.09</span>
                                                <span class="desc">본사 사옥이전</span>
                                            </dd>
                                        </dl>
                                    </li>

                                    <li>
                                        <dl>
                                            <dt>2009년</dt>
                                            <dd>
                                                <span class="date">02.01</span>
                                                <span class="desc">스타리스주식회사 흡수합병</span>
                                            </dd>
                                            <dd>
                                                <span class="date">01.30</span>
                                                <div class="desc-group">
                                                    <span class="desc">본점사무실 이전</span>
                                                    <span class="desc">(서울시 강남구 역삼동 825-2 메리츠타워 21,22층)</span>
                                                </div>
                                            </dd>
                                        </dl>
                                    </li>

                                    <li>
                                        <dl>
                                            <dt>2004년</dt>
                                            <dd>
                                                <span class="date">03.22</span>
                                                <div class="desc-group">
                                                    <span class="desc">금융감독위원회 시설대여업 및 할부금융업 등록</span>
                                                    <span class="desc">(여신전문금융회사)</span>
                                                </div>
                                            </dd>
                                        </dl>
                                    </li>

                                    <li>
                                        <dl>
                                            <dt>2000년</dt>
                                            <dd>
                                                <span class="date">06.28</span>
                                                <span class="desc">금융감독위원회 등록 (유가증권발행관련)</span>
                                            </dd>
                                            <dd>
                                                <span class="date">05.29</span>
                                                <span class="desc">납입자자본금증자 (50억 → 200억)</span>
                                            </dd>
                                        </dl>
                                    </li>

                                    <li>
                                        <dl>
                                            <dt>1999년</dt>
                                            <dd>
                                                <span class="date">05.28</span>
                                                <span class="desc">사명변경 : 효성파이낸스(주) → 효성캐피탈(주)</span>
                                            </dd>
                                        </dl>
                                    </li>

                                    <li>
                                        <dl>
                                            <dt>1997년</dt>
                                            <dd>
                                                <span class="date">06.02</span>
                                                <span class="desc">효성파이낸스(주) 영업개시</span>
                                            </dd>
                                            <dd>
                                                <span class="date">05.27</span>
                                                <span class="desc">효성파이낸스(주)설립(납입자본금 50억)</span>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
