<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>조직도&gt;회사소개&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body><!--  -->
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>회사소개</span></li>
                        <li><span>조직도</span></li>
                    </ol>
                </nav>

                <section class="visual-container">
                    <h2>조직도</h2>
                </section>

                <section class="page-container WCA40100VQ">
                    <div class="img-content">
                        <div class="img-group">
                            <div class="img-box">
                                <img src="../../assets/images/content/about/w/img_organization.png" class="w-auto" alt="MG캐피탈 조직도 이미지">
                                <ul class="sr-only">
                                    <li>주주총회</li>
                                    <li>이사회</li>
                                    <li>
                                        대표이사
                                        <ul>
                                            <li>
                                                <ul>
                                                    <li>감사부</li>
                                                    <li>준법감시부</li>
                                                    <li>
                                                        리스크관리부
                                                        <ul>
                                                            <li>리스크기획팀</li>
                                                        </ul>
                                                    </li>
                                                    <li>소비자보호부</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>
                                                        미래경영본부
                                                        <ul>
                                                            <li>
                                                                미래성장실
                                                                <ul>
                                                                    <li>전략팀</li>
                                                                    <li>인사팀</li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                재정운영부
                                                                <ul>
                                                                    <li>자금팀</li>
                                                                    <li>회계팀</li>
                                                                </ul>
                                                            </li>
                                                            <li>경영지원부</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>
                                                        산금금융본부
                                                        <ul>
                                                            <li>
                                                                산업금융1부
                                                                <ul>
                                                                    <li>산업재팀</li>
                                                                    <li>설비복합금융팀</li>
                                                                </ul>
                                                            </li>
                                                            <li>산업금융2부</li>
                                                            <li>부산지점</li>
                                                            <li>대구지점</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>
                                                        리테일금융본부
                                                        <ul>
                                                            <li>리테일금융1부</li>
                                                            <li>리테일금융2부</li>
                                                            <li>
                                                                오토금융부
                                                                <ul>
                                                                    <li>오토영업팀</li>
                                                                    <li>오토운영팀</li>
                                                                    <li>서초출장소</li>
                                                                </ul>
                                                            </li>
                                                            <li>호남센터</li>
                                                            <li>충청센터</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>
                                                        투자금융본부
                                                        <ul>
                                                            <li>투자금융부</li>
                                                            <li>부동산금융부</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>
                                                        여신운영본부
                                                        <ul>
                                                            <li>
                                                                심사부
                                                                <ul>
                                                                    <li>투자심사팀</li>
                                                                    <li>여신심사팀</li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        여신관리부
                                                        <ul>
                                                            <li>여신관리1팀</li>
                                                            <li>여신관리2팀</li>
                                                            <li>여신지원팀</li>
                                                        </ul>
                                                    </li>
                                                    <li>자산관리부</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>
                                                        디지털운영본부
                                                        <ul>
                                                            <li>디지털기획부</li>
                                                            <li>디지털개발부</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
