<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>신용평가&gt;경영정보&gt;회사소개&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li>
                            <span class="home">홈</span>
                        </li>
                        <li>
                            <span>회사소개</span>
                        </li>
                        <li>
                            <span>경영정보</span>
                        </li>
                        <li>
                            <span>신용평가</span>
                        </li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>신용평가</h2>
                    <p>MG캐피탈의 경영실적을 제공합니다.</p>
                </section>
                
                <section class="page-container WCA50300VQ">
                    <div class="table-group">
                        <div class="table-titcap">
                            <h4 class="tit">현재신용등급</h4>
                            <p class="caption">현재기준</p>
                        </div>

                        <!-- 현재신용등급 테이블 -->
                        <table>
                            <caption>
                                현재신용등급 표 (신용평가사, 회사채, 기업이율 포함)
                            </caption>
                            <colgroup>
                                <col style="width: 33%" />
                                <col style="width: 33%" />
                                <col style="width: 33%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" class="success">신용평가사</th>
                                    <th scope="col">회사채</th>
                                    <th scope="col">기업이율</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="th-t">한국신용평가</th>
                                    <td>A</td>
                                    <td>A2-</td>
                                </tr>
                                <tr>
                                    <th class="th-t">한국기업평가</th>
                                    <td>A-</td>
                                    <td>A2-</td>
                                </tr>
                                <tr>
                                    <th class="th-t">NICE신용평가</th>
                                    <td>A</td>
                                    <td>A2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-group">
                        <h4 class="tit">신용등급정의</h4>
                        <!-- ==================== PC용 테이블 ==================== -->
                        <div class="table-desktop">
                            <table>
                                <caption>
                                    신용등급정의 표 (평가대상 유가증권 등, 신용등급, 평가일 포함)
                                </caption>
                                <colgroup>
                                    <col style="width: 255px ;" />
                                    <col style="width: 15%" />
                                    <col style="width: auto" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">평가대상 유가증권 등</th>
                                        <th scope="col">신용등급</th>
                                        <th scope="col">평가일</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- 회사채 -->
                                    <tr>
                                        <th scope="rowgroup" rowspan="6">회사채</th>
                                        <td scope="row">AAA</td>
                                        <td class="tal">원리금 지급확실성이 최고 수준으로 투자위험도가 극히 낮으며, 현단계에서 합리적으로 예측가능한 장래의 어떠한 환경변화에도 영향을 받지 않을 만큼 안정적임</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">AA</td>
                                        <td class="tal">원리금 지급확실성이 매우 높아 투자위험도가 매우 낮지만 AAA 등급에 비해 다소 열등한 요소가 있음</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">A</td>
                                        <td class="tal">원리금 지급확실성이 높아 투자위험도가 낮은 수준이지만 장래 급격한 환경변화에 따라 다소 영향을 받을 가능성이 있음</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">B</td>
                                        <td class="tal">원리금 지급확실성이 부족하여 투기적이며, 장래의 안정성에 대해서는 현단계에서 단언할 수 없음</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">C</td>
                                        <td class="tal">채무불이행이 발생할 가능성이 극히 높고 현단계에서는 장래회복될 가능성이 없을 것으로 판단됨</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">D</td>
                                        <td class="tal">원금 또는 이자가 지급불능 상태에 있음</td>
                                    </tr>
                                    <!-- 기업어음 -->
                                    <tr>
                                        <th scope="rowgroup" rowspan="6" class="th-category">기업어음</th>
                                        <td scope="row">A1</td>
                                        <td class="tal">적기상환능력이 최고 수준으로 투자위험도가 극히 낮으며, 현단계에서 합리적으로 예측가능한 장래의 어떠한 환경변화에도 영향을 받지 않을 만큼 안정적임</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">A2</td>
                                        <td class="tal">적기상환능력이 우수하여 투자위험도가 매우 낮지만 A1등급에 비해 다소 열등한 요소가 있음</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">A3</td>
                                        <td class="tal">적기상환능력이 양호하며, 투자위험도는 낮은 수준이지만 장래 급격한 환경변화에 따라 다소 영향을 받을 가능성이 있음</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">B</td>
                                        <td class="tal">적기상환능력은 인정되지만 투기적 요소가 내재되어 있음</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">C</td>
                                        <td class="tal">적기상환능력이 의문시 됨</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">D</td>
                                        <td class="tal">지급불능 상태에 있음</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- ==================== PC용 테이블 ==================== -->

                        <!-- ==================== 모바일용 테이블 ==================== -->
                        <div class="table-mobile tab-container jsTab">
                            <ul class="tab-list" style="display: none;">
                                <li class="tab-item active" data-tab="rating-bonds"><button type="button">회사채</button></li>
                                <li class="tab-item" data-tab="rating-cp"><button type="button">기업어음</button></li>
                            </ul>
                            <div class="tab-select-mobile">
                                <div class="se-select" data-stove="select" data-uicase="slide">
                                    <select title="신용등급정의 선택">
                                        <option value="rating-bonds" selected>회사채</option>
                                        <option value="rating-cp">기업어음</option>
                                    </select>
                                </div>
                            </div>

                            <div class="tab-content">
                                <!-- 회사채 -->
                                <div id="rating-bonds" class="tab-panel active">
                                    <table class="mo">
                                        <caption>회사채 신용등급 정의</caption>
                                        <colgroup>
                                            <col style="width: 25%;">
                                            <col style="width: 75%;">
                                        </colgroup>
                                        <tbody>
                                            <tr><th scope="row">AAA</th><td class="tal">원리금 지급확실성이 최고 수준으로 투자위험도가 극히 낮으며, 현단계에서 합리적으로 예측가능한 장래의 어떠한 환경변화에도 영향을 받지 않을 만큼 안정적임</td></tr>
                                            <tr><th scope="row">AA</th><td class="tal">원리금 지급확실성이 매우 높아 투자위험도가 매우 낮지만 AAA 등급에 비해 다소 열등한 요소가 있음</td></tr>
                                            <tr><th scope="row">A</th><td class="tal">원리금 지급확실성이 높아 투자위험도가 낮은 수준이지만 장래 급격한 환경변화에 따라 다소 영향을 받을 가능성이 있음</td></tr>
                                            <tr><th scope="row">B</th><td class="tal">원리금 지급확실성이 부족하여 투기적이며, 장래의 안정성에 대해서는 현단계에서 단언할 수 없음</td></tr>
                                            <tr><th scope="row">C</th><td class="tal">채무불이행이 발생할 가능성이 극히 높고 현단계에서는 장래회복될 가능성이 없을 것으로 판단됨</td></tr>
                                            <tr><th scope="row">D</th><td class="tal">원금 또는 이자가 지급불능 상태에 있음</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- 기업어음 -->
                                <div id="rating-cp" class="tab-panel">
                                    <table class="mo">
                                        <caption>기업어음 신용등급 정의</caption>
                                        <colgroup>
                                            <col style="width: 25%;">
                                            <col style="width: 75%;">
                                        </colgroup>
                                        <tbody>
                                            <tr><th scope="row">A1</th><td class="tal">적기상환능력이 최고 수준으로 투자위험도가 극히 낮으며, 현단계에서 합리적으로 예측가능한 장래의 어떠한 환경변화에도 영향을 받지 않을 만큼 안정적임</td></tr>
                                            <tr><th scope="row">A2</th><td class="tal">적기상환능력이 우수하여 투자위험도가 매우 낮지만 A1등급에 비해 다소 열등한 요소가 있음</td></tr>
                                            <tr><th scope="row">A3</th><td class="tal">적기상환능력이 양호하며, 투자위험도는 낮은 수준이지만 장래 급격한 환경변화에 따라 다소 영향을 받을 가능성이 있음</td></tr>
                                            <tr><th scope="row">B</th><td class="tal">적기상환능력은 인정되지만 투기적 요소가 내재되어 있음</td></tr>
                                            <tr><th scope="row">C</th><td class="tal">적기상환능력이 의문시 됨</td></tr>
                                            <tr><th scope="row">D</th><td class="tal">지급불능 상태에 있음</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- ==================== 모바일용 테이블 ==================== -->
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
