<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>주요활동&gt;사회공헌&gt;회사소개&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>회사소개</span></li>
                        <li><span>사회공헌</span></li>
                        <li><span>주요활동</span></li>
                    </ol>
                </nav>

                <section class="visual-container">
                    <h2>주요활동</h2>
                    <p>MG캐피탈이 실천하는 주요활동을 안내해 드립니다.</p>
                </section>

                <section class="page-container WCA60300VQ">

                    <form>
                        <!-- s: 2025.10.27 변경 -->
                        <fieldset class="form-content">
                            <legend>검색</legend>
                            <div class="form-wrap noti-search">
                                <div class="form-group">
                                    <label for="">검색</label>
                                    <div class="flex-end">
                                        <select id="search-first" required="" title="" required>
                                            <option value="0">전체</option>
                                            <option value="1">제목</option>
                                            <option value="3">내용</option>
                                        </select>
                                        <div class="search-row">
                                            <input id="search" type="search" name="search" placeholder="검색어를 입력해주세요" />
                                            <button type="submit" class="btn-search">검색버튼</button>
                                        </div>
                                        <button type="submit" class="btn-body">새로고침</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!-- e: 2025.10.27 변경 -->
                    </form>

                    <div class="post-content">
                        <ul class="card-list">
                            <li class="card-item">
                                <a href="#">
                                    <div class="card-image"></div>
                                    <div class="card-text-content">
                                        <h4>[사랑의 연탄인사] 제목이 노출됩니다. 제목이 길어질 경우 ...</h4>
                                        <p>내용이 노출됩니다. 내용이 길어질 경우 한 줄까지 보이고 ... 내용이 노출됩니다. 내용이 길어질 경우 한 줄까지 보이고 ... 내용이 노출됩니다. 내용이 길어질 경우 한 줄까지 보이고 ...</p>
                                        <span class="date">YYYY.MM.DD</span>
                                    </div>
                                </a>
                            </li>

                            <li class="card-item">
                                <a href="#">
                                    <div class="card-image"></div>
                                    <div class="card-text-content">
                                        <h4>[사랑의 연탄인사] 제목이 노출됩니다.</h4>
                                        <p>내용이 노출됩니다.</p>
                                        <span class="date">YYYY.MM.DD</span>
                                    </div>
                                </a>
                            </li>

                            <li class="card-item">
                                <a href="#">
                                    <div class="card-image"></div>
                                    <div class="card-text-content">
                                        <h4>[사랑의 연탄인사] 제목이 노출됩니다.</h4>
                                        <p>내용이 노출됩니다.</p>
                                        <span class="date">YYYY.MM.DD</span>
                                    </div>
                                </a>
                            </li>

                            <li class="card-item">
                                <a href="#">
                                    <div class="card-image"></div>
                                    <div class="card-text-content">
                                        <h4>[사랑의 연탄인사] 제목이 노출됩니다.</h4>
                                        <p>내용이 노출됩니다.</p>
                                        <span class="date">YYYY.MM.DD</span>
                                    </div>
                                </a>
                            </li>

                            <li class="card-item">
                                <a href="#">
                                    <div class="card-image"></div>
                                    <div class="card-text-content">
                                        <h4>[사랑의 연탄인사] 제목이 노출됩니다.</h4>
                                        <p>내용이 노출됩니다.</p>
                                        <span class="date">YYYY.MM.DD</span>
                                    </div>
                                </a>
                            </li>

                            <li class="card-item">
                                <a href="#">
                                    <div class="card-image"></div>
                                    <div class="card-text-content">
                                        <h4>[사랑의 연탄인사] 제목이 노출됩니다.</h4>
                                        <p>내용이 노출됩니다.</p>
                                        <span class="date">YYYY.MM.DD</span>
                                    </div>
                                </a>
                            </li>

                            <li class="card-item">
                                <a href="#">
                                    <div class="card-image"></div>
                                    <div class="card-text-content">
                                        <h4>[사랑의 연탄인사] 제목이 노출됩니다.</h4>
                                        <p>내용이 노출됩니다.</p>
                                        <span class="date">YYYY.MM.DD</span>
                                    </div>
                                </a>
                            </li>

                            <li class="card-item">
                                <a href="#">
                                    <div class="card-image"></div>
                                    <div class="card-text-content">
                                        <h4>[사랑의 연탄인사] 제목이 노출됩니다.</h4>
                                        <p>내용이 노출됩니다.</p>
                                        <span class="date">YYYY.MM.DD</span>
                                    </div>
                                </a>
                            </li>

                            <li class="card-item">
                                <a href="#">
                                    <div class="card-image"></div>
                                    <div class="card-text-content">
                                        <h4>[사랑의 연탄인사] 제목이 노출됩니다.</h4>
                                        <p>내용이 노출됩니다.</p>
                                        <span class="date">YYYY.MM.DD</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="pagination-content bo-t0">
                        <div class="pc">
                            <div class="first">
                                <button class="btn-first">처음으로</button>
                                <button class="btn-prev">이전으로</button>
                            </div>
                            
                            <div>
                                <button class="active">1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                            </div>

                            <div class="last">
                                <button class="btn-next">다음으로</button>
                                <button class="btn-last">마지막으로</button>
                            </div>
                        </div>
                        <div class="mo">
                            <button class="btn-more">
                                <span class="page-counter">(<span>1</span><span>/5</span>)</span>
                                <span class="load-more-text">더보기</span>
                            </button>
                        </div>
                    </div>            
                    

                    <!-- D : 검색 시 조회 결과가 없을 때 뜨는 페이지 -->
                    <!-- D : 필요시 주석 해제 -->
                    <!-- <div class="no-results">
                        <p>조회 결과가 없습니다.</p>
                    </div> -->
                </section>

                <!-- S : 공통 알럿 -->
                <!-- D: 화면 설계서 바탕으로 메시지 변경 필요. -->
                <!-- D: 검색버튼 눌렀을 시 검색어가 입력되어 있지 않다면 얼럿메시지 노출 -->
                <!-- D: 확인 버튼 클릭 시 포커싱은 검색어 입력창으로 이동 -->
                <section class="modal-container">
                    <div id="modal" class="layerPopup modal">
                        <div class="pop-content alert">
                            <div class="pop-body">
                                <p>알럿내용을 입력하세요.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- E : 공통 알럿 -->
                
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
