<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>찾아오시는 길&gt;회사소개&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>회사소개</span></li>
                        <li><span>찾아오시는 길</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>찾아오시는 길</h2>
                    <p>MG캐피탈 본점 및 출장소, 지점을 안내해드립니다.</p>
                </section>
                <section class="page-container WCA70100VQ">
                    <div class="tab-container jsTab">
                        <nav class="tab-list depth1">
                            <div class="btn-group">
                                <button type="button" class="tab-item active" data-tab="tab2-1" aria-selected="true">본사</button>
                                <button type="button" class="tab-item" data-tab="tab2-2" aria-selected="false">부산지점</button>
                                <button type="button" class="tab-item" data-tab="tab2-3" aria-selected="false">대구지점</button>
                                <button type="button" class="tab-item" data-tab="tab2-4" aria-selected="false">호남센터</button>
                                <button type="button" class="tab-item" data-tab="tab2-5" aria-selected="false">충청센터</button>
                                <button type="button" class="tab-item" data-tab="tab2-6" aria-selected="false">서초 출장소</button>
                            </div>
                        </nav>
                        <div class="tab-content">
                            <div id="tab2-1" class="tab-panel" aria-hidden="false">
                                <div class="map-content">
                                    <div class="map-group">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d791.1069925544106!2d127.03421516962533!3d37.521407661918104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca343a15bbde5%3A0x72359fd79e0dc8c0!2zTUfsupDtlLztg4g!5e0!3m2!1sko!2skr!4v1761528729733!5m2!1sko!2skr" max-width="1400" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="본점"></iframe>
                                    </div>
                                </div>
                                <div class="table-content bo-t0">
                                    <h3>본사</h3>
                                    <div class="table-group">
                                        <table class="td-al">
                                            <caption>본사 찾아오시는 길 표(주소, 우편번호, 대표전화 포함)</caption>
                                            <colgroup>
                                                <col style="width:30%">
                                                <col style="width:70%">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">주소</th>
                                                    <td>서울특별시 강남구 도산대로 306</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">우편번호</th>
                                                    <td>06054</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">대표전화</th>
                                                    <td>1588-9688</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2-2" class="tab-panel" aria-hidden="false">
                                <div class="map-content">
                                    <div class="map-group">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1630.5701278553072!2d129.07474130160855!3d35.17805664770907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35689354a2d27c93%3A0xd89ec18d516c8c2c!2z67aA7IKw6rSR7Jet7IucIOyXsOygnOq1rCDspJHslZnrjIDroZwgMTAwMA!5e0!3m2!1sko!2skr!4v1761537919813!5m2!1sko!2skr" max-width="1400" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="부산지점"></iframe>
                                    </div>
                                </div>
                                <div class="table-content bo-t0">
                                    <h3>부산지점</h3>
                                    <div class="table-group">
                                        <table class="td-al">
                                            <caption>부산지점 찾아오시는 길 표(주소, 우편번호, 대표전화 포함)</caption>
                                            <colgroup>
                                                <col style="width:30%">
                                                <col style="width:70%">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">주소</th>
                                                    <td>부산광역시 연제구 중앙대로 1000 국민연금공단부산회관빌딩 7층</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">우편번호</th>
                                                    <td>47606</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">대표전화</th>
                                                    <td>051-605-3914</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2-3" class="tab-panel" aria-hidden="false">
                                <div class="map-content">
                                    <div class="map-group">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.5898220674226!2d128.62121777590386!3d35.859060120184715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565e23af8abe91f%3A0xce637da960b3f276!2z64yA6rWs6rSR7Jet7IucIOyImOyEseq1rCDri6zqtazrsozrjIDroZwgMjM4OCAz7Li1!5e0!3m2!1sko!2skr!4v1761532249676!5m2!1sko!2skr" max-width="1400" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="대구지점"></iframe>
                                    </div>
                                </div>
                                <div class="table-content bo-t0">
                                    <h3>대구지점</h3>
                                    <div class="table-group">
                                        <table class="td-al">
                                            <caption>대구지점 찾아오시는 길 표(주소, 우편번호, 대표전화 포함)</caption>
                                            <colgroup>
                                                <col style="width:30%">
                                                <col style="width:70%">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">주소</th>
                                                    <td>대구광역시 수성구 달구벌대로 2388 3층</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">우편번호</th>
                                                    <td>42117</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">대표전화</th>
                                                    <td>053-749-3942</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2-4" class="tab-panel" aria-hidden="false">
                                <div class="map-content">
                                    <div class="map-group">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.1533958828363!2d127.14697167590325!3d35.845242020946735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357023183696db67%3A0x9ecc4d6b76b61c75!2z7KCE67aB7Yq567OE7J6Q7LmY64-EIOyghOyjvOyLnCDrjZXsp4Tqtawg67Cx7KCc64yA66GcIDczNiAy7Li1!5e0!3m2!1sko!2skr!4v1765170718770!5m2!1sko!2skr"  max-width="1400" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="호남센터"></iframe>
                                    </div>
                                </div>
                                <div class="table-content bo-t0">
                                    <h3>호남센터</h3>
                                    <div class="table-group">
                                        <table class="td-al">
                                            <caption>호남센터 찾아오시는 길 표(주소, 우편번호, 대표전화 포함)</caption>
                                            <colgroup>
                                                <col style="width:30%">
                                                <col style="width:70%">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">주소</th>
                                                    <td>전북특별자치도 전주시 덕진구 백제대로 736 2층</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">우편번호</th>
                                                    <td>54916</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">대표전화</th>
                                                    <td>063-242-8835</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2-5" class="tab-panel" aria-hidden="false">
                                <div class="map-content">
                                    <div class="map-group">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3214.654821074484!2d127.40260737592156!3d36.32067659458326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35654eca6b0b05e1%3A0xa2bbcaa1c4546b21!2z64yA7KCE6rSR7Jet7IucIOykkeq1rCDqs4TrsLHroZwgMTY2OSAy7Li1!5e0!3m2!1sko!2skr!4v1765170827993!5m2!1sko!2skr" max-width="1400" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="충청센터"></iframe>
                                    </div>
                                </div>
                                <div class="table-content bo-t0">
                                    <h3>충청센터</h3>
                                    <div class="table-group">
                                        <table class="td-al">
                                            <caption>대구지점 찾아오시는 길 표(주소, 우편번호, 대표전화 포함)</caption>
                                            <colgroup>
                                                <col style="width:30%">
                                                <col style="width:70%">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">주소</th>
                                                    <td>대전광역시 중구 계백로 1669 2층</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">우편번호</th>
                                                    <td>34906</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">대표전화</th>
                                                    <td>042-522-0510</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2-6" class="tab-panel" aria-hidden="false">
                                <div class="map-content">
                                    <div class="map-group">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3166.880846818517!2d127.03213467596662!3d37.46353513002753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca12a1de240b9%3A0x4f920fd485363932!2z7ISc7Jq47Yq567OE7IucIOyEnOy0iOq1rCDrp6Ttl4zroZwz6ri4IDI!5e0!3m2!1sko!2skr!4v1761537742022!5m2!1sko!2skr"  max-width="1400" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="서초 출장소"></iframe>
                                    </div>
                                </div>
                                <div class="table-content bo-t0">
                                    <h3>서초출장소</h3>
                                    <div class="table-group">
                                        <table class="td-al">
                                            <caption>서초출장소 찾아오시는 길 표</caption>
                                            <colgroup>
                                                <col style="width:30%">
                                                <col style="width:70%">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">주소</th>
                                                    <td>서울시 서초구 매헌로3길 2 파사디 건물 3층 (구 주소 : 서초구 양재동 219-1 파사디 건물 3층)</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">우편번호</th>
                                                    <td>02-2146-3901</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">대표전화</th>
                                                    <td>02-576-8779</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
