<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>클린신고센터&gt;윤리 경영&gt;회사소개&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>회사소개</span></li>
                        <li><span>윤리 경영</span></li>
                        <li><span>클린신고센터</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>클린신고센터</h2>
                    <p>시장의 신뢰와 사회의 존경을 받을 수 있는 기업이 되겠습니다.</p>
                </section>
                <section class="page-container WCA90107VQ">
                    <div class="text-content">
                        <h3>정보 입력</h3>
                        <form>
                            <fieldset class="form-content">
                                <legend>클린 신고센터 정보 입력</legend>
                                <!-- S : 2025.12.10 정보 입력 항목 변경으로 인한 구조변경 -->
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="name">고객명</label>
                                        <input id="name" name="name" type="text" placeholder="이름을 입력해주세요." required>
                                    </div>    
                                    <div class="form-group">
                                        <label for="birth">생년월일</label>
                                        <input id="birth" name="birth" type="number" maxlength="8" placeholder="YYYY.MM.DD" required>
                                    </div>    
                                </div>
                                <!-- E : 2025.12.10 정보 입력 항목 변경으로 인한 구조변경 -->
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="phn-first2">연락처(선택)</label>
                                        <div class="flex-row">
                                            <!-- s: 2025.11.13 div 추가-->
                                            <div>
                                                <select id="phn-first2" required="" title="" required>
                                                    <option value="0">010</option>
                                                    <option value="1">017</option>
                                                    <option value="3">019</option>
                                                </select>
                                                <input id="phn-second2" name="phn-second" type="tel" inputmode="numeric" autocomplete="tel-local-prefix" pattern="[0-9]{3,4}" maxlength="4"  required>
                                                <input id="phn-third2" name="phn-third" type="tel" inputmode="numeric" autocomplete="tel-local-suffix" pattern="[0-9]{4}" maxlength="4"  required>
                                            </div>
                                            <!-- e: 2025.11.13 div 추가-->
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email-input">이메일(선택)</label>
                                        <div class="flex-row mail"><!--2025.11.13 mail 추가-->
                                            <input id="email" name="email" type="email" inputmode="latin" pattern="[A-Za-z0-9]{6}" required>
                                            <span>@</span>
                                            <input id="email" name="email" type="email" inputmode="latin" pattern="[A-Za-z0-9]{6}" required>
                                            <select id="email" required="" title="" required>
                                                <option value="0">naver.com</option>
                                                <option value="1">gmail.com</option>
                                                <option value="3">hanmail.net</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="password">비밀번호</label>
                                        <input id="password" type="text" name="password" placeholder="비밀번호를 입력해주세요" />
                                        <!-- S : 2025.12.10 비밀번호 유의사항 추가 -->
                                        <p class="point-r">* 숫자와 영문 (대/소문자)조합 최대 12자리 이내</p>
                                        <!-- E : 2025.12.10 비밀번호 유의사항 추가 -->
                                    </div>
                                </div>
                                <div class="form-wrap tb-style">
                                    <div class="form-group">
                                        <label for="title">제목</label>
                                        <input id="title" type="text" name="title" placeholder="제목을 입력해주세요" />
                                    </div>
                                </div>
                                <div class="form-wrap tb-style">
                                    <div class="form-group">
                                        <label for="content">내용</label>
                                        <!-- 에디터 영역 -->
                                        <textarea name="content" id="content" style="height: 250px;">내용을 입력해주세요</textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- s: 2025.11.13 내용수정 -->
                    <div class="info-content">
                        <div class="note-group">
                            <p class="tit">유의사항 안내</p>
                            <ul class="dot">
                                <li><strong>금융사고 등 부정한 사항에 대해 알려주세요. 제보자의 신원은 철저히 보장해 드리겠습니다.</strong></li>
                                <li>제보자의 신분 및 제출한 증거자료 등 제보자의 관련된 어떠한 정보도 제보 관련자에게 공개되지 않습니다.</li>
                                <li>제보 내용은 담당자 외 열람이 불가합니다.</li>
                                <li>제보자 및 제보 내용에 대해 IP추적 등이 불가합니다.</li>
                                <li>제보한 모든 내용은 제보조사 이외에 다른 용도로는 활용되지 않으며 성심 성의껏 조사할 것을 약속드립니다.</li>
                                <li><strong>제보대상 : 횡령, 배임, 금융사고, 금품수수, 향응, 신용정보유출, 불공정거래 등</strong></li>
                                <li>본인이 관련된 부정 및 비리를 제보할 경우에는 충분한 정상 참작을 통하여 합리적으로 처리됩니다.</li>
                                <li>부정 제보 이외에는 답변을 생략하오니 이점 양해 바라며, 고객님의 불편, 불만사항은 MG캐피탈 소비자보호 > 고객의 목소리 > 민원접수에 신청하여 주시기 바랍니다.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- e: 2025.11.13 내용수정 -->
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <button class="btn-secondary">초기화</button>
                            <button class="btn-primary">작성완료</button>
                        </div>
                    </div>
                </section>

                <!-- S : 공통 알럿 -->
                <!-- D: 화면 설계서 바탕으로 메시지 변경 필요. -->
                <!-- D: 작성완료 버튼 눌렀을 시 얼럿메시지 노출 -->
                <!-- D: 확인 버튼 클릭 시 입력정보 초기화된 클린신고센터 페이지 노출 (수정예정) -->
                <section class="modal-container">
                    <div id="modal" class="layerPopup modal">
                        <div class="pop-content alert">
                            <div class="pop-body">
                                <p>알럿내용을 입력하세요.</p>
                            </div>
                            <div class="pop-footer">
                                <div class="button-content">
                                    <button type="button" class="btn-pop-primary"  data-popup-close="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- E : 공통 알럿 -->
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
