<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>윤리 경영&gt;윤리 경영&gt;회사소개&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body><!--  -->
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>회사소개</span></li>
                        <li><span>윤리 경영</span></li>
                        <li><span>윤리 경영</span></li>
                    </ol>
                </nav>

                <section class="visual-container">
                    <h2>윤리 경영</h2>
                </section>

                <section class="page-container WCA90108VQ">
                    <div class="text-content">
                        <div class="text-group">
                            <h3>윤리강령</h3>
                            <p>MG캐피탈은 금융소비자의 권익 보호를 모든 경영 활동의 최우선 가치로 삼고 투명하고 책임 있는 윤리경영을 실천하고 있습니다.<br>
                                임직원 모두는 법과 원칙을준수하며, 고객·사회·이해관계자와의 신뢰를 기반으로 한 지속 가능한 금융을 만들어가고 있습니다.</p>
                        </div>
                    </div>
                    <div class="img-content">
                        <div class="img-group">
                            <div class="img-box">
                                <img src="../../assets/images/content/about/w/img_WCA90108VQ.png" class="w-auto" alt="MG캐피탈 윤리 경영 이미지">
                                <ul class="sr-only">
                                    <li>
                                        1. 법규 및 규정준수
                                        <ul>
                                            <li>
                                                법규와 회사 규정을 철저히 준수한다.
                                                <ul>
                                                    <li>1. 국가정책을 존중하고 제반 법규와 사회 윤리규범을 준수한다.</li>
                                                    <li>2. 회사의 경영방침과 제반 규정을 철저히 준수하고 책임과 의무를 다한다.</li>
                                                    <li>3. 건전한 이윤 창출을 통해 지속적으로 고용을 창출하고, 사회 공동일원으로서의 기본 책무를 성실히 수행한다.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        2. 고객존중경영
                                        <ul>
                                            <li>
                                                기업은 고객이 만족할 수 있는 가치를 제공하기 위하여 존재한다.
                                                <ul>
                                                    <li>1. 고객으로부터의 신뢰를 최우선 가치로 삼는다.</li>
                                                    <li>2. 고객이 만족할 수 있는 차별화된 품질과 서비스를 제공한다.</li>
                                                    <li>3. 고객과의 투명하고 공정한 거래문화를 정착시키기 위해 노력하며, 건전한 파트너십을 발전시킨다.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        3. 주주중시경영
                                        <ul>
                                            <li>
                                                주주는 회사의 주인이며, 주주로부터의 신뢰가 절대적이다.
                                                <ul>
                                                    <li>1. 가치창출을 통해 경영성과를 높여 주주 및 투자자의 이익을 증대한다.</li>
                                                    <li>2. 주주 및 투자자가 신뢰할 수 있도록 합리적이고 투명하게 경영한다.</li>
                                                    <li>3. 주주 및 투자자의 권리를 존중하고 건전한 이익실현을 위해 필요한 정보를 적기에 제공한다.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        4. 임직원존중경영
                                        <ul>
                                            <li>
                                                임직원 개개인은 회사의 가장 중요한 자산이다.
                                                <ul>
                                                    <li>1. 임직원 상호간의 인격을 존중하고, 상호신뢰와 이해를 바탕으로 한 합리적이고 건전한 기업문화를 정착시킨다.</li>
                                                    <li>2. 개인의 창의성을 자유로이 발휘할 수 있는 직장 분위기를 조성하고 쾌적한 근무환경을 조성한다.</li>
                                                    <li>3. 학벌, 지역, 성별, 연령, 종교 등을 이유로 불합리한 차별을 하지 않는다.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        5. 사회책임경영
                                        <ul>
                                            <li>
                                                기업은 중요한 사회구성원으로서 사회와 조화를 이루어 성장하여야 한다.
                                                <ul>
                                                    <li>1. 사회로부터 요구되는 의무와 책임을 다하고, 사회 공헌활동을 통해 공동번영과 발전을 위해 노력한다.</li>
                                                    <li>2. 환경친화적 기업을 지향하며 사회로부터 존경을 받기 위하여 최선을 다한다.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
