<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>신고센터 처리현황&gt;윤리 경영&gt;회사소개&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><a href="/" id="contentArea"><span class="home">홈</span></a></li>
                        <li><span>회사소개</span></li>
                        <li><span>윤리 경영</span></li>
                        <li><span>신고센터 처리현황</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>신고센터 처리현황</h2>
                    <p>시장의 신뢰와 사회의 존경을 받을 수 있는 기업이 되겠습니다.</p>
                </section>
                <section class="page-container WCA90106DQ">
                    <div class="text-content">
                        <div class="group"> <!--2025.12.02 group 추가-->
                            <div class="text-group">
                                <h3>나의 상담내역</h3>
                                <p>고객님께서 남기신 상담신청에 대한 답변을 확인하실 수 있습니다.</p> <!--2025.12.02 table-content에 있던 h4 위로 올리고 텍스트 수정-->
                            </div>
                            <div class="text-group">
                                <div class="table-content">
                                    <table class="mo">
                                        <caption>신고센터 처리현황 나의 상담내역 조회표(제목, 구분, 상담신청일, 답변내용)</caption>
                                        <colgroup>
                                            <col style="width:25%">
                                            <col style="width:25%">
                                            <col style="width:25%">
                                            <col style="width:25%">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>제목</th>
                                                <td class="tal" colspan="3">상담 제목이 들어갑니다</td>
                                            </tr>
                                            <tr>
                                                <th>구분</th>
                                                <td class="tal">구분</td>
                                                <th>상담신청일</th>
                                                <td class="tal">상담신청일</td>
                                            </tr>
                                            <tr>
                                                <th>답변내용</th>
                                                <td class="tal" colspan="3">답변내용이 들어갑니다</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="./WCA90103VQ.html" class="btn-primary">목록</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
