.contentWrap { width:100% !important; height:100%; padding:40px; }


.visual-content { margin-bottom:30px; }
.visual-content > h2 { display:block; }
.visual-content > h2 > em { display:block; color:#222; font-size:50px; padding-bottom:30px; border-bottom:1px solid #222;  }
.visual-content > h2 > span {  color:#757575; font-size:1rem; line-height:1.5; font-weight:500; }

.sample-content .tit-wrap { display:flex; width:100%; padding:30px 0 50px; margin-bottom:30px; border-bottom:1px solid #ddd;  }
.sample-content .tit-wrap div { width:100%; }
.sample-content .tit-wrap h3 { display:block; flex:0 0 300px; min-width:300px; font-weight:500; color:#222; }
.sample-content .tit-wrap h4 { display:block; margin-bottom:20px; color:rgba(0, 0, 0, 0.87); font-size:24px; font-weight:400; }
.sample-content .tit-wrap h4 > span { display:block; margin-top:20px; font-size:14px; color:rgba(0, 0, 0, 0.47);  }

.sample-content .form-wrap + .form-wrap { margin-top:40px; }

.sample-content .form-wrap fieldset { width:100%; display:flex; gap:30px; }