<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>금융소비자보호공시&gt;소비자보호&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>소비자보호</span></li>
                        <li><span>금융소비자보호공시</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>금융소비자보호공시</h2>
                </section>
                <section class="page-container">
                    <div class="view-content">
                        <div class="view-group">
                            <div class="view-subject">
                                서식 및 약관 제목이 들어갑니다.
                                <span class="date">2025.08.22</span>
                            </div>
                            <div class="view-cont">
                                <p>스탁론 약관과 자동계좌이체약관이 새롭게 개정되어 <br>2025년 2월 28일(금)부터 적용됩니다.</p>
                                <p>이번 개정은 고객 편의성 향상과 안정적인 서비스 제공을 위해이루어졌으며, <br>주요 변경 사항은 아래와 같습니다.</p>
                            </div>
    
                            <dl class="attach">
                                <dt>첨부파일<span class="num">(2)</span></dt>
                                <dd>
                                    <a href="#">첨부파일한글명.pdf</a>
                                    <a href="#">첨부파일한글명.pdf</a>
                                </dd>
                            </dl>

                            <div class="view-navigation">
                                <ul class="prev-next-links">
                                    <li class="link-group">
                                        <span class="label">이전글</span>
                                        <a href="#">개인정보처리방침.</a>
                                        <span class="date">2025.08.24</span>
                                    </li>
                                    <li class="link-group">
                                        <span class="label">다음글</span>
                                        <a href="#" class="non">다음글이 존재하지 않습니다.</a>
                                    </li>
                                </ul>
                            </div>
    
                            <div class="btn-content cta round12">
                                <div class="button-group">
                                    <a herf="javascript:void(0);" class="btn-primary">목록</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
