<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>자료열람 요구권&gt;금융소비자 주요 권리&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>소비자보호</span></li>
                        <li><span>금융소비자 주요 권리</span></li>
                        <li><span>자료열람 요구권</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>자료열람 요구권</h2>
                    <p>금융소비자가 분쟁조정 또는 수송의 수행 등 권리구제를 위한 목적으로 업무와 관련한 자료의 열람을 요구할 수 있는 권리입니다.</p>
                </section>
                <section class="page-container MGC-PRT-CST-009">
                    <div class="text-content">

                        <div class="text-group">
                            <h3>열람을 신청할 수 있는 자료의 종류</h3>
                            <p>계약 체결 및 이행에 관한 자료, 금융상품 등에 관한 광고자료, 금융소비자의 권리행사에 관한 자료</p>
                            <p>내부통제기준의 제정 및 운영 등에 관한 자료, 업무 위탁에 관한 자료</p>
                        </div>

                        <div class="group">
                            <div class="text-group">
                                <h3>처리 프로세스</h3>
                                <p>자료열람요구서 접수 → 신청내용 검토 → 검토결과 안내 (접수일로부터 6 영업일 이내)</p>
                                <div class="sub-process-content">
                                    <ul class="process01">
                                        <li>
                                            <p>
                                                <span class="sr-only mo">SETP 01</span>
                                                <em>계약해지요구서 작성</em>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span class="sr-only mo">SETP 02</span>
                                                <em>신청내용 검토</em>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span class="sr-only mo">SETP 03</span>
                                                <em>검토결과 안내</em>
                                                <span>(접수일로부터 6영업일 이내)</span>
                                            </p>
                                        </li>
                                    </ul>
                                    <p class="rfrnc point-r bck-t">단, 6 영업일 이내에 열람이 불가능한 정당한 사유가 있을 경우 금융소비자에게 문서로 사유를 알리고 열람을 연기, 제한, 거절할 수 있습니다.</p>
                                </div>
                            </div>
                            <div class="text-group">
                                <h4>[열람의 제한 및 거절 사유]</h4>
                                <ul class="m-dot">
                                    <li>법령에 따라 열람을 제한하거나 거절할 수 있는 경우</li>
                                    <li>다른 사람의 생명·신체를 해칠 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우</li>
                                    <li>「부정경쟁방지 및 영업비밀보호에 관한 법률」 제2조 제2호에 따른 영업비밀을 현저히 침해할 우려가 있는 경우</li>
                                    <li>개인정보의 공개로 인해 사생활의 비밀 또는 자유를 부당하게 침해할 우려가 있는 경우</li>
                                    <li>열람하려는 자료가 열람목적과 관련이 없다는 사실이 명백한 경우</li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-group">
                            <h3>신청방법</h3>
                            <p>MG캐피탈 고객센터(☎ 1588 - 9688) / 소비자보호부 (☎ 02 - 2018 - 0616)</p>
                            <div class="button-content">
                                <div class="btn-group">
                                    <a href="#" class="btn-download" download>자료열람 요구서 다운로드</a>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
 