<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>금융소비자보호헌장&gt;금융소비자보호체계&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><a href="/" id="contentArea"><span class="home">홈</span></a></li>
                        <li><span>소비자보호</span></li>
                        <li><span>금융소비자보호체계</span></li>
                        <li><span>금융소비자보호헌장</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>금융소비자보호헌장</h2>
                </section>
                <section class="page-container WCU10100VQ">
                    <div class="img-content">
                        <div class="group">
                            <div class="text-group">
                                <p class="tac">
                                    <em class="point-b">MG캐피탈</em>은 모든 임직원은 <em class="point-b">고객의 행복을 최우선 가치로 삼아</em> 금융소비자에게 최고의 금융서비스를 제공하고,<br />
                                    고객 보호에 기여하여 <em class="point-b">신뢰받는 금융회사</em>가 되고자 다음 사항을 적극 실천할 것을 다짐합니다.
                                </p>
                            </div>
                            <div class="img-group">
                                <img src="../../assets/images/content/custportal/cust_portal_charter.png" class="w-auto" alt="금융소비자보호 헌장">
                                <div class="sr-only">
                                    <h3>금융소비자보호헌장</h3>
                                    <ul>
                                        <li><span>하나</span> 금융소비자가 적합한 상품이나 서비스를 선택할 수 있도록 정확하고 진실된 정보를 제공하겠습니다.</li>
                                        <li><span>하나</span> 금융소비자의 정보를 정당하게 활용하고 법규와 절차를 준수하여 책임과 의무를 다하겠습니다.</li>
                                        <li><span>하나</span> 금융소비자의 불편사항과 피해 구제는 신속하고 공정하게 처리하겠습니다.</li>
                                        <li><span>하나</span> 금융소비자의 권익을 침해하는 불건전 영업행위와 불합리한 차별 행위가 발생하지 않도록 하겠습니다.</li>
                                        <li><span>하나</span> 금융소비자에 대한 지속적인 관심과 의견을 적극 반영하여 신뢰받는 금융 서비스를 제공하겠습니다.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
