<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>청약철회권&gt;금융소비자 주요 권리&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
 
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>소비자보호</span></li>
                        <li><span>금융소비자 주요 권리</span></li>
                        <li><span>청약철회권</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>청약철회권</h2>
                    <p>일반금융소비자가 금융상품 등 계약의 청약을 한 후 일정기간 내에 청약 과정 등에<br />
                        하자가 없음에도 일방적으로 청약을 철회할 수 있는 권리</p>
                </section>
                <section class="page-container">
                    <div class="text-content">
                        <div class="group">
                            <div class="table-group">
                                <table class="td-al">
                                    <caption>철회 방법, 청약철회 효력, 제외 대상, 신청 방법으로 구성된 청약철회권</caption>
                                    <colgroup>
                                        <col style="width:30%">
                                        <col style="width:70%">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th scope="row">철회 방법</th>
                                            <td>대출실행일로부터 14일 이내에 서면, 전화, 컴퓨터통신으로 청약 철회의 의사를 표시합니다.</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">청약철회 효력</th>
                                            <td>
                                                위 철회 방법에 따라 채무자가 철회 기한 이내에 원금, 이자 및 부대비용을 전액 반환한 때에 그 효력이 발생합니다.<br />
                                                * 대출금 일부를 이미 상환한 경우에도 청약철회 가능 기간 이내라면 대출 잔액에 대해 청약 철회가 가능하며, 금융회사는 일부 상환 시 부과한 중도상환수수료는 반환하여야 합니다.
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">제외 대상</th>
                                            <td>시설대여, 할부금융, 연불판매(단, 재화를 공급받지 않은 경우 철회 가능)</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">신청 방법</th>
                                            <td>고객센터(☎ 1588-9688) 유선 또는 홈페이지 신청</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-group">
                                <h3 class="rfrnc">청약철회 시 유의사항</h3>
                                <p>청약철회가 완료된 이후에는 철회취소가 불가능합니다.</p>
                            </div>
                        </div>
                    </div>
                    
                </section>
                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-primary">신청하기</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
 