<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>상품개발프로세스&gt;금융소비자보호체계&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>소비자보호</span></li>
                        <li><span>금융소비자 주요 권리</span></li>
                        <li><span>고객권리 안내문</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>고객권리 안내문</h2>
                </section>
                <section class="page-container WCU10300VQ indent">
                    <div class="text-content">
                        <div class="text-group">
                            <h3>금융서비스 이용범위</h3>
                            <ol class="text-list">
                                <li>
                                    <span>가.</span>
                                    <span>고객의 개인신용정보는 금융거래의 설정,유지여부 판단 목적 및 고객이 동의한 목적으로만 이용됩니다.</span>
                                </li>
                                <li>
                                    <span>나.</span>
                                    <span>고객은 영업장,인터넷 등 다양한 채널을 통해 금융거래를 체결하거나 금융서비스를 제공받는 과정에서 1&#41; 금융회사가 본인의 개인신용정보&#40;이하'본인정보'&#41;를 제휴,부가서비스 등을 위해 제휴회사 등에 제공하는 것 및 
                                        2&#41; 당해 금융회사가 금융상품 소개 및 구매권유(이하 '마케팅') 목적으로 이용하는 것에 대해 동의하지 않는 경우에도 금융거래를 체결하거나 금융서비스를 이용하실 수 있습니다. 
                                        다만, 이러한 동의를 하지 않으신 경우에는 제휴,부가서비스 및 신상품,서비스 등을 제공받지 못할 수도 있습니다.</span>
                                </li>
                            </ol>
                        </div>
                        <div class="group">
                            <h3>신용정보의 이용 및 보호에 관한 법률상의 고객권리</h3>
                            <div class="text-group">
                                <h4 class="tit">가. 본인 신용정보의 이용 및 제공 사실 조회 요구권, 통지 요구권</h4>
                                <p>
                                    『신용정보의 이용 및 보호에 관한 법률』 제35조에 따라 금융회사가 개인신용정보를 이용하거나 전국은행연합회, 신용조회회사, 타 금융회사 등 제3자에게 제공한 경우 고객은 금융회사 홈페이지를 통한
                                    본인인증 절차를 거쳐 본인의 신용정보의 이용 및 제공사실에 대한 조회 요구와 통지 요구를 할 수 있습니다.<br />
                                    신용정보의 이용 및 제공사실 통지 요청시 고객은 서면, 전자우편, 문자메세지 등 통지요청의 방법과 통지주기 등을 정할 수 있습니다. 금융회사는 신용정보업 감독규정 제 40조 제1항 관련한
                                    별지 제15호 서식(신용정보 이용 및 제공사실 통지서)에 따라 고객의 통지 요구일로부터 최근 3년간 개인신용정보 이용(날짜, 목적, 정보내용, 보유 및 이용기간 등) 및
                                    제공(제공처, 제공목적, 날짜, 정보의 내용, 보유 및 이용기간 등) 내용에 대하여 고객이 정한 통지방법 및 통지주기에 따라 년 1회 이상 정기적으로 통보해 드립니다.
                                    아울러, 조회요구나 통지요구시 조회방법, 대상, 기간 및 통지방법 등에 따라 소정의 수수료가 발생될 수 있으며 조회한 내용과 통지한 내용은 3년간 보존됩니다.<br />
                                </p>
                                <dl class="dot">
                                    <dt>신청방법</dt>
                                    <dd>홈페이지 → 부가정보 → 개인(신용)정보 고객권리 신청</dd>
                                </dl>
                            </div>
                            <div class="text-group">
                                <h4 class="tit">나. 금융거래 거절근거 신용정보의 고지</h4>
                                <p>
                                    『신용정보의 이용 및 보호에 관한 법률』 제36조에 따라 금융회사가 전국은행연합회, 신용조회회사 등으로부터 제공받은 연체정보 등에 근거하여 금융거래를 거절, 중지하는 경우에는 고객은 그 거절, 중지의 근거가 된 신용정보,
                                    동 정보를 제공한 기관의 명칭, 주소, 연락처 등을 고지해 줄 것을 금융회사에 요구할 수 있습니다.
                                </p>
                                <dl class="dot">
                                    <dt>신청방법</dt>
                                    <dd>홈페이지 → 부가정보 → 개인(신용)정보 고객권리 신청</dd>
                                </dl>
                            </div>
                            <div class="text-group">
                                <h4 class="tit">다. 본인정보의 제3자 제공 및 마케팅 목적의 전화 등의 중단 요구</h4>
                                <p>
                                    고객은 『신용정보의 이용 및 보호에 관한 법률』 제37조에 따라 가입 신청 시 동의를 한 경우에도 본인정보를 제3자에게 제공하는 것 및 당해 금융회사가 마케팅 목적으로 본인에게 연락하는 것을 전체 또는 사안별로 중단시킬 수 있습니다.
                                    &#40;다만, 고객의 신용도 등을 평가하기 위해 전국은행연합회 또는 신용조회회사 등에 제공하는 것에 대해서는 중단시킬 수 없습니다.&#41;
                                </p>
                                <dl class="dot">
                                    <dt>신청방법</dt>
                                    <dd>홈페이지 → 부가정보 → 개인(신용)정보 고객권리 신청</dd>
                                    <dt>신청자 제한</dt>
                                    <dd>신규 또는 추가로 약정하신 고객은 약정서 체결일로부터 3개월간은 신청할 수 없습니다.</dd>
                                </dl>
                            </div>
                            <div class="text-group">
                                <h4 class="tit">라. 본인정보의 열람 및 정정 요구</h4>
                                <p>
                                    고객은 『신용정보의 이용 및 보호에 관한 법률』 제38조에 따라 전국은행연합회, 신용조회회사, 금융회사 등이 보유한 본인정보에 대해 열람 청구가 가능하며, 본인정보가 사실과 다른 경우에는 이의 정정 및 삭제를 요구할 수 있으며,
                                    그 처리결과에 이의가 있는 경우에는 금융위원회에 시정을 요청할 수 있습니다.
                                </p>
                                <dl class="dot">
                                    <dt>신청방법</dt>
                                    <dd>홈페이지 → 부가정보 → 개인(신용)정보 고객권리 신청</dd>
                                </dl>
                            </div>
                            <div class="text-group">
                                <h4 class="tit">마. 본인정보의 무료 열람 요구</h4>
                                <p>
                                    고객은 『신용정보의 이용 및 보호에 관한 법률』 제39조에 따라 본인정보를 신용조회회사를 통하여 연간 일정 범위 내에서 무료로 열람할 수 있습니다. 
                                    자세한 사항은 각 신용조회회사에 문의하시기 바랍니다.
                                </p> 
                            </div>
                            <div class="text-group">
                                <h4 class="tit">바. 본인정보 유출 시 손해배상</h4>
                                <p>
                                    당사의 고의 또는 중과실로 인하여 당사로부터 개인정보가 유출되어 고객에게 손해가 발생한 경우에는, 그 손해액에 대해 당사로부터 보상받으실 수 있습니다.
                                </p>
                                <div class="table-content">
                                    <table class="col-row mo">
                                        <caption>본인정보 유출 시 손해배상 관련 기관 연락처</caption>
                                        <colgroup>
                                            <col style="width:33%">
                                            <col style="width:33%">
                                            <col style="width:34%">
                                        </colgroup> 
                                        <thead>
                                            <tr>
                                                <th scope="col">구분</th>
                                                <th scope="col">전화번호</th>
                                                <th scope="col">홈페이지</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">한국신용정보(주)</th>
                                                <td>(02) 2122 - 4000</td>
                                                <td><a href="javascript:void(0);" class="btn-text">www.nice.or.kr</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">한국신용평가정보(주)</td>
                                                <td>(02) 3771 - 1000</td>
                                                <td><a href="javascript:void(0);" class="btn-text">www.kisinfo.com</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">서울신용평가정보(주)</td>
                                                <td>(02) 3445 - 5000</td>
                                                <td><a href="https://www.sci.co.kr/cio/index.do" class="btn-text" target="_blank" rel="noopener">www.sci.co.kr<span class="sr-only">(새 창)</span></a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">한국개인신용(주)</td>
                                                <td>(02) 708 - 6000</td>
                                                <td><a href="https://www.koreacb.com/" target="_blank" class="btn-text" rel="noopener">www.kcb4u.com<span class="sr-only">(새 창)</span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="text-group">
                                <p class="tit">위의 권리행사와 관련하여 불편함을 느끼시거나 애로가 있으신 경우 아래의 담당자 앞으로 연락하여 주시기 바랍니다.</p>
                                <dl class="dot mt-20">
                                    <dt>엠지캐피탈(주) 고객정보관리ㆍ보호인</dt>
                                    <dd>
                                        <address>
                                            <p><span class="label">전화번호</span> : 준법감시인 / 02-2018-0667</p>
                                            <p><span class="label">주소</span> (06054) 서울 강남구 도산대로 306 MG캐피탈 7층</p>
                                        </address>
                                    </dd>
                                    <dt class="dot">여신협회 고객정보관리ㆍ보호인</dt>
                                    <dd>
                                        <address>
                                            <p><span class="label">전화번호</span> : (02) 2011-0730, 0731</p>
                                            <p><span class="label">주소</span> 주소 : (04521) 서울 중구 다동길 43한외빌딩 13층</p>
                                        </address>  
                                    </dd>
                                    <dt class="dot">금융감독원 고객정보관리ㆍ보호인</dt>
                                    <dd>
                                        <address>
                                            <p><span class="label">전화번호</span> : 1332</p>
                                            <p><span class="label">주소</span> : (07321) 서울 영등포구 여의대로 38</p>
                                        </address> 
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
