<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>장애인 상담 안내&gt;장애인고객지원서비스&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><a href="/" id="contentArea"><span class="home">홈</span></a></li>
                        <li><span>소비자보호</span></li>
                        <li><span>장애인고객지원서비스</span></li>
                        <li><span>장애인 상담 안내</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>장애인 상담 안내</h2>
                </section>
                <section class="page-container WCU11000VQ">
                    <div class="text-content">
                        <div class="group">
                            <h3>장애금융소비자를 위한 전담창구 운영</h3>
                            <div class="text-group">
                                <p class="tit">손말이음센터(국번없이, <span class="success">☎</span>107) 상담 서비스 지원</p>
                                <ul class="text-list">
                                    <li>손말이음센터를 통해 MG캐피탈 전담창구 연결 (<span class="success">☎</span>  1588-9688 → 3)</li>
                                    <li>상담방식: 단순 안내 및 실무관련 업무</li>
                                    <li class="rfrnc">※ 상담의 내용에 따라 성년후견제도에 따른 법률대리인 등을 통한 상담이 요구될 수 있습니다.</li>
                                </ul>
                                <ul class="img-list">
                                    <li>
                                        <p class="tit">장애인 고객</p>
                                    </li>
                                    <li>
                                        <p class="s-tit">문자/영상통화</p>
                                    </li>
                                    <li>
                                        <p class="tit">손말이음센터 (중계사)</p>
                                    </li>
                                    <li>
                                        <p class="s-tit">음성통화</p>
                                    </li>
                                    <li>
                                        <p class="tit">MG캐피탈 전담직원</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="process-content">
                        <div class="process-group">
                            <h3>이메일 상담 서비스 지원</h3>
                            <p>이메일을 통해 MG캐피탈 전담창구 연결: cscenter@mgcap.co.kr</p>
                            <ol>
                                <li>
                                    <div class="step">
                                        <p>
                                            <span>STEP</span>
                                            <span>01</span>
                                        </p>
                                    </div>
                                    <div class="text-content">
                                        <em>이메일접수</em>
                                    </div>
                                </li>
                                <li>
                                    <div class="step">
                                        <p>
                                            <span>STEP</span>
                                            <span>02</span>
                                        </p>
                                    </div>
                                    <div class="text-content">
                                        <em>접수내용확인</em>
                                    </div>
                                </li>
                                <li>
                                    <div class="step">
                                        <p>
                                            <span>STEP</span>
                                            <span>03</span>
                                        </p>
                                    </div>
                                    <div class="text-content">
                                        <em>업무처리</em>
                                    </div>
                                </li>
                                <li>
                                    <div class="step">
                                        <p>
                                            <span>STEP</span>
                                            <span>04</span>
                                        </p>
                                    </div>
                                    <div class="text-content">
                                        <em>서비스 지원 종료</em>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div class="text-group">
                            <p class="tit">불편사항 접수 채널</p>
                            <ul class="text-list">
                                <li>MG캐피탈은 장애인 고객이 상담과 금융거래 등에서 불편함 없이 처리하실 수 있도록 항상 노력하고 있습니다.</li>
                                <li>불편사항이나 제안사항이 있는 경우에도 이메일 접수해주시면 관련 제도를 개선하는 데 반영하도록 하겠습니다.</li>
                                <li>문의 및 접수: cscenter@mgcap.co.kr / <span class="success">☎</span>  1588-9688 → 3</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
