<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>안전망대출Ⅱ·햇살론15&gt;유익한소비자정보&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><a href="/" id="contentArea"><span class="home">홈</span></a></li>
                        <li><span>소비자보호</span></li>
                        <li><span>유익한소비자정보</span></li>
                        <li><span>안전망대출Ⅱ·햇살론15</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>안전망대출Ⅱ·햇살론15</h2>
                </section>
                <section class="page-container">
                    <div class="img-content">
                        <div class="img-group">
                            <h3>안전망대출Ⅱ·햇살론15</h3>
                            <div class="img-box">
                                <img src="../../assets/images/content/custportal/w/custportal_wcu40120vq.png" class="w-auto" alt="안전망대출Ⅱ·햇살론15 포스터">
                                <div class="sr-only">
                                    <h4>안전망대출Ⅱ·햇살론15<br>이런 사람을 구합니다</h4>
                                    <p>금융기관 대출이 어려운 사람</p>
                                    <ul>
                                        <li>20%초과 고금리 대출 만기 시 재이용이 어려워졌다면 대환해드리는 안전망 대출Ⅱ</li>
                                        <li>고금리 대출을 알아보시거나 금융기관에서 대출이 거절됐다면 15.9%금리로 대출해드리는 햇살론15</li>
                                        <li>국번없이 1397</li>
                                    </ul>
                                </div>
                            </div>
                           
                            
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
