<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>대출사기 피해 예방안내&gt;유익한소비자정보&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>소비자보호</span></li>
                        <li><span>유익한소비자정보</span></li>
                        <li><span>대출사기 피해 예방안내</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>대출사기 피해 예방안내</h2>
                    <p>대출사기를 방지하기위해 노력하겠습니다.</p>
                </section>
                <section class="page-container WCU11000VQ">
                    <div class="text-content">
                        <div class="group">
                            <h3>대출사기 피해 예방 및 대응요령</h3>
                            <div class="text-group">
                                <h4 class="tit-diamond">비밀번호 또는 개인정보는 알려주지 말아야 합니다.
                                </h4>
                                <p>
                                    금융회사, 금감원, 공공기관에서는 그 어떠한 경우에도 비밀번호나 개인신용정보를 전화로 물어보지 않습니다.<br>
                                    전화나 문자메시지를 통한 대출중개에는 일절 대응하지 않고 자금이 필요하실 경우에는 금융회사의 대표번호로 전화하시어 상담을 받으시길 바랍니다.
                                </p>
                            </div>
                            <div class="text-group">
                                <h4 class="tit-diamond">금융사는 각종 수수료 또는 선입금의 명목으로 대출실행전 금품을 요구하지 않습니다.
                                </h4>
                                <p>
                                    이미 알고있는 개인정보를 운운하면서 채권담보비, 신용평점조정비 등 각종 수수료 선입금을 요구하거나, 저금리로 바꿔준다고 하면서<br>
                                    기존대출을 우선 상환하라고 하는 경우에는 대출사기일 수 있으니 각별히 유의하시기 바랍니다.
                                </p>
                            </div>
                            <div class="text-group">
                                <h4 class="tit-diamond">전송받은 문자로 사이트에 접속하지 않아야 합니다.
                                </h4>
                                <p>
                                    금융사기범들이 불러주거나, 문자 또는 SNS메신저를 통해 전달 받은 사이트에 접속하지 않아야 합니다.<br>
                                    반드시 포털사이트 등을 통해 정확한 사이트인지를 확인하고 접속하여야 합니다.
                                </p>
                            </div>
                            <div class="text-group">
                                <h4 class="tit-diamond">자금을 이체하였다면 즉시 112에 신고해야 합니다.
                                </h4>
                                <p>
                                    금융사기범들은 자금이 이체되었다면, 즉시 인출하므로 112에 신고하여 신속하게 지급정지를 요청하여야 합니다.
                                </p>
                            </div>
                            <div class="text-group">
                                <h4 class="tit-diamond">자본인의 개인정보를 금융사기범들에게 알려주었다면 은행 또는 금융감독원(국번없이 1332)에 신고하세요.
                                </h4>
                                <p>
                                    은행 또는 금융감독원을 통해 [개인정보노출자 사고예방시스템]에 등록함으로써 추가적인 피해를 최소화 할 수 있습니다.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
