<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>우편번호 검색 팝업</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
</head>

<body>
    <!-- s&e: 2025.10.31 팝업띄우기 위해 생성한 임시 wrap 제거 -->
    <div id="fullPopup1" class="layerPopup full on">
        <div class="pop-area">
            <div class="pop-header">
                <h2 class="pop-tit">우편번호</h2>
            </div>

            <div class="pop-body">
                <div class="pop-content">
                    <form>
                        <fieldset class="form-content">
                            <legend>우편번호 조회</legend>
                            <div class="form-wrap search-form">
                                <div class="form-group">
                                    <p class="mo-tit">구분선택</p>
                                    <label class="radio" data-tab="new-address">
                                        <input type="radio" name="use" value="road" checked="">
                                        <span>도로명주소(신주소)</span>
                                    </label>
                                    <label class="radio" data-tab="old-address">
                                        <input type="radio" name="use" value="lot">
                                        <span>지번주소(구주소)</span>
                                    </label>
                                </div>

                                <div class="group">
                                    <div id="new-address" >
                                        <div class="form-group">
                                            <label for="newadd-input">도로명주소</label>
                                            <input id="newadd-input" type="text" name="new-address" placeholder="예) 도산대로 306"/>
                                        </div>
                                    </div>

                                    <div id="old-address">
                                        <div class="form-group">
                                            <label for="oldadd-input">지번주소</label>
                                            <input id="oldadd-input" type="text" name="old-address" placeholder="읍면동명"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="oldadd-number-input">지번</label>
                                            <div class="flex-row gap10">
                                                <input id="oldadd-number-input" type="number" name="oldadd_number" placeholder=""/>
                                                <input id="oldadd-number-input2" type="number" name="oldadd_number" placeholder=""/>
                                            </div>
                                            
                                        </div>
                                    </div>
                            </div>

                                <button class="btn-form">조회</button>
                            </div><!--//form-wrap-->
                        </fieldset>
                    </form>
                </div>

                <div class="pop-header2">
                    <h2 class="pop-tit">검색결과</h2> 
                </div>

                <div class="pop-content">
                    <div class="table-group">
                        <table class="mo-list result">
                            <caption>
                                우편번호 조회 결과표 (우편번호, 주소 결과표)
                            </caption>
                            <colgroup>
                                <col style="width:200px" />
                                <col style="width:auto" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">우편번호</th>
                                    <th scope="col">주소</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>08760</td>
                                    <td>서울특별시 관악구 신림동 1432-178</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="pop-footer">
                <button type="button" class="btn-pop-primary" data-popup-close="fullPopup1">확인</button>
            </div>
            <button type="button" name="button" class="btn btn-close right" data-popup-close="fullPopup1">닫기</button>
        </div>
    </div>
    <!-- e: 우편번호 검색 팝업(fullPopup1) -->
    
    <!-- s&e: 2025.10.31 임시 스크립트 삭제 -->
</body>
</html>