<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>자주하는 질문&gt;고객센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>고객센터</span></li>
                        <li><span>자주하는 질문</span></li> 
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>자주하는 질문</h2> 
                </section>
                <section class="page-container WCC10100VQ">
                    <div class="qna-content">
                        <form>
                            <!-- s: 2025.10.27 변경 -->
                            <fieldset class="form-content">
                                <legend>검색</legend>
                                <div class="form-wrap noti-search">
                                    <div class="form-group">
                                        <label for="">검색</label>
                                        <div class="flex-end">
                                            <div class="search-row">
                                                <input id="search" type="search" name="search" placeholder="검색어를 입력해주세요" />
                                                <button type="submit" class="btn-search">검색버튼</button>
                                            </div>
                                            <button type="submit" class="btn-body">새로고침</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- e: 2025.10.27 변경 -->
                            <dl class="qna-list accordionToggle">
                                <div class="accordion-item on">
                                    <dt class="tit">
                                        <button type="button">
                                            <span>짐문 : </span>
                                            금융거래확인서와 은행조회서를 발급 받기 위해서는 어떻게 해야 하나요?
                                        </button>
                                    </dt>
                                    <dd class="cont">
                                        <span>답변 : </span>
                                        <div>
                                            내고객센터(1588-9688)로 연락주시면 금융거래확인서 및 은행조회서를 발급해드립니다.<br />
                                            수수료는 금융거래확인서는 3,000원 은행조회서 50,000원 이 발생됩니다.
                                        </div>
                                    </dd>
                                </div>
                                <div class="accordion-item">
                                    <dt class="tit">
                                        <button type="button">
                                            <span>짐문 : </span>
                                            리스료를 무통장 입금했는데도, CMS출금되어 리스료가 이중으로 납부가 된 이유를 알고 싶습니다.
                                            이 경우 어떻게 대처해야 하나요? 
                                        </button>
                                    </dt>
                                    <dd class="cont">
                                        <span>답변 : </span>
                                        <div>
                                            CMS 자동출금은 금융결제원을 통해 이루어지기 때문에 금융결제원에 수납일 기준 오전 10시 이전에 출금파일을 보내게 됩니다. 따라서 파일을 보내는 당일 오전 10시 이전에 입금이 확인된 경우에는 이중 출금되지 않으나, 
                                            그 이후에 입금하신 경우에는 파일 송신을 이미 완료한 상태이므로 입금을 반영 할 수 없어 이중출금 됩니다.<br>
                                            이중출금 시 반환 받고자 하는 통장사본과 반환요청공문을 팩스로 보내주시면 금융결제원에서 출금파일을 받게 되는 1영업일 후에 출금액 확인 후 환불처리 해드립니다.
                                        </div>
                                    </dd>
                                </div>
                                <div class="accordion-item">
                                    <dt class="tit">
                                        <button type="button">
                                            <span>짐문 : </span>
                                            CMS 계좌변경은 어떻게 처리하나요?
                                        </button>
                                    </dt>
                                    <dd class="cont">
                                        <span>답변 : </span>
                                        <div>
                                            본인 명의의 CMS 계좌로 변경 시 고객센터에서 녹취로 접수하여 변경처리 가능하며 제 3자 명의로 변경 시 CMS 계좌변경 신청서(통장도장 날인)를 팩스로 보내주시면 담당자가 확인 후 변경처리 해드립니다.
                                        </div>
                                    </dd>
                                </div>
                                <div class="accordion-item">
                                    <dt class="tit">
                                        <button type="button">
                                            <span>짐문 : </span>
                                            리스계약 종료시 잔존가치로 매입을 해야되나요?
                                        </button>
                                    </dt>
                                    <dd class="cont">
                                        <span>답변 : </span>
                                        <div>
                                            잔존가치는 원금 중 일부금액을 계약만기 시까지 상환을 유예하여, 만기시에 차량 양도금액으로 약정해 놓은 금액입니다. 
                                            잔존가치가 높으면 매회 리스료 부담을 줄이는 효과가 있으나 만기 시 양도금액이 상승할 수 있습니다. 보통은 리스계약시 보증금과 잔존가치를 동일하게 선택하여 리스만기시 보증금과 잔존가치를 서로 상계하여 처리하는 경우가 많습니다.
                                        </div>
                                    </dd>
                                </div>
                            </dl>
                            <!-- D : 검색 시 조회 결과가 없을 때 뜨는 페이지 -->
                        <!-- D : 필요시 주석 해제 -->
                        
                        <!-- <div class="no-results">
                            <p>조회 결과가 없습니다.</p>
                        </div> -->

                        <div class="pagination-content">
                            <div class="pc">
                                <div class="first">
                                    <button class="btn-first">처음으로</button>
                                    <button class="btn-prev">이전으로</button>
                                </div>

                                <div>
                                    <button class="active">1</button>
                                    <button>2</button>
                                    <button>3</button>
                                    <button>4</button>
                                    <button>5</button>
                                    <button>6</button>
                                    <button>7</button>
                                    <button>8</button>
                                    <button>9</button>
                                    <button>10</button>
                                </div>

                                <div class="last">
                                    <button class="btn-next">다음으로</button>
                                    <button class="btn-last">마지막으로</button>
                                </div>
                            </div>
                            <div class="mo">
                                <button class="btn-more">
                                    <span class="page-counter">(<span>1</span><span>/5</span>)</span>
                                    <span class="load-more-text">더보기</span>
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
