<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>법인계약약정(상세)&gt;고객센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>고객센터</span></li>
                        <li><span>법인계약약정</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>법인 계약 약정</h2>
                    <p>당사 홈페이지를 통해 법인 계약 약정을 진행하실 수 있습니다.</p>
                </section>
                <section class="page-container WCC21301DS">
                    <div class="table-content">
                        <div class="group">
                            <div class="text-group">
                                <h3>법인 계약 약정 상세</h3>
                            </div>
                            <div class="table-group">
                                <h4 class="table-tit">기본정보</h4>
                                <table>
                                    <caption>기본정보 입력표 (월 렌탈료, 사업자명, 사업자번호, 사업자주소, 업종, 업태 포함)</caption>
                                    <colgroup>
                                        <col style="width:214px;">
                                        <col style="width:auto">
                                        <col style="width:214px;">
                                        <col style="width:auto">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>월렌탈료</th>
                                            <td class="tal" colspan="3">888,999원</td>
                                        </tr>
                                        <tr>
                                            <th>사업자명</th>
                                            <td class="tal">사업자명</td>
                                            <th>사업자번호</th>
                                            <td class="tal">801-81-01100</td>
                                        </tr>
                                        <tr>
                                            <th>사업자주소</th>
                                            <td class="tal">사업자 주소가 들어갑니다.</td>
                                            <th>업종</th>
                                            <td class="tal">제조업</td>
                                        </tr>
                                        <tr>
                                            <th>업태</th>
                                            <td class="tal" colspan="3">제조업</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-group">
                                <h4 class="table-tit">차량정보</h4>
                                <table>
                                    <caption>차량정보 입력표 (제조사명, 차량명, 연식, 배기량, 실구입가격 포함)</caption>
                                    <colgroup>
                                        <col style="width:214px;">
                                        <col style="width:auto">
                                        <col style="width:214px;">
                                        <col style="width:auto">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>제조사명</th>
                                            <td class="tal">현대</td>
                                            <th>차량명</th>
                                            <td class="tal">그랜져 2.5 가솔린</td>
                                        </tr>
                                        <tr>
                                            <th>연식</th>
                                            <td class="tal">2021년식</td>
                                            <th>배기량</th>
                                            <td class="tal">2500cc</td>
                                        </tr>
                                        <tr>
                                            <th>실구입가격</th>
                                            <td class="tal" colspan="3">21,000,000원</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-group">
                                <h4 class="table-tit">상품정보</h4>
                                <table>
                                    <caption>상품정보 입력표 (유형, 이용기간, 약정주행거리, 보증금, 보증금률, 장기선수금, 장기선수금율, 잔가, 잔가율, 정비상품, 보험(운전자연령), 보험(대물), 보험(임직원보험), 보험(차량손해면책금) 포함)</caption>
                                    <colgroup>
                                        <col style="width:214px;">
                                        <col style="width:auto">
                                        <col style="width:214px;">
                                        <col style="width:auto">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>유형</th>
                                            <td class="tal">법인사업자</td>
                                            <th>이용기간</th>
                                            <td class="tal">12개월</td>
                                        </tr>
                                        <tr>
                                            <th>약정주행거리</th>
                                            <td class="tal">30,000km</td>
                                            <th>보증금</th>
                                            <td class="tal point-b">3,700,000원</td>
                                        </tr>
                                        <tr>
                                            <th>보증금률</th>
                                            <td class="tal point-b">17%</td>
                                            <th>장기선수금</th>
                                            <td class="tal">0원</td>
                                        </tr>
                                        <tr>
                                            <th>장기선수금율</th>
                                            <td class="tal">0%</td>
                                            <th>잔가</th>
                                            <td class="tal point-b">0원</td>
                                        </tr>
                                        <tr>
                                            <th>잔가율</th>
                                            <td class="tal">79%</td>
                                            <th>정비상품</th>
                                            <td class="tal">Basic</td>
                                        </tr>
                                        <tr>
                                            <th>보험(운전자연령)</th>
                                            <td class="tal">만 26세 이상</td>
                                            <th>보험(대물)</th>
                                            <td class="tal">1억원</td>
                                        </tr>
                                        <tr>
                                            <th>보험(임직원보험)</th>
                                            <td class="tal">가입</td>
                                            <th>보험(차량손해면책금)</th>
                                            <td class="tal point-b">300,000원</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-group">
                                <h4 class="table-tit">약정정보</h4>
                                <table>
                                    <caption>약정정보 입력표 (중도해지위약금율, 반납지연금율, 초과주행수수료, 연체이자율 포함)</caption>
                                    <colgroup>
                                        <col style="width:214px;">
                                        <col style="width:auto">
                                        <col style="width:214px;">
                                        <col style="width:auto">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>중도해지위약금율</th>
                                            <td class="tal point-b">최대 35%</td>
                                            <th>반납지연금율</th>
                                            <td class="tal point-b">200%</td>
                                        </tr>
                                        <tr>
                                            <th>초과주행수수료</th>
                                            <td class="tal point-b">초과Km X 300원</td>
                                            <th>연체이자율</th>
                                            <td class="tal point-b">최대 20%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-group">
                                <h4 class="table-tit">결제정보</h4>
                                <table>
                                    <caption>결제정보 입력표 (월 렌탈료(장기선수금 포함), 결제일, 최초 결제일 포함)</caption>
                                    <colgroup>
                                        <col style="width:214px;">
                                        <col style="width:auto">
                                        <col style="width:214px;">
                                        <col style="width:auto">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>월 렌탈료<br/>(장기선수금 포함)</th>
                                            <td class="tal point-b">현대</td>
                                            <th>결제일</th>
                                            <td class="tal point-b">18일</td>
                                        </tr>
                                        <tr>
                                            <th>최초 결제일</th>
                                            <td class="tal point-b" colspan="3">2025.11.18</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-group">
                                <h4 class="table-tit">출금계좌정보</h4>
                                <table>
                                    <caption>출금계좌정보 입력표 (출금계좌번호, 예금주, 은행명 포함)</caption>
                                    <colgroup>
                                        <col style="width:214px;">
                                        <col style="width:auto">
                                        <col style="width:214px;">
                                        <col style="width:auto">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>출금계좌번호</th>
                                            <td class="tal">1111-1111-111111</td>
                                            <th>예금주</th>
                                            <td class="tal">예금주명</td>
                                        </tr>
                                        <tr>
                                            <th>은행명</th>
                                            <td class="tal" colspan="3">국민은행</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-group">
                            <h3>약관동의</h3>
                            <div class="form-content">
                                <div class="form-group">
                                    <ul class="check-box terms">
                                        <li>
                                            <input type="checkbox" name="check-required-1" id="check-required-1" class="chkReq" />
                                            <label for="check-required-1" class="check-button" data-popup-open="provisionHs1">
                                                <span>연체이자율</span>
                                            </label>
                                            <button type="button" class="modal" data-popup-open="provisionHs1">내용보기</button>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="check-required-2" id="check-required-2" class="chkReq" />
                                            <label for="check-required-2" class="check-button" data-popup-open="provisionHs2">
                                                <span>초과주행수수료</span>
                                            </label>
                                            <button class="modal" type="button" data-popup-open="provisionHs2">내용보기</button>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="check-required-3" id="check-required-3" class="chkReq" />
                                            <label for="check-required-3" class="check-button" data-popup-open="provisionHs3">
                                                <span>중도해지위약금</span>
                                            </label>
                                            <button class="modal" type="button" data-popup-open="provisionHs3">내용보기</button>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="check-required-4" id="check-required-4" class="chkReq" />
                                            <label for="check-required-4" class="check-button" data-popup-open="provisionHs4">
                                                <span>계약해지에 따른 손해배상액</span>
                                            </label>
                                            <button class="modal" type="button" data-popup-open="provisionHs4">내용보기</button>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="check-required-5" id="check-required-5" class="chkReq" />
                                            <label for="check-required-5" class="check-button" data-popup-open="provisionHs5">
                                                <span>반납지연금</span>
                                            </label>
                                            <button class="modal" type="button" data-popup-open="provisionHs5">내용보기</button>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="check-required-6" id="check-required-6" class="chkReq" />
                                            <label for="check-required-6" class="check-button" data-popup-open="provisionHs6">
                                                <span>계약주요내용</span>
                                            </label>
                                            <button class="modal" type="button" data-popup-open="provisionHs6">내용보기</button>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="check-required-7" id="check-required-7" class="chkReq" />
                                            <label for="check-required-7" class="check-button" data-popup-open="provisionHs7">
                                                <span>장비서비스조건</span>
                                            </label>
                                            <button class="modal" type="button" data-popup-open="provisionHs7">내용보기</button>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="check-required-8" id="check-required-8" class="chkReq" />
                                            <label for="check-required-8" class="check-button" data-popup-open="provisionHs8">
                                                <span>출금동의</span>
                                            </label>
                                            <button class="modal" type="button" data-popup-open="provisionHs8">내용보기</button>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="check-required-9" id="check-required-9" class="chkReq" />
                                            <label for="check-required-9" class="check-button" data-popup-open="provisionHs9">
                                                <span>자동차인수증 및 제출동의</span>
                                            </label>
                                            <button class="modal" type="button" data-popup-open="provisionHs9">내용보기</button>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="check-required-10" id="check-required-10" class="chkReq" />
                                            <label for="check-required-10" class="check-button" data-popup-open="provisionHs10">
                                                <span>약정확약동의</span>
                                            </label>
                                            <button class="modal" type="button" data-popup-open="provisionHs10">내용보기</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="bottom-container">
                    <div class="btn-content cta">
                        <div class="button-group">
                            <a href="javascript:void(0);" class="btn-secondary">취소</a>
                            <a href="javascript:void(0);" class="btn-primary">약정서 미리보기</a>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
