<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>기한이익상실 예정 공지&gt;고객센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><a href="/" id="contentArea"><span class="home">홈</span></a></li>
                        <li><span>고객센터</span></li>
                        <li><span>기한이익상실 예정 공지</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>기한이익상실 예정 공지</h2>
                </section>
                <section class="page-container WCC21101DS">
                    <div class="table-content">
                        <div class="group">
                            <h3>기한이익상실의 통지</h3>
                            <div class="table-group">
                                <table class="mo-s fs-2">
                                    <caption>기한이익상실의 통지표(번호, 실행번호, 증명서 발급주체, 내용증명 발송여부, 통지횟수, 마지막 발송일자, 통지 도달 여부, 홈페이지 게재일자, 기한의 이익 상실 예정일자, 기한의 이익 상실 원인 포함)</caption>
                                    <colgroup>
                                        <col style="width:84px">
                                        <col style="width:225px">
                                        <col style="width:225px">
                                        <col style="width:225px">
                                        <col style="width:100px">
                                        <col style="width:225px">
                                        <col style="width:150px">
                                        <col style="width:200px">
                                        <col style="width:225px">
                                        <col style="width:275px">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">번호</th>
                                            <th scope="col">실행번호</th>
                                            <th scope="col">증명서발급주체</th>
                                            <th scope="col">내용증명 발송여부</th>
                                            <th scope="col">통지횟수</th> 
                                            <th scope="col">마지막 발송일자</th> 
                                            <th scope="col">통지 도달 여부</th> 
                                            <th scope="col">홈페이지 게재일자</th> 
                                            <th scope="col">기한의 이익 상실 예정일자</th> 
                                            <th scope="col">기한의 이익 상실 원인</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="10" class="nodata">데이터가 존재하지 않습니다.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="m-dot">
                                <li>개인채무자보호법 채무조정 대상에 해당되실 경우 당사에 직접 채무조정을 요청하실 수 있으며 해당사항 문의는 채무조정전담(02-2018-0689 -> 담당자 번호)으로 연락바랍니다.</li>
                                <li>기한의 이익 상실 원인이 해소될 경우 기한의 이익 부활이 가능합니다.(채권담당자 문의 요망)</li>
                                <li>서민의 금융생활 지원에 관한 법률에 따른 채무조정절차, 채무자회생 및 파산에 관한 법률에 따른 회생, 간이회생, 개인회생, 파산, 면책절차 등 당사 외 채무조정 제도가 있으니 참조 바랍니다.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="table-content">
                        <div class="group">
                            <h3>주택 경매 예정의 통지</h3>
                            <div class="table-group">
                                <table class="mo-s fs-2">
                                    <caption>주택 경매 예정의 통지표(번호, 실행번호, 증명서 발급주체, 내용증명 발송여부, 통지횟수, 마지막 발송일자, 통지 도달 여부, 홈페이지 게재일자, 경매신청 대상 주택, 경매신청 예정일자 포함)</caption>
                                    <colgroup>
                                        <col style="width:84px">
                                        <col style="width:225px">
                                        <col style="width:225px">
                                        <col style="width:225px">
                                        <col style="width:100px">
                                        <col style="width:180px">
                                        <col style="width:150px">
                                        <col style="width:150px">
                                        <col style="width:350px">
                                        <col style="width:150px">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">번호</th>
                                            <th scope="col">실행번호</th>
                                            <th scope="col">증명서발급주체</th>
                                            <th scope="col">내용증명 발송여부</th>
                                            <th scope="col">통지횟수</th> 
                                            <th scope="col">마지막 발송일자</th> 
                                            <th scope="col">통지 도달 여부</th> 
                                            <th scope="col">홈페이지 게재일자</th> 
                                            <th scope="col">경매신청 대상 주택</th> 
                                            <th scope="col">경매신청 예정일자</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="10" class="nodata">데이터가 존재하지 않습니다.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="m-dot">
                                <li>개인채무자보호법 채무조정 대상에 해당되실 경우 당사에 직접 채무조정을 요청하실 수 있으며 해당사항 문의는 채무조정전담( 02-2018-0689-> 담당자 번호)으로 연락바랍니다.</li>
                                <li>주택경매 예정의 통지가 도달한 날로부터 10영업일 內 채무조정을 요청할 수 있으며 같은 기간 내에 요청이 없을 경우 예정대로 경매를 신청합니다.</li>
                                <li>서민의 금융생활 지원에 관한 법률에 따른 채무조정절차, 채무자회생 및 파산에 관한 법률에 따른 회생, 간이회생, 개인회생, 파산, 면책절차 등 당사 외 채무조정 제도가 있으니 참조 바랍니다.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="table-content">
                        <div class="group">
                            <h3>채권양도 예정의 통지</h3>
                            <div class="table-group">
                                <table class="mo-s fs-2">
                                    <caption>채권양도 예정의 통지표(번호, 실행번호, 증명서발급주체, 통지대상여부, 내용증명 발송 여부, 통지횟수, 마지막 발송일자, 통지 도달 여부, 홈페이지 게재일자, 양도대상 채권 현황 기준일자, 채권양도원금, 채권양도이자, 채권양도가지급금, 채권양도 예정일자, 채권양수 예정인, 채권양도 소멸시효 완성 일자 포함)</caption>
                                    <colgroup>
                                        <col style="width:84px">
                                        <col style="width:225px">
                                        <col style="width:225px">
                                        <col style="width:225px">
                                        <col style="width:100px">
                                        <col style="width:150px">
                                        <col style="width:150px">
                                        <col style="width:150px">
                                        <col style="width:200px">
                                        <col style="width:250px">
                                        <col style="width:250px">
                                        <col style="width:250px">
                                        <col style="width:150px">
                                        <col style="width:250px">
                                        <col style="width:300px">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col" rowspan="2">번호</th>
                                            <th scope="col" rowspan="2">실행번호</th>
                                            <th scope="col" rowspan="2">증명서발급주체</th>
                                            <th scope="col" rowspan="2">내용증명 발송여부</th>
                                            <th scope="col" rowspan="2">통지횟수</th> 
                                            <th scope="col" rowspan="2">마지막 발송일자</th> 
                                            <th scope="col" rowspan="2">통지 도달 여부</th> 
                                            <th scope="col" rowspan="2">홈페이지 게재일자</th> 
                                            <th scope="col" rowspan="2">양도대상 채권 현황 기준일자</th> 
                                            <th scope="col" colspan="6">양도대상 채권 현황</th> 
                                        </tr>
                                        <tr>
                                            <th class="bor-l" scope="col">채권양도원금</th>
                                            <th scope="col">채권양도이자</th>
                                            <th scope="col">채권양도가지급금</th>
                                            <th scope="col">채권양도 예정일자</th>
                                            <th scope="col">채권양수 예정인</th>
                                            <th scope="col">채권양도 소멸시효 완성 일자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="15" class="nodata">데이터가 존재하지 않습니다.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="m-dot">
                                <li>개인채무자보호법 채무조정 대상에 해당되실 경우 당사에 직접 채무조정을 요청하실 수 있으며 해당사항 문의는 채무조정전담(02-2018-0689 -> 담당자 번호)으로 연락바랍니다.</li>
                                <li>채권양도 예정의 통지가 도달한 날로부터 10영업일 內 채무조정을 요청할 수 있으며 같은 기간 내에 요청이 없을 경우 예정대로 양수예정인에게 양도합니다.</li>
                                <li>서민의 금융생활 지원에 관한 법률에 따른 채무조정절차, 채무자회생 및 파산에 관한 법률에 따른 회생, 간이회생, 개인회생, 파산, 면책절차 등 당사 외 채무조정 제도가 있으니 참조 바랍니다.</li>
                            </ul>
                        </div>
                    </div>
                    
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
 