<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>칭찬/제안접수&gt;고객의 목소리&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>소비자보호</span></li>
                        <li><span>고객의 목소리</span></li>
                        <li><span>칭찬/제안접수</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>칭찬/제안접수</h2>
                    <p>감사하는 마음으로 고객님의 칭찬/제안을 확인하겠습니다.</p>
                </section>
                <section class="page-container WCC20720VS">
                    <div class="form-content">
                        <!-- s: 2025.11.06 위치 변경 -->
                        <h3>약관동의</h3>
                        <!-- e: 2025.11.06 위치 변경 -->
                        <form>
                            <div class="form-group">
                                <ul class="check-box terms">
                                    <li>
                                        <input type="checkbox" id="check-required-1" class="chkReq" />
                                        <label for="check-required-1" class="check-button" data-popup-open="fullPopup1">
                                            <span>개인정보 수집&#183;이용 동의</span>
                                        </label>
                                        <button title="개인정보 수집&#183;이용 동의 내용보기" type="button" class="modal" data-popup-open="fullPopup1">내용보기</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="info-list">
                                <ul class="m-dot">
                                    <li>약관을 확인해 주세요</li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="form-container">
                        <div class="text-content">
                            <div class="text-group">
                                <h3>정보입력</h3>
                            </div>
                        </div>
                        <form>
                            <fieldset class="form-content">
                                <legend>정보입력 입력폼</legend>
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="mg-name">고객명</label>
                                        <input id="mg-name" type="text" name="text" value="고객명 노출" disabled>
                                    </div><!--//form-group-->
                                    <div class="form-group">
                                        <label for="mg-name">생년월일</label>
                                        <input id="mg-name" type="text" name="text" value="YYYY.MM.DD" disabled>
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="phn-first">연락처</label>
                                        <div class="flex-row mo-column">
                                            <div>
                                                <select id="phn-first" required="" title="">
                                                    <option value="0">010</option>
                                                    <option value="1">011</option>
                                                    <option value="2">016</option>
                                                    <option value="3">017</option>
                                                    <option value="4">018</option>
                                                    <option value="5">019</option>
                                                </select>
                                                <input id="phn-second" name="phn-second" type="tel" inputmode="numeric" class="pc-phn" autocomplete="tel-local-prefix" pattern="[0-9]{3,4}" maxlength="4" aria-describedby="desc-phone" value="1234">
                                                <input id="phn-third" name="phn-third" type="tel" inputmode="numeric" class="pc-phn" autocomplete="tel-local-suffix" pattern="[0-9]{4}" maxlength="4" aria-describedby="desc-phone" value="5678">
                                                <input id="mo-phn" name="mo-phn" type="tel" class="mo-phn" maxlength="11" aria-describedby="desc-phone" value="12345678">
                                            </div>
                                        </div><!--//flex-row-->
                                    </div><!--//form-group-->
                                    <div class="form-group">
                                        <label for="phn-first">이메일</label>
                                        <div class="flex-row mo-column mail">
                                            <div>
                                                <input id="mail-first" name="mail-first" type="text" value="abc">
                                                <span class="ipt-hyphen">@</span>
                                                <input id="mail-second" name="mail-second" type="text" value="gmail.com">
                                                <select id="mail-third" required="" title="">
                                                    <option value="0">gmail.com</option>
                                                    <option value="1">naver.com</option>
                                                    <option value="3">hanmail.net</option>
                                                    <option value="4">daum.net</option>
                                                    <option value="5">nate.com</option>
                                                </select>
                                            </div>
                                        </div><!--//flex-row-->
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="title">제목</label>
                                        <input id="title" name="title" type="text" placeholder="제목을 입력해주세요.">
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="content">내용</label>
                                        <textarea id="content" name="content" type="text" placeholder="내용을 입력해주세요."></textarea>
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                            </fieldset>
                            <div class="info-list">
                                <ul class="rfrnc">
                                    <li>※ 작성하신 내용은 MY페이지 > 나의상담내역에서 확인 하실 수 있습니다.</li>
                                </ul>
                            </div>
                            <div class="btn-content cta">
                                <div class="button-group">
                                    <a href="javascript:void(0);" class="btn-secondary">초기화</a>
                                    <a href="javascript:void(0);" class="btn-primary">작성 완료</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
    <!--s :팝업-->
    <!-- s: 개인정보 수집이용 팝업(fullPopup1) -->
    <div id="fullPopup1" class="layerPopup full fullPopupOn">
        <!--[D] fullPopupOn 클래스 :: 헤더 스크립트 적용중-->
        <div class="pop-area">
            <div class="pop-header">
                <h2 class="pop-tit">개인정보 수집&#183;이용 동의</h2>
            </div>
            <div class="pop-body WCC20710VS">
                <div class="pop-content">
                    <div class="text-group">
                        <p class="tit">고객님의 칭찬/불만/제안 등(이하 <span class="success">「민원접수」</span>을 처리하기 위해서 아래의 내용에 대한 고객님의 동의가 필요합니다.</p>
                    </div>
                    <div class="text-group">
                        <h4 class="tit-f-square">개인정보의 수집 및 이용목적</h4>
                        <p>고객님께서 제공하신 개인정보를 「전자민원」의 접수 및 처리 등을 위한 본인식별정보, 본인 의사 확인, 민원의 제반처리(조사, 처리결과 통지 등), 고객만족도 조사, 법령상 의무 이행, 서비스 이용에 관한 통계, 민원에 관한 통계 업무</p>
                    </div>
                    <div class="text-group">
                        <h4 class="tit-f-square">개인정보의 수집항목</h4>
                        <ol class="text-list">
                            <li>
                                <span>1.</span>
                                <span>개인정보 수집항목: 성명, 생년월일, 연락처, 이메일</span>
                            </li>
                            <li>
                                <span>2.</span>
                                <span>고객님께서 제공하신 정보, 민원 처리를 위한 상담 등을 통해 생성되는 정보.</span>
                            </li>
                        </ol>
                    </div>
                    <div class="text-group">
                        <h4 class="tit-f-square">개인정보의 보유 및 이용기간</h4>
                        <p>동의일로부터 5년 (관련 법령상의 별도 보유ㆍ이용기간이 명시되어있는 경우 그 기간을 따름)</p>
                    </div>
                    <div class="text-group">
                        <h4 class="tit-f-square">개인정보 수집거부 권리 및 권리 행사 시의 불이익</h4>
                        <p>고객님은 개인정보 수집 및 이용을 거부할 권리가 있습니다.<br>개인정보의 수집 및 이용을 거부하실 경우 접수해주신 「전자민원」에 대한 처리가 제한될 수 있습니다.</p>
                        <p>※ 민원의 처리ㆍ조사 등을 위한 최소한의 정보만 수집ㆍ이용ㆍ제공합니다.</p>
                    </div>
                </div>
            </div>
            <div class="pop-footer">
                <div class="button-content">
                    <button type="button" class="btn-pop-primary"  data-popup-close="fullPopup1">확인했어요</button>
                </div>
            </div>
        </div>
    </div>
    <!-- e: 개인정보 수집이용 팝업(fullPopup1) -->
    <!--e: 팝업-->
</body>
</html>
