<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>칭찬/제안접수&gt;고객의 목소리&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><a href="/" id="contentArea"><span class="home">홈</span></a></li>
                        <li><span>소비자보호</span></li>
                        <li><span>고객의 목소리</span></li>
                        <li><span>칭찬/제안접수</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>칭찬/제안접수</h2>
                    <p>감사하는 마음으로 고객님의 칭찬/제안을 확인하겠습니다.</p>
                </section>
                <section class="page-container WCC20720VS">
                    <div class="form-content">
                        <!-- s: 2025.11.06 위치 변경 -->
                        <h3>약관동의</h3>
                        <!-- e: 2025.11.06 위치 변경 -->
                        <form>
                            <div class="form-group">
                                <ul class="check-box terms">
                                    <li>
                                        <input type="checkbox" id="check-required-1" class="chkReq" />
                                        <label for="check-required-1" class="check-button" data-popup-open="fullPopup1">
                                            <span>개인정보 수집&#183;이용 동의</span>
                                        </label>
                                        <button type="button" class="modal" data-popup-open="fullPopup1">내용보기</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="info-list">
                                <ul class="m-dot">
                                    <li>약관을 확인해 주세요</li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="form-container">
                        <div class="text-content">
                            <div class="text-group">
                                <h3>정보입력</h3>
                            </div>
                        </div>
                        <form>
                            <fieldset class="form-content">
                                <legend>정보입력 입력폼</legend>
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="mg-name">고객명</label>
                                        <input id="mg-name" type="text" name="text" value="고객명 노출" disabled>
                                    </div><!--//form-group-->
                                    <div class="form-group">
                                        <label for="mg-name">생년월일</label>
                                        <input id="mg-name" type="text" name="text" value="YYYY.MM.DD" disabled>
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <p class="label-tit">연락처</p>
                                        <div class="flex-row mo-column">
                                            <div>
                                                <label for="phn-first" class="sr-only">연락처</label>
                                                <select id="phn-first" required>
                                                    <option value="0">010</option>
                                                    <option value="1">011</option>
                                                    <option value="2">016</option>
                                                    <option value="3">017</option>
                                                    <option value="4">018</option>
                                                    <option value="5">019</option>
                                                </select>
                                                <label for="phn-second" class="sr-only">연락처 첫번째자리</label>
                                                <input id="phn-second" name="phn-second" type="tel" inputmode="numeric" class="pc-phn" autocomplete="tel-local-prefix" pattern="[0-9]{3,4}" maxlength="4"  value="1234">
                                                <label for="phn-third" class="sr-only">연락처 두번째자리</label>
                                                <input id="phn-third" name="phn-third" type="tel" inputmode="numeric" class="pc-phn" autocomplete="tel-local-suffix" pattern="[0-9]{4}" maxlength="4"  value="5678">
                                                <!-- 2025.11.12 input 1개 삭제 -->
                                            </div>
                                        </div><!--//flex-row-->
                                    </div><!--//form-group-->
                                    <div class="form-group">
                                        <p class="label-tit">이메일</p>
                                        <div class="flex-row mo-column mail">
                                            <div>
                                                <label for="mail-first" class="sr-only">이메일 첫번째자리</label>
                                                <input id="mail-first" name="mail-first" type="text" value="abc">
                                                <span class="ipt-hyphen">@</span>
                                                <label for="mail-second" class="sr-only">이메일 두번째자리</label>
                                                <input id="mail-second" name="mail-second" type="text" value="gmail.com">
                                                <label for="mail-third" class="sr-only">이메일 주소</label>
                                                <select id="mail-third" required>
                                                    <option value="0">gmail.com</option>
                                                    <option value="1">naver.com</option>
                                                    <option value="3">hanmail.net</option>
                                                    <option value="4">daum.net</option>
                                                    <option value="5">nate.com</option>
                                                </select>
                                            </div>
                                        </div><!--//flex-row-->
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                                <div class="form-wrap tb-style">
                                    <div class="form-group">
                                        <label for="title">제목</label>
                                        <input id="title" name="title" type="text" placeholder="제목을 입력해주세요.">
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                                <div class="form-wrap tb-style">
                                    <div class="form-group">
                                        <label for="content">내용</label>
                                        <textarea id="content" name="content" type="text" placeholder="내용을 입력해주세요."></textarea>
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                            </fieldset>
                            <div class="info-list">
                                <ul class="rfrnc">
                                    <li>※ 작성하신 내용은 MY페이지 > 나의상담내역에서 확인 하실 수 있습니다.</li>
                                </ul>
                            </div>
                            <div class="btn-content cta">
                                <div class="button-group">
                                    <a href="javascript:void(0);" class="btn-secondary">초기화</a>
                                    <a href="javascript:void(0);" class="btn-primary">작성 완료</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
    <!--s :팝업-->
    <!-- s: 개인정보 수집이용 팝업(fullPopup1) -->
    <div id="fullPopup1" class="layerPopup full fullPopupOn">
        <!--[D] fullPopupOn 클래스 :: 헤더 스크립트 적용중-->
        <div class="pop-area">
            <div class="pop-header">
                <h2 class="pop-tit">개인정보 수집&#183;이용 동의</h2>
            </div>
            <div class="pop-body WCC20710VS">
                <div class="pop-content">
                    <div class="text-group">
                        <h3 class="tit"><span class="revise">[2025.12.31 개정]</span>MG캐피탈 주식회사가 고객님의 개인정보를 수집·이용하기 위해서는 <span class="point-b">「개인정보보호법」</span> 및 <span class="point-b">「신용정보법」</span> 등 관련 법령에 따라 고객님의 동의를 얻어야 합니다.</h3>
                        <p>이에 본인은 아래의 내용과 같이 MG캐피탈 주식회사가 본인의 개인정보를 수집, 이용 하는 것에 동의합니다.</p>
                    </div>
                    <div class="text-group">
                        <h4 class="tit">1.개인정보의 수집·이용 목적</h4>
                        <ol class="dot">
                            <li> 회원제 서비스 이용에 따른 본인 식별 절차에 이용</li>
                            <li> 본인인증 및 금융거래 이용</li>
                        </ol>
                    </div>
                    <div class="text-group">
                        <h4 class="tit">2.수집하려는 개인정보의 항목</h4>
                        <ol class="dot">
                            <li> 성명, 생년월일, 휴대전화번호, 로그인ID, 비밀번호, 이메일 주소</li>
                        </ol>
                    </div>
                    <div class="text-group">
                        <h4 class="tit">3.개인정보의 보유 및 이용기간</h4>
                        <ol class="dot">
                            <li class="fwm"> 수집·이용 동의일로부터 개인정보의 수집·이용 목적을 달성할 때까지 또는 탈퇴 요청 시</li>
                        </ol>
                    </div>
                    <div class="text-group">
                        <p>※ 고객님은 동의를 거부할 권리가 있으며, 동의하지 않는 경우 본 서비스 이용이 불가능합니다.</p>
                    </div>
            </div>
            </div>
            <div class="pop-footer">
                <div class="button-content">
                    <button type="button" class="btn-pop-primary"  data-popup-close="fullPopup1">확인했어요</button>
                </div>
            </div>
        </div>
    </div>
    <!-- e: 개인정보 수집이용 팝업(fullPopup1) -->
    <!--e: 팝업-->
</body>
</html>
