<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>채무조정신청&gt;고객센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>고객센터</span></li>
                        <li><span>채무조정신청</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>채무조정신청</h2>
                </section>
                <section class="page-container WCC21400VQ">
                    <h3>약관동의</h3>
                    <div class="form-content">
                        <form>
                            <div class="form-group">
                                <ul class="check-box terms">
                                    <li class="check-all-area">
                                        <input type="checkbox" id="chkAll" />
                                        <label for="chkAll" class="check-button">
                                            <span>전체 약관에 동의합니다.</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="check-required-1" class="chkReq" />
                                        <label for="check-required-1" class="check-button" data-popup-open="fullPopup1">
                                            <span>개인정보 수집&#183;이용&#183;취급위탁 동의</span>
                                        </label>
                                        <button title="개인정보 수집&#183;이용&#183;취급위탁 동의 내용보기" type="button" class="modal" data-popup-open="fullPopup1">내용보기</button>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="check-required-2" class="chkReq" />
                                        <label for="check-required-2" class="check-button" data-popup-open="fullPopup2">
                                            <span>본인확인서비스 이용약관</span>
                                        </label>
                                        <button title="본인확인서비스 이용약관 내용보기" class="modal" type="button" data-popup-open="fullPopup2">내용보기</button>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="check-required-3" class="chkReq" />
                                        <label for="check-required-3" class="check-button" data-popup-open="fullPopup3">
                                            <span>고유식별정보처리 동의</span>
                                        </label>
                                        <button title="고유식별정보처리 동의 내용보기" class="modal" type="button" data-popup-open="fullPopup3">내용보기</button>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="check-required-4" class="chkReq" />
                                        <label for="check-required-4" class="check-button" data-popup-open="fullPopup4">
                                            <span>통신사 이용약관 동의</span>
                                        </label>
                                        <button title="통신사 이용약관 동의 내용보기" class="modal" type="button" data-popup-open="fullPopup4">내용보기</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="form-container">
                        <div class="text-content">
                            <div class="text-group">
                                <h3>정보입력</h3>
                            </div>
                        </div>
                        <form>
                            <fieldset class="form-content">
                                <legend>정보입력 입력폼</legend>
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="mg-name">이름</label>
                                        <input id="mg-name" type="text" name="text" placeholder="이름을 입력해주세요">
                                    </div><!--//form-group-->
                                    <div class="form-group">
                                        <label for="resident-1">주민등록번호 앞자리</label>
                                        <div class="flex-row gap10">
                                            <input id="resident-1" name="resident-1" type="text" inputmode="numeric" pattern="[0-9]{6}" maxlength="6" required placeholder="생년월일 입력">
                                            <span class="ipt-hyphen">-</span>
                                            <input id="resident-2" name="resident-1" type="text" inputmode="numeric" pattern="[0-9]{6}" maxlength="6" required>
                                        </div><!--//flex-row-->
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="phn-first">휴대전화번호</label>
                                        <div class="flex-row mo-column">
                                            <div>
                                                <select id="phn-first" required="" title="">
                                                    <option value="0">SKT</option>
                                                    <option value="1">KT</option>
                                                    <option value="3">LG U+</option>
                                                    <option value="4">SKT 알뜰폰</option>
                                                    <option value="5">KT 알뜰폰</option>
                                                    <option value="6">LG U+ 알뜰폰</option>
                                                </select>
                                                <select id="phn-second" required="" title="">
                                                    <option value="0">선택</option>
                                                    <option value="1">010</option>
                                                    <option value="2">011</option>
                                                    <option value="3">016</option>
                                                    <option value="4">017</option>
                                                    <option value="5">018</option>
                                                    <option value="6">019</option>
                                                </select>
                                                <input id="phn-third" name="phn-third" type="tel" inputmode="numeric" class="pc-phn" autocomplete="tel-local-prefix" pattern="[0-9]{3,4}" maxlength="4" aria-describedby="desc-phone" value="1234">
                                                <input id="phn-fourth" name="phn-fourth" type="tel" inputmode="numeric" class="pc-phn" autocomplete="tel-local-suffix" pattern="[0-9]{4}" maxlength="4" aria-describedby="desc-phone" value="5678">
                                                <input id="mo-phn" name="mo-phn" type="tel" class="mo-phn" maxlength="8" aria-describedby="desc-phone" value="12345678">
                                            </div>
                                            <!--[D]:공통 - 알럿참고 -->
                                            <button class="btn-form" data-modal-open="modal">인증번호 요청</button>
                                        </div><!--//flex-row-->
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="title">인증번호</label>
                                        <div class="flex-row mo-column">
                                            <input id="title" name="title" type="text" placeholder="인증번호를 입력해주세요">
                                            <button class="btn-form">확인</button>
                                        </div>
                                    </div><!--//form-group-->
                                </div><!--//form-wrap-->
                            </fieldset>
                            <div class="btn-content cta">
                                <div class="button-group">
                                    <a href="javascript:void(0);" class="btn-primary">다음</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
    <!--s :팝업-->
    <!-- s: 개인정보 수집이용 팝업(fullPopup1) -->
    <div id="fullPopup1" class="layerPopup full fullPopupOn">
        <!--[D] fullPopupOn 클래스 :: 헤더 스크립트 적용중-->
        <div class="pop-area">
            <div class="pop-header">
                <h2 class="pop-tit">개인정보 수집&#183;이용&#183;취급위탁 동의</h2>
            </div>
            <div class="pop-body WCC21400VQ">
                <div class="pop-content">
                    개인정보 수집&#183;이용&#183;취급위탁 동의 내용
                </div>
            </div>
            <div class="pop-footer">
                <button type="button" class="btn-pop-primary" data-popup-close="fullPopup1">확인했어요</button>
            </div>
            <button type="button" name="button" class="btn btn-close right" data-popup-close="fullPopup1">닫기</button>
        </div>
    </div>
    <!-- e: 개인정보 수집이용 팝업(fullPopup1) -->
    <!-- s: 본인확인서비스 팝업(fullPopup2) -->
    <div id="fullPopup2" class="layerPopup full fullPopupOn">
        <!--[D] fullPopupOn 클래스 :: 헤더 스크립트 적용중-->
        <div class="pop-area">
            <div class="pop-header">
                <h2 class="pop-tit">본인확인서비스 이용약관</h2>
            </div>
            <div class="pop-body">
                <div class="pop-content">
                    본인확인서비스 이용약관 내용
                </div>
            </div>
            <div class="pop-footer">
                <button type="button" class="btn-pop-primary" data-popup-close="fullPopup2">확인했어요</button>
            </div>
            <button type="button" name="button" class="btn btn-close right" data-popup-close="fullPopup2">닫기</button>
        </div>
    </div>
    <!-- e: 본인확인서비스 팝업(fullPopup2) -->
    <!-- s: 고유식별정보처리 팝업(fullPopup3) -->
    <div id="fullPopup3" class="layerPopup full fullPopupOn">
        <!--[D] fullPopupOn 클래스 :: 헤더 스크립트 적용중-->
        <div class="pop-area">
            <div class="pop-header">
                <h2 class="pop-tit">고유식별정보처리 동의</h2>
            </div>
            <div class="pop-body">
                <div class="pop-content">
                    고유식별정보처리 동의 내용
                </div>
            </div>
            <div class="pop-footer">
                <button type="button" class="btn-pop-primary" data-popup-close="fullPopup3">확인했어요</button>
            </div>
            <button type="button" name="button" class="btn btn-close right" data-popup-close="fullPopup3">닫기</button>
        </div>
    </div>
    <!-- e: 고유식별정보처리 팝업(fullPopup3) -->
    <!-- s: 통신사 이용약관 팝업(fullPopup4) -->
    <div id="fullPopup4" class="layerPopup full fullPopupOn">
        <!--[D] fullPopupOn 클래스 :: 헤더 스크립트 적용중-->
        <div class="pop-area">
            <div class="pop-header">
                <h2 class="pop-tit">통신사 이용약관 동의</h2>
            </div>
            <div class="pop-body">
                <div class="pop-content">
                    <div class="agreement" id="KCB" tabindex="0">
                        통신사 이용약관 동의 내용
                    </div>
                </div>
            </div>
            <div class="pop-footer">
                <button type="button" class="btn-pop-primary" data-popup-close="fullPopup4">확인했어요</button>
            </div>
            <button type="button" name="button" class="btn btn-close right" data-popup-close="fullPopup4">닫기</button>
        </div>
    </div>
    <!-- e: 통신사 이용약관 팝업(fullPopup4) -->
    <!--e: 팝업-->
</body>
</html>
