<div id="provisionHs1" class="layerPopup full fullPopupOn">
    <div class="pop-area">
        <div class="pop-header">
            <h2 class="pop-tit">개인정보 수집&#183;이용/취급위탁 동의</h2>
        </div>
        <div class="pop-body WCC21400VQ">
            <div class="pop-content">
                <div class="tab-container jsTab">
                    <nav class="tab-list depth2">
                        <button type="button" class="tab-item active" data-tab="tab1-1">SKT</button>
                        <button type="button" class="tab-item" data-tab="tab1-2">KT</button>
                        <button type="button" class="tab-item" data-tab="tab1-3">LGU+</button>
                    </nav>
                    <div class="tab-content">
                        <div id="tab1-1" class="tab-panel active">
                            <div class="text-content">
                                <div class="text-group">
                                    <h3 class="point-b">SK텔레콤 귀중</h3>
                                    <p>본인은 SK텔레콤(주)(이하 ‘회사’라 합니다)가 제공하는 본인확인서비스(이하 ‘서비스’라 합니다)를 이용하기 위해, 다음과 같이 ‘회사’가 본인의 개인정보를 수집/이용하고, 개인정보의 취급을 위탁하는 것에 동의합니다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">1. 수집항목</h4>
                                    <ol class="dot">
                                        <li> 이용자의 성명, 이동전화번호, 가입한 이동전화 회사, 생년월일, 성별</li>
                                        <li> 연계정보(CI), 중복가입확인정보(DI)</li>
                                        <li> 이용자가 이용하는 웹사이트 또는 Application 정보, 이용일시</li>
                                        <li> 내외국인 여부</li>
                                        <li> 가입한 이동전화회사 및 이동전화브랜드</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">2. 이용목적</h4>
                                    <ol class="dot">
                                        <li> 이용자가 웹사이트 또는 Application에 입력한 본인확인정보의 정확성 여부 확인<br>(본인확인서비스 제공)</li>
                                        <li> 해당 웹사이트 또는 Application에 연계정보(CI)/중복가입확인정보(DI) 전송</li>
                                        <li> 서비스 관련 상담 및 불만 처리 등</li>
                                        <li> 이용 웹사이트/Application 정보 등에 대한 분석 및 세분화를 통한, 이용자의 서비스 이용 선호도 분석</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">3. 개인정보의 보유기간 및 이용기간</h4>
                                    <ol class="dot">
                                        <li> 이용자가 서비스를 이용하는 기간에 한하여 보유 및 이용. 다만, 아래의 경우는 제외</li>
                                        <li> 법령에서 정하는 경우 해당 기간까지 보유(상세 사항은 회사의 개인정보취급방침에 기재된 바에 따름)</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">4. 본인확인서비스 제공을 위한 개인정보의 취급위탁</h4>
                                    <div class="table-group">
                                        <table class="td-al">
                                            <caption>본인확인서비스 제공을 위한 개인정보의 취급위탁에 대한 표(수탁자, 취급위탁 업무 포함)</caption>
                                            <colgroup>
                                                <col style="width:30%">
                                                <col style="width:70%">
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">수탁자</th>
                                                    <td>(주)다날, (주)드림시큐리티, (주)케이지모빌리언스, (주)한국사이버결제, 한국모바일인증(주), 씨앤케이소프트(주), 수미온(주), SK플래닛(주), 엠드림커뮤니케이션(주), NICE평가정보(주), 서울신용평가정보(주), 코리아크레딧뷰로(주)</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">취급위탁 업무</th>
                                                    <td>
                                                        본인확인정보의 정확성 여부 확인(본인확인서비스 제공), 연계정보(CI)/중복가입확인정보(DI) 생성 및 전송, 서비스 관련 상담 및 불만 처리, 휴대폰인증보호 서비스, 이용자의 서비스 이용 선호도 분석정보 제공관련 시스템 구축 광고매체 연동 및 위탁영업 등
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="rfrnc"> 수탁자의 상세 개인정보 취급 위탁 내용은 각 수탁자가 정하는 절차와 방법에 따라 수탁자 홈페이지 등에 게시된 수탁자의 개인정보 취급방침 및 제3자 제공 동의 방침 등에 따릅니다.</p>
                                    </div>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">5. 위 개인정보 수집·이용 및 취급위탁에 동의하지 않으실 경우, 서비스를 이용하실 수 없습니다.</h4>
                                    <ol class="star">
                                        <li>회사가 제공하는 서비스와 관련된 개인정보의 취급과 관련된 사항은, 회사의 개인정보취급방침(회사 홈페이지 www.sktelecom.com )에 따릅니다.</li>
                                    </ol>
                                    <p>본인은 위 내용을 숙지하였으며 이에 동의합니다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="point-b">&#60;코리아크레딧뷰로㈜ 귀중&#62;</h4>
                                    <p>귀사가 통신사(에스케이텔레콤㈜, ㈜케이티, LG유플러스㈜)로부터 위탁 받아 제공하는 휴대폰본인확인서비스 이용과 관련하여 본인의 개인정보를 수집·이용하고자 하는 경우에는 「개인정보보호법」 제15조, 제22조, 제24조, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제22조에 따라 본인의 동의를 얻어야 합니다. 이에 본인은 귀사가 아래와 같이 본인의 개인정보를 수집·이용하는데 동의합니다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="square"> 개인정보의 수집 및 이용목적</h4>
                                    <ol class="text-list">
                                        <li>
                                            <span>①</span> <span>주민등록번호 대체서비스 제공</span>
                                            <p>개인정보보호법 제24조 2항에 의해 온라인 또는 오프라인상에서 회원가입, 글쓰기, 포인트적립 등 주민등록번호를 사용하지 않고도 본인임을 확인할 수 있는 개인정보보호 서비스(휴대폰본인확인서비스) 제공</p>
                                        </li>
                                        <li><span>②</span> <span>에스케이텔레콤(주), (주)케이티, LG유플러스(주) 등 통신사에 이용자 정보를 전송하여 본인확인 및 휴대폰 정보의 일치 여부 확인</span></li>
                                        <li><span>③</span> <span>휴대폰 사용자 확인을 위한 SMS(또는 LMS) 인증번호 전송</span></li>
                                        <li><span>④</span> <span>부정 이용 방지 및 수사의뢰</span></li>
                                        <li><span>⑤</span> <span>이용자 본인 요청에 의한 본인확인 이력정보 제공, 민원처리, 추후 분쟁조정을 위한 기록보존, 고지사항 전달 등</span></li>
                                        <li><span>⑥</span> <span>휴대폰번호보호서비스 가입여부 확인(서비스 가입자에 한함)</span></li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="square"> 수집할 개인정보</h4>
                                    <ol class="text-list">
                                        <li><span>①</span><span>이용자가 가입한 이동통신사, 휴대폰번호, 성명, 성별, 생년월일, 내/외국인 구분</span></li>
                                        <li><span>②</span><span>중복가입확인정보(발급자의 웹사이트 중복가입 여부를 확인할 수 있는 정보)</span></li>
                                        <li><span>③</span><span>연계정보(온/오프라인 사업자간 제휴 등 연계서비스가 가능하도록 특정 개인을 식별할 수 있는 정보)</span></li>
                                        <li><span>④</span><span>인증처 및 사이트 URL</span></li>
                                        <li><span>⑤</span><span>인증일시</span></li>
                                        <li><span>⑥</span><span>IP주소</span></li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="square"> 개인정보의 보유 및 이용기간</h4>
                                    <p>개인정보는 개인정보의 수집목적 또는 제공받은 목적이 소멸되면 파기됩니다. 단, “개인정보보호법”, “정보통신망 이용 촉진 및 정보보호 등에 관한 법률”, “신용정보의 이용 및 보호에 관한 법률”, ” 본인확인기관 지정 및 관리에 관한 지침”, ”방송통신위원회 고시” 등 기타 관련법령의 규정에 의하여 법률관계의 확인 등을 이유로 특정한 기간 동안 보유하여야 할 필요가 있을 경우에는 아래에 정한 기간 동안 보유합니다.</p>
                                    <ol class="dot">
                                        <li> 신용정보의 이용 및 보호의 관한 법률에 의거 정보 보존 기간: 3년</li>
                                        <li> 계약 또는 청약철회 등에 관한 기록 : 5년</li>
                                        <li> 대금결제 및 재화 등의 공급에 관한 기록 : 5년</li>
                                        <li> 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년</li>
                                        <li> 기타 다른 법률의 규정에 의하여 보유가 허용되는 기간</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="square"> 동의거부권리 및 거부에 따른 불이익 내용</h4>
                                    <p>개인정보 수집 및 이용에 따른 동의는 거부할 수 있으며, 동의 후에도 언제든지 철회 가능합니다. 다만, 동의 거부 시에는 서비스 이용이 제한될 수 있습니다.</p>
                                </div>
                            </div>
                        </div>
                        <div id="tab1-2" class="tab-panel">
                            <div class="text-content">
                                <div class="text-group">
                                    <h3 class="point-b">(주)케이티 귀중</h3>
                                    <p>(주)케이티(이하 ‘회사’라 함)가 제공하는 본인확인서비스를 이용하기 위해, 다음과 같이 ‘회사’가 본인의 개인정보를 수집 및 이용하고, 개인정보의 취급을 위탁하는 것에 동의합니다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">1. 수집항목</h4>
                                    <ol class="dot">
                                        <li> 이용자가 가입한 이동통신사, 휴대폰번호, 성명, 성별, 생년월일, 내/외국인 구분</li>
                                        <li> 연계정보(CI), 중복가입확인정보(DI)</li>
                                        <li> 이용자가 본인확인을 요청한 서비스명 및 URL정보, 본인확인 이용일시, IP 주소</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">2. 이용목적</h4>
                                    <ol class="dot">
                                        <li> 인터넷사업자의 서비스(회원가입, ID/PW찾기 등) 이용에 필요한 이용자 본인확인 여부 및 정보 전달<br>
                                            (※ 이용자가 본인확인을 요청한 인터넷사업자에 한합니다.)</li>
                                        <li> (주)케이티 등 이동통신사에 이용자 정보를 전송하여 본인확인 및 휴대폰 정보의 일치 여부 확인</li>
                                        <li> 휴대폰 사용자 확인을 위한 SMS 인증번호 전송</li>
                                        <li> 휴대폰 사용자 확인을 위한 'KT 인증 앱' 인증요청</li>
                                        <li> 부정 이용 방지 및 수사의뢰</li>
                                        <li> 이용자 본인 요청에 의한 본인확인 이력정보 제공</li>
                                        <li> 휴대폰번호보호서비스 가입여부 확인(서비스 가입자에 한함)</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">3. 개인정보의 보유 및 이용기간</h4>
                                    <p>"회사"는 이용자의 개인정보를 이용목적이 달성되거나 보유 및 보존기간이 종료하면 해당 정보를 지체없이 파기 하며 별도의 보관을 하지 않습니다. 단, 관련 법령 및 회사방침에 따라 보존하는 목적과 기간은 아래와 같습니다.</p>
                                    <ol class="dot">
                                        <li> 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년(전자상거래등에서의 소비자보호에 관한 법률)</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">4. 본인확인서비스 제공을 위한 개인정보의 취급 위탁</h4>
                                    <ol class="dot">
                                        <li> 수탁자 : 코리아크레딧뷰로(주)</li>
                                        <li> 취급위탁 업무 : 본인확인정보의 정확성 여부 확인, 연계정보(CI) 및 중복가입확인정보(DI) 전송, 서비스 관련 상담 및 불만 처리 등</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">5. 상기 개인정보 수집 및 이용과 취급위탁에 동의하지 않는 경우, 서비스를 이용할 수 없습니다.</h4>
                                    <p>‘회사’가 제공하는 서비스의 개인정보 취급과 관련된 사항은 아래의 ‘회사’ 홈페이지에 기재된 개인정보취급방침에 따릅니다.</p>
                                    <ol class="dot">
                                        <li> (주)케이티 : www.kt.com</li>
                                    </ol>
                                    <p>본인은 상기 내용을 숙지하였으며 이에 동의합니다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="point-b">&#60;코리아크레딧뷰로㈜ 귀중&#62;</h4>
                                    <p>귀사가 통신사(에스케이텔레콤㈜, ㈜케이티, LG유플러스㈜)로부터 위탁 받아 제공하는 휴대폰본인확인서비스 이용과 관련하여 본인의 개인정보를 수집·이용하고자 하는 경우에는 「개인정보보호법」 제15조, 제22조, 제24조, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제22조에 따라 본인의 동의를 얻어야 합니다. 이에 본인은 귀사가 아래와 같이 본인의 개인정보를 수집·이용하는데 동의합니다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="square"> 개인정보의 수집 및 이용목적</h4>
                                    <ol class="text-list">
                                        <li>
                                            <span>①</span> <span>주민등록번호 대체서비스 제공</span>
                                            <p>개인정보보호법 제24조 2항에 의해 온라인 또는 오프라인상에서 회원가입, 글쓰기, 포인트적립 등 주민등록번호를 사용하지 않고도 본인임을 확인할 수 있는 개인정보보호 서비스(휴대폰본인확인서비스) 제공</p>
                                        </li>
                                        <li><span>②</span><span>에스케이텔레콤(주), (주)케이티, LG유플러스(주) 등 통신사에 이용자 정보를 전송하여 본인확인 및 휴대폰 정보의 일치 여부 확인</span></li>
                                        <li><span>③</span><span>휴대폰 사용자 확인을 위한 SMS(또는 LMS) 인증번호 전송</span></li>
                                        <li><span>④</span><span>부정 이용 방지 및 수사의뢰</span></li>
                                        <li><span>⑤</span><span>이용자 본인 요청에 의한 본인확인 이력정보 제공, 민원처리, 추후 분쟁조정을 위한 기록보존, 고지사항 전달 등</span></li>
                                        <li><span>⑥</span><span>휴대폰번호보호서비스 가입여부 확인(서비스 가입자에 한함)</span></li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="square"> 수집할 개인정보</h4>
                                    <ol class="text-list">
                                        <li><span>①</span><span>이용자가 가입한 이동통신사, 휴대폰번호, 성명, 성별, 생년월일, 내/외국인 구분</span></li>
                                        <li><span>②</span><span>중복가입확인정보(발급자의 웹사이트 중복가입 여부를 확인할 수 있는 정보)</span></li>
                                        <li><span>③</span><span>연계정보(온/오프라인 사업자간 제휴 등 연계서비스가 가능하도록 특정 개인을 식별할 수 있는 정보)</span></li>
                                        <li><span>④</span><span>인증처 및 사이트 URL</span></li>
                                        <li><span>⑤</span><span>인증일시</span></li>
                                        <li><span>⑥</span><span>IP주소</span></li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="square"> 개인정보의 보유 및 이용기간</h4>
                                    <p>개인정보는 개인정보의 수집목적 또는 제공받은 목적이 소멸되면 파기됩니다. 단, “개인정보보호법”, “정보통신망 이용 촉진 및 정보보호 등에 관한 법률”, “신용정보의 이용 및 보호에 관한 법률”, ” 본인확인기관 지정 및 관리에 관한 지침”, ”방송통신위원회 고시” 등 기타 관련법령의 규정에 의하여 법률관계의 확인 등을 이유로 특정한 기간 동안 보유하여야 할 필요가 있을 경우에는 아래에 정한 기간 동안 보유합니다.</p>
                                    <ol class="dot">
                                        <li> 신용정보의 이용 및 보호의 관한 법률에 의거 정보 보존 기간: 3년</li>
                                        <li> 계약 또는 청약철회 등에 관한 기록 : 5년</li>
                                        <li> 대금결제 및 재화 등의 공급에 관한 기록 : 5년</li>
                                        <li> 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년</li>
                                        <li> 기타 다른 법률의 규정에 의하여 보유가 허용되는 기간</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="square"> 동의거부권리 및 거부에 따른 불이익 내용</h4>
                                    <p>개인정보 수집 및 이용에 따른 동의는 거부할 수 있으며, 동의 후에도 언제든지 철회 가능합니다. 다만, 동의 거부 시에는 서비스 이용이 제한될 수 있습니다.</p>
                                </div>
                            </div>
                        </div>
                        <div id="tab1-3" class="tab-panel">
                            <div class="text-content">
                                <div class="text-group">
                                    <h3 class="point-b">LGU플러스(주) 귀중</h3>
                                    <p>LGU플러스(주) (이하 ‘회사’라 함)가 제공하는 본인확인서비스를 이용하기 위해, 다음과 같이 ‘회사’가 본인의 개인정보를 수집 및 이용하고, 개인정보의 취급을 위탁하는 것에 동의합니다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">1. 수집항목</h4>
                                    <ol class="dot">
                                        <li> 고객의 생년월일, 이동전화번호, 성명, 성별, 내/외국인 구분</li>
                                        <li> 연계정보(CI), 중복가입확인정보(DI)</li>
                                        <li> 고객이 이용하는 웹사이트 등</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">2. 이용목적</h4>
                                    <ol class="dot">
                                        <li> 고객이 웹사이트 또는 Application 등에 입력한 본인확인정보의 정확성 여부 확인</li>
                                        <li> 해당 웹사이트 또는 Application 등에 연계정보(CI)와 중복가입확인정보)DI) 전송</li>
                                        <li> 서비스 관련 상담 및 불만 처리</li>
                                        <li> 기타 법룰에서 정한 목적</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">3. 개인정보의 보유 및 이용기간</h4>
                                    <ol class="dot">
                                        <li> 고객이 서비스를 이용하는 기간에 한하여 보유 및 이용을 원칙으로 하되, 법률에서 정하는 경우 해당 기간까지 보유 및 이용(세부사항은 ‘회사’의 개인정보취급방침에 따름)</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">4. 본인확인서비스 제공을 위한 개인정보의 취급 위탁</h4>
                                    <ol class="dot">
                                        <li> 수탁자 : 코리아크레딧뷰로㈜</li>
                                        <li> 취급위탁 업무 : 본인확인정보의 정확성 여부 확인, 연계정보(CI) 및 중복가입확인정보(DI) 전송, 서비스 관련 상담 및 불만 처리 등</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">5. 상기 개인정보 수집 및 이용과 취급위탁에 동의하지 않는 경우, 서비스를 이용할 수 없습니다.</h4>
                                    <p>‘회사’가 제공하는 서비스의 개인정보 취급과 관련된 사항은 아래의 ‘회사’ 홈페이지에 기재된 개인정보취급방침에 따릅니다.</p>
                                    <ol class="dot">
                                        <li> LGU플러스(주) : www.lguplus.co.kr</li>
                                    </ol>
                                    <p>본인은 상기 내용을 숙지하였으며 이에 동의합니다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="point-b">&#60;코리아크레딧뷰로㈜ 귀중&#62;</h4>
                                    <p>귀사가 통신사(에스케이텔레콤㈜, ㈜케이티, LG유플러스㈜)로부터 위탁 받아 제공하는 휴대폰본인확인서비스 이용과 관련하여 본인의 개인정보를 수집·이용하고자 하는 경우에는 「개인정보보호법」 제15조, 제22조, 제24조, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제22조에 따라 본인의 동의를 얻어야 합니다. 이에 본인은 귀사가 아래와 같이 본인의 개인정보를 수집·이용하는데 동의합니다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="square"> 개인정보의 수집 및 이용목적</h4>
                                    <ol class="text-list">
                                        <li>
                                            <span>①</span> <span>주민등록번호 대체서비스 제공</span>
                                            <p>개인정보보호법 제24조 2항에 의해 온라인 또는 오프라인상에서 회원가입, 글쓰기, 포인트적립 등 주민등록번호를 사용하지 않고도 본인임을 확인할 수 있는 개인정보보호 서비스(휴대폰본인확인서비스) 제공</p>
                                        </li>
                                        <li><span>②</span><span>에스케이텔레콤(주), (주)케이티, LG유플러스(주) 등 통신사에 이용자 정보를 전송하여 본인확인 및 휴대폰 정보의 일치 여부 확인</span></li>
                                        <li><span>③</span><span>휴대폰 사용자 확인을 위한 SMS(또는 LMS) 인증번호 전송</span></li>
                                        <li><span>④</span><span>부정 이용 방지 및 수사의뢰</span></li>
                                        <li><span>⑤</span><span>이용자 본인 요청에 의한 본인확인 이력정보 제공, 민원처리, 추후 분쟁조정을 위한 기록보존, 고지사항 전달 등</span></li>
                                        <li><span>⑥</span><span>휴대폰번호보호서비스 가입여부 확인(서비스 가입자에 한함)</span></li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="square"> 수집할 개인정보</h4>
                                    <ol class="text-list">
                                        <li><span>①</span><span>이용자가 가입한 이동통신사, 휴대폰번호, 성명, 성별, 생년월일, 내/외국인 구분</span></li>
                                        <li><span>②</span><span>중복가입확인정보(발급자의 웹사이트 중복가입 여부를 확인할 수 있는 정보)</span></li>
                                        <li><span>③</span><span>연계정보(온/오프라인 사업자간 제휴 등 연계서비스가 가능하도록 특정 개인을 식별할 수 있는 정보)</span></li>
                                        <li><span>④</span><span>인증처 및 사이트 URL</span></li>
                                        <li><span>⑤</span><span>인증일시</span></li>
                                        <li><span>⑥</span><span>IP주소</span></li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="square"> 개인정보의 보유 및 이용기간</h4>
                                    <p>개인정보는 개인정보의 수집목적 또는 제공받은 목적이 소멸되면 파기됩니다. 단, “개인정보보호법”, “정보통신망 이용 촉진 및 정보보호 등에 관한 법률”, “신용정보의 이용 및 보호에 관한 법률”, ” 본인확인기관 지정 및 관리에 관한 지침”, ”방송통신위원회 고시” 등 기타 관련법령의 규정에 의하여 법률관계의 확인 등을 이유로 특정한 기간 동안 보유하여야 할 필요가 있을 경우에는 아래에 정한 기간 동안 보유합니다.</p>
                                    <ol class="dot">
                                        <li> 신용정보의 이용 및 보호의 관한 법률에 의거 정보 보존 기간: 3년</li>
                                        <li> 계약 또는 청약철회 등에 관한 기록 : 5년</li>
                                        <li> 대금결제 및 재화 등의 공급에 관한 기록 : 5년</li>
                                        <li> 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년</li>
                                        <li> 기타 다른 법률의 규정에 의하여 보유가 허용되는 기간</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="square"> 동의거부권리 및 거부에 따른 불이익 내용</h4>
                                    <p>개인정보 수집 및 이용에 따른 동의는 거부할 수 있으며, 동의 후에도 언제든지 철회 가능합니다. 다만, 동의 거부 시에는 서비스 이용이 제한될 수 있습니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pop-footer">
            <div class="button-content">
                <button type="button" class="btn-pop-primary"  data-popup-close="provisionHs1">확인했어요</button>
            </div>
        </div>
    </div>
</div>