<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>민원처리 프로세스&gt;고객의 목소리&gt;소비자보호&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>소비자보호</span></li>
                        <li><span>고객의 목소리</span></li>
                        <li><span>민원처리 프로세스</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>민원처리 프로세스</h2>
                    <p>고객의 마음으로 불편을 최소화해서 시장의 신뢰와 사회의 존경을 받을 수 있는 기업이 되겠습니다.</p>
                </section>
                <section class="page-container WCC20700VS">
                    <div class="process-content">
                        <div class="process-group">
                            <h3>민원처리 프로세스</h3>
                            <ol class="type2">
                                <li>
                                    <div class="step">
                                        <p>
                                            <span>STEP</span>
                                            <span>01</span>
                                        </p>
                                    </div>
                                    <div class="text-content">
                                        <dl>
                                            <dt>민원접수</dt>
                                            <dd>홈페이지, 전화, 우편, 방문</dd>
                                            <dd>외부기관 등</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <div class="step">
                                        <p>
                                            <span>STEP</span>
                                            <span>02</span>
                                        </p>
                                    </div>
                                    <div class="text-content">
                                        <dl>
                                            <dt>접수내용확인</dt>
                                            <dd>민원접수내용확인</dd>
                                            <dd>사실관계확인 및 원인규명</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <div class="step">
                                        <p>
                                            <span>STEP</span>
                                            <span>03</span>
                                        </p>
                                    </div>
                                    <div class="text-content">
                                        <dl>
                                            <dt>업무처리</dt>
                                            <dd>민원사항 처리</dd>
                                            <dd>고객피해 발생시 보상</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <div class="step">
                                        <p>
                                            <span>STEP</span>
                                            <span>04</span>
                                        </p>
                                    </div>
                                    <div class="text-content">
                                        <dl>
                                            <dt>고객님께 안내</dt>
                                            <dd>민원사항 처리결과 안내</dd>
                                            <dd>추가피해 방지위한 제도개선</dd>
                                        </dl>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div class="group">
                            <div class="text-group">
                                <h3>상담지원</h3>
                                <p>당사 고객센터(☎ 1588-9688) 유선 신청 또는 홈페이지 신청</p>
                            </div>
                            <div class="text-group">
                                <h4 class="tit">홈페이지</h4>
                                <p>www.mgcap.co.kr</p>
                            </div>
                            <div class="text-group">
                                <h4 class="tit">고객센터</h4>
                                <p>1588-9688</p>
                            </div>
                            <div class="text-group">
                                <h4 class="tit">방문 및 우편</h4>
                                <p>서울시 강남구 도산대로 306 8층, 소비자보호부</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-content">
                        <div class="text-group">
                            <h3>민원사무편람</h3>
                            <!-- s: 2025.11.04 위치 이동 -->
                            <div class="button-content">
                                <div class="btn-group w50">
                                    <a href="javascript:void(0);" class="btn-download"><span>민원사무편람<span class="txt">민원처리에 관한 일반사항을 확인하실 수 있습니다.</span></span></a>
                                    <a href="javascript:void(0);" class="btn-download"><span>민원신청서<span class="txt">민원신청서를 확인하실 수 있습니다.</span></span></a>
                                    <a href="javascript:void(0);" class="btn-download"><span>개인정보필수동의서<span class="txt">개인정보필수동의서를 확인하실 수 있습니다.</span></span></a>
                                    <a href="javascript:void(0);" class="btn-download"><span>민원취하서<span class="txt">민원취하서를 확인하실 수 있습니다.</span></span></a>
                                </div>
                            </div>
                            <!-- e: 2025.11.04 위치 이동 -->
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
