<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>개인신용평가(자동화평가) 대응권&gt;약관 및 정책&gt;고객센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li>
                            <span class="home">홈</span>
                        </li>
                        <li>
                            <span>고객센터</span>
                        </li>
                        <li>
                            <span>약관 및 정책</span>
                        </li>
                        <li>
                            <span>개인신용평가(자동화평가) 대응권</span>
                        </li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>개인신용평가(자동화평가) 대응권</h2>
                </section>
                <section class="page-container WCC601400VQ">
                    <div class="text-content">
                        <div class="text-group">
                            <h3>개인신용평가(자동화평가) 대응권</h3>
                            <p>개인신용평가(자동화평가)대응권이란 개인인 금융소비자가 <strong>자동화평가*에 따른 개인신용평가 결과 및 주요기준 등의 설명과 자동화평가 결과의 산출에 유리하다고 판단되는 정보</strong>를 제출 또는 기초정보의 <strong>정정/삭제/재산출을 요구</strong>할 수 있는 권리(신용정보의 이용 및 보호에 관한 법률 제36조의2)를 말합니다.</p>
                            <p>금융회사 임직원이 평가 업무에 관여하지 아니하고 컴퓨터 등 정보처리장치로만 개인신용정보 및 그 밖의 정보를 처리하여 개인인 금융소비자를 평가하는 행위</p>
                            <p>금융소비자는 신용정보의 이용 및 보호에 관한 법률 제36조의2에 따라 자동화 평가의 결과, 자동화 평가의 주요 기준, 자동화 평가의 평가에 이용된 기초정보 등에 대해 설명하여 줄 것을 금융회사에 요구할 수 있습니다.</p>
                            <ul class="rfrnc success">
                                <li>인터넷 홈페이지 (https://www.mgcap.co.kr ▶ 고객센터 ▶ 부가정보 ▶ 개인(신용)정보 고객권리 신청) 또는 고객센터(1588-9688)상담원 통한 신청</li>
                            </ul>
                            <p>금융회사는 다음 어느 하나에 해당하는 경우에는 <strong>금융소비자의 요구를 거절</strong>할 수 있으며, 기초정보가 정정/삭제되었더라도 신용상태의 개선이 경미한 경우, <strong>재평가결과는 기존과 동일할 수 있습니다.</strong></p>
                            <ul class="dot">
                                <li>자동화평가가 아닌 방식으로 개인의 신용을 평가하는 경우</li>
                                <li>관련 법령에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우</li>
                                <li>해당 금융소비자의 요구에 따르게 되면 금융거래 등 상거래관계의 설정 및 유지 등이 곤란한 경우</li>
                                <li>금융소비자가 정정 또는 삭제 요청한 내용이 사실과 다른 경우</li>
                                <li>정당한 사유 없이 동일한 금융거래 등에 대해 3회 이상 반복적으로 대응권을 행사하는 경우</li>
                            </ul>
                        </div>
                        <div class="button-content">
                            <div class="btn-group">
                                <a href="#" class="btn-download" download>자동화평가 결과에 대한 설명요구서</a>
                                <a href="#" class="btn-download" download>기초정보 정정/삭제 및 자동화평가 재산출 요청</a>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
