<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>개인정보처리방침&gt;약관 및 정책&gt;고객센터&gt;홈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />
        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/com/default.css" />
        <link rel="stylesheet" href="../../assets/css/com/common.css" />
        <link rel="stylesheet" href="../../assets/css/com/style.css" />
        <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
        <link rel="stylesheet" href="../../assets/css/com/layout.css" />
        <link rel="stylesheet" href="../../assets/css/com/nav.css" />
        <link rel="stylesheet" href="../../assets/css/com/input.css" />
        <link rel="stylesheet" href="../../assets/css/com/button.css" />
        <link rel="stylesheet" href="../../assets/css/com/tab.css" />
        <link rel="stylesheet" href="../../assets/css/com/table.css" />
        <link rel="stylesheet" href="../../assets/css/com/content.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
    </head>

    <body>
        <div class="wrap">
            <div data-include-path="../../views/COMMON/header.html"></div>
            <div class="bodyWrap">
                <main class="contentWrap">
                    <nav class="location-container">
                        <ol class="breadcrumb">
                            <li><span class="home">홈</span></li>
                            <li><span>고객센터</span></li>
                            <li><span>약관 및 정책</span></li>
                            <li><span>개인정보처리방침</span></li>
                        </ol>
                    </nav>
                    <section class="visual-container">
                        <h2>개인정보처리방침</h2>
                    </section>
                    <section class="page-container WCC60300VQ">
                        <div class="text-content">
                            <div class="group">
                                <h3>개인(신용)정보 보호지침</h3>
                                <div class="text-group">
                                    <h4 class="tit">1. 목적</h4>
                                    <p>본 지침은 효성캐피탈㈜가 개인(신용)정보를 처리함에 있어 「신용정보이용 및 보호에 관한 법률」(이하 “신용정보법”), 「개인정보보호법」, 각 시행령 및 감독규정 등 관련 법규를 준수하여 개인(신용)정보의 효율적 처리 및 체계적 관리를 기하고, 정보주체의 개인(신용)정보를 보호함에 있어 고려하여야 할 사항들을 정하는 것을 목적으로 한다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">2. 적용범위</h4>
                                    <p>개인(신용)정보의 관리 및 보호에 관한 사항으로 관련 법령 등에 다른 정함이 있는 경우 외에는 이 지침이 정하는 바에 따르며 회사의 개인(신용)정보의 취급 및 보호 조직을 포함하여 전 임직원에게 적용된다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">3. 용어의 정의</h4>
                                    <p>이 지침에서 사용하는 용어의 정의는 다음과 같다.</p>
                                    <ol class="text-list">
                                        <li>3.1 “개인신용정보”(이하 “신용정보”라 함)라 함은 신용정보법 시행령 제2조에서 정한 정보 중 거래상대방 개인에 대한 식별정보, 신용거래정보, 신용능력정보 등을 말한다.</li>
                                        <li>3.2 “개인정보”란 살아있는 개인에 관한 정보로서 성명, 주민등록번호 및 영상 등을 통하여 개인을 알아볼 수 있는 정보(해당 정보만으로는 특정 개인을 알아볼 수 없더라도 다른 정보와 쉽게 결합하여 알아볼 수 있는 것을 포함한다.)를 말한다. (이하 “개인신용정보”와 “개인정보”를 합쳐 “개인(신용)정보”라고 합니다.)</li>
                                        <li>3.3 “개인(신용)정보 보호책임자” 및 “개인(신용)정보 관리&middot;보호인”(이하 “신용정보관리보호인”이라 함)은 개인(신용)정보 관리&middot;보호를 총괄하는 자로 회사가 지정한 자를 말한다.</li>
                                        <li>3.4 “개인(신용)정보처리시스템”이란 개인(신용)정보를 수집&middot;보관&middot;처리&middot;저장을 하는 시스템으로 회사의 홈페이지와 회사 전산프로그램과 같은 온라인 시스템과 오프라인에서 수집된 개인(신용)정보를 입력하는 시스템으로 구분된다.</li>
                                        <li>3.5 “개인(신용)정보취급자”란 업무목적으로 개인(신용)정보파일을 운용하기 위하여 본인 또는 타인을 통해 개인(신용)정보를 처리하는 회사 임직원 및 관련 외주업체 임직원을 말한다.</li>
                                        <li>3.6 “제3자”란 정보주체로부터 동의를 받아 개인(신용)정보를 수집한 서비스 제공자 및 서비스 제공자로부터 개인(신용)정보처리를 위탁 받은 자 이외의 자연인, 법인, 공공기관, 정부 투자기관 및 기타의 자를 말한다.</li>
                                        <li>3.7 “처리”란 개인(신용)정보의 수집&middot;생성&middot;기록&middot;저장&middot;보유&middot;가공&middot;편집&middot;검색&middot;출력&middot;정정&middot;복구&middot;이용&middot;제공&middot;공개&middot;파기 등의 행위를 말한다.</li>
                                        <li>3.8 “정보주체”란 처리되는 정보에 의해 알아볼 수 있는 사람으로서 그 정보의 주체가 되는 사람을 말한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">4. 정보주체의 권리</h4>
                                    <p>회사는 정보주체의 개인(신용)정보 처리와 관련하여 다음 각 항의 권리를 보장하여야 한다.</p>
                                    <ol class="text-list">
                                        <li>4.1 개인(신용)정보의 처리에 관한 정보를 제공받을 권리</li>
                                        <li>4.2 개인(신용)정보의 처리에 관한 동의 여부, 동의 범위 등을 선택하고 결정할 권리</li>
                                        <li>4.3 개인(신용)정보의 처리 여부를 확인하고 개인(신용)정보에 대하여 사본의 발급을 포함하여 열람을 요구할 권리</li>
                                        <li>4.4 개인(신용)정보의 처리 정지, 정정ㆍ삭제 및 파기를 요구할 권리</li>
                                        <li>4.5 개인(신용)정보의 처리로 인하여 발생한 피해를 신속하고 공정한 절차에 따라 구제받을 권리</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">5. 개인(신용)정보보호의 원치</h4>
                                    <ol class="text-list">
                                        <li>5.1 회사는 개인(신용)정보의 처리 목적을 명확하게 하여야 하고 그 목적에 필요한 범위에서 최소한의 개인(신용)정보만을 적법하고 정당하게 수집하여야 한다.</li>
                                        <li>5.2 회사는 개인(신용)정보의 처리 목적에 필요한 범위에서 적합하게 개인(신용)정보를 처리하여야 하며, 그 목적 외의 용도로 활용하여서는 아니 된다.</li>
                                        <li>5.3 회사는 개인(신용)정보의 처리 목적에 필요한 범위에서 개인(신용)정보의 정확성, 완전성 및 최신성이 보장되도록 하여야 한다.</li>
                                        <li>5.4 회사는 개인(신용)정보의 처리 방법 및 종류 등에 따라 정보주체의 권리가 침해받을 가능성과 그 위험 정도를 고려하여 개인(신용)정보를 안전하게 관리하여야 한다.</li>
                                        <li>5.5 회사는 개인(신용)정보 취급방침 등 개인(신용)정보의 처리에 관한 사항을 공개하여야 하며, 열람청구권 등 정보주체의 권리를 보장하여야 한다.</li>
                                        <li>5.6 회사는 정보주체의 사생활 침해를 최소화하는 방법으로 개인(신용)정보를 처리하여야 한다.</li>
                                        <li>5.7 회사는 개인(신용)정보의 익명처리가 가능한 경우에는 익명에 의하여 처리될 수 있도록 하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">6. 회사의 의무</h4>
                                    <ol class="text-list">
                                        <li>6.1 회사는 개인(신용)정보의 목적 외 수집, 오용&middot;남용 및 무분별한 감시, 추적 등에 따른 폐해를 방지하기 위한 관계 법률을 준수하여야 한다.</li>
                                        <li>6.2 회사는 4조에 따른 정보주체의 권리를 보호하기 위하여 내규의 개선 등 필요한 대책을 마련하여야 한다.</li>
                                        <li>6.3 회사는 개인(신용)정보의 처리에 관한 불합리한 사회적 관행을 개선하기 위하여 개인(신용)정보 취급자의 자율적인 개인(신용)정보 보호활동을 존중하고 지원하여야 한다.</li>
                                        <li>6.4 회사는 개인(신용)정보의 처리에 관한 규정 또는 지침 및 절차를 제정하거나 개정하는 경우에는 개인정보보호법,신용정보법 등 관련 법률의 목적에 부합되도록 하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">7. 개인(신용)정보 보호책임자 , 및 개인(신용)정보보호 총괄팀의 지정</h4>
                                    <p>개인(신용)정보의 관리 및 보호에 관한 업무를 총괄을 위하여 준법감시팀장을 개인신용 정보 관리&middot;보호인 및 개인(신용)정보 보호책임자(이하 ‘신용정보관리보호인’라 함)로 지정&middot;운영 한다. <span class="error">신용정보관리보호인의 업무를 지원하기 위해 준법감시팀을 개인(신용)정보보호 총괄팀으로 지정하여 신용정보관리보호인을 지원하고 개인(신용)정보 보호를 총괄할 수 있도록 한다.</span></p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">8. 신용정보관리보호인의 권리와 의무</h4>
                                    <ol class="text-list">
                                        <li>
                                            8.1 신용정보관리보호인은 다음 각 호의 업무를 수행한다.
                                            <ol class="text-list">
                                                <li>1. 개인(신용)정보 보호계획의 수립 및 시행</li>
                                                <li>2. 개인(신용)정보 처리실태 및 관행의 정기적인 조사 및 개선(관련부서 모니터링)</li>
                                                <li>3. 개인(신용)정보 처리와 관련한 불만의 처리 및 피해 구제</li>
                                                <li>4. 개인(신용)정보 유출 및 오용 &middot; 남용 방지를 위한 내부통제시스템의 구축</li>
                                                <li>5. 개인(신용)정보 보호 교육 계획의 수립 및 시행</li>
                                                <li>6. 개인(신용)정보파일의 보호 및 관리 &middot; 감독</li>
                                                <li>7. 개인(신용)정보 처리방침의 수립&middot;변경 및 시행</li>
                                                <li>8. 개인(신용)정보 보호 관련 자료의 관리</li>
                                                <li>9. 처리 목적이 달성되거나 보유기간이 지난 개인(신용)정보의 파기</li>
                                                <li>10. 정보주체의 동의철회 및 전화수신거부(Do-Not-Call)에 대한 성실이행여부 감독</li>
                                            </ol>
                                        </li>
                                        <li>8.2 신용정보관리보호인은 개인(신용)정보의 취급 및 보호와 관련된 총괄 책임을 가진다.</li>
                                        <li>8.3 신용정보관리보호인은 위탁업체의 개인(신용)정보관리 상황에 대하여 해당팀이 감독하는지 확인하여야 한다.</li>
                                        <li>8.4 신용정보관리보호인은 회사에서 취급하는 개인(신용)정보의 정보주체가 요구하는 불만사항의 접수 및 처리에 대하여 책임과 권한을 가진다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">9. 개인(신용)정보 취급자</h4>
                                    <ol class="text-list">
                                        <li>9.1 개인(신용)정보 취급자는 회사에서 개인(신용)정보를 취급하는 모든 임직원과 업무 위탁업체의 직원 등 외부인력을 포함하여 회사의 업무 상 개인(신용)정보를 취급하는 자를 말한다.</li>
                                        <li>9.2 개인(신용)정보 취급부서는 개인(신용)정보 취급자가 소속되어 개인(신용)정보 취급업무를 수행하는 부서를 말한다.</li>
                                        <li>9.3 개인(신용)정보 취급자는 업무 중 알게 된 개인(신용)정보에 대해 보호 할 책임이 있으며 이를 임의로 누출, 변조 또는 훼손하여서는 아니 된다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">10. 개인(신용)정보 조회, 수집&middot;이용, 제공 동의서 내용의 명확화</h4>
                                    <p>「개인(신용)정보 조회, 수집&middot;이용, 제공 동의서」(이하 “동의서”)상의 정보주체 동의 내용, 이용목적, 정보의 수집&middot;이용 및 제공범위 등은 정보주체가 쉽게 이해할 수 있도록 구체적이고 상세하게 기술하여야 한다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">11. 사전 설명 및 고지</h4>
                                    <ol class="text-list">
                                        <li>11.1 신용정보관리보호인은 신용정보 관리&middot;보호정책의 주요내용을 회사인터넷 홈페이지 등에 게재하여 관리하여야 한다.</li>
                                        <li>11.2 영업담당자는 정보주체가 개인(신용)정보 조회&middot;수집&middot;이용&middot;제공 동의서에 동의할 경우 동의서상의 동의 내용 및 개인정보보호법 및 신용정보법 등에서 부여하고 있는 각종 권리사항을 충분히 설명하고 정보주체가 충분히 인지할 수 있도록 “정보주체 권리안내문”을 별지로 작성하여 정보주체에게 교부하거나 회사 인터넷 홈페이지에 상시 게시하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">12. 개인(신용)정보 취급자에 대한 감독 및 교육</h4>
                                    <ol class="text-list">
                                        <li>12.1 신용정보관리인은 개인(신용)정보취급자가 개인(신용)정보 처리 업무를 수행함에 있어 개인(신용)정보보호서약서(또는 보안서약서)를 제출하게 하는 등의 적절한 관리&middot;감독을 하여야 한다.</li>
                                        <li>12.2 신용정보관리인은 개인(신용)정보취급자를 업무상 필요한 한도 내에서 최소한으로 두어야 하며, 개인(신용)정보취급자의 개인(신용)정보 처리 범위를 업무상 필요한 한도 내에서 최소한으로 제한하여야 한다.</li>
                                        <li>12.3 신용정보관리인은 개인(신용)정보 처리시스템에 대한 접근권한을 업무의 성격에 따라 당해 업무수행에 필요한 최소한의 범위로 업무담당자에게 차등 부여하고 접근권한을 관리하기 위한 조치를 취해야 한다.</li>
                                        <li>12.4 신용정보관리인은 개인(신용)정보취급자의 인사이동 등에 따라 개인(신용)정보취급자의 업무가 변경되는 경우에는 개인(신용)정보에 대한 접근권한을 변경 또는 말소해야 한다.</li>
                                        <li>12.5 신용정보관리인은 개인(신용)정보의 적정한 취급을 보장하기 위하여 개인(신용)정보 취급자에게 정기적(연1회 필수)으로 필요한 교육을 실시하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">13. 보안영역별 담당부서의 역할 및 책임</h4>
                                    <ol class="text-list">
                                        <li>13.1 관리적 보안 담당부서의 역할과 책임은 다음 각 호와 같다.
                                            <ol class="text-list">
                                                <li>1. 개인(신용)정보보호관리 절차서(규정, 절차 등) 제 &middot; 개정</li>
                                                <li>2. 개인(신용)정보보호 예산 및 인력 계획 수립</li>
                                                <li>3. 개인(신용)정보보호교육 계획수립 및 운영 등</li>
                                                <li>4. 개인(신용)정보 자산 조사</li>
                                                <li>5. 개인(신용)정보 취급자 관리</li>
                                                <li>6. 개인(신용)정보 침해사고 대응체계 구축</li>
                                                <li>7. 법적 요구사항 및 준수 검토</li>
                                                <li>8. 개인(신용)정보 처리방침 수립 및 개정</li>
                                                <li>9. 개인(신용)정보처리 활동 모니터링</li>
                                            </ol>
                                        </li>
                                        <li>13.2 물리적 보안 담당부서의 역할과 책임은 다음 각 호와 같다.
                                            <ol class="text-list">
                                                <li>1. 물리적 보호구역의 관리</li>
                                                <li>2. 네트워크 케이블 보호</li>
                                                <li>3. 문서 보안 및 사무실 보호</li>
                                                <li>4. 영상정보처리기기 설치 및 운영 시 대책 등</li>
                                            </ol>
                                        </li>
                                        <li>13.3 기술적 보안 담당부서의 역할과 책임은 다음 각 호와 같다.
                                            <ol class="text-list">
                                                <li>1. 접근통제 규정수립 및 운영
                                                    <ul class="text-list">
                                                        <li>가. 개인(신용)정보취급자의 개인(신용)정보자산 접근 기록 관리</li>
                                                        <li>나. 개인(신용)정보취급자의 계정 등록 및 해지 기록 관리</li>
                                                        <li>다. 개인(신용)정보처리시스템의 접근 권한 부여 및 해지 기록 관리</li>
                                                    </ul>
                                                </li>
                                                <li>2. 개인(신용)정보처리자산 보안 관리
                                                    <ul class="text-list">
                                                        <li>가. 서버, 네트워크, 데이터베이스, 응용프로그램 별 관리</li>
                                                    </ul>
                                                </li>
                                                <li>3. 개인(신용)정보처리자산 관리 및 변경관리
                                                    <ul class="text-list">
                                                        <li>가. 개인(신용)정보처리자산의 운영체제 변경에 따른 전반적인 성능 및 보안에 미치는 영향 분석</li>
                                                    </ul>
                                                </li>
                                                <li>4. 개인(신용)정보 관리매체 취급 및 보관, 폐기 관리</li>
                                                <li>5. 정보보안시스템 및 DB 암호화 규정 운영 관리</li>
                                                <li>6. 개인(신용)정보 출력, 복사 시 암호화 등 보호조치 관리</li>
                                                <li>7. 악성 프로그램 대응 및 공개용 웹 서버 관리</li>
                                                <li>8. 개인(신용)정보처리 로그관리 및 기술적 보안점검 등</li>
                                            </ol>
                                        </li>
                                        <li>13.4 제도적 보안 담당부서의 역할과 책임은 다음 각 호와 같다.
                                            <ol class="text-list">
                                                <li>1. 개인(신용)정보 처리방침 수립, 게재, 변경, 준수여부감독</li>
                                                <li>
                                                    2. 개인(신용)정보 수집 및 이용 시 관리
                                                    <ul class="text-list">
                                                        <li>가. 수집 및 이용 동의 확보, 수집 및 이용 제한 조치 등</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    3. 개인(신용)정보 제 3 자 제공 시 관리
                                                    <ul class="text-list">
                                                        <li>가. 제공 시 계약관리, 제 3 자 제공 시 제한 조치 등</li>
                                                    </ul>
                                                </li>
                                                <li>4. 개인(신용)정보 업무위탁 시 계약관리 및 제한조치 등</li>
                                                <li>5. 개인(신용)정보 파기 규정 수립 및 운영</li>
                                                <li>6. 개인(신용)정보취급자에 대한 규정준수 감독</li>
                                                <li>7. 정보주체의 권리보장을 위한 관리</li>
                                                <li>
                                                    8. 정보주체 요청 처리
                                                    <ul class="text-list">
                                                        <li>가. 개인(신용)정보 열람, 수정 및 변경, 삭제, 처리 정지 등</li>
                                                    </ul>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">14. 개인(신용)정보보호 서약서</h4>
                                    <ol class="text-list">
                                        <li>14.1 개인(신용)정보취급자는 최초 개인(신용)정보 취급업무를 할당 받을 때 개인(신용)정보보호서약서(또는 보안서약서)의 내용을 숙지하고 서명하여야 한다.</li>
                                        <li>14.2 개인(신용)정보취급자는 제3자 등 외부 인원이 조직 내부의 개인(신용)정보처리자산에 접근하는 일을 수행할 경우, 개인(신용)정보보호에 관련된 사항을 계약서에 반영하여야 하며, 외부 인원에 대해 개인(신용)정보보호서약서에 서명을 받아야 한다.</li>
                                        <li>14.3 회사는 인력의 고용조건 변경, 퇴사 시, 직무수행 시 알게 된 개인(신용)정보를 누출하지 않아야 하는 책임사항이 있음을 환기시켜야 한다.</li>
                                        <li>14.4 보안서약서상 개인(신용)정보보호에 대한 책임 및 법적 처벌규정을 명시하였을 경우 해당 보안서약서로 대체할 수 있다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">15 개인(신용)정보 처리방침의 수립</h4>
                                    <ol class="text-list">
                                        <li>
                                            15.1 회사는 다음 각 호의 사항이 포함된 개인(신용)정보의 처리방침 (이하 “개인(신용)정보 처리방침”이라 한다)을 정하여야 한다.
                                            <ol class="text-list">
                                                <li>1. 개인(신용)정보의 처리 목적</li>
                                                <li>2. 개인(신용)정보의 처리 및 보유 기간</li>
                                                <li>3. 개인(신용)정보의 제 3 자 제공에 관한 사항</li>
                                                <li>4. 개인(신용)정보처리의 위탁에 관한 사항</li>
                                                <li>5. 정보주체의 권리ㆍ의무 및 그 행사방법에 관한 사항</li>
                                                <li>6. 처리하는 개인(신용)정보의 항목</li>
                                                <li>7. 개인(신용)정보의 파기에 관한 사항</li>
                                                <li>8. 개인(신용)정보의 안전성 확보 조치에 관한 사항</li>
                                            </ol>
                                        </li>
                                        <li>15.2 회사가 개인(신용)정보 처리방침을 수립하거나 변경하는 경우에는 정보주체가 쉽게 확인할 수 있도록 홈페이지 등에 공개하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">16. 개인(신용)정보 처리방침의 게재 및 변경</h4>
                                    <ol class="text-list">
                                        <li>16.1 회사는 현재 운영중인 홈페이지와 향후 운영될 홈페이지에 개인(신용)정보 처리방침을 공지하여야 한다.</li>
                                        <li>16.2 회사는 홈페이지 초기화면 하단 등에 배치하여 정보주체가 쉽게 찾아 볼 수 있도록 조치하여야 한다.</li>
                                        <li>16.3 회사는 정보주체가 언제든지 변경된 사항을 쉽게 알 수 있도록 조치하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">17. 개인(신용)정보의 수집</h4>
                                    <ol class="text-list">
                                        <li>
                                            17.1 개인(신용)정보취급자는 다음 각 호의 경우에 개인(신용)정보를 수집할 수 있으며, 그
                                                수집 목적의 범위에서 이용할 수 있다.
                                            <ol class="text-list">
                                                <li>1. 정보주체로부터 사전에 동의를 받은 경우</li>
                                                <li>2. 법률에서 개인(신용)정보를 수집&middot;이용할 수 있음을 구체적으로 명시하거나 허용하고 있는 경우</li>
                                                <li>3. 법령에서 개인(신용)정보취급자에게 구체적인 의무를 부과하고 있고, 개인(신용) 정보취급자가 개인(신용)정보를 수집&middot;이용하지 않고는 법령에서 부과하는 구체적인 의무를 이행하는 것이 불가능하거나 현저히 곤란한 경우</li>
                                                <li>4. 회사의 업무가 개인(신용)정보를 수집&middot;이용하지 않고는 법령 등에서 정한 소관업무를 수행하는 것이 불가능하거나 현저히 곤란한 경우</li>
                                                <li>5. 개인(신용)정보를 수집&middot;이용하지 않고는 정보주체와 계약을 체결하고, 체결된 계약의 내용에 따른 의무를 이행하는 것이 불가능하거나 현저히 곤란한 경우</li>
                                                <li>6. 정보주체 또는 제3자(정보주체를 제외한 그 밖의 모든 자를 말한다.)의 생명, 신체, 재산에 대한 피해를 방지해야 할 급박한 상황이어서 개인(신용)정보를 수집&middot;이용해야 할 필요성이 명백히 인정됨에도 불구하고 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 연락을 취할 수 없는 상황이어서 사전에 동의를 받을 수 없는 경우</li>
                                                <li>7. 개인(신용)정보취급자가 법령 또는 정보주체와의 계약에 따른 정당한 이익을 달성하기 위하여 필요한 경우로서 명백하게 정보주체의 개인(신용)정보의 수집&middot;이용에 관한 동의 여부 및 동의 범위 등을 선택하고 결정할 권리보다 우선하는 경우. 다만, 이 경우 개인(신용)정보의 수집&middot;이용은 회사의 정당한 이익과 상당한 관련이 있고 합리적인 범위를 초과하지 아니하는 범위로 한정된다.</li>
                                            </ol>
                                        </li>
                                        <li>17.2 개인(신용)정보취급자가 정보주체로부터 직접 명함 또는 그와 유사한 매체(이하 “명함 등”이라 함)를 제공받음으로써 개인(신용)정보를 수집하는 경우, 정보주체가 동의의사를 명확히 표시하거나 그렇지 않은 경우 명함 등을 제공하는 정황 등에 비추어 사회통념상 동의 의사가 있었다고 인정되는 범위 내에서만 이용할 수 있다.</li>
                                        <li>17.3 개인(신용)정보취급자가 인터넷 홈페이지 등 공개된 매체 또는 장소(이하 "인터넷홈페이지등"이라 함)에서 개인(신용)정보를 수집하는 경우, 해당 개인(신용)정보는 본인의 개인(신용)정보를 인터넷 홈페이지 등에 게시하거나 게시하도록 허용한 정보주체의 동의의사가 명확히 표시되거나 인터넷 홈페이지등의 표시 내용에 비추어 사회통념상 동의 의사가 있었다고 인정되는 범위 내에서만 이용할 수 있다.</li>
                                        <li>17.4 개인(신용)정보취급자는 계약 등의 상대방인 정보주체가 대리인을 통하여 법률행위 또는 의사표시를 하는 경우 대리인의 대리권 확인을 위한 목적으로만 대리인으로부터 또는 의사표시를 하는 경우 대리인의 개인(신용)정보를 수집.이용할 수 있다.</li>
                                        <li>17.5 근로자와 사용자가 근로계약을 체결하는 경우 「근로기준법」 제2조 제5호의 임금지급, 교육, 증명서 발급, 근로자 복지제공을 위하여 근로자의 동의 없이 개인(신용)정보를 수집&middot;이용할 수 있다.</li>
                                        <li>
                                            17.6 개인(신용)정보취급자는 제1항제1호에 따른 동의를 받을 때에는 다음 각 호의 사항을 정보주체에게 알려야 한다. 다음 각 호의 어느 하나의 사항을 변경하는 경우에도 이를 알리고 동의를 받아야 한다.
                                            <ol class="text-list">
                                                <li>1. 개인(신용)정보의 수집&middot;이용 목적</li>
                                                <li>2. 수집하려는 개인(신용)정보의 항목</li>
                                                <li>3. 개인(신용)정보의 보유 및 이용 기간</li>
                                                <li>4. 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익이 있는 경우에는
                                                    그 불이익의 내용</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">18. 개인(신용)정보의 수집 제한</h4>
                                    <ol class="text-list">
                                        <li>18.1 개인(신용)정보취급자는 지침 1.16.1 각 호의 어느 하나에 해당하여 개인(신용)정보를 수집하는 경우에는 그 목적에 필요한 최소한의 개인(신용)정보를 수집하여야 한다. 이 경우 최소한의 개인(신용)정보 수집이라는 입증책임은 회사가 부담한다.</li>
                                        <li>18.2 개인(신용)정보취급자는 정보주체의 동의를 받아 개인(신용)정보를 수집하는 경우 필요한 최소한의 정보 외의 개인(신용)정보 수집에는 동의하지 아니할 수 있다는 사실을 구체적으로 알리고 개인(신용)정보를 수집하여야 한다.</li>
                                        <li>18.3 개인(신용)정보취급자는 정보주체가 필요한 최소한의 정보 외의 개인(신용)정보 수집에 동의하지 아니한다는 이유로 정보주체에게 재화 또는 서비스의 제공을 거부하여서는 아니 된다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">19. 개인(신용)정보의 제공</h4>
                                    <ol class="text-list">
                                        <li>
                                            19.1 개인(신용)정보취급자는 다음 각 호의 어느 하나에 해당되는 경우에는 정보주체의 개인(신용)정보를 제3자에게 제공(공유를 포함한다. 이하 같다)할 수 있다.
                                            <ol class="text-list">
                                                <li>1. 정보주체의 동의를 받은 경우</li>
                                                <li>2. 17.1 제 2 호,제 3 호 및 제 5 호에 따라 개인(신용)정보를 수집한 목적 범위에서 개인(신용)정보를 제공하는 경우</li>
                                            </ol>
                                        </li>
                                        <li>
                                            19.2 개인(신용)정보취급자는 제1항제1호에 따른 동의를 받을 때에는 다음 각 호의 사항을 정보주체에게 알려야 한다. 다음 각 호의 어느 하나의 사항을 변경하는 경우에도 이를 알리고 동의를 받아야 한다.
                                            <ol class="text-list">
                                                <li>1. 개인(신용)정보를 제공받는 자</li>
                                                <li>2. 개인(신용)정보를 제공받는 자의 개인(신용)정보 이용 목적</li>
                                                <li>3. 제공하는 개인(신용)정보의 항목</li>
                                                <li>4. 개인(신용)정보를 제공받는 자의 개인(신용)정보 보유 및 이용 기간</li>
                                                <li>5. 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익이 있는 경우에는 그 불이익의 내용</li>
                                            </ol>
                                        </li>
                                        <li>19.3 개인(신용)정보취급자가 19.2 제1호에 따라 정보주체에게 개인(신용)정보를 제공받는 자를 알리는 경우에는 그 성명(법인 또는 단체인 경우에는 그 명칭)과 연락처를 함께 알려야 한다.</li>
                                        <li>19.4 개인(신용)정보취급자가 개인(신용)정보를 국외의 제3자에게 제공할 때에는 제3항 각 호에 따른 사항을 정보주체에게 알리고 동의를 받아야 하며, 이 법을 위반하는 내용으로 개인(신용)정보의 국외 이전에 관한 계약을 체결하여서는 아니 된다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">20. 개인(신용)정보의 이용&middot;제공 제한</h4>
                                    <ol class="text-list">
                                        <li>20.1 개인(신용)정보취급자는 개인(신용)정보를 17.1에 따른 범위를 초과하여 이용하거나 19.1 및 19.3 에 따른 범위를 초과하여 제3자에게 제공하여서는 아니 된다.</li>
                                        <li>
                                            20.2 제1항에도 불구하고 개인(신용)정보취급자는 다음 각 호의 어느 하나에 해당하는 경우에는 정보주체 또는 제3자의 이익을 부당하게 침해할 우려가 있을 때를 제외하고는 개인(신용)정보를 목적 외의 용도로 이용하거나 이를 제3자에게 제공할 수 있다.
                                            <ol class="text-list">
                                                <li>1. 정보주체로부터 별도의 동의를 받은 경우</li>
                                                <li>2. 다른 법률에 특별한 규정이 있는 경우</li>
                                                <li>3. 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제 3 자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우</li>
                                                <li>4. 통계작성 및 학술연구 등의 목적을 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 개인(신용)정보를 제공하는 경우</li>
                                            </ol>
                                        </li>
                                        <li>
                                            20.3 개인(신용)정보취급자는 제2항제1호에 따른 동의를 받을 때에는 다음 각 호의 사항을 정보주체에게 알려야 한다. 다음 각 호의 어느 하나의 사항을 변경하는 경우에도 이를 알리고 동의를 받아야 한다.
                                            <ol class="text-list">
                                                <li>1. 개인(신용)정보를 제공받는 자</li>
                                                <li>2. 개인(신용)정보의 이용 목적(제공 시에는 제공받는 자의 이용 목적을 말한다)</li>
                                                <li>3. 이용 또는 제공하는 개인(신용)정보의 항목</li>
                                                <li>4. 개인(신용)정보의 보유 및 이용 기간(제공 시에는 제공받는 자의 보유 및 이용기간을 말한다)</li>
                                                <li>5. 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익이 있는 경우에는 그 불이익의 내용</li>
                                            </ol>
                                        </li>
                                        <li>20.4 개인(신용)정보취급자는 제2항 각 호의 어느 하나의 경우에 해당하여 개인(신용)정보를 목적 외의 용도로 제3자에게 제공하는 경우에는 개인(신용)정보를 제공받는 자에게 이용 목적, 이용 방법, 그 밖에 필요한 사항에 대하여 제한을 하거나, 개인(신용)정보의 안전성 확보를 위하여 필요한 조치를 마련하도록 요청하여야 한다. 이 경우 요청을 받은 자는 개인(신용)정보의 안전성 확보를 위하여 필요한 조치를 하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">21. 개인(신용)정보 활용업체에 대한 관리감독</h4>
                                    <ol class="text-list">
                                        <li>21.1 업체제휴 담당자는 개인(신용)정보를 제공받아 활용하는 제휴회사등과 개인(신용)정보의 활용, 보안 및 위규 시 제재내용 등이 포함된 별도의 “보안관리 약정”을 체결하여야하고 약정 이행사항을 수시로 점검하여야 한다.</li>
                                        <li>21.2 정보제공업체 중 개인(신용)정보 유출로 인한 금융사고의 가능성이 높은 업무를 수행하는 업체와는 보안관리 약정을 보다 강화된 내용으로 체결하여야 하며, 약정 이행사항을 정기적(연 1회 필수)으로 점검하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">22. 개인(신용)정보의 활용기준 설정</h4>
                                    <p>정보주체에게 불이익을 줄 수 있는 연체 등 정보의 최대 활용기간을 5년으로 한다. 다만, 동 활용기간에도 불구하고 리스크측정 등의 모델 적용 시 참고 데이터로 활용할 수 있다. 이 경우에도 정보주체가 특정되지 않도록 하는 등 조치가 필요하다. </p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">23. 개인(신용)정보의 파기방법 및 절차</h4>
                                    <ol class="text-list">
                                        <li>23.1 개인(신용)정보처리자는 개인(신용)정보의 보유기간이 경과된 경우에는 정당한 사유가 없는 한 보유기간의 종료일로부터, 개인(신용)정보의 처리 목적 달성,해당 서비스의 폐지, 사업의 종료 등 그 개인(신용)정보가 불필요하게 되었을 때에는 정당한 사유가 없는 한 개인(신용)정보의 처리가 불필요한 것으로 인정되는 날로부터 지체없이 그 개인(신용)정보를 파기하여야 한다.</li>
                                        <li>23.2 개인(신용)정보는 복원이 불가능한 방법으로 파기하여야 하며, ‘복원이 불가능한 방법’이란 사회통념상 현재의 기술수준에서 적절한 비용이 소요되는 방법을 말한다.</li>
                                        <li>23.3 개인(신용)정보처리자는 개인(신용)정보의 파기에 관한 사항을 기록&middot;관리하여야 한다.</li>
                                        <li>23.4 개인(신용)정보파기의 시행 및 확인은 신용정보관리보호인의 책임하에 수행된다.</li>
                                        <li>23.5 신용정보관리보호인은 개인(신용)정보 파기 시행 후 파기 결과를 확인하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">24. 동의를 받는 방법</h4>
                                    <ol class="text-list">
                                        <li>24.1 개인(신용)정보처리자는 개인(신용)정보의 수집과 이용을 위하여 정보주체의 동의를 받고자 하는 경우에는 기본적인 재화 또는 서비스의 제공을 위하여 반드시 필요한 최소한의 개인(신용)정보와 부가적인 재화 또는 서비스의 제공을 위하여 필요한 최소한의 개인(신용)정보를 구분하여 정보주체에게 알리고 동의를 받아야 한다.</li>
                                        <li>24.2 개인(신용)정보처리자가 개인(신용)정보를 처리하기 위하여 정보주체의 동의를 얻고자 하는 경우에는 정보주체의 동의가 필요한 경우와 필요하지 않은 경우를 구분하고, 후자의 경우에는 정보주체의 동의 없이 개인(신용)정보를 처리할 수 있다는 점과 그 사유를 알려야 한다.</li>
                                        <li>24.3 개인(신용)정보처리자는 개인(신용)정보의 목적 외 이용&middot;제공을 위하여 정보주체로부터 별도의 동의를 받고자 하는 경우에는 정보주체가 다른 개인(신용)정보처리의 목적과 별도로 동의여부를 표시할 수 있도록 조치를 취하고 동의를 받아야 한다.</li>
                                        <li>24.4 개인(신용)정보처리자가 전화에 의한 동의와 관련하여 통화내용을 녹취할 때에는 녹취 사실을 정보주체에게 알려야 한다.</li>
                                        <li>
                                            24.5 개인(신용)정보취급자는 개인정보보호법 제22조에 따라 개인(신용)정보의 처리에 대하여 다음 각 호의 어느 하나에 해당하는 방법으로 정보주체의 동의를 받아야 한다.
                                            <ol class="text-list">
                                                <li>1. 동의 내용이 적힌 서면을 정보주체에게 직접 발급하거나 우편 또는 팩스 등의 방법으로 전달하고, 정보주체가 서명하거나 날인한 동의서를 받는 방법</li>
                                                <li>2. 전화를 통하여 동의 내용을 정보주체에게 알리고 동의의 의사표시를 확인하는 방법</li>
                                                <li>3. 전화를 통하여 동의 내용을 정보주체에게 알리고 정보주체에게 인터넷주소 등을 통하여 동의 사항을 확인하도록 한 후 다시 전화를 통하여 그 동의 사항에 대한 동의의 의사표시를 확인하는 방법</li>
                                                <li>4. 인터넷 홈페이지 등에 동의 내용을 게재하고 정보주체가 동의 여부를 표시하도록 하는 방법</li>
                                                <li>5. 동의 내용이 적힌 전자우편을 발송하여 정보주체로부터 동의의 의사표시가 적힌 전자우편을 받는 방법</li>
                                                <li>6. 그 밖에 제 1 호부터 제 5 호까지의 규정에 따른 방법에 준하는 방법으로 동의 내용을 알리고 동의의 의사표시를 확인하는 방법</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">25. 동의철회권</h4>
                                    <ol class="text-list">
                                        <li>25.1 정보주체는 본인 개인(신용)정보를 제3자에게 제공하는 것을 중지요청할 수 있으며 영업지원팀은 정보주체의 요청에 본인여부를 확인한 후 해당사항을 접수한다. 동의철회권을 신청한 정보주체에 대하여는 개인(신용)정보의 신규제공을 중단하고 개인(신용)정보를 제공받은 자가 본인에게 전화, e-mail 등의 직접 마케팅을 하지 못하도록 적절한 조치를 취하여야 한다. 또한 정보주체의 동의철회 요청을 최소 1년간 보관하여 분쟁에 대비한다.</li>
                                        <li>25.2 전항의 동의철회신청은 회사의 인터넷 홈페이지, 전화 및 서면을 통하여 가능하며, 신청 자격은 정보주체에 한한다.(배우자 등 가족 및 제3자는 신청 불가하되 위임을 받아 대신 신청하는 것은 가능하다)</li>
                                        <li>25.3 복합 금융상품 개발 지원, 기존 계약관계의 안정성,개인(신용)정보인프라의 보호 등을 위하여 계약체결일로부터 3개월을 초과하지 않은 정보주체의 동의철회 신청은 제한할 수 있다.</li>
                                        <li>25.4 동의철회요청의 접수일로부터 1개월 이내에 해당 제휴회사 등에 신규정보 제공 중단 조치를 완료하여야 하며, 기 제공된 정보에 대하여는 접수일의 익월 10일까지 제휴회사등에 통보하여 제휴회사 등이 신청정보주체에 대한 직접마케팅을 중단할 수 있도록 조치하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">26. 전화수신거부권</h4>
                                    <ol class="text-list">
                                        <li>26.1 정보주체는 회사 및 제휴회사 등의 전화마케팅 중단을 요청할 수 있으며 제휴담당자, 마케팅 담당자는 직접 또는 제휴회사 등이 전화마케팅을 하지 못하도록 적절한 조치를 취하여야 한다. 또한 정보주체의 전화수신거부 요청을 최소 1년간 보관하여 분쟁에 대비한다.</li>
                                        <li>26.2 전항의 전화수신거부 신청은 회사의 인터넷 홈페이지, 전화 및 서면을 통하여 가능하며, 신청자격은 정보주체에 한한다.(배우자 등 가족 및 제3자는 신청금지)</li>
                                        <li>26.3 제휴담당자는 전화마케팅을 하는 제휴회사 등이 자기회사명, 정보제공자 등을 미리 안내하여 정보주체(신용)정보의 취득경로를 정보주체가 인지할 수 있도록 제휴회사 등과의 계약 시 동 내용을 제휴계약서에 포함하는 등의 필요한 조치를 마련하여야 한다.</li>
                                        <li>26.4 마케팅담당자는 신청자의 전화수신거부 접수일로부터 1개월 이내에 자체 진행하는 전화마케팅이 중단될 수 있도록 조치하여야 하며, 제휴회사 등에 대한 전화수신거부 신청의 경우에는 접수일의 익월 10일까지 제휴회사 등에 통보하여 제휴회사 등으로부터 통보일로부터 1개월 이내 처리결과를 회신받는 등 제휴회사 등이 신청정보주체에 대한 전화마케팅을 중단할 수 있도록 조치하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">27. 개인(신용)정보의 열람,오류정보 정정청구 및 상거래 거절근거 신용정보의 고지</h4>
                                    <ol class="text-list">
                                        <li>27.1 정보주체가 개인(신용)정보의 열람을 요청할 경우 영업지원팀 또는 해당팀은 열람을 요청 받은 날로부터 10일이내 정보주체가 개인(신용)정보를 열람할 수 있도록 한다. 단, 해당기간 내에 열람할 수 없는 사유가 있을 때에는 그 사유를 정보주체에게 알리고 사유가 소멸한 날로부터 10일이내 열람할 수 있도록 한다.</li>
                                        <li>27.2 정보주체가 개인(신용)정보의 정정을 요청할 경우 영업지원팀 또는 IT지원팀은 정확성을 확인한 후 정정의 필요성이 인정되는 경우 지체없이 당해 개인(신용)정보를 제공받은 자 또는 당해 정보주체가 요구하는 자에게 정정내용을 통보하여야 하고 해당 결과를 정보주체가 정보의 정정을 요청한 날로부터 10일 이내에 통보하여야 한다.</li>
                                        <li>27.3 정보주체가 요청한 금융거래가 거절되거나 중지되는 경우 정보주체가 요청하면 해당팀 또는 리스크기획팀은 상거래관계의 거절 또는 중지의 근거가 되는 신용정보, 신용조회회사,신용정보집중기관의 명칭,주소,연락처 등을 고지하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">28. 내부직원의 정보주체 개인(신용)정보 오남용 방지</h4>
                                    <ol class="text-list">
                                        <li>28.1 정보주체 개인(신용)정보의 오&middot;남용 방지 및 업무통제를 위하여 전산업무 프로그램의 사용권한을 담당자, 직급 또는 팀별로 차등하고, 감사팀은 필요시 프로그램사용 현황 및 업무별 프로그램권한 부여가 적절한지를 점검하는 등 적절한 조치를 취하여야 한다.</li>
                                        <li>
                                            28.2 정보주체 개인(신용)정보 조회에 대한 점검
                                            <ol class="text-list">
                                                <li>28.2.1 정보주체 개인(신용)정보 조회횟수 기준은 직원은 일 100회, 제휴점은 일 200회 이내로 하되, 상황에 따라 조회횟수 기준의 증감은 가능하다.</li>
                                                <li>28.2.2 전항의 기준을 초과하여 정보주체 개인(신용)정보를 조회하는 경우 일조회 가능 횟수를 초과하였음을 안내하고 IT보안담당자로부터 조회권한을 재부여받도록 한다.</li>
                                                <li>28.2.3 감사팀은 매월 1회 정보주체 신용정보 조회 현황을 점검한다.</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">29. 개인(신용)정보의 처리제한 및 처리정지</h4>
                                    <ol class="text-list">
                                        <li>
                                            29.1 개인(신용)정보취급자는 다음 각 호의 경우를 제외하고는 고유식별정보를 처리할 수 없다
                                            <ol class="text-list">
                                                <li>1. 정보주체에게 17.6 또는 19.2 각 호의 사항을 알리고 다른 개인(신용)정보의 처리에 대한 동의와 별도로 동의를 받은 경우</li>
                                                <li>2. 법령에서 구체적으로 고유식별정보의 처리를 요구하거나 허용하는 경우</li>
                                            </ol>
                                        </li>
                                        <li>
                                            29.2 전항에도 불구하고 개인(신용)정보취급자는 다음 각 호의 어느 하나에 해당하는 경우를 제외하고는 주민등록번호를 처리할 수 없다.
                                            <ol class="text-list">
                                                <li>1. 법령에서 구체적으로 주민등록번호의 처리를 요구하거나 허용한 경우</li>
                                                <li>2. 정보주체 또는 제 3 자의 급박한 생명, 신체, 재산의 이익을 위하여 명백히 필요하다고 인정되는 경우</li>
                                                <li>3. 제 1 호 및 제 2 호에 준하여 주민등록번호 처리가 불가피한 경우로서 법률 또는 시행령,규칙 등으로 정하는 경우</li>
                                            </ol>
                                        </li>
                                        <li>29.3 정보주체는 회사에 대하여 개인(신용)정보 처리정지요청서를 제출하여 자신의 개인(신용)정보 처리의 정지를 요구할 수 있다. 회사는 정당한 사유가 없는 한 정보주체로부터 요구를 받은 날로부터 10 일 이내에 개인(신용)정보 처리의 전부 또는 일부를 정지하고 정보주체에게 정지한 사실을 결과통지서로 통지하여야 한다.</li>
                                        <li>29.4 회사가 정보주체의 개인(신용)정보 처리정지 요구를 개인정보보호법 제 37 조제 2 항 각호에 따라 거절할 경우 10 일이내 거절사실과 이의제기방법을 결과통지서로 통지하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">30. 개인(신용)정보의 위탁</h4>
                                    <ol class="text-list">
                                        <li>30.1 회사가 개인(신용)정보 처리 업무를 위탁받아 처리하는 자(이하 “수탁자”라 한다)를 선정할 때에는 인력과 물적 시설, 재정 부담능력, 기술 보유의 정도, 책임능력 등을 종합적으로 고려하여야 한다.</li>
                                        <li>30.2 회사가 개인(신용)정보의 처리 업무를 위탁하는 때에는 수탁자의 처리 업무의 지연, 처리 업무와 관련 없는 불필요한 개인(신용)정보의 요구, 처리기준의 불공정 등의 문제점을 종합적으로 검토하여 이를 방지하기 위하여 필요한 조치를 마련하여야 한다.</li>
                                        <li>
                                            30.3 개인(신용)정보처리자가 제3자에게 개인(신용)정보의 처리 업무를 위탁하는 경우에는 다음 각 호의 내용이 포함된 문서에 의하여야 한다.
                                            <ol class="text-list">
                                                <li>1. 위탁업무 수행 목적 외 개인(신용)정보의 처리 금지에 관한 사항</li>
                                                <li>2. 개인(신용)정보의 기술적·관리적 보호조치에 관한 사항</li>
                                                <li>3. 위탁업무의 목적 및 범위</li>
                                                <li>4. 재위탁 제한에 관한 사항</li>
                                                <li>5. 개인(신용)정보에 대한 접근 제한 등 안전성 확보 조치에 관한 사항</li>
                                                <li>6. 위탁업무와 관련하여 보유하고 있는 개인(신용)정보의 관리 현황 점검 등 감독에 관한 사항</li>
                                                <li>7. 수탁자가 준수하여야 할 의무를 위반한 경우의 손해배상 등 책임에 관한 사항</li>
                                            </ol>
                                        </li>
                                        <li>30.4 회사는 회사의 인터넷 홈페이지에 위탁하는 업무의 내용과 수탁자를 정보주체가
                                            언제든지 쉽게 확인할 수 있도록 지속적으로 게재하여야 한다.</li>
                                        <li>30.5 위탁자가 재화 또는 서비스를 홍보하거나 판매를 권유하는 업무를 위탁하는 경우에는 서면, 전자우편, 팩스, 전화, 문자전송 또는 이에 상당하는 방법으로 위탁하는 업무의 내용과 수탁자를 정보주체에게 알려야 한다. 위탁하는 업무의 내용이나 수탁자가 변경된 경우에도 또한 같다.</li>
                                        <li>30.6 회사는 업무 위탁으로 인하여 정보주체의 개인(신용)정보가 분실·도난·유출·변조 또는 훼손되지 아니하도록 수탁자를 교육하고, 처리 현황 점검 등 수탁자가 개인(신용)정보를 안전하게 처리하는지를 감독하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">31. 개인(신용)정보 유출통지</h4>
                                    <ol class="text-list">
                                        <li>
                                            31.1 개인(신용)정보처리자는 개인(신용)정보가 유출되었음을 알게 되었을 때에는 지체 없이 해당 정보주체에게 다음 각 호의 사실을 알려야 한다. 다만, 유출된 개인(신용)정보의 확산 및 추가 유출을 방지하기 위하여 접속경로의 차단, 취약점 점검&middot;보완, 유출된 개인(신용)정보의 삭제 등 긴급한 조치가 필요한 경우에는 그 조치를 한 후 지체 없이 정보주체에게 알릴 수 있다.
                                            <ol class="text-list">
                                                <li>1. 유출된 개인(신용)정보의 항목</li>
                                                <li>2. 유출된 시점과 그 경위</li>
                                                <li>3. 유출로 인하여 발생할 수 있는 피해를 최소화하기 위하여 정보주체가 할 수 있는 방법 등에 관한 정보</li>
                                                <li>4. 개인(신용)정보처리자의 대응조치 및 피해 구제절차</li>
                                                <li>5. 정보주체에게 피해가 발생한 경우 신고 등을 접수할 수 있는 담당부서 및 연락처</li>
                                            </ol>
                                        </li>
                                        <li>31.2 개인(신용)정보처리자는 개인(신용)정보가 유출된 경우 그 피해를 최소화하기 위한 대책을 마련하고 필요한 조치를 하여야 한다.</li>
                                        <li>
                                            31.3 개인(신용)정보처리자는 1천명 이상의 개인(신용)정보가 유출된 경우에는 제1항에 따른 통지 및 제2항에 따른 조치 결과를 지체 없이 행정안전부장관 또는 전문기관 (한국인터넷진흥원)에 신고하고 금감원 담당자에게도 신고하여야 한다. 
                                        </li>
                                        <li>
                                            31.4 1천명 이상의 정보주체에 관한 개인(신용)정보가 유출된 경우에는 서면 등의 방법과 함께 인터넷 홈페이지에 정보주체가 알아보기 쉽도록 법 제1항 각 호의 사항을 7일 이상 게재하여야 한다.
                                        </li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">32. 보안대책</h4>
                                    <ol class="text-list">
                                        <li>32.1 기술적 보안 담당부서는 전산시스템에 대한 공격 또는 침입을 방지하기 위한 보안시스템을 구축하여야 한다.</li>
                                        <li>32.2 물리적 보안 담당부서는 화재, 홍수 등 천재지변 및 데이터의 손실방지를 위한 안전관리 대책을 마련하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">33. 네트워크 접근</h4>
                                    <ol class="text-list">
                                        <li>
                                            33.1 기술적 보안 담당부서는 다음 각 호를 포함하는 네트워크 접근정책을 수립하여야 한다.
                                            <ol class="text-list">
                                                <li>1. 접근통제 정책에 따라 인가된 개인(신용)정보취급자만이 내부 네트워크에 연결할 수 있어야 한다.</li>
                                                <li>2. 개인(신용)정보취급자의 단말기에서 개인(신용)정보처리시스템까지의 논리적, 물리적 접근경로가 문서화되고 각 단계별로 적절한 접근통제정책을 운영하여야 한다.</li>
                                                <li>3. 접근통제 정책에 따라 네트워크에 대한 라우팅을 제한하여야 한다.</li>
                                                <li>4. 개인(신용)정보취급자가 원격으로 서비스에 접근할 때는 인증을 거쳐야 한다.</li>
                                                <li>5. 고장 진단 포트는 시스템관리자만 접근할 수 있어야 한다.</li>
                                                <li>6. 중요한 정보서비스, 개인(신용)정보취급자, 시스템 그룹을 분리하여 비인가자의 접근통제 정책을 마련하여야 한다.</li>
                                            </ol>
                                        </li>
                                        <li>
                                            33.2 기술적 보안 담당부서는 외부업체에 의한 유지보수 작업 시 개인(신용)정보가 노출되지 않도록 다음 각 호의 보안조치를 취하여야 한다.
                                            <ol class="text-list">
                                                <li>1. 시스템 담당자 감독</li>
                                                <li>2. 작업 내역 기록 및 확인</li>
                                                <li>3. 신원보증 및 허가된 특정 인원만으로 출입통제</li>
                                                <li>4. 별도의 계정 부여 및 접근권한에 대한 통제 등</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">34. 운영체재 접근</h4>
                                    <ol class="text-list">
                                        <li>
                                            기술적 보안 담당부서는 개인(신용)정보처리자산 운영체제 접근통제 정책에 다음 각 호를 포함하여 운영하여야 한다.
                                            <ol class="text-list">
                                                <li>1. 정보시스템 접근에 대한 불법접근에 대한 경고, 권한 없는 자의 로그인 거절 및 시도 이력에 대한 기록 관리 등 접근통제 정책을 운영하여야 한다.</li>
                                                <li>2. 비밀번호를 사용한 기본적인 식별 인증관리를 운영하여야 한다.</li>
                                                <li>3. 중요시스템 또는 중요 계정의 경우 인증방법을 강화하여 적용하여야 한다.</li>
                                                <li>4. 중요한 기능을 수행하는 시스템, 개인(신용)정보취급자 권한으로의 로그인 시에는 특정 위치의 단말기에서만 수행하도록 제한한다.</li>
                                                <li>5. 노출된 지역 및 주요 서비스와 연결되는 터미널은 일정시간 사용이 없으면 연결이 종료되고 화면이 삭제되는 등의 통제를 운영한다.</li>
                                                <li>6. 중요한 서비스에 대한 접근은 가능 시간대나 개인(신용)정보취급자별로 제한하여 관리한다.</li>
                                                <li>7. 설치된 시스템 유틸리티에 대한 접근인가 및 통제를 운영하여야 한다.</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">35. 데이터베이스 접근</h4>
                                    <ol class="text-list">
                                        <li>
                                            기술적 보안 담당부서는 다음 각 호를 포함하는 데이터베이스 접근정책을 수립하여야 한다.
                                            <ol class="text-list">
                                                <li>1. 데이터베이스 관리자 및 개인(신용)정보취급자 활동이 추적될 수 있도록 유일한
                                                    식별을 보장하여야 한다.</li>
                                                <li>2. 데이터베이스 접근권한은 가능한 상세한 수준으로 통제하여야 한다.</li>
                                                <li>3. 데이터사전 및 유틸리티는 그 업무를 수행할 필요가 있는 자만이 사용할 수 있도록 제한하여야 한다.</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">36. 개인(신용)정보의 출력 및 복사 시 보호조치</h4>
                                    <ol class="text-list">
                                        <li>36.1 개인(신용)정보취급자는 개인(신용)정보처리시스템에서 개인(신용)정보를 출력하거나, 인쇄할 경우 개인(신용)정보 처리방침에 명시된 이용목적에 따라 출력 항목을 최소화 하여야 한다.</li>
                                        <li>36.2 개인(신용)정보취급자가 개인(신용)정보를 업무 목적으로 보조기억매체에 복사할 경우 사전에 기술적 보안 담당부서의 승인을 득하도록 하고, 이에 대한 기록을 관리하여야 한다.</li>
                                        <li>36.3 기술적 보안 담당부서는 개인(신용)정보처리시스템에서 화면을 메뉴화하여 업무내용에 따라 필요한 정보만을 표시하도록 시스템을 설계하도록 관리하여야 한다.</li>
                                        <li>36.4 기술적 보안 담당부서는 회사內 개인(신용)정보처리시스템 접근 위치에 따라 부서별, 업무별,직급별로 권한을 달리하여 볼 수 있는 정보를 제한하도록 시스템을 설계하도록 관리하여야 한다.</li>
                                        <li>36.5 기술적 보안 담당부서는 로그를 기록하여야 하며 이 로그는 위&middot;변조되지 않도록 보관하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">37. 개인(신용)정보의 마스킹</h4>
                                    <ol class="text-list">
                                        <li>37.1 기술적 보안 담당부서는 본인확인을 위해 필요한 경우 중요 개인(신용)정보의 일부만을 보여줌으로써 개인(신용)정보의 노출을 최소화하도록 시스템을 설계하도록 관리하여야 한다.</li>
                                        <li>37.2 개인(신용)정보 마스킹은 개인(신용)정보처리시스템에서 구현되는 화면이나, 홈페이지 및 출력 문서 등에 적용하여 개인(신용)정보의 노출을 최소화하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">38 개인(신용)정보 암호화</h4>
                                    <ol class="text-list">
                                        <li>38.1 고유식별정보, 비밀번호 등의 주요 개인(신용)정보를 정보통신망을 통하여 송&middot;수신하거나 보조저장매체 등을 통하여 전달하는 경우에는 이를 암호화하여야 한다.</li>
                                        <li>38.2 비밀번호는 암호화하여 저장하고, 복호화되지 아니하도록 일방향 암호화하여 저장하여야 한다</li>
                                        <li>38.3 DMZ구간(DMZ : Demilitarized Zone)에 고유식별정보를 저장하는 경우에는 이를 암호화하여야 한다.</li>
                                        <li>38.4 고유식별정보, 비밀번호 등을 암호화하는 경우 안전한 암호알고리즘으로 암호화하여 저장하여야 한다.</li>
                                        <li>38.5 개인(신용)정보취급자는 업무컴퓨터에서 고유식별정보를 포함한 파일을 처리한 경우 처리 즉시 삭제하여야 한다. 다만, 부득이하게 업무컴퓨터에 고유식별정보를 저장&middot;관리하여야 하는 경우에는 상용 암호화 소프트웨어 또는 안전한 암호화 알고리즘을 사용하여 암호화한 후 저장하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">39. 개인(신용)정보처리시스템 접속기록</h4>
                                    <ol class="text-list">
                                        <li>39.1 개인(신용)정보처리시스템에 대한 개인(신용)정보취급자의 접근권한 부여, 변경 또는 말소에 대한 내역을 기록하고, 그 기록을 최소 3년간 보관하여야 한다.</li>
                                        <li>39.2 개인(신용)정보취급자가 개인(신용)정보처리시스템에 접속하여 개인(신용)정보를 처리한 경우, 다음 각 호를 포함하여 수행한 업무 등의 내역을 기록하고, 최소 6개월 이상 보관&middot;관리하여야 한다.
                                            <ol class="text-list">
                                                <li>1. 식별자(접속 ID)</li>
                                                <li>2. 날짜 및 시간</li>
                                                <li>3. 접속자 IP 주소</li>
                                                <li>4. 수행업무(열람, 수정, 삭제, 인쇄, 입력 등)</li>
                                            </ol>
                                        </li>
                                        <li>39.3 기술적 보안 담당부서는 접속기록을 정기적으로 확인&middot;감독하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">40. 모니터링 및 개선</h4>
                                    <ol class="text-list">
                                        <li>40.1 제13조의 보안영역별 담당부서는 임직원들이 법,감독규정,회사 내규 등을 준수하는지 검토하고 모니터링 하여야 한다.</li>
                                        <li>40.2 보안영역별 담당부서는 검토 및 모니터링 결과 개인(신용)정보보호 지침을 준수하지 아니하거나 취약점이 발견된 사항에 대하여 보호대책을 수립하는 등 개선 활동을 하여야 한다.</li>
                                        <li>40.3 준법감시팀은 제1항 및 제2항에 정의된 업무에 대하여 보안영역별 담당부서가 수행한 내역을 모니터링 하고 감독하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">41. 물리적 접근 통제</h4>
                                    <ol class="text-list">
                                        <li>41.1 개인(신용)정보처리자는 전산실, 자료보관실 등 개인(신용)정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 있는 경우에는 이에 대한 출입통제 절차를 수립&middot;운영하여야 한다.</li>
                                        <li>41.2 개인(신용)정보처리자는 개인(신용)정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하여야 한다.</li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">42. 제재</h4>
                                    <p>고의 또는 중대한 과실로 개인(신용)정보를 무단으로 조회 또는 유출하여 회사 및 정보주체에게 손실을 끼친 자에 대한 제재는 인사 관련규정 및 인사위원회 등에서 정한 바에 따른다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">43. 소관팀(부서) 등</h4>
                                    <p>
                                        개인(신용)정보 관리·보호와 관련하여 수반되는 제반 업무는 각 업무별 관련 팀을 수행팀으로 하되, 준법감시팀을 개인(신용)정보보호 총괄팀으로 하여 각 수행팀을 모니터링하고 관리하도록 한다.
                                    </p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">44. 손해배상책임</h4>
                                    <p>개인정보보호법 제39조, 신용정보법 제43조에 따라 회사가 법을 위반하여 정보주체에게 피해를 입힌 경우 회사는 고의 또는 중과실이 없음을 입증하지 아니하면 책임을 면하지 못한다. 단, 손해가 발생했다는 사실과 손해액에 대해서는 정보주체가 입증책임을 진다.</p>
                                </div>
                                <div class="text-group">
                                    <p>[부칙]</p>
                                    <p>(시행일)</p>
                                    <p>이 지침은 2015년 07월 01일부로 제정하고 시행한다.</p>
                                    <p>이 지침은 2016년 11월 03일부로 개정하고 시행한다.</p>
                                    <p>이 지침은 2018년 8월 31일부로 개정하고 시행한다.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
            <div data-include-path="../../views/COMMON/footer.html"></div>
        </div>
    </body>
</html>
