<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>개인정보처리방침&gt;약관 및 정책&gt;고객센터&gt;홈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />
        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/com/default.css" />
        <link rel="stylesheet" href="../../assets/css/com/common.css" />
        <link rel="stylesheet" href="../../assets/css/com/style.css" />
        <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
        <link rel="stylesheet" href="../../assets/css/com/layout.css" />
        <link rel="stylesheet" href="../../assets/css/com/nav.css" />
        <link rel="stylesheet" href="../../assets/css/com/input.css" />
        <link rel="stylesheet" href="../../assets/css/com/button.css" />
        <link rel="stylesheet" href="../../assets/css/com/tab.css" />
        <link rel="stylesheet" href="../../assets/css/com/table.css" />
        <link rel="stylesheet" href="../../assets/css/com/content.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
    </head>

    <body>
        <div class="wrap">
            <div data-include-path="../../views/COMMON/header.html"></div>
            <div class="bodyWrap">
                <main class="contentWrap">
                    <nav class="location-container">
                        <ol class="breadcrumb">
                            <li><span class="home">홈</span></li>
                            <li><span>고객센터</span></li>
                            <li><span>약관 및 정책</span></li>
                            <li><span>개인정보처리방침</span></li>
                        </ol>
                    </nav>
                    <section class="visual-container">
                        <h2>개인정보처리방침</h2>
                    </section>
                    <section class="page-container WCC60300VQ">
                        <div class="form-group">
                            <div class="se-select">
                                <label for="categorySelect" class="e-hidden-title">카테고리 선택</label>
                                <select id="category" name="category">
                                    <option value="2025-08-25" selected>2025-08-25 기준</option>
                                    <option value="2023-06-21">2023-06-21 기준</option>
                                    <option value="2023-02-09">2023-02-09 기준</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-content">
                            <div class="text-group">
                                <h3>개인정보 처리방침</h3>
                                <p>
                                    MG캐피탈 주식회사&#40;이하 "회사" 또는 "MG캐피탈"이라 함&#41;는 신용정보의 이용 및 보호에 관한 법률, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보 보호법률 등 준수하여야 할 관련 법규상의 개인정보보호규정을 준수하며, 개인정보보호법에 의거한 개인정보처리방침을 정하여 이용자 권익보호에 최선을 다하고 있습니다.
                                    <br />
                                    개인정보처리방침의 ‘정보주체’ 는 처리되는 정보에 의하여 알아볼 수 있는 사람으로서 그 정보의 주체가 되는 사람을 말합니다. '고객'은 '정보주체' 중 회사가 제공하는 서비스를 이용하는 자&#40;이용하려는 자 포함&#41;를 의미합니다.
                                    <br />
                                    MG캐피탈의 개인정보처리방침은 다음과 같은 내용으로 구성되어 있습니다.
                                </p>
                                <!-- 2025.11.12 목차 주석
                                <div class="button-content">
                                    <div class="lnk-group">
                                        <a href="#section1">1. 개인정보 처리 목적</a>
                                        <a href="#section2">2. 처리하는 개인정보의 항목</a>
                                        <a href="#section3">3. 개인정보의 처리 및 보유기간</a>
                                        <a href="#section4">4. 개인정보의 제3자 제공에 관한 사항</a>
                                        <a href="#section5">5. 개인신용정보 제공사실의 통보</a>
                                        <a href="#section6">6. 개인정보처리의 위탁에 관한 사항</a>
                                        <a href="#section7">7. 개인정보의 파기절차 및 방법</a>
                                        <a href="#section8">8. 정보주체의 권리 · 의무 및 그 행사방법에 관한 사항</a>
                                        <a href="#section9">9. 개인정보의 안전성 확보 조치에 관한 사항</a>
                                        <a href="#section10">10. 개인정보 보호책임자에 관한 사항</a>
                                        <a href="#section11">11. 개인정보 처리방침의 변경에 관한 사항</a>
                                    </div>
                                </div> -->
                            </div>
                            <div id="section1" class="text-group">
                                <h3>개인정보의 처리 목적</h3>
                                <p>회사는 다음과 같은 목적을 위하여 필요한 최소한의 개인정보를 처리하고 있습니다.</p>
                                <ol class="text-list font-medium">
                                    <li><span>1&#41;</span> <span>회원제 서비스 이용에 따른 본인여부 식별&#40;확인&#41;, 회원가입</span></li>
                                    <li><span>2&#41;</span> <span>고객이 신청하신 상품,서비스 제공여부 판단 및 제공 : 자동차금융,신용대출,담보대출,개인사업자 금융 등 MG캐피탈 금융서비스</span></li>
                                    <li>
                                        <span>3&#41;</span>
                                        <span>청구서 발송, 경품 배송, 고지사항 전달, 본인 의사 확인, SMS문자서비스 가입 확인, 불만 처리 등 원활한 의사소통 경로의 확보, 분쟁조정을 위한 기록보존 등</span>
                                    </li>
                                    <li><span>4&#41;</span> <span>새로운 서비스,신상품이나 이벤트정보 등 최신정보의 안내</span></li>
                                    <li><span>5&#41;</span> <span>통계학적 분석&#40;이용자의 연령별, 성별, 지역별 통계분석 등&#41;</span></li>
                                    <li><span>6&#41;</span> <span>기타 개인별 맞춤서비스 제공</span></li>
                                </ol>
                            </div>
                            <div id="section2" class="text-group">
                                <h3>처리하는 개인정보의 항목</h3>
                                <ul class="dot">
                                    <li>필수항목 : 성명, 주민등록번호, 비밀번호, 결제계좌정보, 아이디, 비밀번호, 비밀번호힌트 질문과 답변, 전화번호, 핸드폰번호, 이메일주소, 주소, 직장정보, 사업자등록번호, 신용정보, 거래내역 등 상품,서비스 이용정보 등</li>
                                    <li>선택항목 : 문자알림서비스&#40;SMS&#41; 이용여부, E-mail 수신여부 등</li>
                                    <li>서비스 이용과정이나 사업처리 과정에서 자동으로 수집될 수 있는 항목 : 이용자의 브라우저 종류 및 OS, 검색어, 서비스 이용 기록, IP Address, 방문 일시, 서비스 이용기록, 결제기록, 쿠키</li>
                                </ul>
                            </div>
                            <div id="section3" class="group">
                                <h3>개인정보의 처리 및 보유기간</h3>
                                <p>회사는 「개인정보의 처리 목적」이 달성될 때까지 개인정보를 보유합니다. 단, 정보주체로부터 사전에 동의를 받은 경우 또는 상법 등 관련법규에 의하여 보존할 필요성이 있는 다음의 경우에는 개인정보를 일정기간 동안 보유합니다.</p>
                                <div class="text-group">
                                    <h4 class="tit text-indent">1&#41; 회사는 고객이 탈회하거나, 고객을 제명하는 경우 권리남용, 악용방지, 권리침해/명예훼손 분쟁 및 수사협조 의뢰에 대비하여 이용계약 해지일로부터 3년 동안 개인정보를 보존합니다.</h4>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">2&#41; 회사는 다음의 정보에 대해서 명시한 기간 동안 보존합니다.</h4>
                                    <ol class="text-list">
                                        <li>
                                            <span>가.</span>
                                            <span>계약 또는 청약철회 등에 관한 기록</span>
                                            <ul class="dot">
                                                <li>보존이유 : 전자상거래 등에서의 소비자 보호에 관한 법률</li>
                                                <li>보존기간 : 5년</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>나.</span>
                                            <span>대금결제 및 재화 등의 공급에 관한 기록</span>
                                            <ul class="dot">
                                                <li>보존이유 : 전자상거래 등에서의 소비자 보호에 관한 법률</li>
                                                <li>보존기간 : 5년</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>다.</span>
                                            <span>소비자의 불만 또는 분쟁처리에 관한 기록</span>
                                            <ul class="dot">
                                                <li>보존이유 : 전자상거래 등에서의 소비자 보호에 관한 법률</li>
                                                <li>보존기간 : 5년</li>
                                            </ul>
                                        </li>
                                        <li><span>라.</span> <span>기타 고객의 동의를 받은 경우 : 동의를 받은 기간까지</span></li>
                                    </ol>
                                </div>
                            </div>
                            <div id="section4" class="text-group">
                                <h3>개인정보의 제 3자 제공에 관한 사항</h3>
                                <p>회사는 「개인정보의 처리 목적」에서 고지한 범위 내에서 개인정보를 제3자&#40;타인 또는 타기업,기관&#41;에게 제공하며, 동 범위를 초과하여 제공하지 않습니다. 다만, 다음의 경우에는 예외로 합니다.</p>
                                <ol class="text-list font-medium">
                                    <li><span>1&#41;</span> <span>사전에 개인정보를 목적 외의 용도로 제공하는 것에 대한 동의를 받은 경우</span></li>
                                    <li><span>2&#41;</span> <span>통계처리, 학술연구, 시장조사 등을 위하여 필요한 경우로서 특정한 개인을 식별할 수 없는 형태로 개인정보를 제공하는 경우</span></li>
                                    <li><span>3&#41;</span> <span>다른 법률에 특별한 규정이 있는 경우</span></li>
                                    <li>
                                        <span>4&#41;</span>
                                        <span> 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우 </span>
                                    </li>
                                    <li><span>5&#41;</span> <span>회사가 법령상 의무를 준수하기 위하여 불가피하게 수집한 개인정보를 그 수집 목적 범위 내에서 제공하는 경우</span></li>
                                </ol>
                                <a href="javascript:void(0);" class="success font-bold">[제 3자 제공현황]</a>
                            </div>
                            <div id="section5" class="group">
                                <h3>개인신용정보 제공사실의 통보</h3>
                                <p>회사는 신용정보의 이용 및 보호에 관한 법률 제32조 제5항에 따라 개인신용정보의 제공사실 및 이유 등을 해당 고객에게 서면,전화&#40;SMS포함&#41;,전자우편 등을 통하여 알려 드립니다.</p>
                                <div class="text-group">
                                    <h4 class="tit text-indent">1&#41; 통보기간</h4>
                                    <ol class="text-list">
                                        <li>
                                            <span>가.</span>
                                            <span> 계약이행을 위해 신용정보 처리를 위탁하거나 영업양도 등의 이유로 권리의무의 전부 또는 일부를 이전하면서 신용정보를 제공하는 경우 및 국제협약에 따라 외국의 금융감독기구에 신용정보를 제공하는 경우 - <em>30일 이내 고객에게 통보하여야 한다.</em></span>
                                        </li>
                                        <li>
                                            <span>나.</span>
                                            <span>채권추심,인·허가의 목적,기업의 신용도 판단,유가증권의 양수를 위해 신용정보를 제공하는 경우 - <em>30일이내 고객에게 통보하여야 한다.</em></span>
                                        </li>
                                        <li>
                                            <span>다.</span>
                                            <span> 법원의 영장,긴급한 검사 또는 사법경찰관의 요구,조세에 관한 법률에 따라 관할 관서의 장이 서면으로 요구하거나 조세에 관한 법률상 제출의무가 있어 신용정보를 제공하는 경우 - <em>180일 이내 고객에게 통보하여야 한다.</em></span>
                                        </li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">2&#41; 고객에게 개별통지하지 않고 인터넷 홈페이지&#40;게시판&#41;에 게재하거나 사무실·점포 등에 비치하여 공시할 수 있는 경우</h4>
                                    <ol class="text-list">
                                        <li><span>가.</span> <span>고객의 주소 또는 거소 등을 알수 없는 경우</span></li>
                                        <li>
                                            <span>나.</span>
                                            <span> 조세에 관한 법률에 따라 정보를 제공하거나 계약이행을 위해 신용정보의 처리를 위탁 및 영업양도 등의 이유로 권리의무의 전부 또는 일부를 이전하면서 신용정보를 제공한 경우 </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div id="section6" class="group">
                                <h3>개인정보처리의 위탁에 관한 사항</h3>
                                <p>회사는 더 나은 서비스를 제공하기 위하여 정보주체의 개인정보 처리를 외부전문기관에 위탁할 수 있습니다.</p>
                                <div class="text-group">
                                    <h4 class="tit text-indent">
                                        1&#41; 회사는 개인정보 처리를 위탁하는 경우 위탁하는 업무의 내용과 수탁자를 정보주체가 언제든지 쉽게 확인할 수 있도록 회사의 인터넷 홈페이지에 지속적으로 게재하여 공개합니다. 특히, 회사가 재화 또는 서비스를 홍보하거나 판매를 권유하는 업무를 위탁하는 경우에는 서면, 전자우편, 팩스, 전화, 문자전송 또는 이에 상당하는 방법&#40;이하 "서면등의 방법"이라 합니다&#41;으로 위탁하는 업무의 내용과 수탁자를 정보주체에게 알려드립니다. 위탁하는 업무의 내용이나 수탁자가 변경된 경우에도 동일합니다. 만약, 회사가 과실 없이 서면등의 방법으로 정보주체에게 알릴 수 없는
                                        경우에는 해당 사항을 인터넷 홈페이지에 30일 이상 게재합니다.
                                    </h4>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">2&#41; 회사는 수탁자에게 다음의 내용이 포함된 문서에 의하여 개인정보의 처리업무를 위탁하고 있으며, 당해 문서를 서면 또는 전자적으로 보관하여 정보주체의 권익을 보호합니다.</h4>
                                    <ol class="text-list">
                                        <li><span>가.</span> <span>위탁업무의 목적 및 범위</span></li>
                                        <li><span>나.</span> <span>위탁업무 수행 목적 외 개인정보의 처리 금지에 관한 사항</span></li>
                                        <li><span>다.</span> <span>재위탁 제한에 관한 사항</span></li>
                                        <li><span>라.</span> <span>개인정보의 기술적,관리적 보호조치에 관한 사항</span></li>
                                        <li><span>마.</span> <span>개인정보에 대한 접근 권한 등 안전성 확보 조치에 관한 사항</span></li>
                                        <li><span>바.</span> <span>위탁업무와 관련하여 보유하고 있는 개인정보의 관리 현황 점검 등 감독에 관한 사항</span></li>
                                        <li><span>사.</span> <span>수탁자가 준수하여야 할 의무를 위반한 경우의 손해배상 등에 관한 사항</span></li>
                                    </ol>
                                    <a href="javascript:void(0);" class="success font-bold">[업무위탁현황]</a>
                                </div>
                            </div>
                            <div id="section7" class="group">
                                <div class="text-group">
                                    <h3>개인정보 파기에 관한 사항</h3>
                                    <p>회사는 「개인정보의 처리 목적」이 달성되면 다음과 같은 절차 및 방법에 따라 개인정보를 파기합니다.</p>
                                    <ol class="text-list font-w-b">
                                        <li>
                                            <span>1&#41;</span>
                                            <span>개인정보는 「개인정보의 처리 목적」이 달성된 후 별도의 DB로 옮겨져&#40;종이의 경우 별도의 서류함&#41; 「개인정보의 처리 및 보유기간」에 따라 일정 기간 보관된 후 파기됩니다. 
                                            동 개인정보는 법률에 의한 경우가 아니고서는 보존 이외의 다른 목적으로 이용되거나 제공되지 않습니다.</span>
                                        </li>
                                        <li>
                                            <span>2&#41;</span>
                                            <span>전자적 파일 형태인 경우 복원이 불가능한 방법으로 영구 삭제하며, 그 외의 기록물, 인쇄물, 서면, 기타 기록매체인 경우에는 파쇄, 소각, 용해 등의 방법으로 파기합니다. </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>


                            <div id="section8" class="group">
                                <h3>정보주체의 권리·의무 및 그 행사방법에 관한 사항</h3>
                                <div class="text-group">
                                    <h4 class="tit text-indent">1&#41; 개인신용정보 열람청구, 정정청구 권리보장 및 결과 고지</h4>
                                    <ol class="text-list">
                                        <li>
                                            <span>가.</span>
                                            <span> 고객은 『신용정보의 이용 및 보호에 관한 법률』 제 38조에 따라 본인의 신용정보를 제공받거나 열람하는 경우 서면, 전자문서 또는 인터넷 홈페이지 등을 통하여 금융회사에 신청이 가능합니다. 신청시에는 금융회사에게 본인의 신분을 나타내는 증표를 내보이거나 전화, 인터넷 홈페이지 이용 등의 정하는 방법으로 본인임을 확인받아만 합니다. </span>
                                        </li>
                                        <li>
                                            <span>나.</span>
                                            <span> 또한 고객은 본인 신용정보가 사실과 다른 경우에는 정정을 청구할 수 있으며, 본인정보의 정정을 청구하고자 할 때에는 정정대상 정보와 정청청구사유를 기재하여 서면 또는 인터넷 홈페이지를 통해 신청하여야 합니다. 정정청구를 받은 회사는 사실여부의 조사·확인을 위하여 필요한 경우 정보주체에게 관련 증빙자료의 제시를 요청할 수 있습니다. </span>
                                        </li>
                                        <li>
                                            <span>다.</span>
                                            <span> 금융회사가 정정청구에 정당한 사유가 있다고 인정하면 지체 없이 해당 개인신용정보의 제공ㆍ이용을 중단한 후 사실인지를 조사하여 사실과 다르거나 확인할 수 없는 신용정보는 삭제하거나 정정해 드립니다. 신용정보를 삭제하거나 정정한 경우 해당 신용정보를 최근 6개월 이내에 제공받은 자와 해당 정보주체가 요구하는 자에게 내용을 알려드리고, 처리결과를 7일 이내에 해당 정보주체에게도 알려 드립니다. </span>
                                        </li>
                                        <li>
                                            <span>라.</span>
                                            <span> 고객은 금융회사의 처리결과에 이의가 있을 경우 그 시정을 요청할 수 있습니다. 고객이 시정 요청을 할 경우 처리결과의 통지를 받은 날로부터 15일 이내에 정정청구를 한 내용과 처리결과의 통지 내용 등 근거자료를 금융위원회 등 관계 기관에 제출하여야 합니다. </span>
                                        </li>
                                    </ol>
                                    <dl class="dot">
                                        <dt>신청방법</dt>
                                        <dd>홈페이지 → 부가정보 →「개인&#40;신용&#41;정보 고객권리 신청」에서 본인 인증후 이용가능</dd>
                                    </dl>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">2&#41; 개인신용정보 삭제요구</h4>
                                    <ol class="text-list">
                                        <li>
                                            <span>가.</span>
                                            <span> 정보주체는 신용정보법 38조의3에 따라 금융거래 등 상거래관계가 종료되고 일정기간&#40;금융거래 등 상거래관계의 설정 및 유지 등에 필수적인 신용정보는 5년 , 그 외는 3개월&#41;이 경과한 경우 본인의 개인신용정보의 삭제를 요구할 수 있으며 회사는 삭제 요구를 받았을 때에는 지체 없이 해당 개인신용정보를 삭제하고 삭제로 인해 정보주체에게 불이익이 발생한 경우 이에 대한 충분한 사전 설명과 함께 그 결과를 정보주체에게 알려드립니다. </span>
                                        </li>
                                        <li><span>나.</span> <span>삭제청구에도 불구하고 회사가 보관하는 경우에는 보관사유의 근거 및 안전한 보관에 관한 사항을 정보주체에게 알려드립니다.</span></li>
                                    </ol>
                                    <dl class="dot">
                                        <dt>신청방법</dt>
                                        <dd>홈페이지 → 부가정보 →「개인&#40;신용&#41;정보 고객권리 신청」에서 본인 인증후 이용가능</dd>
                                    </dl>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">3&#41; 개인신용정보 전송요구 및 전송철회 요구</h4>
                                    <ol class="text-list">
                                        <li>
                                            <span>가.</span>
                                            <span> 정보주체는 신용정보법 제 33조의 2에 따라 회사에 대하여 그가 보유하고 있는 본인에 관한 개인신용정보를 본인, 본인신용정보관리회사, 신용정보제공ㆍ이용자 개인신용평가회사 등에게 전송하여 줄 것을 요구할 수 있습니다. </span>
                                        </li>
                                        <li><span>나.</span> <span>회사가 전송요구를 받은 경우 정보처리장치로 처리가 가능한 형태로 전송해 드립니다.</span></li>
                                        <li>
                                            <span>다.</span>
                                            <span> 정보주체가 전송을 요구하는 정보는 신용정보제공ㆍ이용자 등이 신용정보주체로부터 수집한 정보, 신용정보주체가 신용정보제공ㆍ이용자등에게 제공한 정보, 신용정보주체와 신용정보제공ㆍ이용자등 간의 권리ㆍ의무 관계에서 생성된 정보, 컴퓨터 등 정보처리 장치로 처리된 신용정보이며, 신용정보제공ㆍ이용자 등이 개인신용 정보를 기초로 별도로 생성하거나 가공한 신용정보는 제외됩니다. </span>
                                        </li>
                                        <li><span>라.</span> <span>정보주체는 또한 전송 요구한 사항에 대하여 정기적으로 전송하여 줄 것을 요구 또는 철회할 수 있습니다.</span></li>
                                        <li>
                                            <span>마.</span>
                                            <span> 정보주체는 회사가 보유하고 있는 본인에 관한 개인신용정보를 본인, 본인신용정보관리회사&#40;마이데이터사업자&#41; 또는 신용정보 제공 이용자등에게 전송하여 줄 것을 요구하거나 정기적인 전송을 요구할 수 있으며, 그 요구를 철회할 수 있습니다. </span>
                                        </li>
                                    </ol>
                                    <dl class="dot">
                                        <dt>신청방법</dt>
                                        <dd>홈페이지 → 부가정보 →「개인&#40;신용&#41;정보 고객권리 신청」에서 본인 인증후 이용가능</dd>
                                        <dd>회사가 보유하고 있는 개인신용정보를 본인 등에게 전송하거나 전송요구를 철회하고자 하는 경우 신용정보원의 MYPDS앱을 통해서도 가능하며, 본인신용정보관리회사에게 전송하거나 전송요구룰 철회하고자 하는 경우 해당 회사의 마이데이터앱 등을 통해서 가능합니다.</dd>
                                    </dl>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">4&#41; 개인신용정보 제공 동의 철회 및 연락중지 요청</h4>
                                    <ol class="text-list">
                                        <li>
                                            <span>가.</span>
                                            <span> 신용정보법 제 37조에 따라 정보주체는 회사가 신용정보집중기관 등에 제공하여 개인의 신용도를 평가하기 위한 목적 외의 목적으로 제공한 신용정보에 대해 회사의 인터넷 홈페이지, 유무선 통신, 서면 등의 방법으로 철회할 수 있습니다. </span>
                                        </li>
                                        <li><span>나.</span> <span>또한 회사에 대하여 상품이나 용역을 소개하거나 구매를 권유할 목적으로 본인에게 연락하는 것을 중지 하도록 청구할 수 있습니다.</span></li>
                                        <li><span>다.</span> <span>회사가 제공동의 철회 및 연락 중지 청구를 받을 경우 1개월 이내에 그에 따른 조치를 완료해 드립니다.</span></li>
                                    </ol>
                                    <dl class="dot">
                                        <dt>신청방법</dt>
                                        <dd>홈페이지 → 부가정보 →「개인&#40;신용&#41;정보 고객권리 신청」에서 본인 인증후 이용가능</dd>
                                    </dl>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">5&#41; 자동화평가 결과에 대한 설명요구, 이의제기 보장 및 거절시 거절의 사유, 근거 통지 요청</h4>
                                    <p>
                                        『신용정보의 이용 및 보호에 관한 법률』 제 36조의 2에 따라 고객은 금융회사에 대하여 개인신용평가, 금융거래의 설정 및 유지 여부, 내용의 결정, 컴퓨터 등 정보처리장치로만 처리하면 개인신용정보를 저해할 우려가 있는 경우 등에도 자동화평가를 진행하는지 여부와 금융회사가 자동화평가를 하는 경우 자동화 평가의 결과, 주요기준, 자동화 평가에 이용된 기초정보의 개요 등에 대하여 설명하여 줄 것을 요구할 수 있습니다. 아울러, 고객은 자동화 평가산출에 유리하다고 판단되는 정보를 제출할 수 있고, 자동화평가에 이용된 기초정보의 내용이 정확하지 않지 않거나 최신의 정보가
                                        아니라고 판단되는 경우 기초정보를 정정ㆍ삭제할 것과 자동화평가 결과를 다시 산출해 줄 것을 요구할 수 있습니다.
                                        <br />
                                        다만, 금융회사는 동 법 또는 다른 법률에 규정이 있거나 법령상 의무를 준수하기 위해 불가피한 경우, 해당 고객의 요구에 따르게 되면 금융거래 등 상거래관계의 설정 및 유지 등이 곤란한 경우, 고객의 정정 또는 삭제 요청한 내용이 사실과 다른 경우, 정당한 사유없이 동일한 금융거래 등에 대해 3회 이상 반복적으로 권리를 행사는 경우, 자동화평가가 아닌 방식으로 개인의 신용을 평가하는 경우 등에는 위 고객의 요구를 거절할 수 있으며, 거절할 경우 거절의 근거 및 사유를 인터넷 홈페이지 또는 전자우편 등을 통해 통보해 드립니다.
                                    </p>
                                    <dl class="dot">
                                        <dt>신청방법</dt>
                                        <dd>홈페이지 → 부가정보 →「개인&#40;신용&#41;정보 고객권리 신청」에서 본인 인증후 이용가능</dd>
                                    </dl>
                                    <div class="button-content">
                                        <div class="btn-group">
                                            <a href="#" class="btn-download" download>자동화평가 결과에 대한 설명요구서</a>
                                            <a href="#" class="btn-download" download>기초정보 정정/삭제 및 자동화평가 재산출 요청</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="section9" class="group">
                                <h3>개인정보의 안전성 확보 조치에 관한 사항</h3>
                                <p>회사는 정보주체의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 유출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 안전성 확보 조치를 강구하고 있습니다.</p>
                                <div class="text-group">
                                    <h4 class="tit text-indent">가. 개인정보 내부관리계획의 수립ㆍ시행</h4>
                                    <p>회사는 개인정보의 안전한 처리를 위하여 다음의 사항을 포함하는 내부관리계획을 수립ㆍ시행하고 있습니다.</p>
                                    <ol class="text-list">
                                        <li><span>①</span> <span>개인정보 보호책임자의 지정에 관한 사항</span></li>
                                        <li><span>②</span> <span>개인정보 보호책임자 및 개인정보취급자의 역할 및 책임에 관한 사항</span></li>
                                        <li><span>③</span> <span>개인정보의 안전성 확보에 필요한 조치에 관한 사항</span></li>
                                        <li><span>④</span> <span>개인정보취급자에 대한 교육에 관한 사항</span></li>
                                        <li><span>⑤</span> <span>그 밖에 개인정보 보호를 위하여 필요한 사항</span></li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">나. 개인정보에 대한 접근 통제 및 접근 권한의 제한 조치</h4>
                                    <ol class="text-list">
                                        <li>
                                            <span>①</span>
                                            <span> 회사는 개인정보처리시스템에 대한 접근권한을 업무 수행에 필요한 최소한의 범위로 하여 업무 담당자 별로 한 개의 사용자 계정을 차등 부여하고 있으며, 개인정보취급자가 변경되었을 경우 지체 없이 개인정보처리시스템의 접근권한을 변경 또는 말소하고 그 기록을 최소 3년간 보관하고 있습니다. </span>
                                        </li>
                                        <li><span>②</span> <span>회사는 개인정보취급자의 비밀번호 작성규칙을 수립하여 적용하고 있습니다.</span></li>
                                        <li>
                                            <span>③</span>
                                            <span> 회사는 개인정보처리시스템에 대한 불법적인 접근 및 침해사고 방지를 위해 접근 제한 시스템과 유출 시도 탐지 시스템을 운영하고 있습니다. 개인정보취급자가 외부에서 회사의 개인정보처리시스템에 접속하려는 경우에는 가상사설망&#40;VPN&#41; 또는 전용선 등 안전한 접속수단에 의한 접속만 가능합니다. 또한, 개인정보가 권한이 없는 자에게 공개되거나 외부에 유출되지 않도록 개인정보처리시스템 및 업무용 컴퓨터에 조치를 취하고 있습니다. </span>
                                        </li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">다. 개인정보 암호화 기술의 적용 또는 이에 상응하는 조치</h4>
                                    <ol class="text-list">
                                        <li>
                                            <span>①</span>
                                            <span> 회사는 개인의 고유식별정보, 비밀번호를 정보통신망을 통하여 송ㆍ수신하거나 보조저장매체 등을 통하여 전달하는 경우에는 이를 암호화하고 있습니다. 비밀번호 등은 안전한 암호알고리즘으로 암호화하여 저장합니다. </span>
                                        </li>
                                        <li>
                                            <span>②</span>
                                            <span>회사는 인터넷 구간 및 인터넷 구간과 내부망의 중간 지점&#40;DMZ : Demilitarized Zone&#41;에 고유식별정보를 저장하는 경우에는 이를 암호화하여야 합니다.</span>
                                        </li>
                                        <li>
                                            <span>③</span>
                                            <span> 회사는 개인정보 저장시 암호화를 적용하는 경우, 행정안전부가 제정한 '개인정보의 안전성 확보조치 기준 고시' 시행일로부터 3개월 이내에 암호화 계획을 수립하고, 계획 수립일로부터 12개월 이내에 암호화를 적용할 예정입니다. </span>
                                        </li>
                                        <li>
                                            <span>④</span>
                                            <span> 회사는 부득이한 사유로 업무용 컴퓨터에 고유식별정보를 저장하여 관리하는 경우 상용 암호화 소프트웨어 또는 안전한 암호화 알고리즘을 사용하여 암호화하여 저장하고 있습니다. </span>
                                        </li>
                                    </ol>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">라. 접속기록의 보관 및 위조ㆍ변조 방지를 위한 조치</h4>
                                    <p>회사는 개인정보취급자가 개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관ㆍ관리하며, 개인정보취급자의 접속기록이 위ㆍ변조 및 도난, 분실되지 않도록 해당 접속기록을 안전하게 보관하고 있습니다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">마. 개인정보에 대한 보안프로그램의 설치 및 갱신</h4>
                                    <p>회사는 개인정보처리시스템 또는 업무용 컴퓨터에 악성 프로그램 등을 방지ㆍ치료할 수 있는 백신 소프트웨어 등의 보안 프로그램을 설치ㆍ운영하고 있으며, 보안 프로그램의 자동 업데이트 기능을 사용하고 주기적으로 PC 검사를 실시하고 있습니다. 또한 악성 프로그램관련 경보가 발령된 경우 또는 사용 중인 응용 프로그램이나 운영체제 소프트웨어의 제작업체에서 보안 업데이트 공지가 있는 경우, 즉시 이에 따른 업데이트를 실시하고 있습니다.</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">바. 개인정보의 안전한 보관을 위한 물리적 조치</h4>
                                    <p>회사는 전산실, 자료보관실 등 개인정보를 보관하고 있는 물리적 보관 장소에 대한 출입통제 절차를 수립ㆍ운영하고 있으며, 개인정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하고 있습니다.</p>
                                </div>
                            </div>
                            <div id="section10" class="group">
                                <h3>개인정보 보호 책임자에 관한 사항</h3>
                                <p>
                                    회사는 고객의 개인정보를 보호하고 개인정보와 관련한 고객의 불만사항을 처리하기 위하여 개인정보보호책임자를 두고 있습니다.
                                    <br />
                                    개인정보와 관련한 문의사항이 있으시면 아래의 개인정보보호책임자 또는 개인정보관리담당자에게 연락하여 주시기 바랍니다.
                                </p>
                                <div class="text-group">
                                    <h4 class="tit text-indent">가. 개인정보보호책임자</h4>
                                    <p>성명 : 양성준</p>
                                    <p>소속 : MG캐피탈 준법감시부</p>
                                    <p>직책 : 부장</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit text-indent">나. 개인정보관리담당자</h4>
                                    <p>성명 : 민성광</p>
                                    <p>소속 : MG캐피탈 준법감시부</p>
                                    <p>직책 : 부원</p>
                                    <p><span class="label">전화번호</span> : 02-2018-0675</p>
                                    <p><span class="label">이메일</span> : msunlight@mgcap.co.kr</p>
                                    <p><span class="label">주소</span> : &#40;06054&#41; 서울특별시 강남구 도산대로 306 MG캐피탈 7층</p>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">정보주체께서는 회사의 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 회사는 정보주체의 문의에 대해 신속히답변 및 처리해드릴 것 입니다.</h4>
                                </div>
                                <div class="text-group">
                                    <h4 class="tit">기타 개인정보침해에 대한 신고나 상담이 필요하신 경우 다음 기관에 문의하시기 바랍니다.</h4>
                                    <ul class="dot link-list">
                                        <li>
                                            <span>개인정보 침해신고센터</span> <span class="success font-bold">[<a href="http://privacy.kisa.or.kr" class="btn-text" target="_blank">privacy.kisa.or.kr</a> / 118]</span>
                                        </li>
                                        <li>
                                            <span>개인정보 분쟁조정위원회</span> <span class="success font-bold">[<a href="http://www.kopico.go.kr" class="btn-text" target="_blank">www.kopico.go.kr</a> / 02-2100-2499]</span>
                                        </li>
                                        <li>
                                            <span>대검찰청 사이버범죄수사단</span> <span class="success font-bold">[<a href="http://www.spo.go.kr" class="btn-text" target="_blank">www.spo.go.kr</a> / 1301]</span>
                                        </li>
                                        <li>
                                            <span>경찰청 사이버테러대응센터</span>
                                            <span class="success font-bold">[<a href="http://cyberbureau.police.go.kr" class="btn-text" target="_blank">cyberbureau.police.go.kr</a> / 182]</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="section11" class="text-group">
                                <h3>개인신용정보 관리 · 보호지침 변경</h3>
                                <p>법령 개정 및 당사의 정책 변경 등의 사유로 개인신용정보 관리·보호지침을 변경하는 경우 개정된 사항을 쉽게 알아 보실 수 있도록 홈페이지에 게시합니다.</p>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
            <div data-include-path="../../views/COMMON/footer.html"></div>
        </div>
    </body>
</html>
