<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>소멸시효 완성여부조회&gt;고객센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../../views/COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><a href="/" id="contentArea"><span class="home">홈</span></a></li>
                        <li><span>고객센터</span></li>
                        <li><span>소멸시효 완성여부조회</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>소멸시효 완성여부조회</h2>
                </section>
                <section class="page-container WCS70100VQ">
                    <div class="table-content">
                        <div class="group">
                            <h3>소멸시효 완성여부조회 목록</h3>
                            <div class="table-group">
                                <div class="caption-box">
                                    <p>기준일 : 2025-09-22</p>
                                    <p>단위: 원</p>
                                </div>
                                <table class="mo-s">
                                    <caption>소멸시효 완성여부조회 목록표(번호, 실행번호, 이용자명, 실행금액, 실행일자, 만기일자, 상품명, 여신잔액, 소멸시효 완성여부, 소멸시효 완성일자 포함)</caption>
                                    <colgroup>
                                        <col style="width:64px">
                                        <col style="width:108px">
                                        <col style="width:auto">
                                        <col style="width:157px">
                                        <col style="width:156px">
                                        <col style="width:121px">
                                        <col style="width:130px">
                                        <col style="width:131px">
                                        <col style="width:110px">
                                        <col style="width:111px">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">번호</th>
                                            <th scope="col">실행번호</th>
                                            <th scope="col">이용자명</th>
                                            <th scope="col">실행금액</th>
                                            <th scope="col">실행일자</th> 
                                            <th scope="col">만기일자</th> 
                                            <th scope="col">상품명</th> 
                                            <th scope="col">여신잔액</th> 
                                            <th scope="col">소멸시효 완성여부</th> 
                                            <th scope="col">소멸시효 완성일자</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="10" class="nodata">데이터가 존재하지 않습니다.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="m-dot">
                                <li><strong>소멸시효 완성 :</strong>관리자가 일정기간 권리를 행사할 수 있음에도 불구하고 일정기간 권리를 행사하지 않은 경우 그 권리는 소멸하게 하는 제도입니다.<br />
                                    (금융회사가 일정기간 채권회수운용을 하지 않은 경우 그 채원을 소멸하게 하는 제도입니다.)</li>
                                <li><strong>소멸시효 기간 :</strong>각 권리마다 소멸시효 기간이 법으로 정해져 있는바, 일반적으로 금융회사 여신의 소멸시효 기간은 5년입니다.</li>
                                <li><strong>소멸시효 중단 :</strong>소멸시효 기간의 진행 중에 관리자가 일정한 행위(청구, 지급명령, 압류/가압류/가처분 등)을 하여 이미 경과한 소멸시효기간을 소멸하게 하고 다시 소멸시효를 진행하게 하는 것을 말합니다.</li>
                            </ul>
                        </div>
                        <div class="info-content bo-t0">
                            <div class="note-group">
                                <p class="tit">유의사항 안내</p>
                                <ul class="dot">
                                    <li><strong>소멸시효 중단 사유중 “지급명령"(채권에 법원의  최종판결이 있는 경우 포함)은 소멸시효 기간이 5년에서 10년으로 연장됩니다.
                                        당사는 소멸시효가 완성될 것으로 예상된 채권 중 그 차주에 대한 사회적 배려(사망자, 노령자, 기초수급자, 중증장애인등)가 필요하다고
                                        판단되는 경우에 대해서는 소멸시효 중단 조취를 취하지 않습니다.</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
 