@charset "UTF-8";
/* 모바일 폰트 사이즈 기준 [html::18px], 짝수 단위입니다.[짝수 단위로 할 경우 소수점 최대 3자리로 떨어집니다.] */
/*---------------------------------------------
	#디폴트
---------------------------------------------*/
* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
  word-wrap: break-word;
  transition: all 0.2s;
}

html {
  font-size: 18px;
} /*  기본 폰트 사이즈 18px */
body {
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  font-family: "Noto Sans KR", "Pretendard", "Spoqa Han Sans Neo", "Apple SD Gothic Neo", sans-serif;
  color: #454545;
  -webkit-overflow-scrolling: touch;
}

body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, li, ol, li, table, caption, th, td, form, fieldset, legend, address, div, p, span, a {
  margin: 0;
  padding: 0;
}

ul, ol, li, dl, dt, dd {
  list-style: none;
}

form, fieldset, legend, input, button, textarea, label {
  color: #454545;
}

div, img, form, fieldset, button, blockquote, p, hr, select, input {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

img, table {
  width: 100%;
}

legend, caption {
  visibility: hidden;
  position: absolute;
}

input, textarea, select, address {
  font-family: "Pretendard", "Spoqa Han Sans Neo", "Apple SD Gothic Neo", sans-serif;
}

input, button, select, textarea {
  font-family: inherit;
}

input, textarea, select {
  display: inline-block;
  vertical-align: middle;
  color: #454545;
}

img {
  line-height: 0;
  font-size: 0;
  vertical-align: top;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

address, em {
  font-style: normal;
}

button {
  background-color: transparent;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

a {
  display: block;
  color: #454545;
}

a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  cursor: pointer !important;
}

.tal {
  text-align: left !important;
}

.tac {
  text-align: center !important;
}

.tar {
  text-align: right !important;
}

p {
  color: #757575;
}

/*---------------------------------------------
	#인풋 리셋
---------------------------------------------*/
input, .se-select select {
  display: block;
  width: 100%;
  line-height: initial;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background-color: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

input:disabled {
  cursor: initial;
}

input[type=number], input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=password]::-ms-reveal {
  display: none;
}

input[type=radio], input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

textarea:-webkit-autofill, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:hover {
  box-shadow: 0 0 0 1000px #ffffff inset !important;
}

/*---------------------------------------------
    #flex 레이아웃
---------------------------------------------*/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.col {
  position: relative;
  flex: 1;
}

.col-1 {
  flex: 1 !important;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

.gap5 {
  gap: 5px;
}

.gap10 {
  gap: 10px;
}

.gap13 {
  gap: 13px;
}

.gap20 {
  gap: 20px;
}

.gap30 {
  gap: 30px;
}

.auth.flex-row > div.col:first-child {
  flex: 0 0 152px;
}

.auth.flex-row > div.col:last-child {
  flex: 0 0 152px;
  padding-left: 7px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
} 

/*# sourceMappingURL=default.css.map */
