@charset "euc-kr";
body{
  --btn-board:var(--color-9);
  --btn-padding:20px 16px;
  --btn-font-color:var(--color-75);
  --btn-active:var(--primary);

  --btn-content-font-size:var(--font16);
  --btn-content-font-color:var(--white);
  --btn-content-background:var(--color-2);
  --btn-content-active:var(--primary);
  --btn-content-diasbled:var(--color-d);
  --btn-content-d-font-color:var(--color-75);

  --btn-modal-border:var(--color-e);
  --btn-modal-font-color:var(--color-75);

  --btm-btn-primary:#6A6A6A;
  --btm-btn-primary-active:var(--active);
  --btm-btn-font-size:var(--font24);
  --btm-btn-font-weight:var(--font-w-r);

}

button, a { cursor:pointer; }

/**Form btn**/
.btn-form { width:100%; max-width:152px; height:67px; padding:var(--btn-padding); border:1px solid var(--btn-board); color:var(--btn-font-color); box-sizing:border-box; text-align:center; }
.btn-form:hover { border-color:var(--btn-active); color:var(--btn-active);}

/**Contents & Modal**/

.btn-content { padding:12px; width:170px; height:48px; line-height:24px; background:var(--btn-content-background); color:var(--btn-content-font-color); box-sizing:"border-box"; }
.btn-content:hover { background:var(--btn-content-active);}
.btn-content:disabled { background:var(--btn-content-diasbled); color:var(--btn-content-d-font-color); }

.btn-terms-modal { padding: 2px 10px 4px; border: 1px solid var(--btn-modal-border); color:var(--btn-modal-font-color); }
.btn-terms-modal:hover { border-color: #222222; color: #222222; }

.btn-ico-del, .btn-ico-mod, .btn-ico-close { font-size:0; border-radius:4px; }
.btn-ico-del:hover, .btn-ico-mod:hover, .btn-ico-close:hover { font-size:0; background-color:#f6f6f6; border-radius:4px; }

.btn-ico-del { background-image:url("../../images/com/svg/ico_delete.svg"); }
.btn-ico-del:hover { background-image:url("../../images/com/svg/ico_delete_active.svg"); }

.btn-ico-mod { background-image:url("../../images/com/svg/ico_modify.svg"); }
.btn-ico-mod:hover { background-image:url("../../images/com/svg/ico_modify_active.svg"); }

.btn-ico-close {  width:28px; height:28px; background-image:url("../../images/com/svg/ico_close.svg"); background-color:#fff; background-repeat:no-repeat; background-position:center; background-size:16px; }


/**리스트 버튼**/
.list-content td button,
.list-content td a {  display:block; margin:0 auto; width:32px; height:32px; background-color:#fff; background-repeat:no-repeat; background-position:center; background-size:20px; border-radius:4px; font-size:0;  }

/**닫기 아이콘 버튼 **/



/**CTA 01**/
.button-content .btn,
.button-content a,
.button-content button {  display:inline-block; margin:0 auto; padding:17px 16px 17px; font-size:var(--btm-btn-font-size); font-weight:var(--btm-btn-font-weight); text-align:center; min-width:220px;  height:56px; line-height:0.9; }
.button-content .btn-primary { background-color: var(--btm-btn-primary); color:var(--white); }
.button-content .btn-primary:hover { background-color: var(--active); }
.button-content .btn-secondary { background-color: var(--btm-btn-secondary); }
.button-content button:disabled,
.button-content a[aria-disabled="true"] { text-decoration:none; cursor: not-allowed; background-color:var(--color-d); color:var(--color-75); pointer-events:none;}

