@charset "euc-kr";
body {
    --form-font-size:var(--font16);
    --form-font-size:var(--font16);
    --form-board:var(--color-d);
}



input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {  padding:10px; width:100%; height:46px; border:1px solid #ddd; color:#222; border-radius:4px; font-size:var(--form-font-size); }
select {  padding-right:54px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:url("../../images/com/svg/ico_select.svg") no-repeat right 10px center; }

input[type="text"]::Placeholder,
input[type="password"]::placeholder,
input[type="email"]::Placeholder,
input[type="number"]::Placeholder,
select:invalid { color:#999; }

input:disabled,
select:disabled,
textarea:disabled { background:#F6F6F6; color:#757575; border:1px solid #ddd; }

input[type="checkbox"], input[type="radio"] {  position:absolute; width:1px; height:1px; clip: rect(0 0 0 0); clip-path: inset(50%); overflow:hidden; }

label.check > span,
label.radio > span { display:flex; gap:8px; align-items:center; color:#757575; font-size:var(--form-font-size);  }
label.check > span::before,
label.radio > span::before { content:""; display:block; width:24px; height:24px; background-size:24px; background-position:center; background-repeat:no-repeat; }
label.check > input:checked + span,
label.radio > input:checked + span { color:#222; font-weight:500;  }
label.check > input + span::before { background-image:url("../../images/com/svg/ico_check_default.svg"); }
label.check > input:checked + span::before { background-image:url("../../images/com/svg/ico_check_checked.svg"); }
label.check > input:disabled + span::before { background-image:url("../../images/com/svg/ico_check_disabled.svg"); }
label.radio > input + span::before { background-image:url("../../images/com/svg/ico_radio_default.svg"); }
label.radio > input:checked + span::before { background-image:url("../../images/com/svg/ico_radio_checked.svg"); }
label.radio > input:disabled + span::before { background-image:url("../../images/com/svg/ico_radio_disabled.svg"); }



input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus { border:1px solid #2392FF; outline:0; }


.ipt-clear { position:relative; }
.ipt-clear > input[type="text"] { padding-right:40px;  }
/*.ipt-clear > input[type="text"]:focus { outline: 2px solid #5b9dd9; outline-offset: 2px; }*/

.btn-clear { position:absolute; top:50%; right:8px; transform:translateY(-50%); width:24px; height:24px; border:0; background:transparent; cursor:pointer; font-size:18px; line-height:1; opacity: .6; }
/*.btn-clear:hover, .btn-clear:focus { opacity: 1; outline: 2px solid #5b9dd9; outline-offset: 2px; }*/

