@charset "euc-kr";

.flex-col { display:flex;  }

/*---------------------------------------------
	#쐑줱 잋첇쮅
---------------------------------------------*/
html,body { height:100%; }
body { position: relative; -webkit-text-size-adjust: none; min-width:1200px; }
.wrap { position: relative; margin: 0 auto; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction: column; height:100%; /*overflow: hidden;*/ }

h1, h2, h3, h4, h5, h6 { color:#222222; }
/* safe-area */
/*.wrap { padding-right:constant(safe-area-inset-right); padding-left:constant(safe-area-inset-left); padding-right:env(safe-area-inset-right); padding-left:env(safe-area-inset-left); }*/



/*---------------------------------------------
	#侍
---------------------------------------------*/
/* 侍 잋첇쮅 */
#headerWrap{ display:flex; justify-content:space-between; align-items:center; padding:16px 60px 16px 20px; width:100%; height:63px; background:#1a1a1a;  background:var(--header);  }
#headerWrap h1{ display:block; width:125px; height:24px; font-size:0; }
#headerWrap h1 a{ display:block; width:100%; height:100%; text-indent:-9999px; background:url("../../images/com/logo.png"); }
#headerWrap .recent-content{ display:flex; align-items:center; font-size:14px; font-size:var(--font16); font-weight:350; color:#fff; color:var(--white); }
#headerWrap .recent-content > * + *{ margin-left:20px; }
#headerWrap .recent-content button { display:block; padding:5px 10px; background:var(--white); color:var(--color-3); border-radius:30px; font-size:var(--font14); }

.bodyWrap {  display:flex; width:100%; height:100%; }

/**췕Т**/
#menuWrap {  flex:0 0 240px; width:240px; /*position:fixed; left:0; top:62px; bottom:0;*/ background:#384150; }
#menuWrap button,
#menuWrap a { position:relative; display:block; width:100%; padding:20px 12px 20px 20px; background:transparent; color:#fff; }
#menuWrap .link::after { content:""; display:block; position:absolute; right:12px; top:50%; transform:translateY(-50%); width:20px; height:20px; background:url("../../images/com/svg/ico_link.svg") no-repeat center; background-size:auto 13px; }
#menuWrap > .member { display:block; background:#424B59; border-bottom:2px solid #273141; }
#menuWrap > .member button { display:block; font-size:var(--font20); }
#menuWrap > ul > li.item > .accordion{ display:block; width:100%; font-weight:400; text-align:left; }
#menuWrap > ul > li.item > .accordion::after { content:""; display:block; position:absolute; right:12px; top:50%; transform:translateY(-50%); width:20px; height:20px; background:url("../../images/com/svg/ico_accordin.svg") no-repeat center; background-size:auto 7px;  transition:transform 0.3s ease; }
#menuWrap > ul > li.item.acitve { background:#2B3443; }
#menuWrap > ul > li.item.acitve > .accordion { background:linear-gradient(90deg, #0072BC 0%, #41C7F4 100%); }
#menuWrap > ul > li.item.acitve > .accordion::after { transform: translate(0, -50%) rotate(180deg); } 

#menuWrap .submenu { max-height:0; overflow:hidden; transition:max-height 0.3s ease-in-out, padding 0.3s ease-in-out, opacity 0.3s ease-in-out; opacity: 0; }
#menuWrap .submenu li > a { display:block; padding:16px 12px 16px 28px; }
#menuWrap li.acitve > .submenu { max-height:600px; opacity:1; }
#menuWrap li.acitve > .submenu a.link { color:#ddd; font-size:16px; font-weight:400; }
#menuWrap .accordion:hover { background-color: rgba(255, 255, 255, 0.1); transition: background-color 0.2s ease; }

/**콪첇**/
h3 {  display:block; padding:20px; font-size:var(--font18); font-weight:var(--font-w-m); color:#222; }

/**컈쾇**/
.contentWrap { flex:1;  padding:48px 60px 120px ; width:calc(100% - 240px); height:calc(100% - 60px); background-size:100%; }
.contentWrap > div {width:100%; }
.form-container { width:100%; }

/**쮇앁졽쏮**/
.info-list li{ display:block; margin-bottom:10px; padding-left:24px; min-height:20px; background-image:url("../../images/com/svg/ico_info.svg"); background-repeat:no-repeat; background-position:left 2px; background-size:17px; color:#757575; font-size:0.778rem;  }
.info-list li:last-of-type { margin-bottom:0; }

/**큍컈쾇**/
.form-content .form-wrap { display:flex; width:100%; gap:30px;  }
.form-content .form-wrap .form-group { flex:1; }

/**쟕쫔퀉**/
.form-container + .list-container { margin-top:24px; }
.list-container { width:100%; border:1px solid #ddd; border-radius:20px; }
.form-container fieldset.search { display:flex; justify-content:flex-end; gap:14px;  }
.form-container fieldset.search > select { width:120px; }
.form-container fieldset.search > input { width:264px; }


/*---------------------------------------------
    #퀢쮱 잋첇쮅 :: layerPopup > z-index:110; ;
---------------------------------------------*/
.layerPopup { z-index:110;  display:none; flex-direction: column; position: fixed; top:0; left:0; background-color:#fff; overflow: hidden; width:100%; visibility: hidden; opacity: 0; transition: opacity 0.3s ease;}
.layerPopup .pop-area:focus-visible { outline: 2px solid var(--outline); outline-offset: -2px; }
.layerPopup.full.on::before,
.layerPopup.btmSheet.on::before,
.layerPopup.modal.on::before { content: ''; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.3); z-index:-1; }
/* 퀢쮱_侍 */
.layerPopup .pop-header { display:flex; justify-content:space-between; align-items:center;  margin-bottom:26px;  width:100%;  }
.layerPopup .pop-header .pop-tit h2 { display:block; font-size:1.111rem; font-weight:600; }
.layerPopup .pop-header .pop-tit 

/* 퀢쮱_컢쾇 */
.layerPopup .pop-con-wrap { width:auto; height:100%; overflow-y: auto; }
.layerPopup.on { display:block; visibility: visible;  opacity: 1; }
.layerPopup .pop-header.on,
.pop-btm-wrap.on { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }/*쫔콜쟙퀉 :: 쫔콜*/
/* 퀢쮱_킱퀢쮱 */
.layerPopup.full > .pop-area { display: flex; flex-direction: column; height:100dvh; }
.layerPopup.full .pop-con-wrap { /*padding-top:60px;*/ flex:1 1 auto; }
.layerPopup.full { display:initial;  min-height:auto;}

/* 퀢쮱_젏퀢쮱*/
.layerPopup.modal .pop-area { position:fixed; padding:40px; width:540px; height:auto; top:50%; left:50%; transform:translate(-50%, -50%); border-radius:12px; overflow:hidden; background-color:#fff;}
.layerPopup.modal .pop-con-wrap {  padding-bottom:30px; font-size:1rem; }
.layerPopup.modal .pop-con-wrap .tit { margin-bottom:12px; font-size:1.111rem; font-weight:500;}
.layerPopup.modal .pop-btm-wrap .btm-btn-area { display:flex; justify-content:flex-end; gap:16px; }
.layerPopup.modal .pop-btm-wrap .btm-btn-area button, 
.layerPopup.modal .pop-btm-wrap .btm-btn-area a { display:block; width:106px; height:40px; border-radius:100px; font-size:0.889rem; text-align:center; font-weight:500; }
.layerPopup.modal .pop-btm-wrap .btm-btn-area button.btn-secondary { color:#454545; background:#fff; border:1px solid #eee; }
.layerPopup.modal .pop-btm-wrap .btm-btn-area button.btn-primary { color:#fff; background:#41A6F4; border:1px solid #41A6F4; }