@charset "euc-kr";
body {

    --ico-home:url("../../images/com/svg/ico_home.svg");
    --ico-next:url("../../images/com/svg/ico_next.svg");
    --title-color:var(--color-2);
    --error:#F46241;
    --write-bg:#F6F7F9;

    --pop-wrt-label-color:var(--color-75);
}

.flex-col { display:flex;  }

/*---------------------------------------------
	#기본 레이아웃
---------------------------------------------*/
html,body { height:100%; }
body { position: relative; -webkit-text-size-adjust: none; min-width:1200px; overflow:hidden; }
.wrap { position: relative; margin: 0 auto; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction: column; height:100%; /*overflow: hidden;*/ }

h1, h2, h3, h4, h5, h6 { color:var(--color-2); }
/* safe-area */
/*.wrap { padding-right:constant(safe-area-inset-right); padding-left:constant(safe-area-inset-left); padding-right:env(safe-area-inset-right); padding-left:env(safe-area-inset-left); }*/



/*---------------------------------------------
	#헤더
---------------------------------------------*/
/* 헤더 레이아웃 */
#headerWrap{ display:flex; justify-content:space-between; align-items:center; padding:16px 60px 16px 20px; width:100%; height:63px; background:#1a1a1a;  background:var(--header);  }
#headerWrap h1{ display:block; width:125px; height:24px; font-size:0; }
#headerWrap h1 a{ display:block; width:100%; height:100%; text-indent:-9999px; background:url("../../images/com/logo.png") no-repeat; }
#headerWrap .recent-content{ display:flex; align-items:center; font-size:14px; font-size:var(--font16); font-weight:350; color:#fff; color:var(--white); }
#headerWrap .recent-content > * + *{ margin-left:20px; }
#headerWrap .recent-content button { display:block; padding:5px 10px; background:var(--white); color:var(--color-3); border-radius:30px; font-size:var(--font14); }

.bodyWrap {  display:flex; width:100%; height:calc(100% - 60px); }

/**왼쪽메뉴**/
#menuWrap {  flex:0 0 240px; width:240px; min-height:100%; /*position:fixed; left:0; top:62px; bottom:0;*/ background:#384150; }
#menuWrap button,
#menuWrap a { position:relative; display:block; width:100%; padding:20px 12px 20px 20px; background:transparent; color:#fff; text-align:left; }
#menuWrap .link::after { content:""; display:block; position:absolute; right:12px; top:50%; transform:translateY(-50%); width:20px; height:20px; background:url("../../images/com/svg/ico_link.svg") no-repeat center; background-size:auto 13px; }
#menuWrap > .member { display:block; background:#424B59; border-bottom:2px solid #273141; }
#menuWrap > .member button { display:block; font-size:var(--font20); }
#menuWrap > ul > li.item > .accordion{ display:block; width:100%; font-weight:400; text-align:left; }
#menuWrap > ul > li.item > .accordion::after { content:""; display:block; position:absolute; right:12px; top:50%; transform:translateY(-50%); width:20px; height:20px; background:url("../../images/com/svg/ico_accordin.svg") no-repeat center; background-size:auto 7px;  transition:transform 0.3s ease; }
#menuWrap > ul > li.item.acitve { background:#2B3443; }
#menuWrap > ul > li.item.acitve > .accordion { background:linear-gradient(90deg, #0072BC 0%, #41C7F4 100%); }
#menuWrap > ul > li.item.acitve > .accordion::after { transform: translate(0, -50%) rotate(180deg); } 

#menuWrap .submenu { max-height:0; overflow:hidden; transition:max-height 0.3s ease-in-out, padding 0.3s ease-in-out, opacity 0.3s ease-in-out; opacity: 0; }
#menuWrap .submenu li > a { display:block; padding:16px 12px 16px 28px; }
#menuWrap li.acitve > .submenu { max-height:600px; opacity:1; }
#menuWrap li.acitve > .submenu a.link { display:block; color:#ddd; font-size:16px; font-weight:400; text-align:left; }
#menuWrap .accordion:hover { background-color: rgba(255, 255, 255, 0.1); transition: background-color 0.2s ease; }



/*---------------------------------------------
	#메인
---------------------------------------------*/
/**h2 및 위치**/
.title_container { display:flex; align-items:center; justify-content:space-between; padding-bottom:34px; margin-bottom:42px; border-bottom:1px solid var(--color-e);  }
.title_container ul.location_content { display:flex; align-items:center; gap:0; }
.title_container ul.location_content li { display:flex; align-items:center; }
.title_container ul.location_content li a,
.title_container ul.location_content li button { font-size:var(--font16); color:var(--color-75); }
.title_container ul.location_content li a.home { font-size:0; }
.title_container ul.location_content li a.home::before { content:""; display:block; margin:0 auto; width:22px; height:22px; background:var(--ico-home) no-repeat center;    }
.title_container ul.location_content li::before { content:""; display:block; margin:0 8px; width:20px; height:20px; background:var(--ico-next) no-repeat center; }
.title_container ul.location_content li:first-of-type:before { display:none; } 
.title_container ul.location_content li:last-child a,
.title_container ul.location_content li:last-child button { font-weight:var(--font-w-m); }

/**타이틀**/
h3 {  display:block; padding:20px; font-size:var(--font18); font-weight:var(--font-w-m); color:#222; }

/**컨텐츠**/
.contentWrap { flex:1;  padding:48px 60px 120px ; width:calc(100% - 240px); min-width:1400px; overflow:auto; }
.contentWrap:has(.write-container) { background:var(--write-bg); }
.contentWrap > div {width:100%; }
.form-container { width:100%; }

/**안내문구**/
.info-content { padding:20px; }
.info-list li{ display:block; margin-bottom:10px; padding-left:24px; min-height:20px; background-image:url("../../images/com/svg/ico_info.svg"); background-repeat:no-repeat; background-position:left 2px; background-size:17px; color:#757575; font-size:0.778rem;  }
.info-list li:last-of-type { margin-bottom:0; }

/**폼컨텐츠**/
.form-content .form-wrap { display:flex; width:100%; gap:30px;  }
.form-content .form-wrap:has(fieldset:only-of-type) { justify-content:flex-end; }
.form-content .form-wrap .form-group { flex:1; }

/**리스트**/
.form-container + .list-container { margin-top:24px; }
.list-container { width:100%; border:1px solid #ddd; border-radius:20px; overflow:hidden; }
.list-container h3 { border-bottom:1px solid var(--color-d); }
.contentWrap:has(.list-container) .form-container .form-wrap { justify-content:space-between;  }

.form-container fieldset { gap:18px; }
.form-container fieldset.search { display:flex; justify-content:flex-end; gap:14px;  }
.form-container fieldset.search > select { width:120px; }
.form-container fieldset.search > input { width:264px; }
.list-container:has(tr.error) span.error{ display:block; margin-top:16px; color:var(--error); }
.list-container + .list-container { margin-top:36px; }


/*쓰기**/
.write-container td fieldset { gap:18px; }
.write-container { width:100%; padding:44px 24px; background:var(--white); border-radius:20px; overflow:hidden; }
.write-container td .edt { width:653px; height:490px; }




/*---------------------------------------------
    #팝업 레이아웃 :: layerPopup > z-index:110; ;
---------------------------------------------*/
.layerPopup { z-index:110;  display:none; flex-direction: column; position: fixed; top:0; left:0; background-color:#fff; overflow: hidden; width:100%; visibility: hidden; opacity: 0; transition: opacity 0.3s ease;}
.layerPopup .pop-content:focus-visible { outline: 2px solid var(--outline); outline-offset: -2px; }
.layerPopup.full.on::before,
.layerPopup.btmSheet.on::before,
.layerPopup.modal.on::before { content: ''; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.3); z-index:-1; }
/* 팝업_헤더 */
.layerPopup .pop-header { display:flex; justify-content:space-between; align-items:center;  margin-bottom:26px;  width:100%;  }
.layerPopup .pop-header .pop-tit h2 { display:block; font-size:1.111rem; font-weight:600; }
.layerPopup .pop-header .pop-tit 

/* 팝업_콘텐츠 */
.layerPopup .pop-content { position:fixed; padding:40px 0; min-width:540px; height:auto; top:50%; left:50%; transform:translate(-50%, -50%); border-radius:12px; overflow:hidden; background-color:var(--white);}
.layerPopup .pop-body { width:auto; padding:0; max-height:508px; height:100%; overflow-y: auto; }
.layerPopup.on { display:block; visibility: visible;  opacity: 1; }
.layerPopup .pop-header.on,
.pop-btm-wrap.on { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }/*스크립트 :: 스크롤*/
/* 팝업_풀팝업 */
.layerPopup.full > .pop-content { display: flex; flex-direction: column; height:100dvh; }
.layerPopup.full .pop-body { /*padding-top:60px;*/ flex:1 1 auto; }
.layerPopup.full { display:initial;  min-height:auto;}

/* 팝업_모달팝업*/
.layerPopup.modal .pop-content { position:fixed; padding:40px 0; min-width:540px; height:auto; top:50%; left:50%; transform:translate(-50%, -50%); border-radius:12px; overflow:hidden; background-color:#fff;}
.layerPopup.modal .pop-content.alert { min-width:445px; }
.layerPopup.modal .pop-header { padding:0 40px; }
.layerPopup.modal .pop-body {  margin-bottom:30px; padding:0 40px; max-height:508px; height:100%; overflow-x:hidden; overflow-y:auto; font-size:1rem; }
.layerPopup.modal .pop-body .tit { margin-bottom:12px; font-size:1.111rem; font-weight:500;}
.layerPopup.modal .pop-footer .button-content { display:flex; justify-content:flex-end; gap:16px; padding:0 40px; }

/**팜업_등록*/
.pop-body fieldset {  display:block; width:100%; }
.pop-body .write-content li{ display:grid; grid-template-columns:130px 1fr; column-gap:20px; align-items:center; margin-bottom:20px; }
.pop-body .write-content li > label { grid-column:1; }
.pop-body .write-content li > input[type="text"] { grid-column:2; width:100%; }
.pop-body .info-content li { font-size:var(--font18); background-size:20px; background-position:left 5px; color:var(--color-45); }
.pop-body .info-content { margin-top:20px; padding:16px 0; border-top:1px solid var(--color-d); }

