@charset "EUC-KR";

/* 고객 민원 상세 */
.bg-gray { background-color: #F6F7F9; }

.detail-container { background: #FFF; padding: 44px 24px; border-radius: 10px; }
.detail-content td { text-align: left; padding: 24px 20px; }
.detail-content textarea { min-height: 138px; }