@charset "euc-kr";

/* 모바일 폰트 사이즈 기준 [html::18px], 짝수 단위입니다.[짝수 단위로 할 경우 소수점 최대 3자리로 떨어집니다.] */
:root {
    --font12: 0.667rem;  
    --font14: 0.778rem;  
    --font16: 0.889rem; 
    --font18: 1rem;      
    --font20: 1.111rem;  
    --font22: 1.222rem;  
    --font24: 1.333rem;  
    --font26: 1.444rem;  
    --font28: 1.556rem;  
    --font30: 1.667rem;  
    --font32: 1.778rem;  
    --font34: 1.889rem;  
    --font36: 2rem;     
    --font38: 2.111rem;  
    --font40: 2.222rem; 

    --font-w-b: 600;
    --font-w-m: 500;
    --font-w-r: 400;
    --font-w-l: 300;
  }
  

body {
    
    --dim: rgba(0, 0, 0, 0.5);
    --white-dim: rgba(255, 255, 255, 0.5);

    --active: #2392FF;

    --red: #FF0000;
    --white: #FFFFFF;


    --border:#E5E5EA;

    --color-2:#222222;
    --color-3:#333333;
    --color-45:#454545;
    --color-75:#757575;
    --color-9:#999999; 

    --color-fa:#FDFDFD;
    --color-f8:#F8F8F8;
    --color-c:#CCCCCC;
    --color-ab:#ABABAB;
    --color-e:#EEEEEE;
    --color-d:#DDDDDD;
    --color-f6:#F6F6F6;
    
    --primary: #0072BC;
    --primary-light: #41C7F4;
    --secondary: #BAD1EC;
    --dissabled: var(--color-f6);
    --default-color:#757575;

    --header:#172233;
    

}
