@charset "euc-kr";
body {
  --tab-font-color: #666666;
  --tab-font-size: var(--font22);
  --tab-border: var(--primary);
  --tab-active: var(--color-45);
}

/* 스크린 리더 전용 텍스트 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.tab-list { display: flex; margin-bottom: 42px; width: 100%; border-bottom: 1px solid var(--color-e); }
.tab-container .tab-list.depth1 li.tab-item button,
.tab-container .tab-list.depth1 li.tab-item a {
  padding: 24px 0; width: 180px; font-size: var(--tab-font-size); color: var(--tab-font-color); }
.tab-container .tab-list.depth1 li.active button,
.tab-container .tab-list.depth1 li.active a {
  border-bottom: 4px solid var(--tab-border); font-weight: var(--font-w-b); color: var(--tab-active) }
