@charset "euc-kr";

body {
    --table-border:var(--color-d);
    --table-th:#F8FAFC;
    --error-td:#FFF8F8;
}

table{ border-spacing:0; border-collapse: collapse; table-layout:fixed; min-width:1200px; }
table tr { border-bottom:1px solid var(--table-border); }
table th,
table td { padding:10px; text-align:center; color:var(--default-color); font-size:var(--font16); font-weight:var(--font-w-m); text-align:center; }
table th { height:49px; background:var(--table-th); font-weight:var(--font-w-r); }
table td { height:72px; }
.sbject { text-align:left; }

.list-content thead tr:first-of-type,
.list-content:not(:has(thead)) tr:first-of-type { border-top:1px solid var(--table-border); }

.list-container .list-content thead tr:first-of-type,
.list-container .list-content:not(:has(thead)) tr:first-of-type { border-top:0; }

.list-content th,
.list-content td { border-left:1px solid var(--table-border); }
.list-content th:first-of-type,
.list-content td:first-of-type { border-left:0; }
.list-content td:has(input:not(.toggle input)) { padding:20px 24px; }

.list-content thead th { position:sticky; top:0; }

.write-content th, td { padding:10px 20px; }
.write-content td { text-align:left; }
.write-content tr:first-of-type { border-top:1px solid var(--table-border); }

tr.error td { background:var(--error-td); }

col.num { width:120px; min-width:80px; }
col.w_w_194 { width:194px; min-width:194px; }
col.auto { width:auto; min-width:300px }
col.toggle { width:74px; min-width:74px }
col.txt-btn { width:120px; min-width:80px }
col.ico-btn { width:94px; min-width:74px }


.list-content td:first-of-type.bo-l { border-left:1px solid var(--color-d); }
.list-content td:first-of-type.bo-r { border-right:1px solid var(--color-d); }
.list-content td:first-of-type.bo-b { border-bottom:1px solid var(--color-d); }
.list-content td:first-of-type.bo-t { border-top:1px solid var(--color-d); }

/** 총 접속화면 **/
.tbl-total-row { background: var(--table-th); }
.tbl-total-row > td { font-weight: 700; }
.tbl-total-row > td:first-child { color: var(--color-2); }
.tbl-total-row > td:nth-child(2) { color: var(--primary); }

/** info-content 없을 때 **/
.list-container:not(:has(.info-content)) table tbody tr:last-child { border-bottom:0; }
.list-container:has(.pagination-content) table tbody tr:last-child,
.pop-body .list-container table tbody tr:last-child { border-bottom:1px solid var(--table-border); }

/** 활성/비활성 **/
.active { font-size:var(--font16); font-weight:var(--font-w-r); color:var(--primary); }
.n-active { font-size:var(--font16); font-weight:var(--font-w-r); color:var(--color-9); }