<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>채용공고&gt;채용정보&gt;회사소개&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/nav.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/tab.css" />
    <link rel="stylesheet" href="../../assets/css/com/table.css" />
    <link rel="stylesheet" href="../../assets/css/com/content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
    <script src="../../assets/js/include.js"></script>
</head>

<body>
    <div class="wrap">
        <div data-include-path="../COMMON/header.html"></div>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li><span class="home">홈</span></li>
                        <li><span>회사소개</span></li>
                        <li><span>채용 정보</span></li>
                        <li><span>채용공고</span></li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>채용공고</h2>
                </section>
                <section class="page-container WCR50101DQ">
                    <div class="view-content">
                        <div class="view-group">
                            <div class="view-subject">
                                2025년 MG캐피탈 신입사원 공채
                                <span class="date">YYYY.MM.DD ~ <span class="point-r">YYYY.MM.DD HH.MM.SS</span></span>
                                <span class="inquiry">24</span> <!-- S & E : 2025.11.25 조회수 클래스 및 텍스트 추가 -->
                            </div>
                            <div class="view-cont">
                                <p>2025년 MG캐피탈 신입사원 공채 <br>상세 내용이 들어갑니다</p>
                                <p>입사지원은 아래 지원하기 버튼을 눌러 신청해주시기 바랍니다.</p>
                            </div>
    
                            <dl class="attach">
                                <dt>첨부파일<span class="num">(1)</span></dt>
                                <dd>
                                    <a href="#">첨부파일한글명.pdf</a>
                                </dd>
                            </dl>

                            <div class="btn-content cta">
                                <div class="button-group">
                                    <a href="./WCR50100VQ.html" class="btn-secondary">목록</a>
                                    <a href="./WCR50201DS.html" class="btn-primary">지원하기</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div data-include-path="../../views/COMMON/footer.html"></div>
    </div>
</body>
</html>
