<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>고객확인제도&gt;약관 및 정책&gt;고객센터&gt;홈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />
        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
    </head>

    <body>
        <div class="wrap">
            <header id="headerWrap" class="headerOn">
                <nav class="lnb"></nav>
            </header>
            <div class="bodyWrap">
                <main class="contentWrap">
                    <nav class="location-container">
                        <ol class="breadcrumb">
                            <li>
                                <span class="home">홈</span>
                            </li>
                            <li>
                                <span>고객센터</span>
                            </li>
                            <li>
                                <span>약관 및 정책</span>
                            </li>
                            <li>
                                <span>고객확인제도</span>
                            </li>
                        </ol>
                    </nav>
                    <section class="visual-container">
                        <h2>고객확인제도</h2>
                    </section>
                    <section class="page-container">
                        <select id="category" name="category">
                            <option value="2025-08-25">2025-08-25</option>
                        </select>
                        <div class="text-content">
                            <div class="text-group">
                                <h3>고객확인제도</h3>
                            </div>
                        </div>
                        <div class="text-content">
                            <div class="text-group">
                                <h4>금융회사의 고객확인을 거부할 경우, 귀하의 금융거래가 거절됩니다.</h4>
                                <p>
                                    '고객확인제도'란 금융기관 등이 제공하는 금융거래 또는 서비스가 자금세탁 등의 불법행위에 이용되지 않도록 고객확인 및 검증, 거래관계의 목적 확인 및 실소유자 확인 등
                                    고객에 대하여 합당한 주의를 기울이는 제도를 말합니다.
                                </p>
                                <p>
                                    금융회사는 신규 계좌 개설 고객 또는 2천만원(미화 1만불) 이상의 일회성 금융거래 등에 대해 성명, 주민등록번호 등 신원사항과 금융거래 목적 및 거래자금의 자금원천 등을
                                    확인하여야 하며, 2016년부터는 개정 「특정 금융거래정보의 이용 및 보호 등에 관한 법률」시행에 따라 고객확인을 거부하는 고객에 대해서는 금융거래를 거절하여야 합니다.
                                </p>
                                <p>
                                    한편, 금융회사가 고객확인 과정에서 파악한 정보는 자금세탁방지 목적으로만 관리되고 있으며,「금융실명법」및「신용정보법」등에 의해 회사 임직원이 누설하는 것을 엄격히
                                    금지하고 있으니, 안심하고 금융회사 직원의 요청에 협조하여 주시면 감사하겠습니다.
                                </p>
                                <div class="button-content">
                                    <a href="#" class="btn-download" download>고객확인제도 안내문 다운로드</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
