<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>신용정보 활용체제&gt;약관 및 정책&gt;고객센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
</head>

<body>
    <div class="wrap">
        <header id="headerWrap" class="headerOn">
            <nav class="lnb">
                
            </nav>
        </header>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li>
                            <span class="home">홈</span>
                        </li>
                        <li>
                            <span>고객센터</span>
                        </li>
                        <li>
                            <span>약관 및 정책</span>
                        </li>
                        <li>
                            <span>신용정보 활용체제</span>
                        </li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>신용정보 활용체제</h2>
                </section>
                <section class="page-container">
                    <select name="" id="">
                        <option value="2025-08-25">2025-08-25</option>
                    </select>
                    
                    <div class="text-content">
                        <div class="group">
                            <h3>신용정보 활용체제</h3>
                            <p>신용정보제공·이용자인 MG캐피탈 주식회사는 「신용정보의 이용 및 보호에 관한 법률」(이하"신용정보법") 제 31조에 따라 관리하는 개인신용정보의 보호 및 관리에 관한 기본 계획, 신용정보의 종류, 이용목적, 제공대상 및 신용정보주체의 권리 등에 대하여 다음과 같이 공시합니다.</p> 
                            
                            <div class="text-group">
                                <h4 class="tit">제1조 개인신용정보 보호 및 관리에 관한 기본 계획</h4>
                                <p>당사는 「신용정보의 이용 및 보호에 관한 법률」 등 관계법령에 따라 개인신용 정보의 효율적 이용과 체계적 관리를 도모하고, 각종 오·남용으로부터 적절히 보호하기 위하여 아래와 같이 개인신용정보를 관리하고 있습니다.</p>
                                <ol>
                                    <li>
                                        <span>1.</span> <span>고객의 사전 동의를 받거나 법령상 허용된 경우 외에는 개인신용정보를 외부에 제공하지 않으며, 관련 법령에서 규정한대로 개인신용정보의 열람·정정청구권 등 고객의 권리를 보장하고 이와 관련한 정책을 공시하여 고객의 권익을 보호할 수 있도록 지속적으로 노력하겠습니다.</span>
                                    </li>
                                    <li>
                                        <span>2.</span> <span>신용정보전산시스템에 대한 불법적인 접근 등 위험에 대하여 기술적·물리적·관리적 보완대책을 수립·시행하고 있습니다.</span>
                                    </li>
                                    <li>
                                        <span>3.</span> <span>개인신용정보를 활용한 일련의 모든 행위에 대한 사고예방을 위하여 임직원, 외주용역 및 수탁자 등 제3자에 대한 보안점검 및 교육 등을 실시하고 있습니다.</span>
                                    </li>
                                </ol>
                            </div>

                            <div class="text-group">
                                <h4 class="tit">제2조 관리하는 신용정보의 종류 및 이용목적</h4>
                                <ol class="text-list">
                                    <li>
                                        <span>1.</span> <span>신용정보의 종류</span> <!-- color: 454545, 굵기 다름 -->
                                        <ol>
                                            <li>
                                                <span>1&#41;</span> <span>개인식별 정보 : 성명, 주민등록번호, 생년월일, 주소, 전화번호, 휴대폰번호, 직장정보, E-mail주소, 계좌정보, 국적, 연락처, 외국인등록번호, 여권번호, 운전면허번호, 차량정보, 본인 음성 Data 등</span>
                                            </li>
                                            <li> 
                                                <span>2&#41;</span> <span>신용거래 정보 : 본 거래 이전 및 이후의 대출, 보증, 신용카드, 할부금융, 리스, 보험계약 정보 등 상거래 관련 정보</span>
                                            </li>
                                            <li>
                                                <span>3&#41;</span> <span>신용도 정보 : 연체, 부도,대위변제, 대지급 기타 신용질서 문란행위 등</span>
                                            </li>
                                            <li>
                                                <span>4&#41;</span> <span>신용능력 정보 : 재산, 채무, 소득의 총액, 납세실적 등</span>
                                            </li>
                                            <li>
                                                <span>5&#41;</span> <span>공공기관보유 정보 : 개인회생, 파산,면책, 채무불이행자등재 등 법원의 재판, 결정 정보, 각종 체납정보, 개인의 주민등록 관련 정보, 사회보험,공공요금 관련 정보</span>
                                            </li>
                                            <li>
                                                <span>6&#41;</span> <span>기타 본인의 신용을 판단할 수 있는 정보: 개인신용평점, 신용조회, 채무재조정약정 정보 등</span>
                                            </li>
                                            <li>
                                                <span>7&#41;</span> <span>서비스 이용과정이나 사업처리 과정에서 자동으로 수집될 수 있는 항목 : 이용자의 브라우저 종류 및 OS, 검색어, 서비스 이용 기록, IP Address, 방문 일시, 서비스 이용기록, 결제기록, 쿠키 등</span>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <span>2.</span> <span>이용목적</span>
                                        <ul class="dot"> 
                                            <li>확인 방법: 영상정보 관리책임자에게 미리 연락하고 회사를 방문하시면 확인 가능합니다.</li>
                                            <li>제휴사의 상품, 서비스 안내 및 이용권유, 고객만족도 조사, 고객유치, 시장조사 및 상품, 서비스 개발연구 등</li>
                                        </ul>
                                        <p class="rfrnc">관리하는 신용정보의 종류 및 이용목적 세부사항은 「홈페이지 → 부가정보 →「개인정보 조회동의 안내문」란에서 확인 가능합니다.</p>
                                    </li>
                                </ol>
                            </div>

                            <div class="text-group">
                                <h4 class="tit">제3조 신용정보 제공 받는자</h4>
                                <ol class="text-list">
                                    <li>
                                        <span>1.</span> <span>신용정보집중기관 및 신용조회회사, 공공기관</span>
                                        <ol>
                                            <li>
                                                <span>가.</span> <span>신용정보 집중기관 : 한국신용정보원</span>
                                            </li>
                                            <li>
                                                <span>나.</span> <span>신용조회회사 : NICE평가정보(주), 코리아크레딧뷰로(주) 등</span>
                                            </li>
                                            <li>
                                                <span>다.</span> <span>제공목적 : 본인의 신용도 평가, 실명확인 등 신용조회업무, 본 계약 및 본 계약 이전 발생 계약의 유지 또는 사후관리, 신용정보의 집중관리 및 활용, 신용 관련 모형개발 및 (통계)분석 등 신용정보집중기관의 업무</span>
                                            </li>
                                            <li>
                                                <span>라.</span> <span> 제공하는 신용정보 : 식별정보, 신용거래정보, 신용도판단정보, 신용능력정보, 기타 신용평가를 위한 정보</span>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <span>2.</span> <span>제휴업체 등 제3자</span>
                                        <p class="rfrnc">신용정보 제공 대상자(제휴업체 포함)관련 세부사항은 홈페이지 → 부가정보 →「업무위탁 및 제3자 제공현황」에서 확인 가능합니다.</p>
                                    </li>
                                </ol>
                            </div>

                            <div class="text-group">
                                <h4 class="tit">제4조 신용정보주체의 권리의 종류 및 행사방법</h4>
                                <p>회사는 신용정보의 오·남용으로부터 사생활의 비밀 등을 보호하기 위해 아래와 같이 신용정보주체의 권리를 보장하고 있습니다.</p>
                                <ol class="text-list">
                                    <li>
                                        <span>1.</span> <span>신용정보주체의 권리 종류</span>
                                        <ol>
                                            <li>
                                                <span>①</span> <span>개인신용정보 열람 및 정정 청구</span>
                                            </li>
                                            <li>
                                                <span>②</span> <span>개인신용정보 삭제 요구</span>
                                            </li>
                                            <li>
                                                <span>③</span> <span>개인신용정보 전송요구 및 전송철회 요구</span>
                                            </li>
                                            <li>
                                                <span>④</span> <span>개인신용정보 제공 동의 철회 및 연락중지 요구</span>
                                            </li>
                                            <li>
                                                <span>⑤</span> <span>동의철회의 대상 및 내용 등을 특정하여 동의 철회 요구</span>
                                            </li>
                                            <li>
                                                <span>⑥</span> <span>상품이나 용역을 소개하거나 권유할 목적으로 본인에게 연락 중지 요구</span>
                                            </li>
                                            <li>
                                                <span>⑦</span> <span>본인 신용정보의 이용 및 제공 시 사실 조회 요구</span>
                                            </li>
                                            <li>
                                                <span>⑧</span> <span>본인 신용정보의 이용 및 제공 시 조회사실에 대한 통지 요구</span>
                                            </li>
                                            <li>
                                                <span>⑨</span> <span>금융거래 거절근거 신용정보의 고지 및 자동화 평가 결과에 대한 설명 및 이의제기 요구</span>
                                            </li>
                                            <li>
                                                <span>⑩</span> <span>본인 신용정보의 채권자변동정보 열람 요구</span>
                                                <p class="rfrnc">상기 ①~⑩항의 권리에 대한 절차 및 방법관련 세부사항은 「홈페이지 → 부가정보 →「개인정보처리 방침」, 「고객권리안내신청」란 또는 금융소비자포털 > 금융소비자보호의 고객권리안내문」란에서 확인 가능합니다.</p>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <span>2.</span> <span>행사방법</span>
                                        <p>홈페이지 → 부가정보 →「개인(신용)정보 고객권리 신청」에서 본인 인증후 이용가능</p>
                                    </li>
                                </ol>
                            </div>

                            <div class="text-group">
                                <h4 class="tit">제5조 신용정보 파기절차 및 방법</h4>
                                <p>회사는 「개인정보의 처리 목적」이 달성되면 다음과 같은 절차 및 방법에 따라 개인신용정보를 파기합니다.</p>
                                <p class="rfrnc">신용정보 파기관련 세부사항은 홈페이지 → 부가정보 → 「개인정보처리 방침」에서 확인 가능합니다.</p>
                            </div>
                            
                            <div class="text-group">
                                <h4 class="tit">제6조 신용정보관리·보호인 및 고충처리 부서</h4>
                                <ol class="text-list">
                                    <li>
                                        <span>1.</span> <span>개인정보보호책임자</span>
                                        <ul class="dot">
                                            <li>성명: 양성준</li>
                                            <li>소속: MG캐피탈 준법감시부</li>
                                            <li>직책: 부장</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>2.</span> <span>개인정보관리담당자</span>
                                        <ul class="dot">
                                            <li>성명: 민성광</li>
                                            <li>소속: MG캐피탈 준법감시부</li>
                                            <li>직책: 부원</li>
                                            <li>전화번호: 02-2018-0675</li>
                                            <li>이메일: msunlight@mgcap.co.kr</li>
                                            <li>주소 : (06054) 서울특별시 강남구 도산대로 306 MG캐피탈 7층</li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
