<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>채무조정안내&gt;약관 및 정책&gt;고객센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
</head>

<body>
    <div class="wrap">
        <header id="headerWrap" class="headerOn">
            <nav class="lnb">
                
            </nav>
        </header>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li>
                            <span class="home">홈</span>
                        </li>
                        <li>
                            <span>고객센터</span>
                        </li>
                        <li>
                            <span>약관 및 정책</span>
                        </li>
                        <li>
                            <span>채무조정안내</span>
                        </li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>채무조정안내</h2>
                </section>
                <section class="page-container">
                    <select name="" id="">
                        <option value="2025-08-25">2025-08-25</option>
                    </select>
                    <div class="text-content">
                        <div class="text-group">
                            <h3>채무조정 안내</h3>
                        </div>

                        <div class="text-group">
                            <h3>채무조정 요청권이란?</h3>
                            <p>채무조정 요청권이란, 「개인금융채권의 관리 및 개인금융채무자의 보호에 관한 법률」제35조에 따라 개인금융채권을 연체한 채무자는 채권금융회사에 채무조정을 요청할 수 있습니다. 다만, 심사 결과에 따라 채무조정이 거절될 수도 있습니다.</p>
                        </div>

                        <div class="group">
                            <h3>요청대상</h3>

                            <div class="text-group">
                                <h4 class="tit">대상자</h4>
                                <p class="dot">계좌별 실행 대출원금 3천만원 미만의 개인금융채권을 연체 중인 자</p>
                            </div>

                            <div class="text-group">
                                <h4 class="tit">채무조정 요청이 불가한 경우</h4>
                                <ul class="dot">
                                    <li>채무조정의 합의가 해제된 후 3개월이 지나지 않은 경우</li>
                                    <li>개인금융채권의 존재 여부나 범위에 대하여 소송, 조정 등의 소송 진행 중인 경우</li>
                                    <li>신용회복위원회·법원 채무조정 절차가 진행 중이거나, 채무조정을 이행 중인 경우</li>
                                </ul>
                            </div>

                            <div class="text-group">
                                <h4 class="tit">채무조정 요청이 거절될 수 있는경우</h4>
                                <ul class="dot">
                                    <li>채무조정 요청 서류에 대한 채권금융회사의 수정 요청에 3회 이상 따르지 않은 경우</li>
                                    <li>채무조정 절차가 끝난 후 변제능력에 현저한 변동이 없음에도 불구하고 채무조정을 다시 요청하는 경우</li>
                                    <li>소멸시효가 완성된 대출에 대해 채무조정을 요청하는 경우</li>
                                </ul>
                            </div>
                        </div>

                        <div class="group">
                            <h3>요청방법 및 관련서류</h3>
                            <div class="text-group">
                                <h4 class="tit">요청방법</h4>
                                <p class="dot">채무조정팀 담당자 연락처(02-2018-0689)를 통해 접수</p>
                            </div>
                            
                            <div class="text-group">
                                <h4 class="tit">채무조정 요청시 필요서류</h4>
                                <ol class="text-list">
                                    <li>
                                        <span>1.</span> <span>채무조정요청서</span>
                                    </li>
                                    <li>
                                        <span>2.</span> <span>채무조정안*</span>
                                    </li>
                                    <li>
                                        <span>3.</span> <span>채무자의 변제능력에 관한 자료</span>
                                    </li>
                                    <li>
                                        <span>4.</span> <span>개인(신용)정보조회·수집·이용·제공 동의서</span>
                                    </li>
                                    <li>
                                        <span>5.</span> <span>그 밖에 채무조정에 필요한 서류(채권금융회사 채무조정내부기준에 따라 판단)</span>
                                    </li>
                                </ol>
                                <p>단, 채무조정안을 작성하기 곤란한 경우에는 그 서류 제출을 아니할 수 있음</p>
                            </div>

                            <div class="text-group">
                                <h4 class="tit">채무조정 요청이 거절될 수 있는경우</h4>
                                <ul class="dot">
                                    <li>채무조정 요청 서류에 대한 채권금융회사의 수정 요청에 3회 이상 따르지 않은 경우</li>
                                    <li>채무조정 절차가 끝난 후 변제능력에 현저한 변동이 없음에도 불구하고 채무조정을 다시 요청하는 경우</li>
                                    <li>소멸시효가 완성된 대출에 대해 채무조정을 요청하는 경우</li>
                                </ul>
                            </div>
                        </div>

                        <div class="text-group">
                            <h3>채무조정 내용</h3>
                            <ul class="dot">
                                <li>상환 유예</li>
                                <li>새로운 대출을 통한 기존 채무의 변제</li>
                                <li>이자율 조정</li>
                                <li>그 밖에 채무의 내용을 변경하는 것으로서 기타 회사가 정하는 방식</li>
                            </ul>
                        </div>

                        <div class="text-group">
                            <h3>채무조정 절차</h3>
                            <!-- <div style="width: 100%; height: 200px; border: 1px solid #000;">
                                <p>이미지 or 테이블 오는 자리</p>
                            </div> -->

                            <!-- 이미지 -> 버블 (li로 잡기) 임시로 추가 (피드백 필요)-->
                            <div class="workout-flow">
                                <!-- 확인용으로 ol style 인라인으로 임시로 추가 -->
                                <ol style="display: flex;">
                                    <li>
                                        <span>①</span> <span><strong>요청</strong></span>
                                        <p>(채무자)</p>
                                        <p>금융회사에 채무조정을 요청합니다 (구비서류 제출)</p>
                                    </li>
                                    <li>
                                        <span>②</span> <span><strong>심사 및 결과통지</strong></span>
                                        <p>(채권금융회사)</p>
                                        <p>채무조정 심사 후 결과를 통지합니다 (10영업일 이내)</p>
                                    </li>
                                    <li>
                                        <span>③</span> <span><strong>동의</strong></span>
                                        <p>(채무자)</p>
                                        <p>채권금융회사 통지하는 채무조정 내용에 대해 동의여부를 결정합니다 (10영업일 이내)</p>
                                    </li>
                                    <li>
                                        <span>④</span> <span><strong>채무조정서 작성</strong></span>
                                        <p>(채권금융회사)</p>
                                        <p>채무자가 동의한 채무조정내용에 대해 조정서를 작성합니다</p>
                                    </li>
                                    <li>
                                        <span>⑤</span> <span><strong>합의</strong></span>
                                        <p>(채무자)</p>
                                        <p>조정서에 날인하면 채무조정 합의가 성립합니다</p>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="group">
                            <h3>채무조정 지원제도 안내</h3>

                            <div class="text-group">
                                <h4 class="tit">신용회복위원회 채무조정</h4>
                                <p>(개요) 채무를 정상적으로 상환할 수 없는 과중 채무자를 대상으로 상환기간 연장, 이자율 조정, 채무감면 등을 통해 본인의 상환능력에 맞게 채무를 조정하는 절차</p>
                                <p>(신청방법) 신용회복위원회(☎1600-5500) 통해 상담 및 신청 가능</p>
                            </div>

                            <div class="text-group">
                                <h4 class="tit">법원의 개인희생</h4>
                                <p>(개요) 채무를 정상적으로 상환할 수 없는 개인 채무자를 대상으로 채권자 등 이해관계인의 법률 관계를 조정함으로써 채무자의 효율적 회생과 채권자의 이익을 도모하기 위하여 마련된 절차</p>
                                <p>(신청방법) 대한법률구조공단(☎132) 또는 신용회복위원회(☎1600-5500) 통해 상담 및 신청 가능</p>
                            </div>
                            
                            <div class="text-group">
                                <h4 class="tit">법원의 개인파산·면책</h4>
                                <p>(개요) 자신의 재산으로 모든 채무를 변제할 수 없는 개인 채무자를 대상으로 법원이 모든 채권자가 평등하게 채권을 변제받도록 하고 채무자에게는 면책 절차를 통하여 남아있는 채무에 대한 변제 책임을 면제하는 절차</p>
                                <p>(신청방법) 대한법률구조공단(☎132) 또는 신용회복위원회(☎1600-5500) 통해 상담 및 신청 가능</p>
                            </div>
                            
                            <div class="button-content">
                                <div class="btn-group">
                                    <a href="#" class="btn-download" download>채무조정 요청서</a>
                                    <a href="#" class="btn-download" download>채무조정안(채무자용)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
