<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="euc-kr" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>분리보존된 개인신용정보의 활용 안내&gt;약관 및 정책&gt;고객센터&gt;홈</title>

    <meta name="keywords" content="MG캐피탈" />
    <meta name="copyright" content="copyrights 2025 MG캐피탈" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/ui-util.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
</head>

<body>
    <div class="wrap">
        <header id="headerWrap" class="headerOn">
            <nav class="lnb">
                
            </nav>
        </header>
        <div class="bodyWrap">
            <main class="contentWrap">
                <nav class="location-container">
                    <ol class="breadcrumb">
                        <li>
                            <span class="home">홈</span>
                        </li>
                        <li>
                            <span>고객센터</span>
                        </li>
                        <li>
                            <span>약관 및 정책</span>
                        </li>
                        <li>
                            <span>분리보존된 개인신용정보의 활용 안내</span>
                        </li>
                    </ol>
                </nav>
                <section class="visual-container">
                    <h2>분리보존된 개인신용정보의 활용 안내</h2>
                </section>
                <section class="page-container">
                    <select name="" id="">
                        <option value="2025-08-25">2025-08-25</option>
                    </select>
                    <div class="text-content">
                        <div class="group">
                            <h3>분리보존된 개인신용정보의 활용 안내</h3>
                            <p>MG캐피탈 주식회사가 신용정보의 이용 및 보호에 관한 법률 제20조의2 제2항 단서에 따라 분리하여 보존하는 개인신용정보를 활용하는 경우에는 신용정보주체에게 통지해야 함에 따라, 분리 보존하는 개인신용정보의 활용에 대하여 아래와 같이 안내드립니다.</p>
                            <p>-아&#09;래-</p>

                            <div class="text-group">
                                <h4 class="tit">1. 활용하는 개인신용정보의 범위와 종류</h4>
                                <p class="hypn">활용목적에 필요한 최소한의 개인 신용정보</p>
                            </div>

                            <div class="text-group">
                                <h4 class="tit">2. 활용목적</h4>
                                <ol class="text-list">
                                    <li>
                                        <span>가.</span> <span>신용정보의 이용 및 보호에 관한 법률 제20조의2 제2항 단서 각호에 따라 개인신용정보를 분리하여 보존하는 목적</span>
                                        <p>&lt;법정 분리 보존 사유 예시&gt;</p>
                                        <ol>
                                            <li>
                                                <span>1.</span> <span>다른 법률에 따른 의무를 이행하기 위하여 불가피한 경우</span>
                                            </li>
                                            <li>
                                                <span>2.</span> <span>대출사기, 거짓이나 부정한 방법으로 알아낸 타인의 신용카드 정보를 이용한 거래, 그 밖에 건전한 신용질서를 저해하는 행위를 방지하기 위하여 그 행위와 관련된 신용정보주체의 개인신용정보가 필요한 경우</span>
                                            </li>
                                            <li>
                                                <span>3.</span> <span>위험관리체제의 구축 등</span>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <span>나.</span> <span>법원의 제출명령 또는 법관이 발부한 영장에 따라 제공하거나 조세에 관한 법률에 따라 제출의무가 있는 과세자료의 제공 등 법률에 따라 당사의 제출의무가 인정되는 경우</span>
                                    </li>
                                </ol>
                            </div>

                            <div class="text-group">
                                <h4 class="tit">3. 통지의 유예</h4>
                                <p class="hypn">개인신용정보 제공을 요구하는 자가 다음 각 호의 어느 하나에 해당하는 사유가 지속된다는 사실을 소명하고 개인신용정보의 제공 사실 및 이유 등을 알리는 것의 유예를 서면으로 반복하여 요청하는 경우에는 금융위원회가 정하여 고시하는 기간 동안 그 제공 사실 및 이유 등을 알리는 것을 유예할 수 있습니다.</p>
                                <ol class="text-list">
                                    <li>
                                        <span>가.</span> <span>알리는 것이 사람의 생명이나 신체의 안전을 위협할 우려가 있는 경우</span>
                                    </li>
                                    <li>
                                        <span>나.</span> <span>알리는 것이 증거 인멸, 증인 위협 등 공정한 사법절차의 진행을 방해할 우려가 명백한 경우</span>
                                    </li>
                                    <li>
                                        <span>다.</span> <span>알리는 것이 질문ㆍ조사 등의 행정절차의 진행을 방해하거나 과도하게 지연시킬 우려가 명백한 경우</span>
                                    </li>
                                </ol>
                            </div>
                            
                            <div class="text-group">
                                <p>
                                    이 밖에 MG캐피탈 주식회사가 관리하는 신용정보의 종류, 이용 목적, 제공 대상 및 신용정보주체의 권리등에 관한 상세한 내용은 <br> <!-- 피그마 상 1개의 프레임으로 작업되어 있음 (br 사용) -->
                                    당사 홈페이지(www.mgcap.co.kr)<a href="#" style="color: var(--primary); display: inline; font-weight: 700;"> [신용정보 활용체제] </a>를 참조하시기 바랍니다. <!-- 임시로 스타일 부여(확인용) -->
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
