<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="euc-kr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>법적고지&gt;약관 및 정책&gt;고객센터&gt;홈</title>

        <meta name="keywords" content="MG캐피탈" />
        <meta name="copyright" content="copyrights 2025 MG캐피탈" />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:image" content="http://gallery2gate.kr/resources/images/common/ui-maeta-img" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="No-Cache" />
        <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
        <link rel="stylesheet" href="../../assets/css/ui-util.css" />
        <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
        <script type="text/javascript" src="../../assets/js/ui/ui-util.js"></script>
        <!--[D]퍼블용 인크루드 스크립트, 개발에서는 사용안함-->
        <script src="../../assets/js/include.js"></script>
    </head>

    <body>
        <div class="wrap">
            <div data-include-path="../COM/nav.html"></div>
            <div class="bodyWrap">
                <main class="contentWrap">
                    <nav class="location-container">
                        <ol class="breadcrumb">
                            <li><span class="home">홈</span></li>
                            <li><span>고객센터</span></li>
                            <li><span>약관 및 정책</span></li>
                            <li><span>법적고지</span></li>
                        </ol>
                    </nav>
                    <section class="visual-container">
                        <h2>법적고지</h2>
                    </section>
                    <section class="page-container">
                        <div class="text-content">
                            <div class="text-group">
                                <h3>법적고지</h3>
                                <p>MG캐피탈 웹사이트의 법적고지는 MG캐피탈 웹사이트의 서비스를 이용하시는 일반 이용자를 위한 것입니다.</p>
                                <p>MG캐피탈 웹사이트의 회원으로 등록하시어 보다 다양한 MG캐피탈 웹사이트의 서비스를 이용하시고자 하는 분들은 회원에게 적용되는 약관을 참조하시기 바랍니다.</p>
                                <p>MG캐피탈 웹사이트는 회원으로 등록하지 않더라도 MG캐피탈 웹사이트가 제공하는 정보 및 서비스의 일부를 이용하실 수 있습니다.</p>
                                <p>MG캐피탈 웹사이트가 제공하는 정보 및 서비스에 관한 저작권 및 기타 지적재산권은 MG캐피탈에 속합니다. 이용자는 MG캐피탈 웹사이트가 제공하는 정보 및 서비스를 무단으로 전재하거나 MG캐피탈의 사전동의 없이 복제, 전송, 출판, 배포, 방송 기타 방법에 의하여 이용하거나 제3자에게 이용하게 하여서는 안됩니다.</p>
                                <p>이용자는 MG캐피탈 웹사이트의 정보 및 서비스를 통하여 욕설, 비방, 외설, 폭력적 내용의 표현, 허위정보 유포, 바이러스 등의 유포 등의 행위를 하여서는 안됩니다. 이러한 내용을 담고 있는 게시물 또는 링크 등은 수정 또는 삭제 조치되며, 그 정도에 따라 회원탈퇴 조치될 수도 있습니다.</p>
                                <p>이용자는 다량의 정보를 전송하거나 동일한 또는 유사한 내용의 정보를 반복적으로 게시하여 서비스의 안정적인 운영을 방해하거나, 광고성 정보를 수신자의 의사에 반하여 전자우편으로 지속적으로 전송 또는 게시판에 게시하여 다른 이용자의 서비스 이용을 방해하는 행위를 하여서는 안됩니다. 이러한 내용을 담고 있는 게시물이나 링크 등은 수정 또는 삭제 조치되며, 그 정도에 따라 회원탈퇴 조치될 수도 있습니다.</p>
                                <p>이용자는 정보 및 서비스 또는 정보 및 서비스에 연결되어 있는 서버나 네트워크를 방해 또는 간섭하거나, 정보 및 서비스에 관련된 네트워크의 요건, 절차, 정책 또는 규정을 불 준수하여 업무나 서비스의 운영을 방해하여서는 안됩니다.</p>
                                <p>MG캐피탈 웹사이트는 이용자간 또는 이용자와 제3자 간에 정보 및 서비스를 매개하여 발생한 분쟁에 관여할 법적 의무가 없으며, 이와 관련하여 어떠한 책임도 지지 않습니다.</p>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>
